<template>
  <div class="bg-grey-1">
    <q-select
      square
      outlined
      v-model="currency"
      class="text-caption1"
      :options="projCurrencyList"
      label="Currency"
      color="black"
      clearable
      options-selected-class="text-blue"
      @input="addToProject(currency)"
    >
      <!-- <template v-slot:selected>
        <q-chip
          v-if="currency"
          color="white"
          text-color="primary"
          class="q-my-none q-ml-xs q-mr-md text-caption1 col bg-grey-1"
        >
          <q-avatar color="primary" text-color="white" size="24px">
            <img :src="currency.image" />
          </q-avatar>
          {{ currency.label }}
        </q-chip>
        <q-badge v-else>*none*</q-badge>
      </template> -->

      <template v-slot:option="scope">
        <q-item v-bind="scope.itemProps" v-on="scope.itemEvents">
          <q-item-section avatar>
            <q-avatar>
              <img :src="scope.opt.image" />
            </q-avatar>
            <!-- <q-icon :name="scope.opt.icon" /> -->
          </q-item-section>
          <q-item-section>
            <q-item-label v-html="scope.opt.label" />
            <q-item-label caption>{{ scope.opt.description }}</q-item-label>
          </q-item-section>
        </q-item>
      </template>
    </q-select>
    <div class="row q-mt-lg">
      <q-item-label class="text-h6 col-4 vertical-middle">USD ($) Conversion Rate</q-item-label>
      <q-input
        square
        outlined
        class="text-h6 col-8 q-pl-md"
        v-model="curUsdConversionRate"
        placeholder
        type="number"
        @input="addCurConverRateToProject(curUsdConversionRate)"
      />
    </div>

    <div class="row q-mt-lg">
      <q-item-label class="text-h6 col-4 vertical-middle">Reference Year</q-item-label>
      <q-select
        square
        outlined
        v-model="Refyear"
        class="text-h6 col-4 q-pl-md"
        :options="optionsYear"
        label="Reference Year"
        color="black"
        clearable
        options-selected-class="text-blue"
        @input="addRefYear(Refyear)"
      />

      <q-select
        square
        outlined
        v-model="Quarter"
        class="text-h6 col-4 q-pl-md"
        :options="optQtr"
        label="Quarter"
        color="black"
        clearable
        options-selected-class="text-blue"
        @input="addRefQtr(Quarter)"
      />
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  props: ["selCur", "CurConverUSD", "CurCnvYear", "CurCnvQtr"],
  data() {
    return {
      currency: {},
      curUsdConversionRate: null,
      optionsYear: [2018, 2019, 2020],
      Refyear: null,
      optQtr: [1, 2, 3, 4],
      Quarter: null
    };
  },
  computed: {
    projCurrencyList() {
      return this.$store.getters["project/getCurrencyList"];
    }
  },
  methods: {
    addToProject(curId) {
      this.$emit("updateCurId", curId);
      // this.$store.dispatch("processStore/updateSelctedPartCurrency", curId);
    },

    addCurConverRateToProject(inputToUpdate) {
      this.$emit("updateCurConverRate", inputToUpdate);
    },

    addRefYear(inputToUpdate) {
      this.$emit("updateRefYear", inputToUpdate);
    },

    addRefQtr(inputToUpdate) {
      this.$emit("updateRefQtr", inputToUpdate);
    }
  },

  mounted() {
    // this.currency = this.$store.getters["project/selectedProjCurrrency"];
    this.currency = this.selCur;
    this.curUsdConversionRate = this.CurConverUSD;
    this.Refyear = this.CurCnvYear;
    this.Quarter = this.CurCnvQtr;
  }
};
</script>