<template>
  <div class="row q-gutter-sm">
    <q-input
      class="col-xs-3 col-sm-2 col-md-2 text-subtitle1 bg-grey-1"
      square
      outlined
      :disable="disable"
      v-model="textAssemblyName"
      label="Assembly Name"
      @blur="setAssemblyName()"
    />
    <q-input
      class="col-xs-3 col-sm-2 col-md-2 text-subtitle1 bg-grey-1"
      square
      outlined
      :disable="disable"
      v-model="textPartName"
      label="Part Name"
    />

    <q-select
      class="col-xs-3 col-sm-3 col-md-3 text-subtitle1 bg-grey-1"
      square
      size="4"
      outlined
      :disable="disable"
      v-model="modelPrc"
      :options="optionsProc"
      label="Process Name"
      @input="updateProcess(modelPrc)"
    />
  </div>
</template>   

<script>
import axios from "axios";
import { mapGetters, mapActions } from "vuex";

export default {
  props: ["disable"],

  data() {
    return {
      modelPrc: "",
      textAssemblyName: "",
      textPartName: "",
      optionsProc: []
    };
  },

  methods: {
    setAssemblyName(value) {
      console.log(value);
      this.$store.dispatch("processStore/updatedAssemblyName", value);
    }
  },

  mounted() {
    this.textAssemblyName = this.$store.getters[
      "project/getSelProjAssemblyName"
    ];
    debugger;
    let bomRowId = this.$store.getters["project/getSelRowId"];
  
    this.textPartName = this.$store.getters["project/getSelProjBomRowData"][bomRowId-1].name;
    //pass rowid
  
    this.modelPrc = this.$store.getters["processStore/getSelectedProcId"];
    // console.log("procId",this.$store.getters["processStore/getSelectedProcId"].label)

    this.optionsProc = this.$store.getters["processStore/getProcessList"];
  },
  methods: {
    updateProcess(newProc) {
      var self = this;

      axios
        .get(
          "http://dotnetwebapi4.racex.in//WebForms/api/ProcessData/ProcPriAttri?procId=" +
            newProc.value +
            "&sectId=1&matId=" +
            newProc.value
        )
        .then(function(response) {
          let procPrimVarData = response.data.ProcPrimAttri;
          debugger;
        self.$root.$emit("processChanged",procPrimVarData);



          //dispatch to store,partData procPrimVarData

          self.$store.dispatch(
            "processStore/updatePrimaryProcVar",
            procPrimVarData
          );
          self.$store.dispatch("processStore/updatedSelectedProcId", newProc);
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  }
};
</script>