<template>
  <q-page padding class="bg-grey-1">
    <q-form @submit="signin">
      <fieldset class="q-gutter-md  q-pa-md" style=" margin-left:25%;margin-top:5%; width:27%; border:1px solid grey ">
        <legend class>
          <q-btn flat size="lg" dense color="indigo-14" label="Admin Login"></q-btn>
        </legend>
        <div>
        <q-input
          ref="emailid"
          style="width:96%"
          outlined
          v-model="emailid"
          dense
          shadow-3
          lazy-rules
          :rules="[ val => val && val.length > 0 || 'Please Enter Valid Email ID']"
        >
          <template v-slot:append>
            <q-icon class="macBlue" name="account_circle" />
          </template>
        </q-input>
        <q-input
          ref="password"
          style="width:96%"
          outlined
          v-model="password"
          dense
          shadow-3
          lazy-rules
          :rules="[ val => val && val.length > 0 || 'Please Enter Password']"
        >
          <template v-slot:append>
            <q-icon class="macBlue" name="lock" />
          </template>
        </q-input>
         <div class="">
            <q-checkbox color="indigo-14" v-model="checkVal" label="Keep me Logged in" />
         </div>
        <q-btn
          type="submit"
          class="shadow-3 btnFill q-my-md"
          style="width:96%; height:45px"
          no-caps
          label="SIGN IN"
          @click="signin"
        ></q-btn>
         <a href="#" class=" q-mb-lg q-mr-md">Forgot password?</a>
         </div>
        <div class='row q-gutter-sm  ' >
        <div class='col-5  q-pl-md' style='background-color:lightgray'>
          <q-item-label class='col q-pt-sm text-body1'>Industry</q-item-label>
        </div>
        <div class='col-6 bg-grey-1'>
          <q-select
            square
            outlined
            dense
            v-model='ind'
            :options='indOptions'
            label='---Please Select ---'
          />
        </div>
        <div class='col-5  q-pl-md' style='background-color:lightgray' >
          <q-item-label class='col q-pt-sm text-body1'>Application</q-item-label>
        </div>
        <div class='col-6  bg-grey-1'>
          <q-select
            square
            outlined
            dense
            v-model='app'
            :options='appOptions'
            label='---Please Select---'
          />
        </div>
    </div>
     </fieldset>
    </q-form>
  </q-page>
</template>
<script>
export default {
  data () {
    return {
      emailid: null,
      password: null,
      checkVal: false,
      ind: null,
      app: null,
      indOptions: [ 'Automotive', '2W' ],
      appOptions: ['Commercial Vehicle']
    }
  },
  methods: {
    signinn () {
      this.$refs.emailid.validate()
      this.$refs.password.validate()
      if (this.$refs.emailid.hasError || this.$refs.password.hasError) {
        this.formHasError = true
        this.$q.notify({
          icon: 'close',
          color: 'negative',
          message: 'You need to Enter Email or Password details'
        })
      } else {
        this.$router.push({
          name: 'VTLhomepage'
        })
        this.$q.notify({
          icon: 'done',
          color: 'positive',
          message: 'You are Logged in Successully'
        })
      }
    }
  }
}
</script>
<style lang="scss" scoped >
.macBlue {
  color: #1f40e6;
}
.brdRadius {
  border-radius: 0px;
}

</style>
