<template>
  <q-page padding>
    <!-- <div class="row q-pa-md" style="padding-left:10%">
      <div class="col-3">
        <q-img src="./statics/smartIdeaIcon.jpg" class="circularImg">
          <div
            class="absolute-bottom text-subtitle1 text-center"
            style=" cursor:pointer"
            @click="generteIdea"
          >Generate Idea</div>
        </q-img>
      </div>
      <div class="col-3">
        <q-img src="./statics/moveToIcon.png" class="circularImg">
          <div
            class="absolute-bottom text-subtitle1 text-center"
            style=" cursor:pointer"
            @click="iCapLogin"
          >Move to I-Cap</div>
        </q-img>
      </div>
      <div class="col-3">
        <q-img src="./statics/excelicon.jpg" class="circularImg">
          <div
            class="absolute-bottom text-subtitle1 text-center"
            style=" cursor:pointer"
            @click="weightTreeExl"
          >Weight Tree</div>
        </q-img>
      </div>
      <div class="col-3">
        <q-img src="./statics/powerPointIcon.png" class="circularImg">
          <div
            class="absolute-bottom text-subtitle1 text-center"
            style=" cursor:pointer"
            @click="weightTreePPT"
          >Weight Tree</div>
        </q-img>
      </div>
    </div>-->

    <div class="q-pa-md bg-primary">
      <div class="row">
        <q-item-label class="text-h5 q-pa-md col-4" style="color:white">Virtual Teardown Lab</q-item-label>
        <q-space />
        <q-btn
          style="width:10%;"
          class="btnCompare col-2 text-h6 q-pa-xs"
          no-caps
          label="Generate Ideas"
          @click="generateIdeas()"
        ></q-btn>
      </div>

      <div class="row q-gutter-md" style>
        <div class="col shadow-4 bg-grey-1">
          <div style="width:80 %; height:165px;">
            <q-item-label class="text-h2 text-center">MODEL</q-item-label>
          </div>
          <hr />
          <!-- <q-item-label color="grey-1" class="text-center q-ml-xl text-h6 q-pa-sm bg">Specification</q-item-label> -->
          <q-btn
            no-caps
            style="width:95% "
            size="lg"
            class="on-right q-mb-sm text-h6 btnDrop"
            label="Specifications"
          />

          <q-separator />
          <q-list separator>
            <q-item
              class="text-right text-h6"
              clickable
              v-ripple
              v-for="item in modelSpec"
              :key="item"
            >
              <q-item-section>{{`${item.split('_')[0].replace('-',' ')}[${item.split('_')[1]}]`}}</q-item-section>
            </q-item>
          </q-list>
        </div>

        <div
          class="col shadow-4 bg-grey-1"
          v-for="(mdl, index) in selectedModels"
          :key="index"
          :class="{ 'target':  index===0 }"
        >
          <q-img
            :src="mdlImages[index]"
            contain
            class="q-ml-xl"
            style="width:80%; height:165px"
            alt
          />

          <hr />
          <!-- <q-item-label class="text-left text-h6 q-pa-sm bg-grey-1">{{mdl[0]}}</q-item-label> -->
          <q-btn
            no-caps
            style="width:95% "
            size="lg"
            class="on-right q-mb-sm text-h6 btnDrop"
            :label="mdl[0].split('_')[0]"
          />
          <q-separator />
          <q-list separator>
            <q-item
              class="text-left text-h6"
              :class="{ 'better': highLight(item,index)       
            }"
              clickable
              v-ripple
              v-for="item in mdl"
              :key="item"
            >
              <q-item-section>{{item.split('_')[0]}}</q-item-section>
            </q-item>
          </q-list>
        </div>
      </div>
    </div>
  </q-page>
</template>
<script>
import * as ExcelJS from "exceljs/dist/exceljs.js";
import { mapGetters, mapActions } from "vuex";
import { saveAs } from "file-saver";

export default {
  data() {
    return {
      modl: null,
      modelSpec: [],
      selectedModels: [],
      IdeaListArray: [],
      mdlImages: [],
      ideaReportColumnData: [],
      ideaReportRowsData: []
    };
  },
  methods: {
    iCapLogin() {
      console.log("Icap Login clicked");
    },
    generteIdea() {
      console.log("Generate clicked");
    },
    weightTreeExl() {
      console.log("excel img clicked");
    },
    weightTreePPT() {
      console.log("ppt img clicked");
    },
    highLight(item, index) {
      let better = false;

      //check logic high Low
      let bKey = item.split("_")[4];

      if (bKey === "H") {
        if (index === 0) {
          better =
            (isNaN(parseFloat(item.split("_")[0]))
              ? 1
              : parseFloat(item.split("_")[0])) ===
            (isNaN(parseFloat(item.split("_")[1]))
              ? 2
              : parseFloat(item.split("_")[1]));
        } else {
          better =
            (isNaN(parseFloat(item.split("_")[0]))
              ? 1
              : parseFloat(item.split("_")[0])) ===
              (isNaN(parseFloat(item.split("_")[1]))
                ? 2
                : parseFloat(item.split("_")[1])) &&
            (isNaN(parseFloat(item.split("_")[1]))
              ? 1
              : parseFloat(item.split("_")[1])) !==
              (isNaN(parseFloat(item.split("_")[2]))
                ? 1
                : parseFloat(item.split("_")[2]));
        }
      } else if (bKey === "L") {
        if (index === 0) {
          better =
            (isNaN(parseFloat(item.split("_")[0]))
              ? 1
              : parseFloat(item.split("_")[0])) ===
            (isNaN(parseFloat(item.split("_")[3]))
              ? 2
              : parseFloat(item.split("_")[3]));
        } else {
          better =
            (isNaN(parseFloat(item.split("_")[0]))
              ? 1
              : parseFloat(item.split("_")[0])) ===
              (isNaN(parseFloat(item.split("_")[3]))
                ? 2
                : parseFloat(item.split("_")[3])) &&
            (isNaN(parseFloat(item.split("_")[3]))
              ? 1
              : parseFloat(item.split("_")[3])) !==
              (isNaN(parseFloat(item.split("_")[2]))
                ? 1
                : parseFloat(item.split("_")[2]));
        }
      }
      return better;
    },
    generateIdeas() {
      this.IdeaListArray = [];
      this.selectedModels.forEach((ele, index) => {
        ele.forEach((item, index) => {
          let idea = this.highLight(item, index);

          if (idea === true) {
            this.IdeaListArray.push(item);
          }
        });
      });

      debugger;
      console.log(this.IdeaListArray);
      let ideatblRowArray = [];
      let count =1;
      this.IdeaListArray.forEach((item, index) => {
        //create row data
        debugger;
        let rdata = item.split("_");
      
        if (rdata[7] !== "0") {
         
        let WorkshopCode = null;
        let IdeaNumber = `IC${1000 + count}`;
        let rModel = rdata[10];
        let Aggregate = null;
        let SubAggregate = null;
        let Part = null;

        let parameter = "";
        let IdeaDesc = "";
       // if (rdata[7] === "0") {
         // parameter = "Maintain";
       //   IdeaDesc = `${parameter} ${rdata[5]}(${rdata[6]}) `;
       // } else {
          if (rdata[4] === "H") {
            parameter = "Increase";
          } else if (rdata[4] === "L") {
            parameter = "Reduce";
          }

          IdeaDesc = `${parameter} ${rdata[5]}(${rdata[6]}) from ${rdata[8]}  to ${
            rdata[0]
          } like ${rdata[9]} `;
       // }
        let IdeaTitle = `${parameter} ${rdata[5]}(${rdata[6]})  `;

        let IdeaType = "";
        let Benchmark = rdata[9];
        let Image = "";
        let Timeline = "";
        let Investment = "";
        let Saving = "";
        let ProposedDesign = "";
        let FromDesign = "";
        let Username = "Arun Kumar";
        let UserEmail = "Arun_Kumar_S@mckinsey.com";
        let userCompany = "McKinsey";
        let EmployeeId = 10;
        let empFunction = "Engineering";

        let rowdata = [
          IdeaNumber,
          WorkshopCode,
          rModel,
          Aggregate,
          SubAggregate,
          Part,
          IdeaTitle,
          IdeaDesc,
          IdeaType,
          Benchmark,
          Image,
          Timeline,
          Investment,
          Saving,
          ProposedDesign,
          FromDesign,
          Username,
          UserEmail,
          userCompany,
          EmployeeId,
          empFunction

        ];
          
        ideatblRowArray.push(rowdata);
      count+=1;
        debugger;
        }

      });

      let colmsdata = [
        { name: "Idea Number", totalsRowLabel: "" },
        { name: "WorkShop Code", totalsRowLabel: "Totals:" },
        { name: "Model", filterButton: false },
        { name: "Aggregate", filterButton: false },
        { name: "SubAggregate", filterButton: false },
        { name: "Part", filterButton: false },
        { name: "Idea Title", totalsRowLabel: "Totals:" },
        { name: "Idea Description", textWrap: true },
        { name: "Idea Type", filterButton: false },
        { name: "Benchmark", filterButton: false },
        { name: "Image", filterButton: false },
        { name: "Time line (In Months)", filterButton: false },
        { name: "Investment (In INR Lakhs)", totalsRowLabel: "Totals:" },
        { name: "Saving/", totalsRowLabel: "Totals:" },
        { name: "To (Proposed Design)", filterButton: false },
        { name: "From (Current Design)", filterButton: false },
        { name: "Name", filterButton: false },
        { name: "User ID (Email)", filterButton: false },
        { name: "Company", filterButton: false },
        { name: "Employee ID", filterButton: false },
        { name: "Function", filterButton: false }
      ];

      //create row data

     
      this.ideaReportColumnData = colmsdata;
      this.ideaReportRowsData = ideatblRowArray;

      this.saveAsExcel();
      debugger;
    },
    //create Excel

    async saveAsExcel(colmsdata, rowsdata) {
      const workbook = new ExcelJS.Workbook();
      debugger;
      const sheet = workbook.addWorksheet("Output", {
        properties: { tabColor: { argb: "FFFFFF" } },
        views: [
          { state: "frozen", ySplit: 5, activeCell: "A3", showGridLines: true }
        ]
      });
      sheet.headerFooter.differentFirst = true;
      sheet.headerFooter.firstHeader = "RACE TOOL";
      sheet.headerFooter.firstFooter = "Mackinsey and Company";

      sheet.getColumn("A").width = 12;
      sheet.getColumn("B").width = 12;
      sheet.getColumn("C").width = 12;
      sheet.getColumn("D").width = 16;
      sheet.getColumn("E").width = 12;
      sheet.getColumn("F").width = 12;
      sheet.getColumn("G").width = 25;
      sheet.getColumn("H").width = 40;
      sheet.getColumn("I").width = 12;
      sheet.getColumn("J").width = 14;
      sheet.getColumn("K").width = 20;
      sheet.getColumn("L").width = 20;
      sheet.getColumn("M").width = 20;
      sheet.getColumn("N").width = 20;
      sheet.getColumn("O").width = 20;
      sheet.getColumn("P").width = 20;
      sheet.getColumn("Q").width = 20;
      sheet.getColumn("R").width = 20;
      sheet.getColumn("S").width = 20;
      sheet.getColumn("T").width = 20;
      sheet.getColumn("U").width = 20;
      sheet.getColumn("V").width = 20;
      sheet.getColumn("W").width = 20;
      sheet.getColumn("X").width = 20;

      // sheet.addImage(imageId2, {
      //   tl: { col: 1, row: 1 },
      //   ext: { width: 150, height: 40 }
      // });
      //   debugger;

      //get data from store

      //PROCESS

      sheet.mergeCells("A3:D3");
      sheet.getCell("A3").value = "IDEA GENERATE EXCEL REPORT";
      sheet.getCell("A3").fill = {
        type: "pattern",
        pattern: "solid",
        fgColor: { argb: "051c2c" }
      };
      sheet.getCell("A3").font = {
        name: "Arial",
        color: { argb: "FFFFFF" },
        size: 13,
        bold: true
      };

      // add a table to a sheet

      sheet.addTable({
        name: "MyTable",
        ref: "A5",
        headerRow: true,
        totalsRow: true,
        style: {
          theme: "TableStyleLight13",
          showRowStripes: true
        },
        columns: this.ideaReportColumnData,

        rows: this.ideaReportRowsData
      });

      debugger;

      const buf = await workbook.xlsx.writeBuffer();
      //let processName = objProcess.label;

      let date =
        new Date().getFullYear().toString() +
        new Date().getMonth().toString() +
        new Date().getDate().toString();

      let reportName = `${date}_VTL_Generate_Idea_Excel_Report.xlsx`;

      saveAs(new Blob([buf]), reportName);
    }
  },
  mounted() {
    var attriSpecData = this.$route.query.modelDetails;
    this.mdlImages = attriSpecData.map(x => x.Image);

    debugger;
    let SpcAttridata = this.$store.getters["VTL/getSelectedModelsData"].filter(
      x => x.Company_Name === "-"
    );
    //always 1st position will have target model
    let mdlSpecArray = Object.keys(SpcAttridata[0]);
    let targetMdlValArray = Object.values(attriSpecData[0]);
    let SpecAttrData = [];
    let uomArray = Object.values(SpcAttridata[0]);
    mdlSpecArray.forEach((element, index) => {
      let uom = uomArray[index];
      SpecAttrData.push(`${element}_${uom}`);
    });
    this.modelSpec = SpecAttrData;
    let selModeldata = [];
    var arrVal3 = [];

    let highLightKeyArray = Object.values(SpcAttridata[1]);
    attriSpecData.forEach((x, index) => {
      let modelIndex = index;
      let arrVal = Object.values(x);
      let arrKeys = Object.keys(x).splice(0, 16);

      var arrVal2 = [];

      arrKeys.forEach((element, index) => {
        var maxCallback2 = (max, cur) => Math.max(max, cur);
        //var minCallback2 = (min, cur) => Math.min(min, cur);
        let mxV = attriSpecData
          .map(el => el[element])
          .reduce(maxCallback2, -Infinity);

        let minV = attriSpecData
          .map(el => el[element])
          .reduce((min, b) => Math.min(min, b));
        // .reduce(minCallback2, -Infinity);

        let avgV =
          attriSpecData.map(el => el[element]).reduce((a, b) => a + b, 0) /
          attriSpecData.length;

        mxV = mxV.toFixed(2);
        avgV = avgV.toFixed(2);
        //minV = minV.toFixed(2);

        console.log(mxV);
        let oldVal = arrVal[index];
        let targetMdlVal = targetMdlValArray[index];
        let targetMdlName = targetMdlValArray[0];
        let highLightKey = highLightKeyArray[index];
        arrVal2.push(
          `${oldVal}_${mxV}_${avgV}_${minV}_${highLightKey}_${SpecAttrData[index]}_${modelIndex}_${targetMdlVal}_${attriSpecData[modelIndex].Company_Name}_${targetMdlName}`
        );
      });
      arrVal3.push(arrVal2);
    });
    this.selectedModels = arrVal3;

    //
  }
};
</script>
<style scoped>
.circularImg {
  max-width: 150px;
  height: 150px;
  border-radius: 100px;
}
.listItem {
  list-style: none;
}
.btnDrop {
  background-color: #1f40e6;
  color: #ffffff;
  border-radius: 0px;
  height: 35px;
}
.better {
  background-color: #8feea3;
}
.target {
  border: 2px solid red;
}
.btnCompare {
  background-color: #ffffff;
  color: #1f40e6;
  border: #1f40e6 1px solid;
  border-radius: 0px;
  height: 35px;
}
.btnCompare:hover {
  background-color: #1f40e6;
  color: #ffffff;
  border-radius: 0px;
  height: 35px;
}
</style>
