<template>
  <q-page padding style="font-family:TheinhardtPan-Regular">
    <div class="row q-gutter-md" style="padding:15px 0 30px 30px">
      <div v-for="(attr,index) in objModelAttr" :key="index" class="col">
        <q-item-label class="text-center q-pb-md" style="margin-left:-30px"> 
          {{attr[0].name}} {{attr[0].uom}}</q-item-label>
        <q-btn-dropdown no-caps style="width:90%" class="btnDrop" :label="attrLabel">
          <q-input bottom v-model="search" placeholder=" Search... "></q-input>
          <q-separator />
          <q-list>
            <q-item clickable v-close-popup @click="filterModel, setLabel(opt, index)" v-for="(opt,index) in attr.map(x=>x.value)" :key="index">
              <q-item-section >
                <q-item-label >{{opt}}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-btn-dropdown>
      </div>

      <div class="col">
        <q-btn
          style="width:30%; margin:32px 0 0 120px;"
          class="btnCompare on-right"
          no-caps
          label="Compare"
          @click="compareModel()"
         
        ></q-btn>
      </div>
    </div>

    <div class="row bg-grey-1 q-ml-md q-pa-lg" style="height:550px;">
      <div :filter="filter" class="col-3" v-for="modelSpc in this.modelSpecData" :key="modelSpc.Company_Name" >
        <q-img
          :src="modelSpc.Image"
          class="zoom"
          style="width:18%"
          contain
          :ratio="16/9"
          @click=" check1 = !check1, onItemClick(modelSpc.Company_Name, check1)"
        >
          <span v-show="check1">
            <q-btn flat icon="check_circle" color="orange" size="md" class="zinde" />
          </span>
          <div class="absolute-bottom text-subtitle1 text-center" style="height:25%">{{modelSpc.Company_Name}}</div>
        </q-img>
      </div>

    </div>

    <q-dialog v-model="alert">
      <q-card>
        <q-card-section class="bg-warning">
          <div class="text-h5">Please select more than 2 and less than 4 for comparision</div>
        </q-card-section>

        <q-card-section class="q-ma-md text-subtitle1">Select your target product first</q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="OK" class="alertOK shadow-3" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>
<script>
export default {
  data() {
    return {
      filter: "",
      search: "",
      alert: false,
      orange: false,
      check1: false,
    
      propName:"Select",
      attrLabel1:"Select",
      attrLabel2:"Select",
      carArr: [],
      modelSpecData: [],
      modelAttrData: [],
      objModelAttr:{},
    
    };
  },
  mounted() {
    debugger;
    this.modelSpecData = this.$store.getters["VTL/getSelectedModelsData"].filter(x=>x.Company_Name !=="-");
    this.modelAttrData = this.$store.getters["VTL/getSelectedModels"];

    // const modelAttr = new Set();

    // const newPlaces = this.modelAttrData.filter(entry => {
    //   debugger;
    //     // if (flags.has(entry.Model)) {
    //     //     return false;
    //     // }
    //     // flags.add(entry.Model);
    //     // return true;
    //  //modelAttr.add(Object.values(entry));
    // });
  
    //console.log(modelAttr);

    //1. Find ist posiotion object which has Searchable Key
    //2. filter keys having sreach as value
    //3. create array with keys
    this.objModelAttr = {
      Company_Name: [
        {
          name:"Company Name",  
          value: "DAIKEN",
          uom: "-",
          better: "none"
        },
        {
          name:"Company Name",
          value: "LG",
          uom: "-",
          better: "none"
        },
        {
          name:"Company Name",
          value: "SAYNO",
          uom: "-",
          better: "none"
        }
      ],
      Cooling_Capacity: [
        {
          name:"Cooling_Capacity",
          value: 1.5,
          uom: "Tonnage",
          better: "Higher"
        },
        {
          name:"Cooling_Capacity",
          value: 1.5,
          uom: "Tonnage",
          better: "Higher"
        },
        {
           name:"Cooling_Capacity",
          value: 1.5,
          uom: "Tonnage",
          better: "Higher"
        }
      ],
      ISEER: [
        {
           name:"ISEER",
          value: 3.01,
          uom: "",
          better: "Higher"
        },
        {
          name:"ISEER",
          value: 2.91,
          uom: "",
          better: "Higher"
        },
        {
          name:"ISEER",
          value: 2.91,
          uom: "",
          better: "Higher"
        }
      ]
    };
      debugger;
  },
computed:{
attrLabel(){

return this.propName;

}
},
  methods: {
    filterModel() {},
    setLabel(label,index){

      debugger;
   // const propName = "attrLabel"+index;
  


    },
    onItemClick(imgName, checker) {
      let index = this.carArr.indexOf(imgName);
      if (checker) {
        this.carArr.push(imgName);
      } else {
        this.carArr.splice(index, 1);
      }
    },
    compareModel() {
      if (this.modelAttrData.length > 1) {
        this.$router.push({
          name: "compareModule",
          query: { modelDetails: this.modelSpecData }
        });
      } else {
        this.alert = true;
      }
    }
  }
};
</script>
<style scoped>
.zoom {
  position: absolute;
  padding: 50px;
  cursor: pointer;
  transition: transform 0.2s;
  width: 350px;
  height: 230px;
  margin: 0 auto;
  z-index: 2;
}

.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
.alertOK {
  background-color: #1f40e6;
  color: #ffffff;
  border-radius: 0;
}
.alertOK:hover {
  background-color: #ffffff;
  color: #1f40e6;
  border: #1f40e6 1px solid;
  border-radius: 0;
}
.btnCompare {
  background-color: #ffffff;
  color: #1f40e6;
  border: #1f40e6 1px solid;
  border-radius: 0px;
  height: 35px;
}
.btnCompare:hover {
  background-color: #1f40e6;
  color: #ffffff;
  border-radius: 0px;
  height: 35px;
}
.btnDrop {
  background-color: #051c2c;
  color: #ffffff;
  border-radius: 0px;
  height: 35px;
}
.zinde {
  position: relative;
  width: 15px;
  height: 15px;
  z-index: 3;
}
</style>
