<template>
  <q-page>
    <div class='bg-grey-1' style='height:500px'>
      <div class='q-gutter-md fixed-center' style='width:30%; margin-top:-150px'>
        <div>
          <q-item-label class='text-h6'>Industry</q-item-label>
          <q-select
            outlined
            dense
            v-model='ind'
            :options='indOptions'
            label='---Select Industry---'
          />
        </div>
        <div>
          <q-item-label class='text-h6'>Application</q-item-label>
          <q-select
            outlined
            dense
            v-model='app'
            :options='applOptions'
            label='---Select Application---'
          />
        </div>

        <div class='row'>
          <div class='col'>
            <q-btn
              no-caps
              class='btnFill'
              label='Cost Module'
              style='height:40px'
              @click='costModule'
              :disable="(app && ind) ? false : true"
            />
          </div>
          <div class='col'>
            <q-btn
              class='btnFill'
              style='margin-left:22px;height:40px'
              no-caps
              label='Design Module'
              @click='designModule'
              :disable="(app && ind) ? false : true"
            />
          </div>
          <div class='col'>
            <q-btn
              class='btnFill float-right'
              no-caps
              label='Training Module'
              style='height:40px'
              @click='trainingModule'
              :disable="(app && ind) ? false : true"
            />
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>
<script>
export default {
  data () {
    return {
      ind: null,
      indOptions: ['Automotive', 'Power', 'Consumer Products'],
      app: null,
      applOptions: [
        'High Voltage Cable',
        'Two Wheeler',
        'Commercial Vehical',
        '2W'
      ]
    }
  },
  methods: {
    costModule () {
      this.$router.push({
        name: 'costModule'
      })
    },
    designModule () {
      this.$router.push({
        name: 'designModule'
      })
    },
    trainingModule () {
      this.$router.push({
        name: 'trainingModule'
      })
    }
  }
}
</script>
