<template>
  <q-page padding class='bg-grey-1'>
    <div class='row q-pb-md' style='margin-left:30%'>
      <div class='row q-pa-sm q-pl-md' style=' width:50%; '>
        <div class='col-4 q-ma-sm q-pl-md' style='background-color:lightgray'>
          <q-item-label class='col q-pt-sm text-body1'>E-Mail Id</q-item-label>
        </div>
        <div class='col-6 q-ma-sm bg-grey-1'>
          <q-input
            type='email'
            v-model='email'
            square
            dense
            outlined
            placeholder='Enter Email Id here'
          />
        </div>
        <div class='col-4 q-ma-sm q-pl-md' style='background-color:lightgray'>
          <q-item-label class='col q-pt-sm text-body1'>Name</q-item-label>
        </div>
        <div class='col-6 q-ma-sm bg-grey-1'>
          <q-input v-model='name' square dense outlined placeholder='Enter Name here' />
        </div>
        <div class='col-4 q-ma-sm q-pl-md' style='background-color:lightgray'>
          <q-item-label class='col q-pt-sm text-body1'>Company Name</q-item-label>
        </div>
        <div class='col-6 q-ma-sm bg-grey-1'>
          <q-input v-model='compName' square dense outlined placeholder='Enter Company Name' />
        </div>
        <div class='col-4 q-ma-sm q-pl-md' style='background-color:lightgray'>
          <q-item-label class='col q-pt-sm text-body1'>Function</q-item-label>
        </div>
        <div class='col-6 q-ma-sm bg-grey-1'>
          <q-select
            square
            outlined
            dense
            v-model='model'
            :options='funcOptions'
            label='---Select Function---'
          />
        </div>
        <div class='col-4 q-ma-sm q-pl-md' style='background-color:lightgray'>
          <q-item-label class='col q-pt-sm text-body1'>Mobile Number</q-item-label>
        </div>
        <div class='col-6 q-ma-sm bg-grey-1'>
          <q-input
            type='number'
            v-model='mobNo'
            square
            dense
            outlined
            placeholder='Enter Mobile Number'
          />
        </div>
        <div class='col-4 q-ma-sm q-pl-md' style='background-color:lightgray'>
          <q-item-label class='col q-pt-sm text-body1'>Employee Id</q-item-label>
        </div>
        <div class='col-6 q-ma-sm bg-grey-1'>
          <q-input v-model='empId' square dense outlined placeholder='Enter Employee Id' />
        </div>
        <div class='col-4 q-ma-sm q-pl-md' style='background-color:lightgray'>
          <q-item-label class='col q-pt-sm text-body1'>Upload/Take a Pic</q-item-label>
        </div>
        <div class='col-6 q-ma-sm bg-grey-1'>
          <q-input v-model='uploadPic' square dense outlined />
        </div>
        <div class='col-4 q-ma-md q-pl-md'>
          <q-btn square outlined class='btnSave q-ml-lg' type='submit' label='Save' />
        </div>
        <div class='col-6 q-ma-md'>
          <q-btn square outlined class='btnCancle q-ml-lg' label='cancel' />
        </div>
      </div>
    </div>

    <!-- <div class='row fixed-center q-gutter-md q-pb-md mainDiv'  >
           <div class='row q-gutter-md' style='width:100%;' >
              <div class='col-5 q-pl-sm' style='background-color:cadetblue' >
                  <q-item-label class=' q-pt-sm text-body1 items-center ' > E-Mail Id </q-item-label>
              </div>
              <div class='col-5' >
                 <q-input type='email' v-model='email' square dense outlined placeholder='Enter Email Id here'/>
              </div>
           </div>
           <div class='row q-gutter-md' style='width:100%; ' >
              <div class='col-5 q-pl-sm' style='background-color:cadetblue' >
                  <q-item-label class='col q-pt-sm text-body1 '> Name </q-item-label>
              </div>
              <div class='col-5' >
                  <q-input v-model='name' square dense outlined placeholder='Enter Name here'/>
              </div>
           </div>
           <div class='row q-gutter-md' style='width:100%; ' >
              <div class='col-5 q-pl-sm' style='background-color:cadetblue' >
                  <q-item-label class='col q-pt-sm text-body1 '> Company Name </q-item-label>
              </div>
              <div class='col-5' >
                  <q-input v-model='compName' square dense outlined placeholder='Enter Company Name'/>
              </div>
           </div>
            <div class='row q-gutter-md' style='width:100%; ' >
              <div class='col-5 q-pl-sm' style='background-color:cadetblue' >
                  <q-item-label  class='col q-pt-sm text-body1 '> Function </q-item-label>
              </div>
              <div class='col-5' >
                  <q-select square outlined dense v-model='model' :options='funcOptions' label='---Select Function---' />
              </div>
           </div>
            <div class='row q-gutter-md' style=' width:100%; ' >
              <div class='col-5 q-pl-sm' style='background-color:cadetblue' >
                  <q-item-label class='col q-pt-sm text-body1 '> Mobile Number </q-item-label>
              </div>
              <div class='col-5' >
                  <q-input type='number' v-model='mobNo' square dense outlined placeholder='Enter Mobile Number'/>
              </div>
           </div>
           <div class='row q-gutter-md' style='width:100%; ' >
              <div class='col-5 q-pl-sm' style='background-color:cadetblue' >
                  <q-item-label class='col q-pt-sm text-body1 '> Employee Id </q-item-label>
              </div>
              <div class='col-5' >
                  <q-input v-model='empId' square dense outlined placeholder='Enter Employee Id'/>
              </div>
           </div>
            <div class='row q-gutter-md' style='width:100%; ' >
              <div class='col-5 q-pl-sm' style='background-color:cadetblue' >
                  <q-item-label class='col q-pt-sm text-body1 '> Upload/Take a Pic </q-item-label>
              </div>
              <div class='col-5' >
                  <q-input  square dense outlined />
              </div>
           </div>
           <div class='row ' style=' width:100%; ' >
             <div class='q-gutter-lg q-ml-xl' >
                  <q-space />
                  <q-btn square outlined class=' btnSave ' type='submit' label='Save' />
                  <q-btn square  outlined class='btnCancle' label='cancel'/>
              </div>
             </div>
        </div>
    -->
  </q-page>
</template>
<script>
export default {
  data () {
    return {
      email: null,
      name: null,
      compName: null,
      empId: null,
      model: null,
      mobNo: null,
      funcOptions: [
        'R&D',
        'Purchase',
        'NPD',
        'Quality',
        'Finance',
        'Opration',
        'Others'
      ],
      uploadPic: null
    }
  }
}
</script>
<style scoped>
.mainDiv {
  max-width: 700px;
  border: 1px solid grey;

  background-color: lightgrey;
}
.btnSave {
  background-color: #ffffff;
  color: #1f40e6;
  border: #1f40e6 1px solid;
  border-radius: 0px;
  width: 140px;
  height: 35px;
}
.btnSave:hover {
  background-color: #1f40e6;
  color: #ffffff;
  border-radius: 0px;
  width: 140px;
  height: 35px;
}
.btnCancle {
  background-color: #ffffff;
  color: #1f40e6;
  border: #1f40e6 1px solid;
  border-radius: 0px;
  width: 140px;
  height: 35px;
}
.btnCancle:hover {
  background-color: #1f40e6;
  color: #ffffff;
  border-radius: 0px;
  width: 140px;
  height: 35px;
}
</style>
