<template>
  <q-page padding>
    <form>
      <fieldset class="q-gutter-md fixed-center" style=" width:27%; border:1px solid grey ">
        <legend class>
          <q-btn flat size="md" dense color="indigo-14" label="Idea Capture Login"></q-btn>
        </legend>
        <div class="q-pl-md">
        <q-input
          ref="emailid"
          style="width:96%"
          outlined
          type="email"
          v-model="email"
          dense
          shadow-3
          lazy-rules
          :rules="[ val => val && val.length > 0 || 'Please Enter Valid Email ID']"
        >
          <template v-slot:append>
            <q-icon class="macBlue" name="account_box" />
          </template>
        </q-input>

        <q-input
          ref="password"
          style="width:96%"
          outlined
          v-model="password"
          type="password"
          dense
          shadow-3
          lazy-rules
          :rules="[ val => val && val.length > 0 || 'Please Enter Password']"
        >
          <template v-slot:append>
            <q-icon class="macBlue" name="lock" />
          </template>
        </q-input>

        <q-input
          ref="emailid"
          style="width:96%"
          outlined
          v-model="chargeCode"
          dense
          shadow-3
          lazy-rules
          :rules="[ val => val && val.length > 0 || 'Please Enter charge code']"
        >
          <template v-slot:append>
            <q-icon class="macBlue" name="vpn_key" />
          </template>
        </q-input>
        <div>
          <a href="#" class="">Forgot password?</a>
        </div>
        <div class="row q-gutter-md q-mt-sm q-mr-md" >
          <q-btn
            type="submit"
            class="shadow-3 btnFill q-mb-md col"
            style=" height:45px"
            no-caps
            label="SIGN IN"
            to="/homepage"
          ></q-btn>
          <q-btn
            type="submit"
            class="shadow-3 btnFill q-mb-md col"
            style=" height:45px"
            no-caps
            label="Register"
            to="userRegistration"
          ></q-btn>
        </div>
        </div>
      </fieldset>
    </form>
  </q-page>
</template>
<script>
export default {
  data () {
    return {
      email: null,
      password: null,
      chargeCode: null
    }
  }
}
</script>
<style scoped>
.btnFill{
  background-color: #1f40e6;
  color: #ffffff;
  border-radius: 0px;
  }
.btnFill:hover{
  background-color: #ffffff;
  color: #1f40e6;
  border: 1px solid #1f40e6;
  border-radius: 0px;
}
</style>
