<template>
  <div>
    <q-select
      class=""
      square
      outlined
      v-model="mfgLocation"
      label="Manufacturing Location"
      :options="mfgLocationList"
       @input="addMfgToProject(mfgLocation)"
     
    >
<template v-slot:option="scope">
        <q-item v-bind="scope.itemProps" v-on="scope.itemEvents">
          <q-item-section avatar>
            <q-avatar>
              <img :src="scope.opt.image" />
            </q-avatar>
           
          </q-item-section>
          <q-item-section>
            <q-item-label v-html="scope.opt.label" />
            <!-- <q-item-label caption>{{ scope.opt.description }}</q-item-label> -->
          </q-item-section>
        </q-item>
      </template>
    </q-select>

  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  props: ["selMfgLocation"],
  data() {
    return {
  
    mfgLocation: {},
     
   
    };
  },
computed:{
mfgLocationList(){
  return this.$store.getters["project/getMfgLocationList"];
}
},
  
    methods: {


      addMfgToProject(mfgLocationId) {
     
        this.$emit('updateMfgLocationId', mfgLocationId)
      
      }
    },
  
 mounted() {
    this.mfgLocation = this.selMfgLocation;
    // this.$store.getters["project/selectedProjMfgId"];
  
  }
};
</script>