<template>
  <div>
    <q-input
      square
      outlined
      label="Annual Volume"
      suffix="Nos"
      min="0"
      type="number"
      lazy-rules
      @blur="addToProcessStore"
      v-model="anualVolume"
      @change="addEvent"
      @focus="recordVal"
      :rules="[ val => val && val.length > 0 || 'Please enter anual volume']"
    />

    <q-input
      square
      outlined
      class
      v-model="presentCost"
      label="Present Cost"
      :suffix="cur"
      type="number"
      min="0"
      lazy-rules
      :rules="[ val => val && val.length > 0 || 'Please enter cost']"
      @blur="addToProcessStore"
      @change="addEvent"
      @focus="recordVal"
    />

    <q-input
      square
      outlined
      class
      v-model="bopCost"
      label="BOP Cost "
      :suffix="cur"
      type="number"
      min="0"
      lazy-rules
      :rules="[ val => val && val.length > 0 || 'Please enter bop cost']"
      @blur="addToProcessStore"
      @change="addEvent"
      @focus="recordVal"
    />

    <q-input
      square
      outlined
      v-model="partWeight"
      label="Part Weight"
      :suffix="wtUnit"
      class
      type="number"
      min="0"
      lazy-rules
      :rules="[ val => val && val.length > 0 || 'Please type something']"
      @blur="addToProcessStore"
      @change="addEvent"
      @focus="recordVal"
    />

    <q-select
      class
      square
      outlined
      label="Material Grade"
      v-model="mateGrade"
      :options="grade"
      @blur="addToProcessStore"
      @input="onChange($event)"
    />
  </div>
</template>

<script>
import axios from "axios";
import { mapGetters, mapActions } from "vuex";
import lodash from "lodash";

export default {
  props: ["pagePrimPartData"],

  mounted() {
    console.log(this.pagePrimPartData);
    debugger;
    this.loadPage();
  },
  data() {
    return {
      anualVolume: null,
      presentCost: null,
      bopCost: null,
      partWeight: null,
      matlList: [],
      mateGrade: {},
      grade: [],
      wtUnit: "kg",
      OldValue: null,
      procprimrvarData: []
    };
  },
  computed: {
    processId() {
      return parseInt(
        this.$store.getters["processStore/getSelectedProcId"].value
      );
    },
    cur() {
      return this.$store.getters["processStore/selectedPartCurrency"].label;
    }
  },
  methods: {
    loadPage() {
      // this.processId = this.$store.getters[
      //   "processStore/getSelectedProcId"
      // ].value;
      debugger;
      var self = this;
      if (this.processId === 2) {
        this.wtUnit = "gm";
      } else {
        this.wtUnit = "kg";
      }
      let curId = this.$store.getters["project/selectedProjCurrrency"].value;
      axios
        .get(
          "http://dotnetwebapi4.racex.in//WebForms/api/GetProcMasterData/GetMatrialList?CurId=" +
            curId +
            "&ProcId=" +
            this.processId
        )
        .then(response => {
          self.matlList = response.data.tblMaterialList;
          const matArray = [];
          self.matlList.forEach(element => {
            let label = JSON.parse(element.MaterialList).matName;
            let value = JSON.parse(element.MaterialList).matId;
            const jsonObj = {
              label: label,
              value: value
            };
            matArray.push(jsonObj); // ADDING EACH OBJECT TO YOUR ARRAY
          });
          self.grade = matArray;

          debugger;
          

          // if (
          //   self.grade.filter(
          //     x => x.label === self.pagePrimPartData.mateGrade.label
          //   ).length < 1
          // ) {
          //   self.mateGrade = {};
          // }
        });

      debugger;
      this.anualVolume = this.pagePrimPartData.anualVolume;
      this.presentCost = this.pagePrimPartData.presentCost;
      this.bopCost = this.pagePrimPartData.bopCost;
      this.partWeight = this.pagePrimPartData.partWeight;
      this.mateGrade = this.pagePrimPartData.mateGrade;
    },

    addToProcessStore(partData) {
      const partVarData = {
        anualVolume: this.anualVolume,
        presentCost: this.presentCost,
        bopCost: this.bopCost,
        partWeight: this.partWeight,
        mateGrade: this.mateGrade
      };

      this.$emit("updatePrimaryPartData", partVarData);
    },
    addEvent(label) {
      if (
        !(this.OldValue === label.currentTarget._value) &&
        this.OldValue != ""
      ) {
        //this.changedCell = label.currentTarget.name;
        label.currentTarget.parentElement.parentElement.classList.add(
          "bg-yellow-1"
        );
      } // Actual assignment
    },
    recordVal(event) {
      this.OldValue = event.target.value;
    },
    // onChange(event) {
    //   debugger;
    //         console.log(event.target.value)
    //     },
    onChange(v) {
      // this.mateGrade;
      // if (this.mateGrade != undefined) {
      //   if (!(this.matGrade.label === v.label)) {
      //     //this.changedCell = label.currentTarget.name;
      //     debugger;
      //     v.currentTarget.parentElement.parentElement.classList.add(
      //       "bg-yellow-1"
      //     );
      //   } // Actual assignment
      // }
    }
  },
  beforeMount() {
    //  let partVarData = {}
    //   partVarData = this.$store.getters["processStore/getPrimVPartData"];
    //   // if(!partVarData) {
    //       this.anualVolume = partVarData.anualVolume;
    //       this.presentCost = partVarData.presentCost;
    //       this.bopCost = partVarData.bopCost;
    //       this.partWeight = partVarData.partWeight;
    //       this.mateGrade = partVarData.mateGrade;
    // }
  },
  watch: {
    processId() {
      // if (this.processId === 2) {
      //   this.wtUnit = "gm";
      // } else {
      //   this.wtUnit = "Kg";
      // }
      this.loadPage();
    },
    pagePrimPartData() {
      this.loadPage();
    }
  }
};
</script>
<style scoped>
.changedcell {
  border: 1px solid yellow;
}
</style>