
<template>
  <div>
    <template v-if="InputTypetext">
      <q-input
     
        square
        outlined
        v-model="var1.value"
        :label="var1.varName"
        :suffix="var1.varUOM"
        type="number"
         min="0"
        lazy-rules
        :rules="[ val => val && val.length > 0 || `Please enter ${var1.varName}`]"
        @blur="addProcVarToProcessStore"
      />
    </template>

    <template v-else>
      <q-select
        style="margin-bottom:19px"
        square
        outlined
        :label="var1.varName"
        v-model="var1.value"
        :options="selOptions"
        @input="addProcVarToProcessStore"
        :suffix="var1.varUOM"
      />
    </template>
  </div>
</template>



 <script>
export default {
  props: {
    var1: Object
  },

  mounted() {
   // let setData = this.$store.getters["processStore/getPrimVProctData"];


   // var1 = setData;

   
    let inpText = this.var1.varInputType === "Dropdown" ? true : false;

    if (inpText) {
      this.InputTypetext = false;
      let Vardfv = {};
      let optArray = [];
      Vardfv = JSON.parse(this.var1.atrDfValList).VarDfv;

      console.log(Vardfv);

      Vardfv.forEach((element, index) => {
        let label = Vardfv[index].atrVal;
        let value = Vardfv[index].atrId;
        const jsonObj = {
          label: label,
          value: value
        };
        optArray.push(jsonObj);
      });

      this.selOptions = optArray;
    } else {
      this.InputTypetext = true;
     //this.var1.value= setData.value;
    }

    // console.log(optArray)
  },

  data() {
    return {
      InputTypetext: true,
      selOptions: [],
      model: {}
     
    };
  },
  methods: {
    addProcVarToProcessStore(el) {
      //let inpText = this.var1.varInputType === "Dropdown" ? true : false;
      let inpText = this.var1.varInputType === "Dropdown" ? true : false;
      if (inpText) {
        const source = { value: el.label };
        console.log("Souce", this.var1,source);
debugger;
        this.Var1 = Object.assign(this.var1, source);

        this.$emit("updatePrimaryProcData", this.var1);

        console.log("glass", this.var1);
      } else {
        debugger;
        this.$emit("updatePrimaryProcData", el);
      }
    }
  },
  computed: {}
};
</script>