<template>
  <div>
    <q-form @submit="onsubmit">
      <div class="col text-align: cente">
        <div class="row">
          <div class="col-6">
            <!-- <div class="row q-my-sm">
              <div class="col-4">
                <q-item-label class="text-subtitle1 q-pt-xs">Mat Level</q-item-label>
                <br />
              </div>
              <div class="col">
                <q-input type="text" v-model="matlevel" style="width: 200px" filled dense></q-input>
              </div>
            </div>
            <div class="row q-my-sm">
              <div class="col-4">
                <q-item-label class="text-subtitle1 q-pt-xs">Mat ID</q-item-label>
                <br />
              </div>
              <div class="col">
                <q-input
                  type="number"
                  readonly
                  v-model="matid"
                  style="width: 200px"
                  placeholder="Enter MatId"
                  filled
                  dense
                ></q-input>
              </div>
            </div>-->

            <div class="row q-my-sm">
              <div class="col-4">
                <q-item-label class="text-subtitle1 q-pt-xs">Material Name</q-item-label>
                <br />
              </div>
              <div class="col">
                <!-- <q-select
                  clearable
                  filled
                  use-input
                  v-model="Itemname"
                  input-debounce="0"
                  :options="nameoption"
                  style="width: 200px"
                />-->
                <q-input
                  type="text"
                  v-model="Itemname"
                  placeholder="Enter Material name"
                  filled
                  dense
                  style="width: 200px"
                ></q-input>
              </div>
            </div>
            <div class="row q-my-sm">
              <div class="col-4">
                <q-item-label class="text-subtitle1 q-pt-xs">Cost</q-item-label>
                <br />
              </div>
              <div class="col">
                <q-input type="number" v-model="cost" style="width: 200px" filled dense></q-input>

                <!-- <q-input type="text" v-model="state" placeholder="Enter State" filled dense></q-input> -->
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row q-my-sm">
              <div class="col-4">
                <q-item-label class="text-subtitle1 q-pt-xs">Category</q-item-label>
                <br />
              </div>
              <div class="col">
                
                <q-select
                  clearable
                  filled
                  use-input
                  v-model="Category"
                  input-debounce="0"
                  :options="catoptions"
                  style="width: 200px"
                  emit-value
                  map-options
                />
              </div>
            </div>
            <div class="row q-my-sm">
              <div class="col-4">
                <q-item-label class="text-subtitle1 q-pt-xs">Process</q-item-label>
                <br />
              </div>
              <div class="col">
                {{Process}}
                <q-select
                  filled
                  v-model="Process"
                  :options="options"
                  
                  emit-value
                  map-options
                  style="width: 200px"
                >
                  <!-- <template v-slot:option="scope">
                    <q-item v-bind="scope.itemProps" v-on="scope.itemEvents">
                      <q-item-section>
                        <q-item-label v-html="scope.opt.label"></q-item-label>
                      </q-item-section>
                      <q-item-section side>
                        <q-toggle v-model="Process" :val="scope.opt.value" />
                      </q-item-section>
                    </q-item>
                  </template> -->
                </q-select>
                <!-- <q-select
                  filled
                  clearable
                  use-input
                  use-chips
                  v-model="Process"
                  multiple
                  :options="options"
                  emit-value
                  map-options
                  style="width: 200px"
                />-->
              </div>
            </div>
            <!-- <div class="row q-my-sm">
              <div class="col-4">
                <q-item-label class="text-subtitle1 q-pt-xs">Remark</q-item-label>
                <br />
              </div>
              <div class="col">
                <q-input
                  autogrow
                  placeholder="remark"
                  v-model="remark"
                  style="width: 200px"
                  filled
                  dense
                ></q-input>
              </div>
            </div>-->
          </div>
        </div>
        <div class="row q-ml-md q-gutter-md">
          <q-btn label="Submit" class="absolute-cente" v-ripple type="submit" color="blue-10"  v-close-popup />
          <q-btn label="Reset" type="reset" color="primary" flat class="float-right" />
        </div>
      </div>
    </q-form>
  </div>
</template>

<script>
import axios from "axios";
import lodash from "lodash";
export default {
  data() {
    return {
      Process: null,
      Itemname: null,
      Category: null,
      matlevel: null,
      matid: null,
      cost: null,
      remark: null,

      options: [
        { value: 1, label: "Sand Casting" },
        { value: 2, label: "Injection Moulding" },
        { value: 3, label: "AutoGlass" },
        { value: 4, label: "Forging" },
        { value: 5, label: "Stamping" },
        { value: 6, label: "Plasma Cutting" },
        { value: 7, label: "Laser Cutting" },
        { value: 8, label: "Sintering" },
        { value: 9, label: "HPDC" },
        { value: 10, label: "LPDC" },
        { value: 11, label: "Forging Ring" },
        { value: 12, label: "Forging Shaft" },
        { value: 13, label: "Hobbing" }
      ],
      catoptions: [
        { value: 1, label: "Metal" },
        { value: 2, label: "Glass" },
        { value: 3, label: "Plastic" },
        { value: 4, label: "Fiber" }
      ],
      processopt: ["bchdch", "dbcdjc", "dsbcdshcn", "dscbdsjcv0", "bvdchd"],
      nameoption: ["vcgdsv", "dvch", "bdchdsc", "bcdjch", "bsdcujdb"]
    };
  },

  methods: {
    onsubmit() {
      debugger;
      var material = {
        matId: this.matid
      };
      let self = this;
      debugger;
       axios({
        method: "post",
        url:
          " http://dotnetwebapi4.racex.in//WebForms/api/ProjectData/CreateMaterial",

          data: {
            MatCategory: self.Category,
            MatName: self.Itemname,
            MatCost: parseFloat(self.cost),
            Processes: self.Process
          }
        })
        .then(function(response) {
          console.log(response)
          debugger;
        });
    }
  },
  mounted() {
    this.matid = 56;
  }
};
</script>

<style>
</style>