<template>
  <div class="q-pa-md q-gutter-sm">
    <q-btn flat @click="persistent = true">
      <q-icon q-icon name="search" />
    </q-btn>

    <q-dialog v-model="persistent" persistent>
      <q-card class="bg-gray1 text-Black" style="width: 800px; max-width: 90vw;">
        <q-card-section class="row">
          <div class="text-h6 q-pt-xs">Materials</div>
          <q-space />
          <div>
            <q-btn flat round icon="close" v-close-popup />
          </div>
        </q-card-section>

        <div class="row q-gutter-sm q-pl-md">
          <div class="col">
            <q-input square outlined bottom-slots v-model="filter" label="Search">
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input>
          </div>
          <div class="col">
            <q-input
              class="on-right"
              square
              outlined
              bottom-slots
              v-model="customFilter"
              @input="processFilter"
              label="Search Process"
            >
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input>
          </div>

          <div class="col">
            <q-btn
              flat
              label="Add material"
              class="btnFill float-right"
              style="margin-right:18px"
              @click="addmat=true"
              no-caps
            />
          </div>
        </div>
        <q-dialog class="q-pa-lg q-ma-md"  medium v-model="addmat">
          <q-card class="bg-gray1 text-Black" style="width: 800px; max-width: 90vw;">
            <q-card-section>
              <Newmaterial />
            </q-card-section>
          </q-card>
        </q-dialog>

        <div class="q-pa-md">
          <q-table
            class="my-sticky-header-table"
            :data="data"
            :columns="columns"
            row-key="matId"
            selection="single"
            :selected.sync="selected"
            :filter="filter"
            :loading="loading"
            :selected-rows-label="getSelectedString"
            bordered
            no-data-label="I didn't find anything for you"
            no-results-label="The filter didn't uncover any results"
          >
            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td auto-width>
                  <q-toggle dense v-model="props.selected" />
                </q-td>
                <q-td width="6%" key="matLevel" :props="props">
                  {{props.row.matLevel}}
                  <q-item-label dense class />
                </q-td>
                <q-td width="6%" key="matId" :props="props">{{props.row.matId}}</q-td>
                <q-td width="10%" key="matName" :props="props">{{ props.row.matName}}</q-td>
                <q-td width="10%" key="matCost" :props="props">
                  {{props.row.matCost}}

                  <!-- <li v-for="(cost,ind) in props.row.matCost" :key="ind">{{cost}}</li> -->
                </q-td>
                <q-td width="10%" key="matCategory" :props="props">{{ props.row.matCategory}}</q-td>
                <q-td width="10%" key="matProcessList" :props="props">
                  <li v-for="(proc,i) in props.row.matProcessList" :key="i">{{proc.label}}</li>
                </q-td>
                <q-td width="10%" key="remark" :props="props">{{ props.row.remark}}</q-td>
              </q-tr>
            </template>
          </q-table>
        </div>

        <q-card-actions align="center">
          <q-btn flat class="btnFill" label="Select" no-caps @click="addTostore" v-close-popup />
          <div class="q-mt-md">
            <!-- You Have Selected : {{ (selected)[0].matName }} used for  {{ (selected)[0].matProcessName }} Process  -->
          </div>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

 

<script>
import axios from "axios";
import { stringify } from "querystring";

export default {
  created() {},
  props: ["rowId", "MatListOps"],
  components: {
    Newmaterial: () => import("./AddMaterial.vue")
  },
  data() {
    return {
      addmat: false,
      persistent: false,
      dense: null,

      filter: "",
      loading: false,
      customFilter: "",
      level: null,
      itemName: null,
      cost: null,
      category: null,
      process: null,
      remark: null,

      selected: [],
      columns: [
        {
          name: "matLevel",
          required: true,
          label: "matLevel",
          align: "left",
          field: "matLevel",
          format: val => `${val}`,
          sortable: true
        },
        {
          name: "matId",
          align: "left",
          label: "matId",
          field: "matId",
          sortable: true
        },
        {
          name: "matName",
          align: "left",
          label: "Item Name",
          field: "matName",
          sortable: true
        },
        {
          name: "matCost",
          align: "left",
          label: "Cost",
          field: "matCost",
          sortable: true
        },
        {
          name: "matCategory",
          align: "left",
          label: "Category",
          field: "matCategory",
          sortable: true
        },
        {
          name: "matProcessList",
          align: "left",
          label: "Process",
          field: "matProcessList",
          //  format: val => `${val.reduce((a, b) => ({label: a.label +","+ b.label})).label}`,
          sortable: true
        },
        {
          name: "remark",
          align: "left",
          label: "Remark",
          field: "remark",
          sortable: true
        }
      ],

      data: [
        // {
        //   matId: "150",
        //   // matLevel: "T",
        //   matName: "Stainless Steel (AISI 301)",
        //   matProcessList: [
        //     { label: "Forging", value: "4" },
        //     { label: "Forging Ring", value: "11" },
        //     { label: "Forging Shaft", value: "12" },
        //     { label: "Hobbing", value: "13" }
        //   ],
        //   matCategory: "Metal",
        //   matCost: "140.159",
        //   remark: "AISI 301"
        // }
      ]
    };
  },

  mounted() {
    //console.log("rowid", this.rowId);
    this.data = this.MatListOps;
    debugger;
  },
  methods: {
    processFilter() {
      var self = this;
      // get this.data from store
      let orgMatLib = this.MatListOps;
      self.data = orgMatLib;
      debugger;
      self.data = self.data.filter(item => {
        return item.matProcessList
          .flatMap(x => x.label.toLowerCase())
          .toString()

          .includes(self.customFilter.toLowerCase());
      });
      console.log("custom", self.data);
      //
    },
    getSelectedString() {
      debugger;
      return this.selected.length === 0
        ? ""
        : `${this.selected.length} record${
            this.selected.length > 1 ? "s" : ""
          } selected of ${this.data.length}`;
    },
    addTostore() {
      //get RowId
      debugger;
      console.log("rowId", this.rowId);
      //get seleced mat obj(label, value)
      // const selMaterial = {
      //   label: this.selected[0].matName,
      //   value: this.selected[0].matId,
      //   process:this.selected[0].matProcessList[0].label
      // };

      console.log("selMaterial", this.selected);

      //find row with rowid

      // replace materail object with selmat obj

      //update store with selected mat in that row
      const ObjBomRowMatData = {
        id: this.rowId,
        material: this.selected
      };
      console.log("objMat", ObjBomRowMatData);
      this.$store.dispatch("project/updateRowMaterial", ObjBomRowMatData);
      // this.$emit("matdetail",selMaterial);
    }
  }
};
</script>

