<template>
  <q-card class="bg-gray1 text-Black" style="width: 1200px; max-width: 90vw;">
    <q-card-section>
      <div class="q-pa-lg doc-container bg-grey-1">
        <q-table
          class="my-sticky-header-column-table"
          :data="data"
          :columns="columns"
          :separator="separator"
          row-key="id"
        >
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td width="1%" borderless key="SrNo" :props="props">{{ props.row.id }}</q-td>

              <q-td width="10%" key="OpDescription" :props="props">
                <q-input
                  borderless
                  type="text-area"
                  v-model="props.row.OpDescription"
                  autofocus
                  class="text-h6"
                />
              </q-td>

              <q-td width="8%" key="cycleTime" :props="props">
                <q-input borderless type="number" v-model="props.row.cycleTime" class="text-h6" />
              </q-td>

              <q-td width="8%" key="machine" :props="props">
                <q-select
                  use-input
                  borderless
                  hide-selected
                  fill-input
                  input-debounce="0"
                  v-model="props.row.Machine"
                  @filter="filterFn"
                  :options="options"
                  class="text-h6"
                  @input="setMMR(props.row.Machine,props.row.__index)"
                >
                  <template v-slot:no-option>
                    <q-item>
                      <q-item-section class="text-grey">No results</q-item-section>
                    </q-item>
                  </template>
                </q-select>
              </q-td>

              <q-td width="10%" key="mmr" :props="props">
                <q-input borderless type="number" v-model="props.row.mmr" class="text-h6" />
              </q-td>

              <q-td width="10%" key="id">
                <q-btn flat round color="grey-8" icon="delete" @click=" removeRow(props.row.id)" />

                <q-btn flat round color="grey-8" icon="add" @click=" addRow(props.row.id)" />
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </div>
    </q-card-section>
  </q-card>
</template>
<script>
import axios from "axios";
import { mapGetters, mapActions } from "vuex";

export default {
  props:["secMaVaData"],
  data() {
    return {
      separator: "cell",
      loading: false,
      filter: "",
      rowCount: 10,
      options: [],
      machineDataOptionsResponse: [],
      //get from backend

      columns: [
        {
          name: "SrNo",
          required: true,
          label: "Sr.No",
          align: "left",
          field: row => row.name,
          format: val => `${val}`,
          sortable: true
        },

        {
          name: "OpDescription",
          label: "Operation Description",
          field: "OpDescription",
          sortable: true
        },
        { name: "cycleTime", label: "Cycle Time (sec)", field: "CycleTime" },
        { name: "machine", label: "Machine", field: "Machine" },
        { name: "mmr", label: "MMR", field: "MMR" },

        {
          name: "delete",
          label: "Action",
          field: "delete"
        }
      ],
      data: [
        {
          id: 1,
          name: "1",

          OpDescription: "",
          cycleTime: null,
          machine: "",
          mmr: null
        }

 
      ],
      original: [
        {
          id: 1,
          name: "",
          OpDescription: "",
          cycleTime: null,
          machine: "",
          mmr: null
        }
      ]
    };
  },
  methods: {
    // emulate fetching data from server
    addRow() {
      this.loading = true;

      const index = this.data.length + 1,
        row = this.original[0];
      debugger;
      if (this.data.length === 0) {
        this.rowCount = 0;
      }
      row.id = index;
      const addRow = { ...row }; // extend({}, row, { name: `${row.name} (${row.__count})` })
      this.data = [
        ...this.data.slice(0, index),
        addRow,
        ...this.data.slice(index)
      ];
      this.loading = false;
    },
    getSecProcData: function() {
      //let mfgLocationId = getters["project/selectedProjMfgLocationId"].value;
      let mfgLocationId=1;
      //get location 
      var self = this;
      axios
        .get(
          "http://dotnetwebapi4.racex.in//WebForms/api/GetProcMasterData/GetSecMachineData?mfgLocationId=" +
            mfgLocationId
        )
        .then(function(response) {
          // handle success
          debugger;
          if (response.data.OutputMessage[0].Success === "1") {
            let apiRes = response.data.tblSecMachine[0].SecMachine;
            debugger;
            let machineData = JSON.parse(apiRes);
            let machineDataOptions = [];

            machineData.machineList.forEach(m => {
              let objm = {};

              objm = {
                label: m.machine,
                value: m.machineMMR
              };
              machineDataOptions.push(objm);
              debugger;
            });
            self.options = machineDataOptions;
            self.machineDataOptionsResponse = machineDataOptions;
          } else {
            self.$q.notify({
              color: "red-5",
              textColor: "white",
              icon: "fas fa-exclamation-triangle",
              message: "Call failed! No data present"
            });
          }
          //   console.log(tblPrg);

          //  self.data = tblPrg;
        })
        .catch(function(error) {
          // handle error
          console.log(error);
        })
        .finally(function() {
          // always executed
        });
    },

    // MachineOps() {
    //   console.log(this.MachineOps);
    // },
    removeRow(id) {
      const index = id;
      console.log(index);
      if (index > 1) {
        this.data.splice(index - 1, 1);
      } else {
        this.$q.notify({
          color: "red-5",
          textColor: "white",
          icon: "fas fa-exclamation-triangle",
          message: "You can not delete first line"
        });
      }
    },
    filterFn(val, update, abort) {
      debugger;
      update(() => {
        const needle = val.toLowerCase();
        console.log(this.options);
        this.options = this.machineDataOptionsResponse;
        //let MachineOps = this.options.map(x => x.label);
        debugger;
        this.options = this.machineDataOptionsResponse.filter(
          v => v.label.toLowerCase().indexOf(needle) > -1
        );
      });
    },

    setMMR(machineObj, index) {
      debugger;
      //read the value of MMR
      let MMR = machineObj.value;

      //set the value of MMR to respective row colmn
      //get data //get index of row//set mmr with value
      let updatedData = (this.data[index].mmr = MMR);
      debugger;
    }
  },
  mounted() {
 
    debugger;
    this.data= (this.secMaVaData.length>0?this.secMaVaData:this.original);
     this.getSecProcData();
  },
  beforeDestroy(){
    debugger;

let secVa=this.data.map(x=>x.cycleTime*x.mmr/60).reduce((a,b) => a + b, 0);
let secVaCycleTime=this.data.map(x=>x.cycleTime).reduce((a,b) => a + b, 0);


this.$emit("calculateVa", [secVa,this.data],secVaCycleTime);

  }
};
debugger;
</script>
<style>
</style>

<style lang="stylus" >
.my-sticky-header-column-table {
  /*
    specifying max-width so the example can
    highlight the sticky column on any browser window
  */
  /* max height is important */
  .q-table__middle {
    max-height: 500px;
  }

  .q-table__top, .q-table__bottom, tr:first-child th {
    background-color: $primary;
    color: white;
    font-size: 1.1rem;
  }

  td:first-child {
    background-color: $grey-2;
    font-size: 1.0rem;
  }

  tr:first-child th {
    position: sticky;
    top: 0;
    opacity: 1; /* opacity is important */
    z-index: 2; /* higher than z-index for td below */
    font-size: 1rem;
  }

  tr:first-child th:first-child {
    z-index: 3; /* highest z-index */
  }

  td:first-child {
    z-index: 1;
  }

  td:first-child, th:first-child {
    position: sticky;
    left: 0;
  }

  td:not(:first-child) {
    font-size: 1rem;
    text-align: center;
  }

  th:not(:first-child) {
    text-align: center;
  }
}
</style>