<template >
  <q-page padding :style-fn="myTweak">
    <div class="q-pa-md bg-grey-1">
      <form @submit="addPart" :width="window.width">
        <div class="row q-gutter-md q-pa-md">
          <div class="col-xs-12 col-sm-3 col-md-3">
            <q-input
              ref="assemblyName"
              square
              outlined
              class="text-subtitle1 q-mr-lg"
              v-model="assemblyName"
              label="Assembly Name"
              lazy-rules
              :rules="[ val => val && val.length > 0 || 'Please Enter Assembly Name']"
              @blur="saveAssmName"
            />
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3">
            <q-input
              class="text-subtitle1 q-ml-lg"
              ref="assemblyNumber"
              square
              outlined
              type="text"
              v-model="assemblyNumber"
              label="Assembly Number"
              @blur="saveAssmNumber"
              lazy-rules
              :rules="[ val => val && val.length > 0 || 'Please Enter Assembly Number']"
            />
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3 q-ml-lg"></div>

          <q-space />
          <q-btn
            no-caps
            class="marksAsComplete"
            size="lg"
            icon="done_all"
            label="Mark as Complete"
          />
        </div>
      </form>
      <div style="border:1px solid lightgrey" class="q-pa-sm q-ml-md">
        <div class="row q-mt-lg">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="row">
              <q-item-label class="col-xs-12 col-sm-4 col-md-4 q-ml-md q-pt-md text-subtitle1">
                <strong>BILL OF MATERIAL</strong>
              </q-item-label>

              <q-input
                class="col-xs-12 col-sm-6 col-md-5 text-subtitle1 q-pl-xs"
                square
                outlined
                v-model="filter"
                placeholder="Search Part Name"
              >
                <template v-slot:append>
                  <q-icon name="search" />
                </template>
              </q-input>
            </div>
          </div>
          <q-space />
          <div class="q-gutter-sm q-mt-sm">
            <q-btn no-caps class="btnOutline addbtn" label="Add Part" @click="addPart" />

            <input
              class="excel-upload-input"
              ref="excel-upload-input"
              type="file"
              accept=".xlsx, .xls"
              @change="handleClick"
            />
            <q-btn
              class="btnOutline importbtn"
              size="md"
              @click="handleUpload"
              no-caps
              label="Import BOM"
            ></q-btn>
            <q-btn
              class="btnOutline importbtn"
              size="md"
              @click="downloadBOMtemplate()"
              no-caps
              label="Dowlond BOM template"
            ></q-btn>
            <q-btn class="btnOutline clrbtn" no-caps label="Clear All" />
          </div>
        </div>

        <div class="q-pt-lg">
          <q-table
            class
            virtual-scroll
            dense
            table-style="max-height: 500px"
            :pagination.sync="pagination"
            :rows-per-page-options="[0]"
            :virtual-scroll-sticky-start="48"
            :data="data"
            :columns="columns"
            :separator="separator"
            :filter="filter"
            row-key="id"
          >
            <template v-slot:header-cell-total="props">
              <q-th :props="props">{{props.col.label}} ({{selCur.label}})</q-th>
            </template>
            <template v-slot:header-cell-amount="props">
              <q-th :props="props">{{props.col.label}} ({{selCur.label}})</q-th>
            </template>

            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td width="1%" key="partSeq" :props="props">
                  <q-input
                    borderless
                    type="number"
                    color="grey-2"
                    text-color="primary"
                    dense
                    class="text-subtitle2"
                    v-model="props.row.partSeq"
                    @blur="reOrderBom(props.row.partSeq, props.row.__index)"
                    @focus="recordVal"
                  />
                </q-td>

                <q-td width="3.75%" key="partLevel" :props="props">
                  <q-input
                    borderless
                    hide-bottom-space
                    type="number"
                    min="1"
                    max="6"
                    dense
                    class="text-subtitle2"
                    v-model="props.row.partLevel"
                    @input="typeVal(props.row.partLevel, props.row.__index), ok=true"
                  />
                </q-td>

                <td width="3.75%" key="x1" :props="props">
                  <q-input
                    borderless
                    type="text"
                    min="1"
                    max="6"
                    dense
                    disable
                    class="text-caption"
                    v-model="props.row.x1"
                  />
                </td>
                <td width="3.75%" key="x2" :props="props">
                  <q-input
                    disable
                    type="text"
                    min="1"
                    max="6"
                    dense
                    borderless
                    class="text-caption"
                    v-model="props.row.x2"
                  />
                </td>
                <td width="3.75%" key="x3" :props="props">
                  <q-input
                    disable
                    type="text"
                    min="1"
                    max="6"
                    dense
                    borderless
                    class="text-caption"
                    v-model="props.row.x3"
                  />
                </td>
                <td width="3.75%" key="x4" :props="props">
                  <q-input
                    disable
                    type="text"
                    min="1"
                    max="6"
                    dense
                    borderless
                    class="text-caption"
                    v-model="props.row.x4"
                  />
                </td>
                <td width="3.75%" key="x5" :props="props">
                  <q-input
                    disable
                    type="text"
                    min="1"
                    max="6"
                    dense
                    borderless
                    class="text-caption"
                    v-model="props.row.x5"
                  />
                </td>
                <td width="3.75%" key="x6" :props="props">
                  <q-input
                    disable
                    type="text"
                    min="1"
                    max="6"
                    dense
                    borderless
                    class="text-caption"
                    v-model="props.row.x6"
                  />
                </td>
                <q-td width="20%" key="desc" :props="props">
                  <q-input
                    borderless
                    v-model="props.row.name"
                    placeholder="Enter Part Name"
                    class="text-subtitle1 text-wrap"
                    type="text"
                    contain
                    dense
                    autofocus
                  >
                    <template v-slot:before></template>
                  </q-input>
                </q-td>
                <q-td width="3.5%" key="image" :props="props">
                  <div @click="openPartImageUpload(props.row.id, props.row.__index)">
                    <q-avatar v-if="props.row.image" size="90px">
                      <img :src="props.row.image" />
                    </q-avatar>
                    <q-avatar v-else size="90px" icon="add_photo_alternate"></q-avatar>
                  </div>
                </q-td>
                <q-td width="5.5%" key="quantity" :props="props">
                  <q-input
                    borderless
                    type="number"
                    min="0"
                    dense
                    class="text-subtitle1"
                    v-model="props.row.quantity"
                  />
                </q-td>
                <q-td width="6.5%" key="type" :props="props">
                  <q-select
                    borderless
                    square
                    outlined
                    :disable="props.row.id!==''"
                    v-model="props.row.type"
                    :options="Typeoptions"
                    behavior="menu"
                    @input="PartType(props.row.type)"
                  />
                </q-td>
                <q-td width="4.5%" key="weight" :props="props">
                  <q-input
                    v-if="props.row.type==='RM'"
                    borderless
                    v-model="props.row.weight"
                    type="number"
                    min="0"
                    dense
                    class="text-subtitle1"
                  />
                  <!-- </q-popup-edit> -->
                </q-td>
                <q-td width="7.5%" key="material" :props="props">
                  <div v-if="props.row.type==='RM'">
                    {{ props.row.material[0].matName}}
                    <!-- @matdetail="matdetail=$event"  -->
                    <BomMatlComm :rowId="props.row.__index" :MatListOps="MatListOps" />
                  </div>
                </q-td>
                <q-td width key="process" :props="props">
                  <div class v-if="props.row.type==='RM'">
                    <q-btn
                      color="primary"
                      size="sm"
                      class="q-ml-md q-mt-xs"
                      icon="add_circle"
                      label="process"
                      @click="addNewproc(props.row.id,props.row.name,)"
                    />
                    <ol class="q-mt-sm q-gutter-xs">
                      <li v-for="proc in props.row.process" :key="proc.value">
                        <q-select
                          v-model="proc.label"
                          :disable="proc.label.disable"
                          :hide-dropdown-icon="proc.label.disable"
                          fill-input
                          input-debounce="1"
                          :options="procOptions"
                          @focus="processoptions(props.row.id)"
                          :option-value="(item) => item === null ? null : item.value"
                          style="width:150px; "
                          class="text-caption"
                          @input="pushNewproc(proc.label, props.row.id,props.row.partHeirchy, props.row.partLevel,props.row.name,props.row.image,props.row.quantity,props.row.type,props.row.weight,props.row.material[0].matId,props.row.__index,props.row.partSeq )"
                        >
                          <template v-slot:no-option>
                            <q-item>
                              <q-item-section class="text-red">No results</q-item-section>
                            </q-item>
                          </template>
                          <template v-slot:after>
                            <q-fab
                              flat
                              dense
                              round
                              color="primary"
                              push
                              icon="menu"
                              direction="right"
                            >
                              <q-fab-action
                                class="macBlueColor"
                                @click="navigateControlProcess(proc.label,props.row.__index)"
                                icon="edit"
                              />
                              <q-fab-action
                                class="macBlueColor"
                                @click="removepartProcRow(proc.label)"
                                icon="delete"
                              />
                            </q-fab>
                          </template>
                          <!-- <template   v-slot:prepend>
                            <q-avatar size="24px">
                              <img :src="proc.label.image" />
                            </q-avatar>
                      {{proc.label.label}}
                          </template>-->

                          <template v-slot:option="scope">
                            <q-item v-bind="scope.itemProps" v-on="scope.itemEvents">
                              <q-item-section avatar>
                                <q-avatar>
                                  <img :src="scope.opt.image" />
                                </q-avatar>
                                <!-- <q-icon :name="scope.opt.icon" /> -->
                              </q-item-section>
                              <q-item-section>
                                <q-item-label v-html="scope.opt.label" />
                                <!-- <q-item-label caption>{{ scope.opt.description }}</q-item-label> -->
                              </q-item-section>
                            </q-item>
                          </template>
                        </q-select>
                      </li>
                    </ol>
                  </div>

                  <div v-if="props.row.type==='Assy'">
                    <q-btn
                      color="primary"
                      size="sm"
                      class="q-ml-md q-mt-xs"
                      icon="add_circle"
                      label="Assembly "
                      style="margin-right:0px"
                      @click="addNewassembly(props.row.__index)"
                    />

                    <ol class="q-mt-sm q-gutter-xs">
                      <li v-for="proc in props.row.process" :key="proc.value">
                        <q-select
                          class="q-mt-sm text-caption"
                          v-if="props.row.type==='Assy'"
                          square
                          v-model="proc.assmProc"
                          :options="optionsassembly"
                          style="width: 150px"
                          @input="assyCostPopup(props.row.__index,proc.assmProc)"
                        >
                          <template v-slot:after>
                            <q-fab
                              flat
                              round
                              dense
                              color="primary"
                              push
                              icon="menu"
                              direction="right"
                            >
                              <q-fab-action
                                class="macBlueColor"
                                @click="navigateControlProcess(proc.label,props.row.__index)"
                                icon="edit"
                              />
                              <q-fab-action
                                class="macBlueColor"
                                @click="removepartProcRow(proc.label)"
                                icon="delete"
                              />
                            </q-fab>
                          </template>
                        </q-select>
                      </li>
                    </ol>
                    <q-dialog v-model="assemblypopup">
                      <assemblyComponent
                        :assyProcTbData="assyProcTbData"
                        :assyrowId="assyrowId"
                        :currentAssline="currentAssline"
                        @calcAssyCost="calcAssyCost"
                      />
                    </q-dialog>
                  </div>
                </q-td>
                <q-td v-if="props.row.type!=='BOP'" width="5.5%" key="total" :props="props">
                  <q-btn
                    flat
                    size="md"
                    class="q-pl-md q-mr-xs"
                    :label="props.row.total.reduce((a, b) => (a+ b)).toFixed(2)"
                  />

                  <q-separator />
                  <ul class="q-gutter-sm q-mt-sm q-pl-xs q-mr-xs" style="list-style:none">
                    <li v-for="proc in props.row.total" :key="proc.index">
                      <q-btn flat size="md" color="#1f40e6" class :label="proc.toFixed(2)" />
                    </li>
                  </ul>
                </q-td>
                <q-td v-if="props.row.type==='BOP'" width="5.5%" key="total" :props="props">
                  <q-input
                    borderless
                    class="text-subtitle2 q-pl-md q-mr-xs"
                    type="number"
                    placeholder="0.00"
                    v-model="props.row.bop"
                    v-if="props.row.type==='BOP'"
                  />
                </q-td>
                <q-td width="3.5%" key="amount" :props="props">
                  <q-btn
                    no-wrap
                    v-if="props.row.type!=='BOP'"
                    class="full-width no-wrap text-subtitle1"
                    flat
                    style="margin-left:20px"
                    :label="isNaN((props.row.total.reduce((a, b) => (a+ b)).toFixed(2)*props.row.quantity).toFixed(2)) ? 0.00 : (props.row.total.reduce((a, b) => (a+ b)).toFixed(2)*props.row.quantity).toFixed(2)"
                  />
                  <q-btn
                    no-wrap
                    v-if="props.row.type==='BOP'"
                    class="full-width no-wrap text-subtitle1"
                    flat
                    style="margin-left:20px"
                    :label="isNaN((props.row.bop*props.row.quantity)) ? 0.00 : (props.row.bop*props.row.quantity).toFixed(2)"
                  />
                </q-td>
                <q-td width="1%" key="id">
                  <div class="row">
                    <q-btn
                      flat
                      round
                      class="btnDel col-12"
                      icon="delete_outline"
                      @click="removeRow(props.row.id)"
                    />
                    <q-btn
                      flat
                      round
                      class="btnDel col-12"
                      icon="save"
                      @click="saveRowtoDB(props.row.id,
                    props.row.partHeirchy, 
                    props.row.partLevel,
                    props.row.name,
                    props.row.image,
                    props.row.quantity,
                    props.row.type,
                    props.row.__index,                   
                    props.row.partSeq,
                  props.row.bop ,
                  props.row.total)"
                    />
                    <q-btn
                      flat
                      round
                      class="btnDel col-12"
                      icon="file_copy"
                      @click="copyrow(props.row.id,
                    props.row.partHeirchy, 
                    props.row.partLevel,
                    props.row.name,
                    props.row.image,
                    props.row.quantity,
                    props.row.type,
                    props.row.material,
                    props.row.__index,                   
                    props.row.partSeq,
                    props.row.process,  
                  props.row.bop ,
                  props.row.total)"
                    />
                  </div>
                </q-td>
              </q-tr>
            </template>
          </q-table>
        </div>
      </div>
    </div>

    <q-dialog v-model="BomPartImage" class="bg-grey-6">
      <q-card class="bg-gray-1 text-Black">
        <q-card-section>
          <image-input v-model="avatar">
            <div slot="activator">
              <q-tooltip
                anchor="top middle"
                self="bottom middle"
                content-class=" macBlueColor caption-1 shadow-3"
                :offset="[10,10]"
              >Please click to upload Project Image here...</q-tooltip>
              <q-avatar
                square
                size="300px"
                v-if="!avatar"
                class="bg-grey-3 avtr"
                icon="add_photo_alternate"
              ></q-avatar>
              <div square size="500px" ripple v-else class="avtr">
                <p class="imgDesc">{{this.projImageDesc}}</p>
                <img
                  class="photo"
                  :src="avatar.imageURL"
                  alt="avatar"
                  style="max-width:300px; height:300px"
                />
              </div>
            </div>
          </image-input>

          <q-slide-transition style="margin-top:20px">
            <div v-if="avatar && saved == false">
              <q-input
                class="q-mb-lg"
                v-model="projImageDesc"
                label="Image Description"
                square
                outlined
                autofocus
              />
              <q-btn
                class="imgBom"
                @click="uploadImage()"
                :loading="saving"
                v-close-popup
              >Save Part Image</q-btn>
            </div>
          </q-slide-transition>
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="alert">
      <q-card style=" border-radius: 0;">
        <q-card-section class="bg-grey-10 text-white">
          <div class="text-h4">Alert</div>
        </q-card-section>

        <q-card-section class="q-ma-md text-h5">Please enter partLevel between 1-6 only</q-card-section>

        <q-card-actions align="right">
          <q-btn
            flat
            label="OK"
            @click="reOrderConfirm === true"
            class="macBlueColor shadow-3"
            v-close-popup
          />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <div v-if="loading">
      <q-spinner-cube size="5.5em" color="primary" />
    </div>
  </q-page>
</template>
<script>
import axios from "axios";
import { EventBus } from "../event-bus";
import { mapGetters, mapActions } from "vuex";
import XLSX from "xlsx";
import loadash from "lodash";
//import assemblypopup from "../components/assemblycomponent/machinecomponent.vue"

const procstringOptions = [];

export default {
  components: {
    wheelProcess: require("components/wheelProcess.vue").default,
    "image-input": require("components/ImageInput.vue").default,
    BomMatlComm: require("components/BOMpage/bomMatlComm.vue").default,

    assemblyComponent: require("components/pageProjectAssemblyCom.vue").default
  },
  created() {
    // window.addEventListener("resize", this.handleResize);
    // this.handleResize();

    var self = this;
    axios
      .get(
        "http://dotnetwebapi4.racex.in//WebForms/api/GetProcMasterData/GetMatrialList?CurId=1&ProcId=0"
      )
      .then(response => {
        debugger;
        const MatList = JSON.parse(response.data.tblMaterialList[0].MatList);
        self.MatListOps = MatList.materialList;
        //send this.data to store
        self.$store.dispatch("processStore/updatedmaterialLibrary", self.data);
      });
  },
  destroyed() {
    window.removeEventListener("resize", this.handleResize);
  },

  mounted() {
    this.loadProjectPage();
  },
  data() {
    return {
      MatListOps: [],
      window: {
        width: 0,
        height: 0
      },
      //treeTable
      confirm: {
        // "featureX" will be the variable
        // storing the answer

        name: "featureX",
        type: "confirm",
        message: "Use Feature X?",
        loading: false,
        default: true // optional
      },
      OldValue: null,
      assyrowId: null,
      currentAssline: "",

      //
      reOrderConfirm: false,
      bomSeq: null,
      userId: null,
      alert: false,
      avatar: null,
      saving: false,
      saved: false,
      selProc: null,
      rowId: null,
      BomPartImage: false,
      projImageDesc: null,

      matdetail: [],

      projId: null,
      partProcId: null,

      selected: [],
      separator: "cell",
      searchBomText: null,
      assemblyName: null,
      assemblyNumber: null,
      assemblyId: null,
      loading: false,

      filter: "",
      rowCount: 10,
      loading: false,
      wheel: false,
      filter: "",
      rowCount: 10,
      options: [],
      Typeoptions: ["RM", "BOP", "Assy"],
      selectedAssembly: null,
      optionsassembly: [
        "Assembly1",
        "Assembly2",
        "Assembly3",
        "Assembly4",
        "Assembly5"
      ],
      assemblypopup: false,
      custmfgProfileName: "",
      secProcVa: null,

      pagination: {
        rowsPerPage: 0
      },

      columns: [
        {
          name: "partSeq", //Part partLevel Column
          required: true,
          label: "S.No.",
          align: "center",
          field: row => row.partSeq,
          format: val => `${val}`
        },
        {
          name: "partLevel",
          required: true,
          label: "LVL",
          align: "center",
          field: row => row.partLevel,
          format: val => `${val}`
        },
        {
          name: "x1",
          required: true,
          label: "1",
          align: "center",
          field: row => row.x1,
          format: val => `${val}`
        },
        {
          name: "x2",
          required: true,
          label: "2",
          align: "center",
          field: row => row.x2,
          format: val => `${val}`
        },
        {
          name: "x3",
          required: true,
          label: "3",
          align: "center",
          field: row => row.x3,
          format: val => `${val}`
        },
        {
          name: "x4",
          required: true,
          label: "4",
          align: "center",
          field: row => row.x4,
          format: val => `${val}`
        },
        {
          name: "x5",
          required: true,
          label: "5",
          align: "center",
          field: row => row.x5,
          format: val => `${val}`
        },
        {
          name: "x6",
          required: true,
          label: "6",
          align: "center",
          field: row => row.x6,
          format: val => `${val}`
        },

        {
          name: "desc",
          required: true,
          label: "Part Name",
          align: "left",
          field: row => row.name,
          format: val => `${val}`,
          style: " text-overflow: ellipsis;"
        },
        {
          name: "image",
          align: "center",
          label: "Image",
          field: "image"
        },
        {
          name: "quantity",
          label: "Qty",
          field: "quantity"
        },
        { name: "type", label: "Type", field: "type" },
        { name: "weight", label: "Wt(kg)", field: "weight" },
        { name: "material", label: "Material", field: "material" },
        {
          name: "process",
          label: "Process",
          field: "process"

          //sort: (a, b) => parseInt(a, 10) - parseInt(b, 10)
        },
        {
          name: "total",
          label: "Unit Cost",
          field: "total"

          //sort: (a, b) => parseInt(a, 10) - parseInt(b, 10)
        },
        {
          name: "amount",
          label: "Amount",
          field: "amount"
          // sortable: true,
          // sort: (a, b) => parseInt(a, 10) - parseInt(b, 10)
        },
        {
          name: "delete",
          label: "Action",
          field: "delete"
        }
      ],
      data: [],
      assyProcTbData: [],
      procOptions: [],
      original: [
        {
          partSeq: 10,

          rowIndex: null,

          id: "",
          partLevel: "1",
          partHeirchy: "/1/",
          name: "",
          image: "",
          quantity: 1,
          type: "RM",
          bop: 0,
          total: null,
          weight: 1,
          material: [
            {
              matName: "Select Material",
              matId: ""
            }
          ],

          processHasValue: false,

          process: [
            {
              label: {
                value: "",
                image: "./statics/blankprocess.png",
                disable: false,
                label: "Select Process"
              },
              assmProc: ""
            }
          ],
          total: [0]
        }
      ]
    };
  },
  computed: {
    selCur() {
      return this.$store.getters["project/selectedProjCurrrency"];
    },
    selMfgLocation() {
      return this.$store.getters["project/selectedProjCurrrency"];
    }
  },
  watch: {
    avatar: {
      handler: function() {
        this.saved = false;
      },
      deep: true
    }
  },
  methods: {
    processoptions(BomPartId) {
      debugger;
      const newprocIndex = this.data.findIndex(obj => obj.id === BomPartId);
      let matProcList = this.data[newprocIndex].material[0].matProcessList.map(
        x => x.value
      );

      let filterOptions = this.$store.getters["processStore/getProcessList"];
      this.procOptions = filterOptions.filter(x =>
        _.includes(matProcList, x.value.toString())
      );
    },

    assyCostPopup(rowid, assyProcName) {
      this.assemblypopup = true;
      this.assyrowId = rowid;
      this.currentAssline = assyProcName;
    },
    myTweak(offset) {
      // "offset" is a Number (pixels) that refers to the total
      // height of header + footer that occupies on screen,
      // based on the QLayout "view" prop configuration

      // this is actually what the default style-fn does in Quasar
      return { minHeight: offset ? `calc(100vh - ${offset}px)` : "100vh" };
    },
    calcAssyCost(asscost) {
      debugger;
      console.log("assyCost", asscost);
      let rowIndex = asscost[1];
      //find row id, index of process by name assmProc
      let indexofCurAssyProc = _.indexOf(
        this.data[asscost[1]].process.map(x => x.assmProc),
        asscost[2]
      );
      this.$set(
        this.data[rowIndex].total,
        indexofCurAssyProc,
        _.round(asscost[0], 2)
      );
      debugger;
      let assytotaldata = this.data[2].total[0];
      this.$store.dispatch("project/updatedBOMRowData", assytotaldata);
      //rowId,
    let  partAssyData = asscost[3];
this.saveRowtoDB(
this.data[rowIndex].id,
this.data[rowIndex].partHeirchy,
  
  this.data[rowIndex].partLevel,
  this.data[rowIndex].name,
  this.data[rowIndex].image,
  this.data[rowIndex].quantity,
  this.data[rowIndex].type,
  this.data[rowIndex].rowIndex,
  this.data[rowIndex].partSeq,
  0, //BOP
  this.data[rowIndex].total[indexofCurAssyProc],
  partAssyData
      
)

    },
    handleResize() {
      this.window.width = window.innerWidth;
      this.window.height = window.innerHeight;
    },
    downloadBOMtemplate() {
      window.location.assign(
        "http://dotnetwebapi4.racex.in//Uploads/BOMUploadTemplate12122019.xlsx"
      );
    },
    assemblypart(select) {
      return;
    },

    loadProjectPage() {
      this.userId = this.$store.getters["appStateStore/getUserId"];
      EventBus.$emit("headeData", true);
      EventBus.$emit("headerName", "Part Detail");
      EventBus.$emit("headerActive", "Part Detail");
      this.partProcId = this.$route.query.partProcId;

      this.$store.dispatch("processStore/updatePrimaryPartData", {});
      this.$store.dispatch("processStore/updatePrimaryProcVar", {});
      this.$store.dispatch(
        "processStore/updateSelctedPartCurrency",
        this.selCur
      );

      this.assemblyName = this.$store.getters["project/getSelProjAssemblyName"];
      this.assemblyNumber = this.$store.getters[
        "project/getSelProjAssemblyNumber"
      ];

      //  this.procOptions = this.$store.getters["processStore/getProcessList"];

      debugger;

      this.proc;

      //   .projectId;
      let ObjProject = this.$store.getters["project/selectedObjProject"];
      this.projId = ObjProject.projId; //

      var self = this;
      axios
        .get(
          "http://dotnetwebapi4.racex.in//WebForms/api/ProjectData/LoadBOMData?projId=" +
            this.projId
        )
        .then(function(response) {
          if (response.data.tblBOMData.length > 0) {
            let assemblyData = JSON.parse(response.data.tblBOMData[0].BOMData);

            self.assemblyName = assemblyData.assembly.name;
            self.assemblyNumber = assemblyData.assembly.number;
            self.assemblyId = assemblyData.assembly.id;

            //set to store
            self.$store.dispatch(
              "project/updateSelProjAssemNumber",
              assemblyData.assembly.number
            );
            self.$store.dispatch(
              "project/updateSelProjAssemName",
              assemblyData.assembly.name
            );
            debugger;
            self.data = JSON.parse(
              response.data.tblBOMData[0].BOMData
            ).bom.rowData;
            debugger;
            // self.data[2].total[0] =_.toNumber(self.data[2].partRaceTotalCost)
            //setting data add assy table data
            //  self.assyProcTbData=

            self.data.forEach(element => {
              let partLev = element.partLevel;
              let label = `x${partLev}`;
              debugger;
              let total = element.total;

              Object.assign(element, {
                [label]: "X",
                ["bop"]: element.partRaceTotalCost,
                [total]: element.partRaceTotalCost
              });
            });
            self.data[2].process = [
              { label: { label: "assembly1", value: "2.83" } }
            ];
            self.data[2].total[0] = 2.83;
            // if(self.data[2].type==="Assy"){
            //   self.data[2].process="assembly1";
            //   self.data[2].total[0]=2.83;

            //  }

            // var assytotal=self.data[2].total[0]
            // assytotal =self.$store.getters["project/getSelProjBomRowData"][2].total[0];

            //foe each find partlevel create key X1 assign value as X

            self.$store.dispatch("project/updatedBOMRowData", self.data);
          } else {
            self.$q.notify({
              color: "green-5",
              textColor: "white",
              classes: "text-center",

              icon: "fas fa-exclamation-triangle",
              message: "There is no BOM data"
            });
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    //validation for ass name
    recordVal(event) {
      this.OldValue = event.target.value;
    },

    typeVal(num, rowInd) {
      // let partLevel = eval('partLevel'+num);
      let arry = [];
      num = isNaN(parseInt(num)) ? "" : parseInt(num);
      let targetRowdata = this.data[rowInd];
      //for topmost row
      if (rowInd === 0 && num === 1) {
        targetRowdata.x1 = "X";
        targetRowdata.x2 = "";
        targetRowdata.x3 = "";
        targetRowdata.x4 = "";
        targetRowdata.x5 = "";
        targetRowdata.x6 = "";
      } else if (num === 0 || num === "") {
        targetRowdata.partLevel = 1;
        this.typeVal(targetRowdata.partLevel, rowInd);
      } else if (num > 6) {
        targetRowdata.partLevel = 6;
        this.typeVal(targetRowdata.partLevel, rowInd);
      } else {
        let topRowdata = this.data[rowInd - 1];

        let currentPartLevel = parseInt(targetRowdata.partLevel);
        //get length of parentlevel 1 above the row
        var i;
        for (i = 1; i <= currentPartLevel; i++) {
          if (i === 1) {
            var indexArrLevel1 = this.data
              .slice(0, rowInd)
              .map((x, index) => {
                if (x.partLevel === "1") return index;
              })
              .filter(x => x !== undefined);
            var currentParent1Index = indexArrLevel1[indexArrLevel1.length - 1];
            var currentHierchyPath = "";

            if (i === currentPartLevel) {
              currentHierchyPath = `/${indexArrLevel1.length + 1}/`;
            } else {
              currentHierchyPath = `/${indexArrLevel1.length}/`;
            }
          } else if (i === 2) {
            var indexArrLevel2 = this.data
              .slice(currentParent1Index, rowInd)
              .map((x, index) => {
                if (x.partLevel === "2") return index;
              })
              .filter(x => x !== undefined);
            var currentParent2Index = indexArrLevel2[indexArrLevel2.length - 1];

            if (i === currentPartLevel) {
              currentHierchyPath = `${currentHierchyPath}${indexArrLevel2.length +
                1}/`;
            } else {
              currentHierchyPath = `${currentHierchyPath}${indexArrLevel2.length}/`;
            }
          } else if (i === 3) {
            var indexArrLevel3 = this.data
              .slice(currentParent2Index, rowInd)
              .map((x, index) => {
                if (x.partLevel === "3") return index;
              })
              .filter(x => x !== undefined);
            var currentParent3Index = indexArrLevel3[indexArrLevel3.length - 1];

            if (i === currentPartLevel) {
              currentHierchyPath = `${currentHierchyPath}${indexArrLevel3.length +
                1}/`;
            } else {
              currentHierchyPath = `${currentHierchyPath}${indexArrLevel3.length}/`;
            }
          } else if (i === 4) {
            var indexArrLevel4 = this.data
              .slice(currentParent3Index, rowInd)
              .map((x, index) => {
                if (x.partLevel === "4") return index;
              })
              .filter(x => x !== undefined);
            var currentParent4Index = indexArrLevel4[indexArrLevel3.length - 1];

            if (i === currentPartLevel) {
              currentHierchyPath = `${currentHierchyPath}${indexArrLevel4.length +
                1}/`;
            } else {
              currentHierchyPath = `${currentHierchyPath}${indexArrLevel4.length}/`;
            }
          } else if (i === 5) {
            var indexArrLevel5 = this.data
              .slice(currentParent4Index, rowInd)
              .map((x, index) => {
                if (x.partLevel === "5") return index;
              })
              .filter(x => x !== undefined);
            var currentParent5Index = indexArrLevel5[indexArrLevel5.length - 1];

            if (i === currentPartLevel) {
              currentHierchyPath = `${currentHierchyPath}${indexArrLevel5.length +
                1}/`;
            } else {
              currentHierchyPath = `${currentHierchyPath}${indexArrLevel5.length}/`;
            }
          } else {
            var indexArrLevel6 = this.data
              .slice(currentParent5Index, rowInd)
              .map((x, index) => {
                if (x.partLevel === "6") return index;
              })
              .filter(x => x !== undefined);
            var currentParent6Index = indexArrLevel5[indexArrLevel6.length - 1];

            if (i === currentPartLevel) {
              currentHierchyPath = `${currentHierchyPath}${indexArrLevel6.length +
                1}/`;
            } else {
              currentHierchyPath = `${currentHierchyPath}${indexArrLevel6.length}/`;
            }
          }
        }

        targetRowdata.partHeirchy = currentHierchyPath;

        let topRowpartLevel = parseInt(topRowdata.partLevel);
        let a = "",
          b = "",
          c = "",
          d = "",
          e = "",
          f = "";

        arry = [a, b, c, d, e, f];

        if (
          num === 1 ||
          num === topRowpartLevel ||
          num === topRowpartLevel + 1
        ) {
          arry[num - 1] = "X";

          targetRowdata.x1 = arry[0];
          targetRowdata.x2 = arry[1];
          targetRowdata.x3 = arry[2];
          targetRowdata.x4 = arry[3];
          targetRowdata.x5 = arry[4];
          targetRowdata.x6 = arry[5];
        } else if (num < topRowpartLevel) {
          arry[num - 1] = "X";

          targetRowdata.x1 = arry[0];
          targetRowdata.x2 = arry[1];
          targetRowdata.x3 = arry[2];
          targetRowdata.x4 = arry[3];
          targetRowdata.x5 = arry[4];
          targetRowdata.x6 = arry[5];
        } else {
          //this.alert = true;
          targetRowdata.partLevel = topRowpartLevel;
          this.typeVal(targetRowdata.partLevel, rowInd);

          this.$q.notify({
            color: "red-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: "Part Level must be child of top row or new Parent"
          });
        }
      }

      //set partLevel from userInput

      //from row index get the row data from data[];
      // if (num > 6 || num === 0) {
      //   this.alert = true;
      //   targetRowdata.partLevel = null;
      // }
      // else{

      //            this.alert = true;
      //    targetRowdata.partLevel = null;
      // }

      // this.pushNewproc()
    },
    PartType(type, id) {
      //
      let index1 = id;
      let rowid = this.$store.getters["project/getSelProjBomRowData"].map(
        x => x.__index
      )[index1];
      console.log(type.rowIndex);
      console.log(index1);
      if (type === "BOP") {
      } else if (type === "Assy") {
        // this.original[0];
        //  console.log(this.original);
      } else if (type === "RM") {
      }
    },
    // changetotal(total){
    //
    //   return
    //   console.log(this.total)
    // },

    addPart() {
      this.$refs.assemblyName.validate();
      this.$refs.assemblyNumber.validate();
      if (
        this.$refs.assemblyName.hasError ||
        this.$refs.assemblyNumber.hasError
      ) {
        this.formHasError = true;
        this.$q.notify({
          icon: "done",
          color: "negative",
          message: "You need to Enter Assembly details "
        });
      } else {
        this.addRow();
      }
    },
    copyrow(
      bomPartid,
      partHeirchy,
      partLevel,
      name,
      image,
      qty,
      type,
      material,
      rowIndex,
      partSeq,
      process,
      bopCost,
      assyCost
    ) {
      debugger;
      const index = rowIndex + 1;
      this.original[0].rowIndex = index;
      this.original[0].partSeq = (index + 1) * 10;
      this.original[0].name = name;
      this.original[0].image = image;
      this.original[0].quantity = qty;
      this.original[0].type = type;
     // this.original[0].material=this.data[rowIndex].material
     this.original[0].material=material;
     
      this.original[0].process = process;
      // let numbop=number(bopCost)
      this.original[0].bop = bopCost;

      this.original[0].processHasValue = true;
      this.original[0].partLevel = partLevel;

      let partLevel1 = partLevel;
      //new object based on partlevel and
      let label = `x${partLevel1}`;
      //find partlevel 1 above the row
      // let indexLevel1 = this.data[0].partHeirchy;
      // let partHeirchy1 = `/${indexLevel1.length + 1}/`;
      this.original[0].partHeirchy = this.data[0].partHeirchy;
      let partLevelObj = {
        [label]: "X"
      };

      let row = {
        ...this.original[0],
        ...partLevelObj
      };
      debugger;
      if (this.data.length === 0) {
        this.rowCount = 0;
      }

      // const partLevelArray = [];
      // const lazyObj = {
      //   label: index + ".",
      //   children: [{ label: index + ".1", lazy: true }]
      // };
      // partLevelArray.push(lazyObj);
      // this.lazy = partLevelArray;

      // row.id = index;
      const addRow = { ...row }; // extend({}, row, { name: `${row.name} (${row.__count})` })
      this.data = [
        ...this.data.slice(0, index),
        addRow,
        ...this.data.slice(index)
      ];
      this.loading = false;

      this.$store.dispatch("project/updatedBOMRowData", this.data);
    },

    handleUpload() {
      this.$refs["excel-upload-input"].click();
    },
    handleClick(e) {
      const files = e.target.files;
      const rawFile = files[0]; // only use files[0]
      if (!rawFile) return;
      this.upload(rawFile);
    },
    upload(rawFile) {
      this.$refs["excel-upload-input"].value = null; // fix can't select the same excel
      if (!this.beforeUpload) {
        this.readerData(rawFile);
        return;
      }
      const before = this.beforeUpload(rawFile);
      if (before) {
        this.readerData(rawFile);
      }
    },

    readerData(rawFile) {
      //this.loading = true;
      let self = this;
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.onload = e => {
          const data = e.target.result;

          const workbook = XLSX.read(data, { type: "array" });
          const firstSheetName = workbook.SheetNames[0]; //BOM

          //find appropriate sheetname and create Object

          const worksheet = workbook.Sheets[firstSheetName];
          //const attributes = this.getHeaderRow(worksheet);
          const attrData = XLSX.utils.sheet_to_json(worksheet);
          attrData.shift();
          let BOMpartArray = [];

          attrData.forEach(el => {
            let BOMpartObjPart1 = {};
            let BOMpartObjPartProcess = {};
            let ProcessPrimDataObj = []; //collect all processes
            //collect part variables 6 nos

            Object.entries(el)
              .slice(0, 7)
              .forEach(([key, value]) => {
                var obj = { [key]: value };
                BOMpartObjPart1 = {
                  ...BOMpartObjPart1,
                  ...obj
                };
              });
            //find index of number of process
            let spliceIndexArr = Object.keys(el)
              .map((x, index) => {
                if (x.includes("ProcessID")) return index;
              })
              .filter(x => x);
            let lastIndexOfProc = Object.entries(el).length - 1;

            //spliceIndexArr = [7,22,39];

            _.forEach(spliceIndexArr, (pIndex, index) => {
              //sandcasting
              let secIndex =
                (spliceIndexArr[index + 1] === undefined
                  ? lastIndexOfProc
                  : spliceIndexArr[index + 1] - spliceIndexArr[index]) ===
                spliceIndexArr.length
                  ? lastIndexOfProc
                  : spliceIndexArr[index + 1];
              let processObj = {};
              console.log("secIndex", secIndex);

              let childProcessdata = Object.entries(el).slice(pIndex, secIndex);
              console.log(childProcessdata, pIndex, secIndex);
              childProcessdata.forEach(([key, value]) => {
                var obj = { [key.split("_")[0]]: value };
                processObj = {
                  ...processObj,
                  ...obj
                };
              });
              ProcessPrimDataObj.push(processObj);
            });
            BOMpartObjPart1 = {
              ...BOMpartObjPart1,

              ProcessPrimDataObj: ProcessPrimDataObj
            };
            BOMpartArray.push(BOMpartObjPart1);
          });

          console.log(BOMpartArray);
          let assemblyId = this.$store.getters["project/selectedObjProject"]
            .AssyId;
          let UserId = this.$store.getters["appStateStore/getUserId"];

          //upload BOM to databse
          var self = this;
          axios({
            method: "post",
            url:
              "http://dotnetwebapi4.racex.in//WebForms/api/ProjectData/UploadExlBOM",

            data: {
              UploadBOMPartstr: JSON.stringify(BOMpartArray), //dynamic
              userId: UserId, //processId
              AssyId: assemblyId
            }
          })
            .then(response => {
              self.loading = true;
              self.loadProjectPage();

              //partProcId
              //loadtable
              //
            })
            .then(() => (self.loading = false))
            .catch(function(error) {
              console.log("Post Error : " + error);
            });

          resolve();
        };
        reader.readAsArrayBuffer(rawFile);
      });
    },
    getHeaderRow(sheet) {
      const headers = [];
      const range = XLSX.utils.decode_range(sheet["!ref"]);
      let C;
      const R = range.s.r;
      /* start in the first row */

      for (C = range.s.c; C <= range.e.c; ++C) {
        /* walk every column in the range */
        const cell = sheet[XLSX.utils.encode_cell({ c: C, r: R })];
        /* find the cell in the first row */
        let hdr = "UNKNOWN " + C; // <-- replace with your desired default
        if (cell && cell.t) hdr = XLSX.utils.format_cell(cell);
        headers.push(hdr);
      }
      return headers;
    },

    openPartImageUpload(BomPartId, index) {
      //open uplaoder dialog
      this.BomPartImage = true;
      let rowId = 0;

      //pass rowidto get on image save
      if (BomPartId === "") {
        const newrowIndex = this.data.findIndex(
          obj => obj.rowIndex === index + 1
        );
        rowId = newrowIndex + 1;
      } else {
        const newprocIndex = this.data.findIndex(obj => obj.id === BomPartId);
        rowId = newprocIndex + 1;
      }

      // this.avatar={file,"http://dotnetwebapi4.racex.in//Uploads/ProjectImage/ProjImage_blankprocess_20191002015425_PRN201900002.png"}
      this.$store.dispatch("project/updatedSelRowIdforProcess", rowId);
    },

    uploadImage() {
      this.saving = true;
      var self = this;

      let formData = new FormData();
      formData.append(this.avatar.imageFile.name, this.avatar.imageFile);
      formData.append("uploadFrom", "ProjectImage");
      formData.append("Id", "PRN201900002");
      formData.append("AttachmentTagName", "ProjImage");

      axios({
        method: "post",
        url: "http://dotnetwebapi4.racex.in//WebForms/api/FileUpload/SaveImage",

        data: formData,

        headers: { "content-type": "multipart/form-data" }
      })
        .then(response => {
          let imagePath = response.data.tblFile[0].FilePath.split(
            "~"
          )[1].trim();
          let partImageURL = "http://dotnetwebapi4.racex.in/" + imagePath;

          //set to speciifc rowid image prop
          //get rowid
          let rowId = this.$store.getters["project/getSelRowId"];

          self.data[rowId - 1].image = partImageURL;
          self.savedAvatar();
          self.avatar = null;
        })
        .catch(function(error) {
          console.log("Post Error : " + error);
        });
    },
    savedAvatar() {
      this.saving = false;
      this.saved = true;
    },

    deleteProc(id) {},

    addNewproc(BomPartId) {
    debugger;
      console.log("addNewproc", BomPartId);
      const index = BomPartId;

      //find index

      const newprocIndex = this.data.findIndex(obj => obj.id === BomPartId);
      let rowId = newprocIndex + 1;
      this.$store.dispatch("project/updatedSelRowIdforProcess", rowId);
      this.data[newprocIndex].process.push({
        label: {
          value: null,
          image: "./statics/blankprocess.png",
          disable: false,
          label: "Select Process"
        }
      });

      this.data[newprocIndex].total.push(0);
      //set project currency as a part default currency ..read from project store and update process store
      //
      let selProjCur = this.$store.getters["project/selectedProjCurrrency"];
      this.$store.dispatch(
        "processStore/updateSelctedPartCurrency",
        selProjCur
      );
    },
    addNewassembly(rowIndex) {
      //find index

      this.data[rowIndex].total.push(0);

      // this.$store.dispatch("project/updatedSelRowIdforProcess", rowId);
      this.data[rowIndex].process.push({
        //   label: {
        //   value: null,
        //   image: "./statics/blankprocess.png",
        //   disable: false,
        //   label: "Select Process"
        // },
        assmProc: ""
      });

      // this.data[newprocIndex].total.push(0);
      // //set project currency as a part default currency ..read from project store and update process store
      // //
      // let selProjCur = this.$store.getters["project/selectedProjCurrrency"];
      // this.$store.dispatch(
      //   "processStore/updateSelctedPartCurrency",
      //   selProjCur
      // );
    },

    pushNewproc(
      proc,
      bomPartid,
      partHeirchy,
      partLevel,
      name,
      image,
      qty,
      type,
      weight,
      matId,
      rowIndex,
      partSeq
    ) {
      //save / update bomrow
      //please select material
      // let SelectedMatName = this.$store.getters[
      //       "processStore/getSelProcMatId"
      let rowId = rowIndex + 1;
      this.$store.dispatch("project/updatedSelRowIdforProcess", rowId);

      //
      if(row.type==='Assy'){
        return;
      }

      if (matId !== "") {
        this.BomPartId = bomPartid;
        var self = this;
        let UserId = self.userId;
        axios({
          method: "post",
          url:
            " http://dotnetwebapi4.racex.in//WebForms/api/ProjectData/CreateBOMPart",

          data: {
            BOMPartId: this.BomPartId,
            PartAssyId: this.assemblyId,
            parthrchypath: partHeirchy,
            partLevel: partLevel,
            PartName: name,
            PartQty: qty,
            OptRMType: type,
            Partwt: weight,
            PartMatID: matId,
            projId: this.projId,
            BOMPartImageURL: image,
            userId: UserId,
            PartSeq: partSeq,
           
          }
        })
          .then(response => {
            console.log(response);

            self.BomPartId = response.data.BOMPart[0].BOMPartId;
            let BomPartId = response.data.BOMPart[0].BOMPartId.toString();
            //
            console.log(this.data, self.data);
            //UPDATED SELECTED ROW
            // const newprocIndex = this.data.findIndex(
            //   obj => obj.id === BomPartId
            // );

            // let rowId = newprocIndex + 1;

            self.$store.dispatch(
              "processStore/updatedSelectedBOMPartId",
              BomPartId
            );

            //UPDATED SELECTED PROCESS TO STORE //check previous proc Id
            // let storeOldProcess = this.$store.getters[
            //   "processStore/getSelectedProcId"
            // ];
            // let oldprocessId =
            //   storeOldProcess.value === undefined ? 0 : storeOldProcess.value;

            // console.log("OLD, NEW", oldprocessId, proc.value);
            // let newProc = true;
            // if (oldprocessId === proc.value) newProc = false;
            const objecproc = {
              label: proc.label,
              value: proc.value,
              image: proc.image,
              disable: true
            };
            this.$store.dispatch(
              "processStore/updatedSelectedProcId",
              objecproc
            );
            console.log("addarrProc", proc);
            axios
              .get(
                "http://dotnetwebapi4.racex.in//WebForms/api/ProcessData/ProcPriAttri?procId=" +
                  objecproc.value +
                  "&sectId=1&matId=" +
                  objecproc.value
              )
              .then(function(response) {
                let procPrimVarData = response.data.ProcPrimAttri;

                //dispatch to store,partData procPrimVarData

                self.$store.dispatch(
                  "processStore/updatePrimaryProcVar",
                  procPrimVarData
                );
                self.$store.dispatch(
                  "processStore/updatedSelectedProcId",
                  objecproc
                );
              })
              .catch(function(error) {
                console.log(error);
              });

            self.$router.push({
              name: "primary-variable",
              query: { procId: proc.value, newProc: true }
            });
          })
          .catch(function(error) {
            console.log("Post Error : " + error);
          });
      } else {
        this.$q.notify({
          color: "red-5",
          textColor: "white",
          icon: "fas fa-exclamation-triangle",
          message: "You need to select Material First"
        });
      }
    },

    // navigateProcess(val) {
    //   console.log("selected process", this.val);

    //   this.$router.push({
    //     name: "primary-variable",
    //     query: { procId: selProc.value }
    //   });

    //   this.$store.dispatch("processStore/updatedSelectedProcId", selProc);
    // },

    navigateControlProcess(selectedProc, Id) {
      // console.log("selected", procId);
      //selected Row Id

      let rowId = Id + 1;
      this.$store.dispatch("project/updatedSelRowIdforProcess", rowId);

      //update bompartId of selcted row

      const objecproc = {
        label: selectedProc.label,
        value: selectedProc.value,
        image: selectedProc.image,
        partProcId: selectedProc.partProcId,
        disable: true
      };
      this.$store.dispatch("processStore/updatedSelectedProcId", objecproc);

      let PartProcId = selectedProc.partProcId;

      this.$router.push({
        name: "control-variable",
        query: { partProcId: PartProcId }
      });
    },
    saveRowtoDB(
      bomPartid,
      partHeirchy,
      partLevel,
      name,
      image,
      qty,
      type,

      rowIndex,
      partSeq,
      bopCost,
      assyCost,
      partAssyData

    ) {
      this.BomPartId = bomPartid;
      let procTotalCost = 0;
      let processname = "";
      debugger;
      if (type === "Assy") {
        procTotalCost = assyCost;
        processname = name;
      } else if (type === "BOP") {
        procTotalCost = bopCost;
      }
let partAssyDataString= JSON.stringify(partAssyData)
      var self = this;
      let UserId = self.userId;
      axios({
        method: "post",
        url:
          " http://dotnetwebapi4.racex.in//WebForms/api/ProjectData/CreateBOMPart",

        data: {
          BOMPartId: this.BomPartId,
          PartAssyId: this.assemblyId,
          parthrchypath: partHeirchy,
          partLevel: partLevel,
          PartName: name,
          PartQty: qty,
          OptRMType: type,
          projId: this.projId,
          BOMPartImageURL: image,
          userId: UserId,
          PartSeq: partSeq,
          PartTotalCost: procTotalCost,
          PartAssyData:partAssyDataString
          //process:processname
        }
      }).then(response => {
        console.log(response);
        debugger;
        rowIndex;
        // self.BomPartId = response.data.BOMPart[0].BOMPartId;

        self.data[rowIndex-1].id = response.data.BOMPart[0].BOMPartId.toString();
      });
    },
    getSelectedString() {
      return this.selected.length === 0
        ? ""
        : `${this.selected.length} record${
            this.selected.length > 1 ? "s" : ""
          } selected of ${this.data.length}`;
    },

    // emulate fetching data from server
    //async
    reOrderBom(partSeq, rowIndex) {
      //confirm("Please Confirm If you want to make this change!");
      this.$q
        .dialog({
          title: "Confirm",
          message: `Are you sure to rearrange this row....?`,
          color: "information",
          ok: `Yes, I'm sure`,
          cancel: true,
          default: "cancel" // <<<<
        })
        .onOk(() => {
          this.data.sort((a, b) => (a.partSeq > b.partSeq ? 1 : -1)); //sort
          this.data.forEach((ele, index) => (ele.partSeq = 10 + index * 10)); //reassign number with multiple of 10.
          let newBOMpartSeq = [];
          this.data.forEach((ele, index) => {
            let Obj = {
              BOMPartId: ele.id,
              PartSeq: ele.partSeq
            };
            newBOMpartSeq.push(Obj);
          });
          newBOMpartSeq = JSON.stringify(newBOMpartSeq);

          axios({
            method: "post",
            url:
              "http://dotnetwebapi4.racex.in//WebForms/api/ProjectData/UpdateBOMPartSeq",

            data: {
              BOMPartstr: newBOMpartSeq
            }
          })
            .then(response => {
              //self.assemblyId = response.data.Assembly[0].assyId;
              //set assembly id
              console.log(response);
            })
            .catch(function(error) {
              console.log("Post Error : " + error);
            });
        })
        .onCancel(() => {
          this.data[rowIndex].partSeq = this.OldValue;
        });
    },
    addRow() {
      debugger;
      const index = this.data.length + 1;
      this.original[0].rowIndex = index;
      this.original[0].partSeq = index * 10;
      let partLevel = this.original[0].partLevel;
      //new object based on partlevel and
      let label = `x${partLevel}`;
      //find partlevel 1 above the row
      let indexLevel1 = this.data
        .map((x, index) => {
          if (x.partLevel === "1") return index;
        })
        .filter(x => x !== undefined);
      let partHeirchy = `/${indexLevel1.length + 1}/`;
      this.original[0].partHeirchy = partHeirchy;
      let partLevelObj = {
        [label]: "X"
      };

      let row = {
        ...this.original[0],
        ...partLevelObj
      };
      debugger;
      if (this.data.length === 0) {
        this.rowCount = 0;
      }

      // const partLevelArray = [];
      // const lazyObj = {
      //   label: index + ".",
      //   children: [{ label: index + ".1", lazy: true }]
      // };
      // partLevelArray.push(lazyObj);
      // this.lazy = partLevelArray;

      // row.id = index;
      const addRow = { ...row }; // extend({}, row, { name: `${row.name} (${row.__count})` })
      this.data = [
        ...this.data.slice(0, index),
        addRow,
        ...this.data.slice(index)
      ];
      this.loading = false;

      this.$store.dispatch("project/updatedBOMRowData", this.data);
    },
    removeRow(id) {
      debugger;
      const index = id;

      const newprocIndex = this.data.findIndex(obj => obj.id === index);
      console.log(newprocIndex);

      this.data.splice(newprocIndex, 1);

       axios
        .delete(
          "http://dotnetwebapi4.racex.in//WebForms/api/ProjectData/DeleteBOMPart/" +
            index
        )
        .then(function(response) {
          //reload count
          self.$q.notify({
            color: "green-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: "Selected Part has been deleted"
          });
        })
        .catch(function(error) {
          // handle error
          console.log(error);
        })
        .finally(function() {
          // always executed
        });
    },

    removepartProcRow(procData) {
      let partProcRowId = procData.partProcId;

      axios
        .delete(
          "http://dotnetwebapi4.racex.in//WebForms/api/ProjectData/DeletePartProcess/" +
            partProcRowId
        )
        .then(function(response) {
          //reload count
          self.$q.notify({
            color: "green-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: "Selected Project has been deleted"
          });
        })
        .catch(function(error) {
          // handle error
          console.log(error);
        })
        .finally(function() {
          // always executed
        });
    },
    filterFn(val, update, abort) {
      if (val.length < 2) {
        abort();
        return;
      }

      update(() => {
        const needle = val.toLowerCase();
        this.options = stringOptions.filter(
          v => v.toLowerCase().indexOf(needle) > -1
        );
      });
    },

    //     filterProcFn(val, update, abort) {

    //     update(() => {
    //       console.log("sel", val,update)
    //       const needle1 = val.toLowerCase();
    //       this.options = procstringOptions.filter(
    //         v => v.toLowerCase().indexOf(needle1) > -1
    //       );
    //     });
    // },
    saveAssmName() {
      //save AssemblyName and Number
      console.log(this.assemblyName);
      this.saveAssemblDetails(this.assemblyName, this.assemblyNumber);
    },
    saveAssmNumber() {
      //save AssemblyName and Number
      console.log(this.assemblyNumber);

      this.saveAssemblDetails(this.assemblyName, this.assemblyNumber);
    },

    saveAssemblDetails(assmName, assNumber) {
      var self = this;

      this.$store.dispatch(
        "project/updateSelProjAssemNumber",
        this.assemblyNumber
      );
      this.$store.dispatch("project/updateSelProjAssemName", assmName);

      axios({
        method: "post",
        url:
          "http://dotnetwebapi4.racex.in//WebForms/api/ProjectData/CreateAssembly",

        data: {
          AssyId: this.assemblyId,
          AssyNo: assNumber,
          AssyName: assmName,
          projId: this.projId,
          userId: this.userId
        }
      })
        .then(response => {
          self.assemblyId = response.data.Assembly[0].assyId;
          //set assembly id
          console.log(self.assemblyId);
        })
        .catch(function(error) {
          console.log("Post Error : " + error);
        });
    },
    saveRowPartName(id, partname) {
      let index = id;
      let name = partname;
      const ObjBomRowData = {
        id: index,
        name: name
      };

      console.log("partName", index, ObjBomRowData);
      this.$store.dispatch("project/updateRowPartName", ObjBomRowData);
    },
    calculateVa(secVa) {
      console.log("Sec Operation", secVa);
      this.secProcVa = secVa;
      // this.secOperationRecalc=true;
      // this.fetchProcData();
    }
  }
};
</script>
<style lang="css" scoped>
.excel-upload-input {
  display: none;
  z-index: -9999;
}
.zoomedElement {
  zoom: 0.8;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
}

.imgBom {
  background-color: #1f40e6;
  width: 185px;
  height: 48px;
  color: #ffffff;
  cursor: pointer;
  font-family: TheinhardtPan-Medium;
}
.imgBom:hover {
  background-color: #ffffff;
  color: #1f40e6;
  border: 1px solid #1f40e6;
  width: 185px;
  cursor: pointer;
  height: 48px;
  font-family: TheinhardtPan-Medium;
}

.imgDesc {
  font-family: TheinhardtPan-Regular;
  color: #1f40e6;
  font-size: 1.3rem;
  text-align: left;
}
@media screen and(max-width: 580px) {
  .addbtn {
    width: 100%;
  }
  .importbtn {
    width: 100%;
  }
  .clrbtn {
    width: 100%;
  }
}
</style>

<style lang="stylus" ></style>