<template>
  <q-page padding class="bg-grey-1">
    <div class="row justify-around">
      <div class="q-mt-md col-xs-12 col-sm-5 col-md-4">
        <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
          <q-item-label class="headline">
            <h3>Login</h3>
          </q-item-label>
          <q-input
            filled
            v-model="name"
            label="Username *"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Please type Username']"
          />

          <q-input
            filled
            type="password"
            v-model="password"
            label="Password *"
            lazy-rules
            :rules="[
          val => val !== null && val !== '' || 'Please type your password',
          
        ]"
          />
          <q-input
            filled
            type="text"
            v-model="chargeCode"
            label="Charge Code "
            lazy-rules
            :rules="[
          val => val !== null && val !== '' || 'Please type your Charge Code',
          
        ]"
          />
          <div class="row">
            <q-btn
              class="item col-xs-12 col-sm-5 col-md-4"
              label="Sign In"
              type="button"
              no-caps
              @click="showLogOut()"
            />
          </div>
        </q-form>
      </div>

      <div class="col-xs-12 col-sm-5 col-md-4">
        <q-img
          src="./statics/loginimage.png"
          class="bottom-right"
          style="width: 55vh; height: auto"
        />
      </div>
    </div>
  </q-page>
</template>



<script>
import axios from "axios";
import { mapGetters, mapActions } from "vuex";
import { EventBus } from "../event-bus";

export default {
  data() {
    return {
      name: null,
      password: null,
      chargeCode: null,
      loginSucess: false,
      loginMessage: null
    };
  },
  // computed: mapGetters(['isLoggedIn']),
  mounted() {
    this.$store.dispatch("appStateStore/updateAppHeaderName", false);
  },

  methods: {
    ...mapActions(["login", "finalizeLogin"]),

    showLogOut() {
      var self = this;
      if (self.chargeCode !== null) {
      
        let userId = btoa(this.name);
        let password = btoa(this.password);

        axios
          .get(
            "http://dotnetwebapi4.racex.in//WebForms/api/UserLogin/Login?strUserName=" +
              userId +
              "&strPassword=" +
              password +
              "&RemMe=True"
          )

          .then(function(response) {
            // handle success
            

            if (response.data.OutputMessage[0].Success === "1") {
              self.loginSucess = true;
            
              self.$q.notify({
                color: "green-5",
                textColor: "white",
                  classes:"text-center",
                icon: "fas fa-exclamation-triangle",
                message: "Welcome to Race 4.0"
              });

              //self.$router.push("/dashboard");
              let UserEmpId = response.data.LoginDetails[0].useEmpId;
              let ImageUrl = response.data.LoginDetails[0].userProfileImage;
              let ProfileName = response.data.LoginDetails[0].ProfileName;
            self.$store.dispatch("appStateStore/updateUserId", UserEmpId);
              //send userprofilelink, userId
              let UserData = {
                image: ImageUrl,
                UserId: UserEmpId,
                ProfileName: ProfileName,
                appLogoutState: true
              };
              EventBus.$emit("appLogoutState", UserData);
              self.$router.push({
                name: "Dashboard",
                query: { userDetail: UserData }
              });
            } else {
              self.loginSucess = false;
              
              self.loginMessage = response.data.OutputMessage[0].ErrorMessage;
              self.$q.notify({
                color: "red-5",
                textColor: "white",
                  classes:"text-center",
                icon: "fas fa-exclamation-triangle",
                message: self.loginMessage
              });
            }
          })
          .catch(function(error) {
            // handle error
            console.log(error);
          })
          .finally(function() {
            // always executed
          });
      } else {
        self.$q.notify({
          color: "red-5",
          textColor: "white",
            classes:"text-center",
          icon: "fas fa-exclamation-triangle",
          message: "Please enter Charge Code"
        });
      }
    },

    onSubmit() {
      // this.finalizeLogin(window.location.hash);
      //this.isLoggedIn();
      // if (this.loginSucess !== true) {
      //   this.$q.notify({
      //     color: "red-5",
      //     textColor: "white",
      //     icon: "fas fa-exclamation-triangle",
      //     message: this.loginMessage
      //   });
      // } else {
      //   this.$q.notify({
      //     color: "grre-5",
      //     textColor: "white",
      //     icon: "fas fa-exclamation-triangle",
      //     message: "Welcome to Race 4.0 -Looged In"
      //   });
      //   EventBus.$emit("appLogoutState", true);
      //   this.$router.push("/dashboard");
      // }
    },
    onReset() {
      this.name = null;
      this.password = null;
      this.chargeCode = null;
    }
  }

  // }
};
</script>


<style lang="scss" scoped>
.item {
  background-color: white;
  font-size: 1rem;
  font-family: TheinhardtPan-Medium;
  padding: 0.75em 1em;
  min-width: 144px;
  min-height: 48px;
  color: #1f40e6;
  border: 1px solid #1f40e6;
  border-radius: 0;
  cursor: pointer;
}
.item:hover {
  background-color: #1f40e6;
  font-size: 1rem;
  font-family: TheinhardtPan-Medium;
  padding: 0.75em 1em;
  min-width: 144px;
  min-height: 48px;
  color: #fff;
  border: 1px solid #1f40e6;
  border-radius: 0;
  cursor: pointer;
}
</style>
