<template>
  <q-page padding>
    <div class="q-pa-lg doc-container bg-grey-1">
      <div class="row q-mb-xl q-gutter-md" style>
        <div class="col-xs-12 ol-sm-6 col-md-3 trackStatus">
          <q-item-label class="q-mt-md q-ml-xs headline1 float-left">
            <strong>TRACK STATUS OF YOUR PROJECT</strong>
          </q-item-label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 searchBox">
          <q-input square outlined v-model="searchText">
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-3">
          <q-btn no-caps class="createProject" @click="showAppHeader()">
            <q-icon left size="3.3em" name="post_add" />Create New Project
          </q-btn>
        </div>
      </div>

      <div class="q-mb-xl row q-gutter-xl">
        <div class="col-3 inProgress shadow-4" id="0" @click="showTableData($event)" style>
          <q-card :class="{clicked: blockClicked ==='0'}" class="bg-grey-4 my-card">
            <q-card-section class>
              <div class="text-center">Inprogress</div>
            </q-card-section>

            <q-separator dark inset />

            <q-card-section class="text-center">{{pcount}}</q-card-section>
            <q-card-section class="text-center" v-if="pcount===0">{{msg}}</q-card-section>
          </q-card>
        </div>

        <div class="col-3 inProgress shadow-4" id="1" @click="showTableData($event)" style>
          <q-card :class="{clicked: blockClicked ==='1'}" class="bg-grey-4 my-card shadow-4">
            <q-card-section class>
              <div class="text-center">Completed</div>
            </q-card-section>

            <q-separator dark inset />

            <q-card-section class="text-center">{{ccount}}</q-card-section>
          </q-card>
        </div>
      </div>
      <br />

      <div v-if=" blockClicked ==='0'">
        <q-table
          v-if="data.length"
          virtual-scroll
          table-style="max-height: 450px"
          :pagination.sync="pagination"
          :rows-per-page-options="[0]"
          :virtual-scroll-sticky-start="48"
          :data="data"
          :columns="columns"
          :filter="searchText"
          row-key="Serial"
          flat
          bordered
        >
          <!-- <template v-slot:top-right>
            <q-input outlined dense debounce="100" v-model="filter" placeholder="Search">
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input>
          </template>-->
          <template v-slot:body="props">
            <q-tr :props="props" class="text-h6">
              <q-td width="2%" key="Serial" :props="props">{{ props.row.__index+1 }}</q-td>

              <q-td width="10%" key="projectNumber" :props="props">{{ props.row.projectNumber }}</q-td>
              <q-td
                text-allign="left"
                width="20%"
                key="projectName"
                :props="props"
              >{{ props.row.projectName }}</q-td>
              <q-td width="10%" key="count" :props="props">{{ props.row.count }}</q-td>
              <q-td
                width="15%"
                key="projLastUpdatedDate"
                :props="props"
              >{{ props.row.projLastUpdatedDate }}</q-td>
              <q-td width="15%" key="projCreatedDate" :props="props">{{ props.row.projCreatedDate }}</q-td>
              <q-td width="15%" key="Racecost" :props="props">raceCost</q-td>
              <q-td width="15%" key="RaceGap" :props="props">Gap %</q-td>

              <q-td width="10%" key="Id" :props="props">
                <q-btn
                  class="delDashTbl"
                  flat
                  round
                  @click="openProject(props.row )"
                  icon="open_in_new"
                ></q-btn>
                <q-btn
                  class="delDashTbl"
                  flat
                  round
                  @click="deleteProject(props.row.projId )"
                  icon="delete_outline"
                ></q-btn>
                <q-btn class="delDashTbl" flat round @click="editProject(props.row)" icon="edit"></q-btn>
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </div>
    </div>

    <q-dialog v-model="confirm" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <span
            class="q-ml-sm text-h6"
          >Confirm deletion of project. Changes made cannot be reverted.</span>
          <span id="deleteProjId" style="display:none" />
        </q-card-section>

        <q-card-actions align="right">
          <q-btn class="tblDashBtnCancl" no-caps flat label="Cancel" v-close-popup />
          <q-btn
            class="tblDashBtnDel"
            no-caps
            flat
            label="Delete"
            @click="deleteConfirm()"
            v-close-popup
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>





<script>
import axios from "axios";
import { EventBus } from "../event-bus";
import { mapGetters, mapActions } from "vuex";

export default {
  mounted() {
    debugger;
    this.$store.dispatch("appStateStore/updateHeaderName", "Dashboard");
    EventBus.$emit("headerName", "Dashboard");

    this.userId = this.$store.getters["appStateStore/getUserId"];
    this.loadDefault();
  },

  methods: {
    async loadDefault() {
      await this.loadDashboardCount();
      this.blockClicked = "0";
      var self = this;
      //this.showTableData(this.$event);
      let UserId = this.userId;
      axios.get(
          "http://dotnetwebapi4.racex.in//WebForms/api/ProjectData/GetDashboardProjTable?userId=" +
            UserId +
            "&projStatus=" +
            0
        ).then(function(response) {
          // handle success

          self.data = JSON.parse(
            response.data.tblProjectDashboard[0].ProjData
          ).tblProject;

          //  self.data = tblPrg;
        })
        .catch(function(error) {
          // handle error
          console.log(error);
        })
        .finally(function() {
          // always executed
        });


          axios
      .get(
        "http://dotnetwebapi4.racex.in//WebForms/api/GetProcMasterData/GetMfgProfileData"
      )
      .then(function(response) {
        // handle success
        debugger;

        let mfgData = JSON.parse(response.data.tblMfgProfileData[0].MfgProfile).mfgProfiles

      self.$store.dispatch("mfgstore1/loadShiftProfile",mfgData);
      });
    },
    showAppHeader() {
      EventBus.$emit("headeData", true);
      let ObjProject = {};
      debugger;
      this.$store.dispatch("project/updateSelectedObjProj", ObjProject);
      this.$router.push({
        name: "Project-Detail"
      });
    },
    loadDashboardCount() {
      var self = this;
      let UserId = self.userId;

      axios
        .get(
          "http://dotnetwebapi4.racex.in//WebForms/api/ProjectData/GetDashboardCount?userId=" +
            UserId
        )
        .then(function(response) {
          // handle success

          self.pcount = response.data.tblDashboard[0].projInProcessCount;
          self.ccount = response.data.tblDashboard[0].projCompletedCount;

          //   console.log(tblPrg);

          //  self.data = tblPrg;
        })
        .catch(function(error) {
          // handle error
          console.log(error);
        })
        .finally(function() {
          // always executed
        });
    },

    showTableData(event) {
      debugger;
      var self = this;
      let dashboardBlock = +event.currentTarget.id;
      //dashboardBlock = dashboardBlock === undefined ? 0 : dashboardBlock;
      this.blockClicked = event.currentTarget.id;
      //  blockClicked=blockClicked === undefined ? "0":blockClicked;
      let UserId = self.userId;
      axios
        .get(
          "http://dotnetwebapi4.racex.in//WebForms/api/ProjectData/GetDashboardProjTable?userId=" +
            UserId +
            "&projStatus=" +
            dashboardBlock
        )
        .then(function(response) {
          // handle success

          self.data = JSON.parse(
            response.data.tblProjectDashboard[0].ProjData
          ).tblProject;

          //  self.data = tblPrg;
        })
        .catch(function(error) {
          // handle error
          console.log(error);
        })
        .finally(function() {
          // always executed
        });
    },
    deleteProject(Id) {
      this.confirm = true;

      setTimeout(function() {
        document.getElementById("deleteProjId").innerText = Id;
      }, 300);
    },

    deleteConfirm() {
      var self = this;
      const projId = document
        .getElementById("deleteProjId")
        .innerText.toString();

      const newprocIndex = self.data.findIndex(obj => obj.projId === projId);

      this.data.splice(newprocIndex, 1);
      axios
        .delete(
          "http://dotnetwebapi4.racex.in//WebForms/api/ProjectData/DeleteProject/" +
            projId
        )
        .then(function(response) {
          //reload count
          self.$q.notify({
            color: "green-5",
            textColor: "white",
            icon: "fas fa-exclamation-triangle",
            message: "Selected Project has been deleted"
          });

          self.loadDashboardCount();
        })
        .catch(function(error) {
          // handle error
          console.log(error);
        })
        .finally(function() {
          // always executed
        });
    },

    editProject(ObjProject) {
      //this.$store.dispatch("mfgstore1/loadShiftProfile");
      debugger;
      this.$store.dispatch("project/updateSelectedObjProj", ObjProject);

      let projMfgLocationId = parseInt(ObjProject.projectMfgId);
      let projectCurrId = parseInt(ObjProject.projectCurId);

      //getList and set data mfgProfile

      debugger;

      let projMfgProfileId = ObjProject.projectMfgProfileId;
      let allMfgData = this.$store.getters["mfgstore1/mfgAllProfiles"];
      let mfgprofDataArray = Object.entries(allMfgData).map(x => x[1]);

      let selectedMfgProfileIndex = mfgprofDataArray
        .map((x, index) => {
          if (x.mfgProfId === projMfgProfileId) return index;
        })
        .filter(x => x != undefined)[0];
      let ProjMfgObjData = mfgprofDataArray[selectedMfgProfileIndex];
      //
      this.$store.dispatch("mfgstore1/updateShiftProfile", ProjMfgObjData);

      //mfgLocation
      let mfgLocationList = this.$store.getters["project/getMfgLocationList"];

      let selProjectMfgLocation = mfgLocationList.find(
        x => x.value === projMfgLocationId
      );

      this.$store.dispatch(
        "project/updateSelctedProjectMfgLocation",
        selProjectMfgLocation
      );

      debugger;
      //projCurrency
      let projCurrList = this.$store.getters["project/getCurrencyList"];
      let selProjectCurrency = projCurrList.find(
        x => x.value === projectCurrId
      );
      this.$store.dispatch(
        "project/updateSelctedProjectCurrency",
        selProjectCurrency
      );

      this.$router.push({
        name: "Project-Detail"
      });
    },

    openProject(ObjProject) {
      var self = this;

      axios
        .get(
          "http://dotnetwebapi4.racex.in//WebForms/api/GetProcMasterData/GetMfgProfileData"
        )
        .then(function(response) {
          // handle success

          let mfgData = JSON.parse(
            response.data.tblMfgProfileData[0].MfgProfile
          ).mfgProfiles;
          //  Object.entries(mfgData).map(x=>x[1])

          self.$store.dispatch("mfgstore1/loadShiftProfile", mfgData);

          debugger;

          self.$store.dispatch("project/updateSelectedObjProj", ObjProject);

          let projMfgProfileId = ObjProject.projectMfgProfileId;

          let projMfgLocationId = parseInt(ObjProject.projectMfgId);
          let projectCurrId = parseInt(ObjProject.projectCurId);

          //getList and set data mfgProfile
          // let allMfgData = self.$store.getters["mfgstore1/mfgAllProfiles"]
          let mfgprofDataArray = Object.entries(mfgData).map(x => x[1]);

          let selectedMfgProfileIndex = mfgprofDataArray
            .map((x, index) => {
              if (x.mfgProfId === projMfgProfileId) return index;
            })
            .filter(x => x != undefined)[0];

          let ProjMfgObjData = mfgprofDataArray[selectedMfgProfileIndex];
          //
          self.$store.dispatch("mfgstore1/updateShiftProfile", ProjMfgObjData);
          //mfgLocation
          let mfgLocationList =
            self.$store.getters["project/getMfgLocationList"];

          let selProjectMfgLocation = mfgLocationList.find(
            x => x.value === projMfgLocationId
          );

          self.$store.dispatch(
            "project/updateSelctedProjectMfgLocation",
            selProjectMfgLocation
          );
          debugger;
          //projCurrency
          let projCurrList = self.$store.getters["project/getCurrencyList"];
          let selProjectCurrency = projCurrList.find(
            x => x.value === projectCurrId
          );
          self.$store.dispatch(
            "project/updateSelctedProjectCurrency",
            selProjectCurrency
          );

          self.$router.push({
            name: "PartDetail"
          });
        })
        .catch(function(error) {
          // handle error
          console.log(error);
        })
        .finally(function() {
          // always executed
        });

      debugger;
    }
  },

  data() {
    return {
      userId: null,
      searchText: "",
      filter: "",
      pcount: "0",
      ccount: "0",
      hidetable: true,
      blockClicked: "",
      projectNumber: null,
      projectName: null,
      SrNo: null,
      count: null,
      projLastUpdatedDate: null,
      projcreatedDate: null,
      list: null,
      confirm: false,
      pagination: {
        rowsPerPage: 0
      },

      columns: [
        {
          name: "Serial",
          required: true,
          label: "Sr.No",
          align: "left",
          field: "Serial",
          format: val => `${val}`,
          sortable: true
        },
        {
          name: "projectNumber",
          align: "left",
          label: "Project Number",
          field: "projectNumber",
          sortable: true
        },
        {
          name: "projectName",
          align: "left",
          label: "Project Name",
          field: "projectName",
          sortable: true
        },
        {
          name: "count",
          label: "Count",
          align: "left",
          field: "count",
          sortable: true
        },
        {
          name: "projLastUpdatedDate",
          align: "left",
          label: "Last Updated",
          field: "projLastUpdatedDate",
          sortable: true
        },
        {
          name: "projCreatedDate",
          align: "left",
          label: "Created On",
          field: "projCreatedDate",
          sortable: true
        },
        {
          name: "Racecost",
          align: "left",
          label: "Racecost",
          field: "Racecost",
          sortable: true
        },
        {
          name: "RaceGap",
          align: "left",
          label: "Gap %",
          field: "RaceGap",
          sortable: true
        },

        {
          name: "Id",
          align: "left",
          label: "Edit",
          field: "edit"
        }
      ],

      data: [],
      msg: "Yet to complete 1st project"
    };
  }
};
</script>



<style lang="scss" 
>
.my-card {
  height: 150px;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 2rem;
  transition-duration: 1s, 1s, 0.5s, 0.5s;
  transition-delay: 0s, 0.5s, 1s, 1.5s;
}

.my-card:hover {
  background-color: #051c2c !important;
  color: white;
}
.clicked {
  background-color: #051c2c !important;
  color: white;
}

@media screen and(max-width: 580px) {
  .trackStatus {
    width: 100%;
  }
  .searchBox {
    width: 97%;
  }
  .createProject {
    width: 97%;
  }
  .inProgress {
    width: 91%;
  }
}
@media screen and(max-width: 768px) {
  .createProject {
    width: 97%;
  }
}
</style>



