<template>
  <q-page>
    <div class="bg-grey-1" style="height:500px">
      <div class="q-gutter-md fixed-center" style="width:30%; margin-top:-150px">
        <div>
          <q-item-label class="text-h6">Industry</q-item-label>
          <q-select
            outlined
            dense
            v-model="ind"
            :options="indOptions"
            aria-placeholder="---Select Industry---"
          />
        </div>
        <div>
          <q-item-label class="text-h6">Application</q-item-label>
          <q-select
            outlined
            dense
            v-model="app"
            :options="applOptions"
            aria-placeholder="---Select Application---"
          />
        </div>
        <div class="row">
          <q-btn
            class="btnFill col-4"
            style="height:40px"
            no-caps
            label="Design Module"
            @click="designModule"
            :disable="(app && ind) ? false : true"
          />
          <q-space />

          <input
            ref="excel-upload-input"
            class="excel-upload-input"
            type="file"
            accept=".xlsx, .xls"
            @change="handleClick"
          />

          <q-btn
            :loading="loading"
            style="margin-left:16px; width:200px; height:40px"
            class="btnFill float-right"
            size="mini"
            no
            caps
            :disable="(app && ind) ? false : true"
            @click="handleUpload"
          >Import Model Data</q-btn>
        </div>
      </div>
    </div>
  </q-page>
</template>
<script>
import XLSX from "xlsx";
export default {
  props: {
    beforeUpload: Function, // eslint-disable-line
    onSuccess: Function // eslint-disable-line
  },

  data() {
    return {
      ind: null,
      indOptions: ["Automotive", "Power", "Consumer Products"],
      app: null,
      applOptions: [
        "Air Conditioners",
        "High Voltage Cable",
        "Two Wheeler",
        "Commercial Vehical",
        "2W"
      ],

      list: null,
      listLoading: true,
      downloadLoading: false,
      filename: "",
      autoWidth: true,
      bookType: "xlsx",
      loading: false,
      excelData: {
        header: null,
        results: null
      }
    };
  },
  methods: {
    handleDrop(e) {
      e.stopPropagation();
      e.preventDefault();
      if (this.loading) return;
      const files = e.dataTransfer.files;
      if (files.length !== 1) {
        this.$message.error("Only support uploading one file!");
        return;
      }
      const rawFile = files[0]; // only use files[0]
      if (!this.isExcel(rawFile)) {
        this.$message.error(
          "Only supports upload .xlsx, .xls, .csv suffix files"
        );
        return false;
      }
      this.upload(rawFile);
      e.stopPropagation();
      e.preventDefault();
    },
    handleDragover(e) {
      e.stopPropagation();
      e.preventDefault();
      e.dataTransfer.dropEffect = "copy";
    },
    handleUpload() {
      this.$refs["excel-upload-input"].click();
    },
    handleClick(e) {
      debugger;
      const files = e.target.files;
      const rawFile = files[0]; // only use files[0]
      if (!rawFile) return;
      this.upload(rawFile);
    },
    upload(rawFile) {
      this.$refs["excel-upload-input"].value = null; // fix can't select the same excel
      if (!this.beforeUpload) {
        this.readerData(rawFile);
        return;
      }
      const before = this.beforeUpload(rawFile);
      if (before) {
        this.readerData(rawFile);
      }
    },

    readerData(rawFile) {
      this.loading = true;
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.onload = e => {
          const data = e.target.result;
          debugger;
          const workbook = XLSX.read(data, { type: "array" });
          const firstSheetName = workbook.SheetNames[0]; //model
          const secondSheetName = workbook.SheetNames[1]; //model specs data
          //find appropriate sheetname and create Object
          debugger;
          const worksheet = workbook.Sheets[firstSheetName];
          const attributes = this.getHeaderRow(worksheet);
          const attrData = XLSX.utils.sheet_to_json(worksheet);
          debugger;
          const worksheet1 = workbook.Sheets[secondSheetName];
          const attributes1 = this.getHeaderRow(worksheet1);
          const attrData1 = XLSX.utils.sheet_to_json(worksheet1);

          this.$store.dispatch("VTL/updateModelSpces", attrData);
          this.$store.dispatch("VTL/updateModelSpcesData", attrData1);

          this.loading = false;

          this.$router.push({
            name: "designModule"
          });
          resolve();
        };
        reader.readAsArrayBuffer(rawFile);
      });
    },
    getHeaderRow(sheet) {
      const headers = [];
      const range = XLSX.utils.decode_range(sheet["!ref"]);
      let C;
      const R = range.s.r;
      /* start in the first row */
      debugger;
      for (C = range.s.c; C <= range.e.c; ++C) {
        /* walk every column in the range */
        const cell = sheet[XLSX.utils.encode_cell({ c: C, r: R })];
        /* find the cell in the first row */
        let hdr = "UNKNOWN " + C; // <-- replace with your desired default
        if (cell && cell.t) hdr = XLSX.utils.format_cell(cell);
        headers.push(hdr);
      }
      return headers;
    },

    designModule() {
      this.$router.push({
        name: "designModule"
      });
    },
    trainingModule() {
      this.$router.push({
        name: "trainingModule"
      });
    }
  }
};
</script>
<style scoped>
.excel-upload-input {
  display: none;
  z-index: -9999;
}
.drop {
  border: 2px dashed #bbb;
  width: 600px;
  height: 150px;
  line-height: 160px;
  margin: 0 auto;
  font-size: 24px;
  border-radius: 5px;
  text-align: center;
  color: #bbb;
  position: relative;
}
</style>

