<template>
  <q-page padding>
    <nameHeader :disable="disable" style="margin-left:18px"></nameHeader>

    <div class="row q-ma-sm" style="padding-left:25px;">
      <div class="col-xs-12 col-sm-2 col-md-2">
        <q-item-label
          class="text-h5 q-mt-md q-pt-sm"
          style="font-family:Bower Semibold,Arial,sans-serif"
        >
          <strong>Control Variable</strong>
        </q-item-label>
      </div>
      <q-space />

      <div class="col-xs-12 col-sm-6 col-md-6 q-mt-sm float-right">
        <q-space />
        <excelReportCom
          :chartData="chartData"
          class="csdbbtn btnOutline1 shadow-3"
          style="margin-left:10rem"
        />
        <pptxCom :chartData="chartData" class="csdbbtn btnOutline1 shadow-3 q-ml-sm" />
        <csdbExcelreport :chartData="chartData" class="csdbbtn btnOutline1 shadow-3 q-ml-sm" />
      </div>
    </div>
    <div class="row q-ml-xs q-pt-sm col-container q-gutter-lg" style="display:inline-flex ">
      <div class="col-xs-12 col-sm-3 col-md-3">
        <div class="shadow-3" style="background-color:#ffffff; height:985px;">
          <div class="row q-pt-md q-pl-md q-mb-sm">
            <div class="col-xs-12 col-sm-5 col-md-5 q-pt-sm">
              <p class>PRIMARY VARIABLES</p>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7">
              <q-btn no-caps class="controlPgPrimbtn" label="Update Primary Inputs"></q-btn>
            </div>
          </div>

          <q-separator />
          <div class="q-gutter-xs q-pr-md q-pl-md q-pb-md q-ma-sm scroll" style="height:870px">
            <mfgCurCom
              v-if="primpartDataloaded"
              class="q-pb-md"
              :selMfgLocation="selMfgLocation"
              @updateMfgLocationId="updateSelctedProjectMfgLocation"
            />
            <partVariableCom
              v-if="primpartDataloaded"
              class="q-pb-md"
              :pagePrimPartData="pagePrimPartData"
              @updatePrimaryPartData="updatePrimaryPartData"
            />
            <template v-if="primpartDataloaded">
              <processPrimVarCom
                v-for="var1 in pageprimVdata"
                :var1="var1"
                :key="var1.verName"
                @updatePrimaryProcData="updatePrimaryProcData(pageprimVdata)"
              ></processPrimVarCom>
            </template>

            <q-btn
              square
              size="md"
              :label="`Manufacturing Profile :   ${selectedProfileName}`"
              @click="alert = true"
              class="q-mt-md q-pa-sm mfgProfile shadow-3"
            />
          </div>
        </div>

        <div class="shadow-3 q-mt-lg" style="background-color:#ffffff;height:216px ">
          <div class="row">
            <div class="col">
              <p class="q-ml-lg q-mt-md text-subtitle1">SECONDARY OPERATIONS</p>
            </div>
          </div>
          <q-separator />
          <div class="row q-pa-md" style>
            <q-btn
              v-if="mcOperation"
              square
              size="md"
              label="Add Machining Operation"
              style="margin:10px 15px 20px 10px"
              @click="secProcess = true"
              class="mfgProfile shadow-3 q-mt-lg"
            />
            <q-btn
              square
              size="md"
              label="Add Heat Treatment Operation"
              style="margin:0 15px 0 10px"
              @click="secHtProcess = true"
              class="q-mt-lg shadow-3 mfgProfile"
            />
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3">
        <div class="shadow-3" style="background-color:#ffffff;height:600px">
          <div class="row q-pa-sm">
            <p class="q-ml-lg q-mt-md">ADVANCED VARIABLES</p>
            <q-btn flat outlined icon="arrow_right_alt"></q-btn>
            <p class="q-ml-xs q-mt-md">RAW MATERIALS</p>
          </div>
          <q-separator />

          <div class="scroll q-ma-sm q-pl-sm q-mt-sm" style="height:450px">
            <!-- set raw material -->
            <template v-if="vaRawInputVa">
              <q-expansion-item
                v-for=" (rawInp,index) in vaRawInputVa"
                :rawInp="rawInp"
                :key="index"
                expand-separator
                :label="rawInp.cardTitle"
                default-opened
                header-class="bg-grey-1"
                expand-icon-toggle
              >
                <q-list class="q-gutter-sm">
                  <q-item
                    style="margin-bottom:-5px; width:300px"
                    v-for="RWparentAttri in rawInp.ProVar"
                    :key="RWparentAttri.pvsId"
                  >
                    <q-expansion-item
                      :header-inset-level="0"
                      :content-inset-level="1"
                      default-opened
                      expand-icon-toggle
                      :expand-icon="RWparentAttri.VarAttri.length > 0  ? '' :'show' "
                    >
                      <template v-slot:header v-if="!RWparentAttri.drop">
                        <!-- <q-decimal class="q-mb-md" label="decimal right aligned" outlined v-model="RWparentAttri.value" input-style="text-align: right"></q-decimal> -->
                        <q-input
                          square
                          outlined
                          v-model="RWparentAttri.value"
                          class="col-12"
                          type="number"
                          :label="RWparentAttri.varName"
                          :suffix="RWparentAttri.UOM"
                          :disable="RWparentAttri.varAdvInputKey==='0'"
                          @input="outPutValues(RWparentAttri.value,RWparentAttri.varName,RWparentAttri.pvsId,rawInp.varSeq,rawInp.varTypeId)"
                          lazy-rules
                          :rules="[ val => val && val.length > 0 || 'Please enter `${RWparentAttri.varName}`']"
                        />
                      </template>

                      <template v-slot:header v-else>
                        <q-select
                          square
                          outlined
                          :label="RWparentAttri.varName"
                          :suffix="RWparentAttri.UOM"
                          v-model="RWparentAttri.value"
                          :disable="RWparentAttri.varAdvInputKey==='0'"
                          @input="outPutValues(RWparentAttri.value,RWparentAttri.varName,RWparentAttri.pvsId,rawInp.varSeq,rawInp.varTypeId)"
                          :options="RWparentAttri.drop.objDropdown"
                        />
                      </template>

                      <q-card
                        class="q-mb-xs"
                        v-for="RwChildAttr in RWparentAttri.VarAttri"
                        :key="RwChildAttr.pvaId"
                      >
                        <template v-if="!RwChildAttr.attrValue2">
                          <q-input
                            square
                            outlined
                            v-model="RwChildAttr.attrValue"
                            style="margin: 0 0 0 0px; padding: 0 17px 0 0"
                            class="col-5 q-mt-xs"
                            type="number"
                            :label="RwChildAttr.attriName"
                            :suffix="RwChildAttr.attrUOM"
                            :disable="RwChildAttr.varAdvInputKey==='0'"
                            @input="outPutValues(RwChildAttr.attrValue,RwChildAttr.attriName,RWparentAttri.pvsId,rawInp.varSeq,rawInp.varTypeId)"
                            lazy-rules
                            :rules="[ val => val && val.length > 0 || 'Please enter `${RwChildAttr.attriName}`']"
                          />
                        </template>

                        <template v-else>
                          <q-select
                            class="col-12"
                            style="margin: 0 0 0 0px; padding:0 17px 0 0 ; width:250px"
                            square
                            outlined
                            :label="RwChildAttr.attriName"
                            :suffix="RwChildAttr.UOM"
                            v-model="RwChildAttr.attrValue"
                            :options="RwChildAttr.attrValue2.objDropdown"
                            :disable="RwChildAttr.varAdvInputKey==='0'"
                            @input="outPutValues(RwChildAttr.attrValue,RwChildAttr.attriName,RWparentAttri.pvsId,rawInp.varSeq,rawInp.varTypeId)"
                          />
                        </template>
                      </q-card>
                    </q-expansion-item>
                  </q-item>
                </q-list>
              </q-expansion-item>
            </template>
          </div>
        </div>

        <div class="q-mt-lg shadow-3" style="background-color:#ffffff;height:600px">
          <div class="row q-pa-sm">
            <p class="q-ml-lg q-mt-md">ADVANCED VARIABLES</p>
            <q-btn flat icon="arrow_right_alt"></q-btn>
            <p class="q-ml-xs q-mt-md">VA INPUTS</p>
          </div>
          <q-separator />

          <div class="scroll q-ma-sm q-pl-sm q-mt-sm" style="height:450px">
            <template v-if="vaInputVar">
              <q-expansion-item
                v-for=" (advInp,index) in vaInputVar"
                :var1="advInp"
                :key="index"
                expand-separator
                :label="`${advInp.cardTitle}`"
                default-opened
                header-class="bg-grey-1 text-left"
                expand-icon-toggle
              >
                <q-list class="q-ml-sm">
                  <q-item
                    style="margin-bottom: width:300px"
                    v-for="parentAttri in advInp.ProVar"
                    :key="parentAttri.pvsId"
                  >
                    <q-expansion-item
                      :expand-icon="parentAttri.VarAttri.length > 0  ? '' :'show' "
                      expand-icon-toggle
                      :header-inset-level="0"
                      :content-inset-level="1"
                    >
                      <template v-slot:header v-if="!parentAttri.drop">
                        <q-input
                          square
                          outlined
                          v-model="parentAttri.value"
                          class="col-12"
                          style="width:250px"
                          type="number"
                          :label="parentAttri.varName"
                          :suffix="parentAttri.UOM"
                          lazy-rules
                          :rules="[ val => val && val.length > 0 || 'Please enter `${parentAttri.varName}`']"
                          :disable="parentAttri.varAdvInputKey==='0'"
                          @input="outPutValues(parentAttri.value,parentAttri.varName,parentAttri.pvsId,advInp.varSeq,advInp.varTypeId)"
                        />
                      </template>
                      <template v-slot:header v-else>
                        <q-select
                          class="col-12"
                          style="width:250px"
                          square
                          outlined
                          :label="parentAttri.varName"
                          :suffix="parentAttri.UOM"
                          v-model="parentAttri.value"
                          :options="parentAttri.drop.objDropdown"
                          :disable="parentAttri.varAdvInputKey==='0'"
                          @input="outPutValues(parentAttri.value,parentAttri.varName,parentAttri.pvsId,advInp.varSeq,advInp.varTypeId)"
                        />
                      </template>

                      <q-card
                        class="q-mb-xs"
                        v-for="RwChildAttr in parentAttri.VarAttri"
                        :key="RwChildAttr.pvaId"
                      >
                        <template v-if="!RwChildAttr.attrValue2">
                          <q-input
                            square
                            outlined
                            v-model="RwChildAttr.attrValue"
                            style="width:300px; padding: 0 90px 0 0"
                            class="col-5"
                            type="number"
                            :label="RwChildAttr.attriName"
                            :suffix="RwChildAttr.attrUOM"
                            :disable="RwChildAttr.varAdvInputKey==='0'"
                            @input="outPutValues(RwChildAttr.attrValue,RwChildAttr.attriName,parentAttri.pvsId,advInp.varSeq,advInp.varTypeId)"
                            lazy-rules
                            :rules="[ val => val && val.length > 0 || 'Please enter `${RwChildAttr.attriName}`']"
                          />
                        </template>

                        <template v-else>
                          <q-select
                            class="col-12"
                            style="width:300px; padding: 0 90px 0 0"
                            square
                            outlined
                            :label="RwChildAttr.attriName"
                            :suffix="RwChildAttr.UOM"
                            v-model="RwChildAttr.attrValue"
                            :options="RwChildAttr.attrValue2.objDropdown"
                            :disable="RwChildAttr.varAdvInputKey==='0'"
                            @input="outPutValues(RwChildAttr.attrValue,RwChildAttr.attriName,parentAttri.pvsId,advInp.varSeq,advInp.varTypeId)"
                          />
                        </template>
                      </q-card>
                    </q-expansion-item>
                  </q-item>
                </q-list>
              </q-expansion-item>
            </template>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-5 col-md-5 shadow-3" style="background-color:#ffffff; ">
        <div class="row q-pa-sm">
          <p class="q-ml-lg q-mt-md">RACE COST OUTPUT</p>
        </div>
        <q-separator />

        <div class="q-px-sm">
          <plotlycom :chartData="chartData"></plotlycom>
        </div>

        <q-separator />
        <p class="text-center text-h6 q-pt-md bg-color-grey-4">RM and VA Breakup Analysis</p>

        <div class="q-pa-lg">
          <piechart :chartData="chartData"></piechart>
        </div>
      </div>
    </div>

    <q-dialog class="mycard" v-model="alert">
      <manufcaturingProfile @custMfg="alert=$event"></manufcaturingProfile>
    </q-dialog>

    <q-dialog class="mycard" v-model="secProcess">
      <secondaryOperation :secMaVaData="secMaVaData" @calculateVa="calculateVa" />
    </q-dialog>

    <q-dialog v-model="secHtProcess">
      <secondaryOperationHT :secHtData="secHtData" @calculateHtBOP="calculateHtBOP" />
    </q-dialog>

    <div class="row q-gutter-md q-pa-sm q-mt-xs">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <q-btn
          label="Save & Close"
          flat
          class="btnOutline btnCancel shadow-3 float-right"
          @click="updateProcessCostdata"
        />
      </div>
      <div class="col-xs-12 col-sm-5 col-md-5">
        <q-btn
          :loading="loading1"
          :percentage1="percentage1"
          class="btnsubmit btnFill shadow-3"
          @click="startComputing(1)"
        >
          Re-Calculate
          <template v-slot:loading>
            <q-spinner-hourglass class="on-left" />Recalculating...
          </template>
        </q-btn>
      </div>
    </div>
  </q-page>
</template>   
  
<script>
import axios from "axios";
import { mapGetters, mapActions } from "vuex";
import { EventBus } from "../event-bus";

export default {
  data() {
    return {
      secMaVaData: [],
      secHtData: [],
      secVaLabCyclTime: 0,
      userId: null,
      InputTypetext: true,
      OptionsParent: [],
      advInp: null,
      RWparentAttri: null,
      secHtProcess: null,
      parentAttri: null,
      vaInputVar: null,
      vaRawInputVa: null,
      pageprimVdata: null,
      pagePrimPartData: null,
      childAttri: null,
      chartData: {},
      childDataLoaded: false,
      primpartDataloaded: false,
      disable: true,
      arrayRecalculate: [],
      mcOperation: true,

      cardTitle: null,
      alert: false,
      secProcess: false,
      moh: 5,
      sga: 3,
      profit: 7,
      accept: false,
      maxHeight: null,
      tonnage: null,

      optionst: ["1", "10", "2", "3", "4"],

      file: null,
      shape0: "Standard",
      shape1: "Standard",
      shape2: "Standard",

      optionsProc: [],
      modelPrc: "",
      textAssemblyName: "",
      textPartName: "",
      loading1: false,
      percentage1: 0,
      secProcVa: 0,
      secProcHtBOP: 0,
      secOperationRecalc: false
    };
  },
  computed: {
    ...mapGetters("mfgstore1", ["selectedProfile"]),
    selectedProfileName() {
      return this.$store.getters["mfgstore1/selectedProfile"].mfgProfname;
    },
    selMfgLocation() {
      return this.$store.getters["processStore/getPartMfgLocation"];
    }
  },
  methods: {
    outPutValues(value, label, pvId, varSeq, varTypeId) {
      var self = this;

      if (varTypeId === "2") {
        var parentRowIndex = self.vaRawInputVa.findIndex(
          x => x.varSeq === varSeq
        );
        var temp = self.vaRawInputVa[parentRowIndex].ProVar;
        var attrRmParentVarNameIndex = temp.findIndex(
          obj => obj.varName === label
        );
        var attrRmParentIndex = temp.findIndex(obj => obj.pvsId === pvId);
        debugger;
        if (attrRmParentVarNameIndex > -1) {
          temp[attrRmParentVarNameIndex].value = value;
          self.$set(self.vaRawInputVa[parentRowIndex], 0, temp);
        } else {
          var attrVaChildtIndex = temp[attrRmParentIndex].VarAttri.findIndex(
            obj => obj.attriName === label
          );
          if (attrVaChildtIndex > -1) {
            temp[attrRmParentIndex].VarAttri[
              attrVaChildtIndex
            ].attrValue = value;
            self.$set(self.vaRawInputVa[parentRowIndex], 0, temp);
          } else {
            console.log("no match found ..error");
          }
        }
      } else if (varTypeId === "3") {
        var parentRowIndex = self.vaInputVar.findIndex(
          x => x.varSeq === varSeq
        );
        var temp2 = self.vaInputVar[parentRowIndex];
        var attrVaParentVarNameIndex = temp2.ProVar.findIndex(
          obj => obj.varName === label
        );
        var attrVaParentIndex = temp2.ProVar.findIndex(
          obj => obj.pvsId === pvId
        );
debugger;
        if (attrVaParentVarNameIndex > -1) {
          temp2.ProVar[attrVaParentVarNameIndex].value = value;
          self.$set(self.vaInputVar[parentRowIndex], 0, temp2);
        } else {
          var attrVaChildIndex = temp2.ProVar[attrVaParentIndex].VarAttri.findIndex(
            obj => obj.attriName === label
          );
          if (attrVaChildIndex > -1) {
            temp2.ProVar[attrVaParentIndex].VarAttri[
              attrVaChildIndex
            ].attrValue = value;
            self.$set(self.vaInputVar[parentRowIndex], 0, temp2);
          } else {
            console.log("no varname or attriname match found ..error");
          }
        }
      } else {
        console.log("no match varTypeId ..error");
      }

      //find inedx of object with same label.   //exist replace else push
      debugger;
      const advInObjndex = self.arrayRecalculate.findIndex(
        obj => Object.keys(obj)[0] === label
      );
      if (typeof value === "object") {
        var jsonObj = {
          [label]: value.value
        };
      } else {
        var jsonObj = {
          [label]: value
        };
      }
      if (advInObjndex >= 0) {
        self.arrayRecalculate[advInObjndex] = jsonObj;
      } else {
        self.arrayRecalculate.push(jsonObj);
      }
    },
    updatePrimaryPartData(partData) {
      this.$store.dispatch("processStore/updatePrimaryPartData", partData);
    },

    updatePrimaryProcData(proceVar) {
      this.$store.dispatch("processStore/updatePrimaryProcVar", proceVar);
    },

    updateSelctedProjectMfgLocation(mfgId) {
      this.$store.dispatch("processStore/updateSelctedPartMfgLocation", mfgId);
    },
    updateProcessCostdata() {
      //save to database
      //get advprocData
      debugger;
      let advProcData = JSON.stringify(
        this.$store.getters["processStore/getAdvProctData"]
      );
      debugger;
      //get  primary data
      let primProcData = JSON.stringify(
        this.$store.getters["processStore/getPrimVData"]
      );
      let BompartId = this.$store.getters["processStore/getSelectedBomPartId"];

      let Process = this.$store.getters["processStore/getSelectedProcId"];
      //get chart data
      let ChartDataArray = this.$store.getters["processStore/getProChartData"];

      let partProcCost = ChartDataArray[0].TotalCost;

      let ChartDataArrayStr = JSON.stringify(ChartDataArray);
      let secOpsData = {
        machineOps: this.secMaVaData,
        htOps: this.secHtData
      };

      let objSecondaryOperations = JSON.stringify(secOpsData);

      //let partProcId = this.$route.query.partProcId;
      let partProcId1 = Process.partProcId;

      debugger;
      let partCurId = this.$store.getters["processStore/selectedPartCurrency"]
        .value;
      let selMfgProfileId = this.$store.getters["mfgstore1/selectedProfile"]
        .mfgProfId;
      let partProcessMfgLocationId = this.$store.getters[
        "processStore/getPartMfgLocation"
      ].value;
      var self = this;

      axios({
        method: "post",
        url:
          "http://dotnetwebapi4.racex.in//WebForms/api/ProjectData/CreatePartProcess",

        data: {
          BOMPartId: BompartId, //dynamic
          ProcMastId: Process.value, //processId
          PrimVarjsonString: primProcData,
          SecondaryOpsjsonString: objSecondaryOperations,
          SecondaryVarjsonString: advProcData,
          ChartDatajsonString: ChartDataArrayStr,
          partProcCost: partProcCost,
          rmCost: ChartDataArray[0].rmCost,
          bopCost: ChartDataArray[0].bopCost,
          materialCost: ChartDataArray[0].MatlCost,
          vaMachinary: ChartDataArray[0].Machine,
          vaLabor: ChartDataArray[0].Labour,
          vaBatchSetup: ChartDataArray[0].BatchSETup,
          vaCost: ChartDataArray[0].VaCost,
          overHead: ChartDataArray[0].OhOther,
          profit: ChartDataArray[0].PF,
          totalCost: partProcCost,
          gap: ChartDataArray[0].Gap,
          presentCost: ChartDataArray[0].presntCost,
          userId: this.userId,
          partProcId: partProcId1,
          procMfgProfileId: selMfgProfileId,
          partProcCurCnvRateUSD: 70,
          partProcCurCnvQtrYear: 2019,
          partProcCurId: partCurId,
          procMfgLocationId: partProcessMfgLocationId
        }
      })
        .then(response => {
          let partProcId = response.data.PartProcess[0];
          //  to="/PartDetail"
          self.$router.push({
            name: "PartDetail",
            query: { partProcId: partProcId }
          });
          //partProcId
          //loadtable
          //
        })
        .catch(function(error) {
          console.log("Post Error : " + error);
        });
    },

    fetchProcData() {
      //manage edit process vs new processes
      debugger;

      let partProcId = this.$route.query.partProcId;
      debugger;
      let processId = this.$store.getters[
        "processStore/getSelectedProcId"
      ].value.toString();

      if (processId === "2") {
        debugger;
        this.mcOperation = false;
      }

      if (!partProcId || this.secOperationRecalc === true) {
        let processId = this.$store.getters["processStore/getSelectedProcId"]
          .value;

        let procMfgData = [];
        let ObjprocMfgData = {};
        procMfgData = this.$store.getters["mfgstore1/selectedProfileOHData"];
        debugger;
        let partVarData = {};
        partVarData = this.$store.getters["processStore/getPrimVPartData"];

        procMfgData.forEach(element => {
          element.name =
            element.name.trim() === "SG&amp;amp;A_R&amp;amp;D"
              ? "SG&A_R&D"
              : element.name;

          Object.assign(ObjprocMfgData, {
            [element.name.replace(/ /g, "_")]: element.value
          });
        });

        let mfgId = this.$store.getters["processStore/getPartMfgLocation"]
          .value;
        let curId = this.$store.getters["processStore/selectedPartCurrency"]
          .value;
        let partmatId = partVarData.mateGrade.value;

        this.pageprimVdata = this.$route.query.primVdata; //need to load from store

        let ObjProcVar = {};

        let priProcVarArray =
          this.pageprimVdata === undefined
            ? this.$store.getters["processStore/getPrimVData"].procPrimVarData
            : this.pageprimVdata;

        priProcVarArray.forEach(element => {
          Object.assign(ObjProcVar, {
            [element.varName.replace(/ /g, "_")]: element.value
          });
        });

        //create advinputs object
        debugger;
        let ObjadvIn = {};
        if (this.arrayRecalculate.length > 0) {
          this.arrayRecalculate.forEach(element => {
            Object.assign(ObjadvIn, {
              [Object.keys(element)[0]]: element[Object.keys(element)[0]]
            });
          });
        }
        let selMfgProfileId = this.$store.getters["mfgstore1/mfgProfiles"]
          .mfgProfId;
        var self = this;

        axios({
          method: "post",
          url:
            "http://dotnetwebapi4.racex.in//WebForms/api/ProcessData/ProcSecPriAttri?procId=" +
            processId +
            "&sectId=1&matId=" +
            partmatId,

          data: {
            ...ObjProcVar,
            ...partVarData,
            ...ObjprocMfgData,
            ...ObjadvIn,
            subMfgId: mfgId,
            subCurId: curId,
            procMfgProfileId: selMfgProfileId,
            ProcVer: 1,
            SecBOP: this.secProcHtBOP,
            SecVAMachine: this.secProcVa,
            SecVALabor: this.secVaLabCyclTime
          }
        })
          .then(response => {
            if (response.data.OutputMessage[0].Success === "1") {
              let advProcVar = JSON.parse(
                response.data.ProcadvAttri[0].Column1
              );
              debugger;
              self.$store.dispatch("processStore/updateAdvProcVar", advProcVar);

              let advVaArray = advProcVar.filter(function(i, ProVar) {
                return JSON.parse(i.varTypeId) == "3";
              });
              this.vaInputVar = advVaArray.sort((a, b) =>
                a.varSeq > b.varSeq ? 1 : -1
              );

              this.vaRawInputVa = advProcVar
                .filter(function(i, ProVar) {
                  return JSON.parse(i.varTypeId) == "2"; //RM;
                })
                .sort((a, b) => (a.varSeq < b.varSeq ? 1 : -1));

              this.chartData = response.data.ChartData[0];
              let storeChartData = response.data.ChartData;
              self.$store.dispatch(
                "processStore/updateProChartData",
                storeChartData
              );
              // this.childDataLoaded = true;
              this.pageprimVdata = this.$store.getters[
                "processStore/getPrimVData"
              ].procPrimVarData;
              this.primpartDataloaded = true;
              debugger;
              if (response.data.ChartData[0].badInput === true) {
                this.$q.notify({
                  color: "red-5",
                  textColor: "white",
                  icon: "fas fa-exclamation-triangle",
                  message: "Please Check Input and Try Again"
                });
              }
            } else {
              this.$q.notify({
                color: "red-5",
                textColor: "white",
                icon: "fas fa-exclamation-triangle",
                message:
                  "Please Check Input and Try Again ..Part Height must be lower than Billet Height.."
              });
            }
          })
          .catch(function(error) {
            console.log("Post Error : " + error);
          });
      } else {
        let partProcId = this.$route.query.partProcId;

        var self = this;
        axios
          .get(
            "http://dotnetwebapi4.racex.in//WebForms/api/ProjectData/GetPartProcEst?partProcId=" +
              partProcId
          )
          .then(function(response) {
            let primaryPartData = JSON.parse(
              response.data.tblLoadPartProcess[0].ProcPrimVar
            );
            // let secOpsData = JSON.parse(
            //   response.data.tblLoadPartProcess[0].ProcSecOps
            // );
            debugger;
            //dispatch to store,partData procPrimVarData
            let partData = primaryPartData.partData;
            debugger;

            let procPrimVarData = primaryPartData.procPrimVarData;
            let advProcVarDta = JSON.parse(
              response.data.tblLoadPartProcess[0].ProcAdvVar
            );
            //advProcVarDta = advProcVarDta.ProVar //direct
            //need to match
            self.$store.dispatch(
              "processStore/updateAdvProcVar",
              advProcVarDta
            );
            self.$store.dispatch(
              "processStore/updatePrimaryPartData",
              partData
            );
            //update partprocess mfgprofile
            //getList and set data mfgProfile
            let partProcMfgId =
              response.data.tblLoadPartProcess[0].ProcEstMfgId;

            let allMfgData = self.$store.getters["mfgstore1/mfgAllProfiles"];
            let mfgprofDataArray = Object.entries(allMfgData).map(x => x[1]);

            let selectedMfgProfileIndex = mfgprofDataArray
              .map((x, index) => {
                if (x.mfgProfId === partProcMfgId.toString()) return index;
              })
              .filter(x => x != undefined)[0];
            let selectedMfgProfile = mfgprofDataArray[selectedMfgProfileIndex];
            if (response.data.tblLoadPartProcess[0].ProcSecOps.length > 0) {
              self.secMaVaData = JSON.parse(
                response.data.tblLoadPartProcess[0].ProcSecOps
              ).machineOps;
              self.secHtData = JSON.parse(
                response.data.tblLoadPartProcess[0].ProcSecOps
              ).htOps;
            }
            self.$store.dispatch(
              "mfgstore1/updateShiftProfile",
              selectedMfgProfile
            );

            //update bomPartId
            self.$store.dispatch(
              "processStore/updatedSelectedBOMPartId",
              response.data.tblLoadPartProcess[0].bomProcPartId
            );

            self.$store.dispatch(
              "processStore/updatePrimaryProcVar",
              procPrimVarData
            );
            self.pageprimVdata = procPrimVarData;
            self.pagePrimPartData = partData;
            self.primpartDataloaded = true;

            self.vaInputVar = advProcVarDta
              .filter(function(i, ProVar) {
                //return JSON.parse(i.varTypeId) == "3";
                return i.varTypeId === "3";
              })
              .sort((a, b) => (a.varSeq > b.varSeq ? 1 : -1));
            self.vaRawInputVa = advProcVarDta
              .filter(function(i, ProVar) {
                // return JSON.parse(i.varTypeId) == "2";
                return i.varTypeId === "2"; //RM;
              })
              .sort((a, b) => (a.varSeq < b.varSeq ? 1 : -1));
            //  let ObjchartData = response.data.tblLoadPartProcess[0].ChartData
            //  const chartDataArray=[];
            //  chartDataArray.push(ObjchartData);

            self.chartData = JSON.parse(
              response.data.tblLoadPartProcess[0].ProcChartData
            )[0]; //object
            let storeChartData = JSON.parse(
              response.data.tblLoadPartProcess[0].ProcChartData
            ); //array
            self.$store.dispatch(
              "processStore/updateProChartData",
              storeChartData
            );
            ////update process store with part currency
            let partCurId = response.data.tblLoadPartProcess[0].ProcCurId;
            let partCurList = self.$store.getters["project/getCurrencyList"];
            let partCurObj = partCurList.filter(
              elem => elem.value == partCurId
            )[0];
            debugger;
            self.$store.dispatch(
              "processStore/updateSelctedPartCurrency",
              partCurObj
            );

            let projMfgProfileId =
              response.data.tblLoadPartProcess[0].ProcEstMfgId;

            let ProjMfgObjData =
              self.$store.getters["mfgstore1/mfgAllProfiles"][projMfgProfileId];

            self.$store.dispatch("mfgstore1/updateShiftProfile", {
              mfgProfId: ProjMfgObjData.mfgProfId,
              mfgProfname: ProjMfgObjData.mfgProfname
            });

            let partMfgLocationId =
              response.data.tblLoadPartProcess[0].ProcEstMfgLocationId;
            let mfgLocationList =
              self.$store.getters["project/getMfgLocationList"];

            let selPartMfgLocation = mfgLocationList.find(
              x => x.value === partMfgLocationId
            );
            self.$store.dispatch(
              "processStore/updateSelctedPartMfgLocation",
              selPartMfgLocation
            );

            debugger;
          })
          .catch(function(error) {
            console.log(error);
          });
      }
      // console.log('pageprimVdata',pageprimVdata)
    },

    startComputing(id) {
      var self = this;
      self[`loading${id}`] = true;
      self[`percentage${id}`] = 0;

      self[`interval${id}`] = setInterval(() => {
        self[`percentage${id}`] += Math.floor(Math.random() * 8 + 10);
        if (self[`percentage${id}`] >= 100) {
          clearInterval(this[`interval${id}`]);
          self[`loading${id}`] = false;
        }
      }, 300);
      //call recalculate
      //

      let processId = this.$store.getters["processStore/getSelectedProcId"]
        .value;
      let selMfgProfileId = this.$store.getters["mfgstore1/mfgProfiles"]
        .mfgProfId;
      debugger;
      let procMfgData = [];
      let ObjprocMfgData = {};
      procMfgData = this.$store.getters["mfgstore1/selectedProfileOHData"];
      let partVarData = {};
      partVarData = this.$store.getters["processStore/getPrimVPartData"];
      procMfgData.forEach(element => {
        //element.name==='SG&amp;amp;A_R&amp;amp;D' ? 'SG&A_R&D':element.name;
        Object.assign(ObjprocMfgData, {
          [element.name.replace(/ /g, "_")]: element.value
        });
      });

      let mfgId = this.$store.getters["processStore/getPartMfgLocation"].value;
      let curId = this.$store.getters["processStore/selectedPartCurrency"]
        .value; //partprocess curId
      let partmatId = partVarData.mateGrade.value;

      // this.pageprimVdata = this.$route.query.primVdata;

      let ObjProcVar = {};

      let priProcVarArray = this.pageprimVdata;

      priProcVarArray.forEach(element => {
        Object.assign(ObjProcVar, {
          [element.varName.replace(/ /g, "_")]: element.value
        });
      });

      //create advinputs object
      let ObjadvIn = {};
      if (this.arrayRecalculate.length > 0) {
        this.arrayRecalculate.forEach(element => {
          Object.assign(ObjadvIn, {
            [Object.keys(element)[0].replace(/ /g, "_")]: element[
              Object.keys(element)[0]
            ]
          });
        });
      }

      var self = this;
      axios({
        method: "post",
        url:
          "http://dotnetwebapi4.racex.in//WebForms/api/ProcessData/ProcSecPriAttri?procId=" +
          processId +
          "&sectId=1&matId=" +
          partmatId,

        data: {
          ...ObjProcVar,
          ...partVarData,
          ...ObjprocMfgData,
          ...ObjadvIn,
          subMfgId: mfgId,
          subCurId: curId,
          procMfgProfileId: selMfgProfileId,
          ProcVer: 1,
          SecBOP: this.secProcHtBOP,
          SecVAMachine: this.secProcVa,
          SecVALabor: this.secVaLabCyclTime
        }
      })
        .then(response => {
          //need match
          let advProcVar = JSON.parse(response.data.ProcadvAttri[0].Column1);
          debugger;
          self.$store.dispatch("processStore/updateAdvProcVar", advProcVar);

          this.vaInputVar = advProcVar
            .filter(function(i, ProVar) {
              return JSON.parse(i.varTypeId) == "3";
            })
            .sort((a, b) => (a.varSeq > b.varSeq ? 1 : -1));

          this.vaRawInputVa = advProcVar
            .filter(function(i, ProVar) {
              return JSON.parse(i.varTypeId) == "2"; //RM;
            })
            .sort((a, b) => (a.varSeq < b.varSeq ? 1 : -1));

          this.chartData = response.data.ChartData[0];
          let storeChartData = response.data.ChartData;
          self.$store.dispatch(
            "processStore/updateProChartData",
            storeChartData
          );
          // this.childDataLoaded = true;
          this.primpartDataloaded = true;

          if (response.data.ChartData[0].badInput === true) {
            this.$q.notify({
              color: "red-5",
              textColor: "white",
              icon: "fas fa-exclamation-triangle",
              message: "Please Check Input and Try Again"
            });
          }
        })
        .catch(function(error) {
          console.log("Post Error : " + error);
        });

      ///
    },
    onSubmit() {
      if (this.accept !== true) {
        this.$q.notify({
          color: "red-5",
          textColor: "white",
          icon: "fas fa-exclamation-triangle",
          message: "You need to accept the license and terms first"
        });
      } else {
        this.$q.notify({
          color: "green-4",
          textColor: "white",
          icon: "fas fa-check-circle",
          message: "Submitted"
        });
      }
    },

    onReset() {
      this.name = null;
      this.password = null;
      this.accept = false;
    },
    calculateVa(secVa) {
      debugger;
      console.log("Sec Operation", secVa);
      this.secProcVa = secVa[0];
      this.secMaVaData = secVa[1];
      this.secVaLabCyclTime = secVa[2];
      this.secOperationRecalc = true;
      this.fetchProcData();
    },
    calculateHtBOP(secHtBOP) {
      debugger;
      console.log("Sec Operation", secHtBOP);
      this.secProcHtBOP = secHtBOP[0];
      this.secOperationRecalc = true;
      this.secHtData = secHtBOP[1];
      this.fetchProcData();
    }
  },
  components: {
    waterfallchart: require("components/chartWaterfall.js").default,
    nameHeader: require("components/Variables/common/nameHeader.vue").default,
    piechart: require("components/plotly pieChart.vue").default,
    manufcaturingProfile: require("components/manufacturingPofile.vue").default,
    mfgCurCom: require("components/Variables/primary/mfgCurCom.vue").default,
    partVariableCom: require("components/Variables/primary/partVariableCom.vue")
      .default,
    processPrimVarCom: require("components/Variables/primary/processPrimVarCom.vue")
      .default,
    secondaryOperation: require("components/secondaryProcess/secondaryOperations.vue")
      .default,
    secondaryOperationHT: require("components/secondaryProcess/secondaryOperationsHT.vue")
      .default,
    plotlycom: require("components/plotly.vue").default,
    pptxCom: require("components/pptxCom.vue").default,
    excelReportCom: require("components/excelReportCom.vue").default,
    csdbExcelreport: require("components/csdbExcelReport.vue").default
  },

  mounted() {
    // Fetch Data

    this.pagePrimPartData = this.$store.getters[
      "processStore/getPrimVPartData"
    ];
    this.userId = this.$store.getters["appStateStore/getUserId"];
    this.fetchProcData();

    EventBus.$emit("controlPageBreadCrum", true);
    EventBus.$emit("headerActive", "Part Detail");
    EventBus.$emit("headerName", "Part Detail");

    this.textPartName = this.$store.getters["project/getBomRowPartname"](0);
    this.textAssemblyName = this.$store.getters[
      "project/getSelProjAssemblyNumber"
    ];
  },
  beforeDestroy() {
    clearInterval(this.interval1);
    EventBus.$emit("controlPageBreadCrum", false);
  }
};
</script>


<style lang="css" >
.col-container {
  display: table;
  width: 100%;
}
.btnOutline1:hover {
  background-color: #1f40e6;
  color: #ffffff;
  border-radius: 0;
  font-family: TheinhardtPan-Medium;
}
.btnOutline1 {
  color: #1f40e6;
  background-color: white;
  width: 165px;
  height: 52px;
  border: 1px solid #1f40e6;
  border-radius: 0;
  font-family: TheinhardtPan-Medium;
}
@media only screen and (max-width: 580px) {
  .primbtn {
    width: 100%;
  }
  .btnSubmit {
    width: 100%;
  }
  .btnCancel {
    width: 100%;
  }
  .exlbtn {
    width: 100%;
    margin-right: 0px;
  }
  .csdbbtn {
    width: 100%;
  }
}
</style>

    <!-- =   ${JSON.parse(rawInp.ProVar).cardValue === '' ? '':parseFloat(JSON.parse(rawInp.ProVar).cardValue).toFixed(2) } ${JSON.parse(rawInp.ProVar).cardValUOM} 
     =  ${JSON.parse(advInp.ProVar).cardValue ==='' ? '':parseInt(JSON.parse(advInp.ProVar).cardValue) } ${JSON.parse(advInp.ProVar).cardValUOM} `"
     -->
