

<template>
  <div class="row q-pt-lg">
    <div class="col-2 q-ml-xs q-pa-md q-gutter-lg">
      <q-select
        standout
        v-model="partLevels"
        :options="optionsLvl"
        @input="setLvlChart"
        label="Part Level"
        color="primary"
      />
      <q-select
        standout
        v-model="partCounts"
        :options="optionsPartCounts"
        @input="setLvlChart"
        label="Part Counts"
        color="primary"
      />
    </div>

    <div id="myplot" class="col-8">
      <Plotly
        class="q-mt-md"
        :data="data"
        :layout="layout"
        :display-mode-bar="false"
        :watchShallow="true"
        :autoResize="true"
        @click="drillDown"
      ></Plotly>
      <div class="row q-mt-md">
        <q-space />
        <q-btn v-if="level" @click="drillUp" class="btnRaceBlueStatic">Back</q-btn>
        <q-space />
      </div>
    </div>

    <div class="col-1">
      <div class="q-mt-xl q-pa-md">
        <q-list class="q-ml-xl">
          <q-item
            v-for="(part,index) in partNames"
            @click="part.index=!part.index"
            @click.native="filterchart()"
            :key="index"
            style="width:80% "
            class="text-h6"
            clickable
            v-ripple
          >
            <q-item-section avatar>
              <q-checkbox
                v-model="part.index"
                color="primary"
                @click.native="filterchart()"
                @click="part.index=!part.index"
              />
            </q-item-section>

            <q-item-section>
              <q-item-label>{{part.label}}</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
        <!-- <q-option-group
          class="text-h6"
          :options="optionsRmTypes"
          label="TYPES"
          type="checkbox"
          v-model="rmTypegroup"
         
        />-->
        {{rmTypegroup}}
      </div>
    </div>
  </div>
</template>



<script>
import axios from "axios";
import { EventBus } from "../event-bus";
import { Plotly } from "vue-plotly";
import loadash from "lodash";

var fakeData = [];
var ParentLevl = 1;
var chartData = fakeData.sort((a, b) => (a.raceCost < b.raceCost ? 1 : -1));
var xdata = chartData.filter(x => x.level === 1).map(x => x.name);
var ydata = chartData.filter(x => x.level === 1).map(x => x.raceCost);

var ydataTotal = ydata.reduce((a, b) => a + b, 0);
var yTotalCount = ydata.length;
let y1 = 0;
var ydataLine = ydata.map(x => _.round((y1 += x * 100) / ydataTotal, 2));

var trace1 = {
  x: xdata,
  y: ydata,
  name: `Parts`,
  type: "bar",
  customdata: [`${ParentLevl}`]
};

var trace2 = {
  x: xdata,
  y: ydataLine,
  name: "ParatoLine",
  yaxis: "y2",
  type: "line"
};

var data = [trace1, trace2];

var layout = {
  title: "Parato Chart",
  yaxis: { title: "Race Cost" },
  xaxis: { title: "Parts" },
  hovermode: "closest",
  showlegend: false,
  yaxis2: {
    title: "Parato",
    titlefont: { color: "rgb(148, 103, 189)" },
    tickfont: { color: "rgb(148, 103, 189)" },
    overlaying: "y",
    side: "right"
  }
};

export default {
  components: {
    Plotly
    // drilldown
  },
  data() {
    return {
      // maxlevel:null,
      paratodata: [],
      Lvl1Data: [],
      lvl2Data: [],
      lvl3Data: [],
      lvl4Data: [],
      lvl5Data: [],
      lvl6Data: [],

      xLvl1Data: [],
      xLvl2Data: [],
      xLvl3Data: [],
      xLvl4Data: [],
      xLvl5Data: [],
      xLvl6Data: [],

      yLvl1data: [],
      yLvl2data: [],
      yLvl3data: [],
      yLvl4data: [],
      yLvl5data: [],
      yLvl6data: [],
      Level1: [],
      Level2: [],
      Level3: [],
      Level4: [],
      Level5: [],
      Level6: [],
      level: [],
      lvl1total: [],
      lvl2total: [],
      lvl3total: [],
      lvl4total: [],
      lvl5total: [],

      data: data,
      layout: layout,
      item: [],
      level: false,
      currentLevel: "",
      partCounts: "All",
      optionsPartCounts: ["All", "Top 10"],
      OriParatoChartData: [],
      newChartData: [],
      chartDataLvl1: [],
      chartDataLvl2: [],
      chartDataLvl3: [],
      chartDataLvl4: [],
      chartDataLvl5: [],
      rmTypegroup: [],
      partNames: [
        { label: "RM", value: "RM", index: true },
        { label: "BOP", value: "BOP", index: true },
        { label: "Assy", value: "Assy", index: true }
      ],
      partLevels: "Select level  ",
      optionsLvl: []
      // optionsLvl1: [
      //   "Level-1",
      //   "Level-2",
      //   "Level-3",
      //   "Level-4",
      //   "Level-5",
      //   "Level-6"
      // ]
    };
  },
  methods: {
    setlevel1(filterPartCounts) {
      debugger;
      this.Lvl1Data = _.cloneDeep(this.paratodata);

      this.Lvl1Data.slice(0, filterPartCounts);
      this.Lvl1Data.forEach(x => {
        if (x.children.length > 0) {
          x.totalCost = _.round(
            x.totalCost +
              (x.children.map(y => y.totalCost)[0] +
                x.children[0].children.map(a => a.totalCost)[0])
          );
        } else {
          x.totalCost = _.round(x.totalCost);
        }
      });
      this.Lvl1Data.sort((a, b) => (a.totalCost < b.totalCost ? 1 : -1));
      this.xLvl1Data = this.Lvl1Data.filter(x => x.partLevel === 1).map(
        x => x.partName
      );
      this.yLvl1data = this.Lvl1Data.filter(x => x.partLevel === 1).map(
        x => x.totalCost
      );
      this.Level1 = this.Lvl1Data.filter(x => x.partLevel === 1).map(
        (x, index) => `${x.partLevel}_${x.partId}`
      );
    },
    setlevel2(filterPartCounts) {
      debugger;
      this.lvl2Data = _.cloneDeep(this.paratodata);
      this.lvl2Data = this.Lvl1Data.map(x => x.children).flat();

      this.lvl2Data.forEach(
        x =>
          (x.totalCost = _.round(
            x.totalCost +
              _.sum(
                x.children.forEach(
                  c =>
                    (c.totalCost =
                      c.totalCost +
                      _.sum(
                        c.children.forEach(
                          d =>
                            (d.totalCost =
                              d.totalCost +
                              _.sum(
                                d.children.forEach(
                                  e =>
                                    (e.totalCost =
                                      e.totalCost +
                                      _.sum(e.children.map(f => f.totalCost)))
                                )
                              ))
                        )
                      ))
                )
              )
          ))
      );
      let newlevel2data = [...this.Lvl1Data, ...this.lvl2Data];
      newlevel2data.sort((a, b) => (a.totalCost < b.totalCost ? 1 : -1));
      this.xLvl2Data = newlevel2data.map(x => x.partName);
      this.yLvl2data = newlevel2data.map(x => x.totalCost);
      this.Level2 = newlevel2data.map(
        (x, index) => `${x.partLevel}_${x.partId}`
      );
    },
    setlevel3(filterPartCounts) {
      debugger;
      this.lvl3Data = _.cloneDeep(this.paratodata);
      this.lvl3Data = this.lvl2Data.map(x => x.children).flat();

      this.lvl3Data.forEach(
        x =>
          (x.totalCost = _.round(
            x.totalCost +
              _.sum(
                x.children.forEach(
                  d =>
                    (d.totalCost =
                      d.totalCost +
                      _.sum(
                        d.children.forEach(
                          e =>
                            (e.totalCost =
                              e.totalCost +
                              _.sum(e.children.map(f => f.totalCost)))
                        )
                      ))
                )
              )
          ))
      );

      let newlevel3data = [
        ...this.Lvl1Data,
        ...this.lvl2Data,
        ...this.lvl3Data
      ];
      newlevel3data.sort((a, b) => (a.totalCost < b.totalCost ? 1 : -1));
      this.xLvl3Data = newlevel3data.map(x => x.partName);
      this.yLvl3data = newlevel3data.map(x => x.totalCost);
      this.Level3 = newlevel3data.map(
        (x, index) => `${x.partLevel}_${x.partId}`
      );
    },
    setlevel4(filterPartCounts) {
      debugger;
      this.lvl4Data = _.cloneDeep(this.paratodata);
      this.lvl4Data = this.lvl3Data.map(x => x.children).flat();

      this.lvl4Data.forEach(
        x =>
          (x.totalCost = _.round(
            x.totalCost +
              _.sum(
                x.children.forEach(
                  e =>
                    (e.totalCost =
                      e.totalCost + _.sum(e.children.map(f => f.totalCost)))
                )
              )
          ))
      );

      let newlevel4data = [
        ...this.Lvl1Data,
        ...this.lvl2Data,
        ...this.lvl3Data,
        ...this.lvl4Data
      ];
      newlevel4data.sort((a, b) => (a.totalCost < b.totalCost ? 1 : -1));
      this.xLvl4Data = newlevel4data.map(x => x.partName);
      this.yLvl4data = newlevel4data.map(x => x.totalCost);
      this.Level4 = newlevel4data.map(
        (x, index) => `${x.partLevel}_${x.partId}`
      );
    },
    setlevel5(filterPartCounts) {
      debugger;
      this.lvl5Data = _.cloneDeep(this.paratodata);
      this.lvl5Data = this.lvl4Data.map(x => x.children).flat();

      this.lvl5Data.forEach(
        x =>
          (x.totalCost = _.round(
            x.totalCost + _.sum(x.children.map(f => f.totalCost))
          ))
      );

      let newlevel5data = [
        ...this.Lvl1Data,
        ...this.lvl2Data,
        ...this.lvl3Data,
        ...this.lvl4Data,
        ...this.lvl5Data
      ];
      newlevel5data.sort((a, b) => (a.totalCost < b.totalCost ? 1 : -1));
      this.xLvl5Data = newlevel5data.map(x => x.partName);
      this.yLvl5data = newlevel5data.map(x => x.totalCost);
      this.Level5 = newlevel5data.map(
        (x, index) => `${x.partLevel}_${x.partId}`
      );
    },
    setlevel6(filterPartCounts) {
      debugger;
      this.lvl6Data = _.cloneDeep(this.paratodata);
      this.lvl6Data = this.lvl5Data.map(x => x.children).flat();
      if (this.lvl6Data.length > 0) {
        this.lvl6Data.forEach(
          x =>
            (x.totalCost = _.round(
              x.totalCost + _.sum(x.children.map(y => y.totalCost))
            ))
        );
      } else if (this.lvl6Data[0].length === 0) {
        this.lvl6Data = [];
      }

      let newlevel6data = [
        ...this.Lvl1Data,
        ...this.lvl2Data,
        ...this.lvl3Data,
        ...this.lvl4Data,
        ...this.lvl5Data,
        ...this.lvl6Data
      ];
      newlevel6data.sort((a, b) => (a.totalCost < b.totalCost ? 1 : -1));
      this.xLvl6Data = newlevel6data.map(x => x.partName);
      this.yLvl6data = newlevel6data.map(x => x.totalCost);
      this.Level6 = newlevel6data.map(
        (x, index) => `${x.partLevel}_${x.partId}`
      );
    },
    filterchart(val) {
      debugger;
      let selcProcess = this.partNames
        .filter(x => x.index === true)
        .map(x => x.label);
      let index1data = [];
      let index2data = [];
      let index3data = [];

      if (selcProcess.length === 1) {
        index1data = this.OriParatoChartData.filter(
          x => x.partRMType === selcProcess[0]
        );
      } else if (selcProcess.length === 2) {
        index1data = this.OriParatoChartData.filter(
          x => x.partRMType === selcProcess[0]
        );
        index2data = this.OriParatoChartData.filter(
          x => x.partRMType === selcProcess[1]
        );
      } else if (selcProcess.length === 3) {
        index1data = this.OriParatoChartData.filter(
          x => x.partRMType === selcProcess[0]
        );
        index2data = this.OriParatoChartData.filter(
          x => x.partRMType === selcProcess[1]
        );
        index3data = this.OriParatoChartData.filter(
          x => x.partRMType === selcProcess[2]
        );
      } else {
        this.$q.notify({
          color: "red-5",
          textColor: "white",
          icon: "fas fa-exclamation-triangle",
          message: "You need to select atleast 1 part type "
        });
      }
      this.paratodata = [...index1data, ...index2data, ...index3data];

      this.setLvlChart();
      //  let rmdata=this.OriParatoChartData.filter(x=>x.partRMType===selcProcess[0])
    },
    setLvlChart() {
      debugger;
      this.Lvl1Data = [];
      this.lvl2Data = [];
      this.lvl3Data = [];
      this.lvl4Data = [];
      this.lvl5Data = [];
      this.lvl6Data = [];
      this.xLvl1Data = [];
      this.xLvl2Data = [];
      this.xLvl3Data = [];
      this.xLvl4Data = [];
      this.xLvl5Data = [];
      this.xLvl6Data = [];
      this.yLvl1Data = [];
      this.yLvl2Data = [];
      this.yLvl3Data = [];
      this.yLvl4Data = [];
      this.yLvl5Data = [];
      this.yLvl6Data = [];
      var partLevels = this.partLevels;
      var filterPartCounts = "";
      this.paratodata =
        this.paratodata.length === 0
          ? this.OriParatoChartData
          : this.paratodata;

      if (partLevels === "Level-1") {
        if (this.partCounts === "All") {
          filterPartCounts = this.paratodata.length + 1;
        } else {
          filterPartCounts = 10;
        }
        this.setlevel1(filterPartCounts);
        this.Level = this.Level1;
        var xdata2 = this.xLvl1Data;
        var ydata2 = this.yLvl1data;

        var ydataTotal2 = this.yLvl1data.reduce((a, b) => a + b, 0);
        let y2 = 0;
        var ydataLine2 = this.yLvl1data.map(x =>
          _.round((y2 += x * 100) / ydataTotal2, 2)
        );
      } else if (partLevels === "Level-2") {
        if (this.partCounts === "All") {
          filterPartCounts = this.paratodata.length + 1;
        } else {
          filterPartCounts = 10;
        }

        this.paratodata.sort((a, b) => (a.totalCost < b.totalCost ? 1 : -1));
        this.setlevel1(filterPartCounts);
        if (this.Lvl1Data.length !== 0) {
          this.setlevel2(filterPartCounts);
        } else {
          this.setlevel2(filterPartCounts);
        }
        this.$q.notify({
          color: "green-5",
          textColor: "white",
          classes: "text-center",

          icon: "fas fa-exclamation-triangle",
          message: "there is no level2 data"
        });

        this.level = this.Level2;
        var xdata2 = this.xLvl2Data;
        var ydata2 = this.yLvl2data;

        if (this.partCounts === "Top 10") {
          this.level = this.level.slice(0, filterPartCounts);
          xdata2 = xdata2.slice(0, filterPartCounts);
          ydata2 = ydata2.slice(0, filterPartCounts);
        }

        var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);
        let y2 = 0;
        var ydataLine2 = ydata2.map(x =>
          _.round((y2 += x * 100) / ydataTotal2, 2)
        );
      } else if (partLevels === "Level-3") {
        if (this.partCounts === "Top 10") {
          this.paratodata.sort((a, b) => (a.totalCost < b.totalCost ? 1 : -1));
          filterPartCounts = 10;
        } else {
          filterPartCounts = this.paratodata.length + 1;
        }

        this.paratodata.sort((a, b) => (a.totalCost < b.totalCost ? 1 : -1));
        this.setlevel1(filterPartCounts);
        if (this.Lvl1Data.length !== 0) {
          this.setlevel2(filterPartCounts);
          this.lvl2Data;

          if (this.lvl2Data.length !== 0) {
            this.setlevel3(filterPartCounts);
          } else
            this.$q.notify({
              color: "red-5",
              textColor: "white",
              classes: "text-center",

              icon: "fas fa-exclamation-triangle",
              message: "there is no level3 data"
            });
        }

        this.level = this.Level3;
        var xdata2 = this.xLvl3Data;
        var ydata2 = this.yLvl3data;

        if (this.partCounts === "Top 10") {
          this.level = this.level.slice(0, filterPartCounts);
          xdata2 = xdata2.slice(0, filterPartCounts);
          ydata2 = ydata2.slice(0, filterPartCounts);
        }

        var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);
        let y2 = 0;
        var ydataLine2 = ydata2.map(x =>
          _.round((y2 += x * 100) / ydataTotal2, 2)
        );
      } else if (partLevels === "Level-4") {
        if (this.partCounts === "All") {
          filterPartCounts = this.paratodata.length + 1;
        } else {
          filterPartCounts = 10;
        }

        this.paratodata.sort((a, b) => (a.totalCost < b.totalCost ? 1 : -1));
        this.setlevel1(filterPartCounts);
        if (this.Lvl1Data.length !== 0) {
          this.setlevel2(filterPartCounts);
          if (this.lvl2Data.length !== 0) {
            this.setlevel3(filterPartCounts);
            if (this.lvl3Data.length !== 0) {
              this.setlevel4(filterPartCounts);
            } else
              this.$q.notify({
                color: "red-5",
                textColor: "white",
                classes: "text-center",

                icon: "fas fa-exclamation-triangle",
                message: "there is no level4 data"
              });
          }
        }

        this.level = this.Level4;
        var xdata2 = this.xLvl4Data;
        var ydata2 = this.yLvl4data;

        if (this.partCounts === "Top 10") {
          this.level = this.level.slice(0, filterPartCounts);
          xdata2 = xdata2.slice(0, filterPartCounts);
          ydata2 = ydata2.slice(0, filterPartCounts);
        }

        var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);
        let y2 = 0;
        var ydataLine2 = ydata2.map(x =>
          _.round((y2 += x * 100) / ydataTotal2, 2)
        );
      } else if (partLevels === "Level-5") {
        if (this.partCounts === "All") {
          filterPartCounts = this.paratodata.length + 1;
        } else {
          filterPartCounts = 10;
        }

        this.paratodata.sort((a, b) => (a.totalCost < b.totalCost ? 1 : -1));
        this.setlevel1(filterPartCounts);

        if (this.Lvl1Data.length !== 0) {
          this.setlevel2(filterPartCounts);
          if (this.lvl2Data.length !== 0) {
            this.setlevel3(filterPartCounts);
            if (this.lvl3Data.length !== 0) {
              this.setlevel4(filterPartCounts);
              if (this.lvl4Data.length !== 0) {
                this.setlevel5(filterPartCounts);
              } else
                this.$q.notify({
                  color: "red-5",
                  textColor: "white",
                  classes: "text-center",

                  icon: "fas fa-exclamation-triangle",
                  message: "there is no level5 data"
                });
            }
          }
        }

        this.level = this.Level5;
        var xdata2 = this.xLvl5Data;
        var ydata2 = this.yLvl5data;

        if (this.partCounts === "Top 10") {
          this.level = this.level.slice(0, filterPartCounts);
          xdata2 = xdata2.slice(0, filterPartCounts);
          ydata2 = ydata2.slice(0, filterPartCounts);
        }

        var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);
        let y2 = 0;
        var ydataLine2 = ydata2.map(x =>
          _.round((y2 += x * 100) / ydataTotal2, 2)
        );
      } else if (partLevels === "Level-6") {
        if (this.partCounts === "All") {
          filterPartCounts = this.paratodata.length + 1;
        } else {
          filterPartCounts = 10;
        }

        this.paratodata.sort((a, b) => (a.totalCost < b.totalCost ? 1 : -1));
        this.setlevel1(filterPartCounts);
        if (this.Lvl1Data.length !== 0) {
          this.setlevel2(filterPartCounts);
          if (this.lvl2Data.length !== 0) {
            this.setlevel3(filterPartCounts);
            if (this.lvl3Data.length !== 0) {
              this.setlevel4(filterPartCounts);
              if (this.lvl4Data.length !== 0) {
                this.setlevel5(filterPartCounts);
                if (this.lvl5Data.length !== 0) {
                  this.setlevel6(filterPartCounts);
                } else {
                  this.$q.notify({
                    color: "red-5",
                    textColor: "white",
                    classes: "text-center",

                    icon: "fas fa-exclamation-triangle",
                    message: "there is no level 6 data"
                  });
                }
              }
            }
          }
        }

        this.level = this.Level6;
        var xdata2 = this.xLvl6Data;
        var ydata2 = this.yLvl6data;

        if (this.partCounts === "Top 10") {
          this.level = this.level.slice(0, filterPartCounts);
          xdata2 = xdata2.slice(0, filterPartCounts);
          ydata2 = ydata2.slice(0, filterPartCounts);
        }

        var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);
        let y2 = 0;
        var ydataLine2 = ydata2.map(x =>
          _.round((y2 += x * 100) / ydataTotal2, 2)
        );
      } else {
        this.$q.notify({
          color: "red-5",
          textColor: "white",
          classes: "text-center",

          icon: "fas fa-exclamation-triangle",
          message: "select the level first"
        });
      }

      let drill1 = {
        x: xdata2,
        y: ydata2,
        customdata: this.Level,
        type: "bar"
      };
      let drill1line = {
        x: xdata2,
        y: ydataLine2,
        name: "Race Cost",
        yaxis: "y2",

        type: "line",
        autorange: false,
        range: [0, 100]
      };

      var layout1 = {
        title: `Parato Chart Part ${partLevels}`,
        yaxis: { title: "Race Cost" },
        xaxis: { title: "Parts" },
        hovermode: "closest",
        showlegend: false,
        paper_bgcolor: "rgba(245,246,249,1)",
        plot_bgcolor: "rgba(245,246,249,1)",
        yaxis2: {
          title: "Parato",
          titlefont: { color: "rgb(148, 103, 189)" },
          tickfont: { color: "rgb(148, 103, 189)" },
          overlaying: "y",
          side: "right",
          autorange: false,
          range: [0, 100]
        },
        responsive: true
      };
      this.$set(this.data, 0, drill1);
      this.$set(this.data, 1, drill1line);
      this.layout = layout1;
    },
    drillUp() {
      7;
      console.log("curLevel", this.currentLevel);
      debugger;
      this.currentLevel = this.currentLevel - 1;
      let parentlvl = this.currentLevel + 1;
      if (this.currentLevel === 0) {
        var xdata2 = this.newChartData
          .filter(x => x.partLevel === 1)
          .map(x => x.partName);
        var ydata2 = this.newChartData
          .filter(x => x.partLevel === 1)
          .map(x => x.totalCost);
        var Level2 = this.newChartData
          .filter(x => x.partLevel === 1)
          .map((x, index) => `${x.partLevel}_${x.partId}`);
        var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);
        let y2 = 0;
        var ydataLine2 = ydata2.map(x =>
          _.round((y2 += x * 100) / ydataTotal2, 2)
        );

        this.level = false;
      } else if (this.currentLevel === 1) {
        this.chartDataLvl1.sort((a, b) => (a.totalCost < b.totalCost ? 1 : -1));
        var xdata2 = this.chartDataLvl1
          .filter(x => x.partLevel === 2)
          .map(x => x.partName);
        var ydata2 = this.chartDataLvl1
          .filter(x => x.partLevel === 2)
          .map(x => x.totalCost);
        var Level2 = this.chartDataLvl1
          .filter(x => x.partLevel === 2)
          .map((x, index) => `${x.partLevel}_${x.partId}`);
        var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);
        let y2 = 0;
        var ydataLine2 = ydata2.map(x =>
          _.round((y2 += x * 100) / ydataTotal2, 2)
        );
      } else if (this.currentLevel === 2) {
        var xdata2 = this.chartDataLvl2
          .filter(x => x.partLevel === 3)
          .map(x => x.partName);
        var ydata2 = this.chartDataLvl2
          .filter(x => x.partLevel === 3)
          .map(x => x.totalCost);
        var Level2 = this.chartDataLvl2
          .filter(x => x.partLevel === 3)
          .map((x, index) => `${x.partLevel}_${x.partId}`);
        var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);
        let y2 = 0;
        var ydataLine2 = ydata2.map(x =>
          _.round((y2 += x * 100) / ydataTotal2, 2)
        );
      } else if (this.currentLevel === 3) {
        var xdata2 = this.chartDataLvl3
          .filter(x => x.partLevel === 4)
          .map(x => x.partName);
        var ydata2 = this.chartDataLvl3
          .filter(x => x.partLevel === 4)
          .map(x => x.totalCost);
        var Level2 = this.chartDataLvl3
          .filter(x => x.partLevel === 4)
          .map((x, index) => `${x.partLevel}_${x.partId}`);
        var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);
        let y2 = 0;
        var ydataLine2 = ydata2.map(x =>
          _.round((y2 += x * 100) / ydataTotal2, 2)
        );
      } else if (this.currentLevel === 4) {
        var xdata2 = this.chartDataLvl4
          .filter(x => x.partLevel === 5)
          .map(x => x.partName);
        var ydata2 = this.chartDataLvl4
          .filter(x => x.partLevel === 5)
          .map(x => x.totalCost);
        var Level2 = this.chartDataLvl4
          .filter(x => x.partLevel === 5)
          .map((x, index) => `${x.partLevel}_${x.partId}`);
        var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);
        let y2 = 0;
        var ydataLine2 = ydata2.map(x =>
          _.round((y2 += x * 100) / ydataTotal2, 2)
        );
      } else if (this.currentLevel === 5) {
        var xdata2 = this.chartDataLvl5
          .filter(x => x.partLevel === 6)
          .map(x => x.partName);
        var ydata2 = this.chartDataLvl5
          .filter(x => x.partLevel === 6)
          .map(x => x.totalCost);
        var Level2 = this.chartDataLvl5
          .filter(x => x.partLevel === 6)
          .map((x, index) => `${x.partLevel}_${x.partId}`);
        var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);
        let y2 = 0;
        var ydataLine2 = ydata2.map(x =>
          _.round((y2 += x * 100) / ydataTotal2, 2)
        );
      }

      let drill1 = {
        x: xdata2,
        y: ydata2,
        customdata: Level2,
        type: "bar"
      };
      let drill1line = {
        x: xdata2,
        y: ydataLine2,
        name: "Race Cost",
        yaxis: "y2",

        type: "line",
        autorange: false,
        range: [0, 100]
      };

      var layout1 = {
        title: `Parato Chart PartLevel ${parentlvl}`,
        yaxis: { title: "Race Cost" },
        xaxis: { title: "Parts" },
        hovermode: "closest",
        showlegend: false,
        paper_bgcolor: "rgba(245,246,249,1)",
        plot_bgcolor: "rgba(245,246,249,1)",
        yaxis2: {
          title: "Parato",
          titlefont: { color: "rgb(148, 103, 189)" },
          tickfont: { color: "rgb(148, 103, 189)" },
          overlaying: "y",
          side: "right",
          autorange: false,
          range: [0, 100]
        }
      };

      this.$set(this.data, 0, drill1);
      this.$set(this.data, 1, drill1line);
      this.layout = layout1;
    },
    drillDown(event) {
      debugger;
      let clickedY = event.points[0].y;
      let clickedItem = event.points[0].x;
      //find parent index and child index
      this.level = true;
      let partlvl = parseInt(this.partLevels.split("-")[1]);
      let parentlvl = parseInt(event.points[0].customdata.split("_")[0]);
      let nextLevel = parentlvl + 1;
      let clickedItemIndex = event.points[0].pointIndex;
      this.currentLevel = parentlvl; //set parent level
      //find index of clicked parent
      if (partlvl === 1) {
        if (parentlvl === 1) {
          debugger;

          this.chartDataLvl1 = _.cloneDeep(
            this.newChartData[clickedItemIndex].children
          );

          this.chartDataLvl1.forEach(
            x =>
              (x.totalCost = _.round(
                x.totalCost +
                  _.sum(
                    x.children.map(
                      y =>
                        y.totalCost +
                        _.sum(
                          y.children.map(
                            w =>
                              w.totalCost +
                              _.sum(
                                w.children.map(
                                  v =>
                                    v.totalCost +
                                    _.sum(v.children.map(b => b.totalCost))
                                )
                              )
                          )
                        )
                    )
                  )
              ))
          );
          this.chartDataLvl1.sort((a, b) =>
            a.totalCost < b.totalCost ? 1 : -1
          );

          // var chartDataLvl1Copy =  _.cloneDeep( this.chartDataLvl1);

          var xdata2 = this.chartDataLvl1
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.partName);
          var ydata2 = this.chartDataLvl1
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.totalCost);
          var Level2 = this.chartDataLvl1
            .filter(x => x.partLevel === nextLevel)
            .map((x, index) => `${x.partLevel}_${x.partId}`);
          var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);
          let y2 = 0;
          var ydataLine2 = ydata2.map(x =>
            _.round((y2 += x * 100) / ydataTotal2, 2)
          );
        } else if (parentlvl === 2) {
          this.chartDataLvl2 = _.cloneDeep(
            this.chartDataLvl1[clickedItemIndex].children
          );

          this.chartDataLvl2.forEach(
            x =>
              (x.totalCost = _.round(
                x.totalCost +
                  _.sum(
                    x.children.map(
                      y =>
                        y.totalCost +
                        _.sum(
                          y.children.map(
                            w =>
                              w.totalCost +
                              _.sum(
                                w.children.map(
                                  v =>
                                    v.totalCost +
                                    _.sum(v.children.map(b => b.totalCost))
                                )
                              )
                          )
                        )
                    )
                  )
              ))
          );
          this.chartDataLvl2.sort((a, b) =>
            a.totalCost < b.totalCost ? 1 : -1
          );
          var xdata2 = this.chartDataLvl2
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.partName);
          var ydata2 = this.chartDataLvl2
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.totalCost);
          var Level2 = this.chartDataLvl2
            .filter(x => x.partLevel === nextLevel)
            .map((x, index) => `${x.partLevel}_${x.partId}`);
          var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);
          let y2 = 0;
          var ydataLine2 = ydata2.map(x =>
            _.round((y2 += x * 100) / ydataTotal2, 2)
          );
        } else if (parentlvl === 3) {
          debugger;
          this.chartDataLvl3 = _.cloneDeep(
            this.chartDataLvl2[clickedItemIndex].children
          );
          this.chartDataLvl3.forEach(
            x =>
              (x.totalCost = _.round(
                x.totalCost +
                  _.sum(
                    x.children.map(
                      y =>
                        y.totalCost +
                        _.sum(
                          y.children.map(
                            w =>
                              w.totalCost +
                              _.sum(
                                w.children.map(
                                  v =>
                                    v.totalCost +
                                    _.sum(v.children.map(b => b.totalCost))
                                )
                              )
                          )
                        )
                    )
                  )
              ))
          );
          this.chartDataLvl3.sort((a, b) =>
            a.totalCost < b.totalCost ? 1 : -1
          );
          var xdata2 = this.chartDataLvl3
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.partName);

          var ydata2 = this.chartDataLvl3
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.totalCost);

          var Level2 = this.chartDataLvl3
            .filter(x => x.partLevel === nextLevel)
            .map((x, index) => `${x.partLevel}_${x.partId}`);

          var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);

          let y2 = 0;
          var ydataLine2 = ydata2.map(x =>
            _.round((y2 += x * 100) / ydataTotal2, 2)
          );
        } else if (parentlvl === 4) {
          debugger;
          this.chartDataLvl4 = _.cloneDeep(
            this.chartDataLvl3[clickedItemIndex].children
          );
          this.chartDataLvl4.forEach(
            x =>
              (x.totalCost = _.round(
                x.totalCost +
                  _.sum(
                    x.children.map(
                      y =>
                        y.totalCost +
                        _.sum(
                          y.children.map(
                            w =>
                              w.totalCost +
                              _.sum(
                                w.children.map(
                                  v =>
                                    v.totalCost +
                                    _.sum(v.children.map(b => b.totalCost))
                                )
                              )
                          )
                        )
                    )
                  )
              ))
          );
          this.chartDataLvl4.sort((a, b) =>
            a.totalCost < b.totalCost ? 1 : -1
          );
          var xdata2 = this.chartDataLvl4
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.partName);

          var ydata2 = this.chartDataLvl4
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.totalCost);

          var Level2 = this.chartDataLvl4
            .filter(x => x.partLevel === nextLevel)
            .map((x, index) => `${x.partLevel}_${x.partId}`);

          var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);

          let y2 = 0;
          var ydataLine2 = ydata2.map(x =>
            _.round((y2 += x * 100) / ydataTotal2, 2)
          );
        } else if (parentlvl === 5) {
          debugger;
          this.chartDataLvl5 = _.cloneDeep(
            this.chartDataLvl4[clickedItemIndex].children
          );
          this.chartDataLvl5.forEach(
            x =>
              (x.totalCost = _.round(
                x.totalCost +
                  _.sum(
                    x.children.map(
                      y =>
                        y.totalCost +
                        _.sum(
                          y.children.map(
                            w =>
                              w.totalCost +
                              _.sum(
                                w.children.map(
                                  v =>
                                    v.totalCost +
                                    _.sum(v.children.map(b => b.totalCost))
                                )
                              )
                          )
                        )
                    )
                  )
              ))
          );
          this.chartDataLvl5.sort((a, b) =>
            a.totalCost < b.totalCost ? 1 : -1
          );
          var xdata2 = this.chartDataLvl5
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.partName);

          var ydata2 = this.chartDataLvl5
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.totalCost);

          var Level2 = this.chartDataLvl5
            .filter(x => x.partLevel === nextLevel)
            .map((x, index) => `${x.partLevel}_${x.partId}`);

          var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);

          let y2 = 0;
          var ydataLine2 = ydata2.map(x =>
            _.round((y2 += x * 100) / ydataTotal2, 2)
          );
        }
      } else if (partlvl === 2) {
        if (parentlvl === 1) {
          this.$q.notify({
            color: "green-5",
            textColor: "white",
            classes: "text-center",

            icon: "fas fa-exclamation-triangle",
            message: `you cannot drilldown to level ${parentlvl + 1} inside ${
              this.partLevels
            }`
          });
        } else if (parentlvl === 2) {
          this.chartDataLvl2 = _.cloneDeep(
            this.chartDataLvl1[clickedItemIndex].children
          );

          this.chartDataLvl2.forEach(
            x =>
              (x.totalCost = _.round(
                x.totalCost +
                  _.sum(
                    x.children.map(
                      y =>
                        y.totalCost +
                        _.sum(
                          y.children.map(
                            w =>
                              w.totalCost +
                              _.sum(
                                w.children.map(
                                  v =>
                                    v.totalCost +
                                    _.sum(v.children.map(b => b.totalCost))
                                )
                              )
                          )
                        )
                    )
                  )
              ))
          );
          this.chartDataLvl2.sort((a, b) =>
            a.totalCost < b.totalCost ? 1 : -1
          );
          var xdata2 = this.chartDataLvl2
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.partName);
          var ydata2 = this.chartDataLvl2
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.totalCost);
          var Level2 = this.chartDataLvl2
            .filter(x => x.partLevel === nextLevel)
            .map((x, index) => `${x.partLevel}_${x.partId}`);
          var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);
          let y2 = 0;
          var ydataLine2 = ydata2.map(x =>
            _.round((y2 += x * 100) / ydataTotal2, 2)
          );
        } else if (parentlvl === 3) {
          debugger;
          this.chartDataLvl3 = _.cloneDeep(
            this.chartDataLvl2[clickedItemIndex].children
          );
          this.chartDataLvl3.forEach(
            x =>
              (x.totalCost = _.round(
                x.totalCost +
                  _.sum(
                    x.children.map(
                      y =>
                        y.totalCost +
                        _.sum(
                          y.children.map(
                            w =>
                              w.totalCost +
                              _.sum(
                                w.children.map(
                                  v =>
                                    v.totalCost +
                                    _.sum(v.children.map(b => b.totalCost))
                                )
                              )
                          )
                        )
                    )
                  )
              ))
          );
          this.chartDataLvl3.sort((a, b) =>
            a.totalCost < b.totalCost ? 1 : -1
          );
          var xdata2 = this.chartDataLvl3
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.partName);

          var ydata2 = this.chartDataLvl3
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.totalCost);

          var Level2 = this.chartDataLvl3
            .filter(x => x.partLevel === nextLevel)
            .map((x, index) => `${x.partLevel}_${x.partId}`);

          var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);

          let y2 = 0;
          var ydataLine2 = ydata2.map(x =>
            _.round((y2 += x * 100) / ydataTotal2, 2)
          );
        } else if (parentlvl === 4) {
          debugger;
          this.chartDataLvl4 = _.cloneDeep(
            this.chartDataLvl3[clickedItemIndex].children
          );
          this.chartDataLvl4.forEach(
            x =>
              (x.totalCost = _.round(
                x.totalCost +
                  _.sum(
                    x.children.map(
                      y =>
                        y.totalCost +
                        _.sum(
                          y.children.map(
                            w =>
                              w.totalCost +
                              _.sum(
                                w.children.map(
                                  v =>
                                    v.totalCost +
                                    _.sum(v.children.map(b => b.totalCost))
                                )
                              )
                          )
                        )
                    )
                  )
              ))
          );
          this.chartDataLvl4.sort((a, b) =>
            a.totalCost < b.totalCost ? 1 : -1
          );
          var xdata2 = this.chartDataLvl4
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.partName);

          var ydata2 = this.chartDataLvl4
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.totalCost);

          var Level2 = this.chartDataLvl4
            .filter(x => x.partLevel === nextLevel)
            .map((x, index) => `${x.partLevel}_${x.partId}`);

          var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);

          let y2 = 0;
          var ydataLine2 = ydata2.map(x =>
            _.round((y2 += x * 100) / ydataTotal2, 2)
          );
        } else if (parentlvl === 5) {
          debugger;
          this.chartDataLvl5 = _.cloneDeep(
            this.chartDataLvl4[clickedItemIndex].children
          );
          this.chartDataLvl5.forEach(
            x =>
              (x.totalCost = _.round(
                x.totalCost +
                  _.sum(
                    x.children.map(
                      y =>
                        y.totalCost +
                        _.sum(
                          y.children.map(
                            w =>
                              w.totalCost +
                              _.sum(
                                w.children.map(
                                  v =>
                                    v.totalCost +
                                    _.sum(v.children.map(b => b.totalCost))
                                )
                              )
                          )
                        )
                    )
                  )
              ))
          );
          this.chartDataLvl5.sort((a, b) =>
            a.totalCost < b.totalCost ? 1 : -1
          );
          var xdata2 = this.chartDataLvl5
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.partName);

          var ydata2 = this.chartDataLvl5
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.totalCost);

          var Level2 = this.chartDataLvl5
            .filter(x => x.partLevel === nextLevel)
            .map((x, index) => `${x.partLevel}_${x.partId}`);

          var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);

          let y2 = 0;
          var ydataLine2 = ydata2.map(x =>
            _.round((y2 += x * 100) / ydataTotal2, 2)
          );
        }
      } else if (partlvl === 3) {
        if (parentlvl === 1 || parentlvl === 2) {
          this.$q.notify({
            color: "green-5",
            textColor: "white",
            classes: "text-center",

            icon: "fas fa-exclamation-triangle",
            message: `you cannot drilldown to level ${parentlvl + 1} inside ${
              this.partLevels
            }`
          });
        } else if (parentlvl === 3) {
          debugger;
          this.chartDataLvl3 = _.cloneDeep(
            this.chartDataLvl2[clickedItemIndex].children
          );
          this.chartDataLvl3.forEach(
            x =>
              (x.totalCost = _.round(
                x.totalCost +
                  _.sum(
                    x.children.map(
                      y =>
                        y.totalCost +
                        _.sum(
                          y.children.map(
                            w =>
                              w.totalCost +
                              _.sum(
                                w.children.map(
                                  v =>
                                    v.totalCost +
                                    _.sum(v.children.map(b => b.totalCost))
                                )
                              )
                          )
                        )
                    )
                  )
              ))
          );
          this.chartDataLvl3.sort((a, b) =>
            a.totalCost < b.totalCost ? 1 : -1
          );
          var xdata2 = this.chartDataLvl3
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.partName);

          var ydata2 = this.chartDataLvl3
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.totalCost);

          var Level2 = this.chartDataLvl3
            .filter(x => x.partLevel === nextLevel)
            .map((x, index) => `${x.partLevel}_${x.partId}`);

        this.chartDataLvl1 = _.cloneDeep(
          this.newChartData[clickedItemIndex].children
        );

        this.chartDataLvl1.forEach(
          x =>
            (x.totalCost = _.round(
              x.totalCost +
                _.sum(
                  x.children.map(
                    y =>
                      y.totalCost +
                      _.sum(
                        y.children.map(
                          w =>
                            w.totalCost +
                            _.sum(
                              w.children.map(
                                v =>
                                  v.totalCost +
                                  _.sum(v.children.map(b => b.totalCost))
                              )
                            )
                        )
                      )
                  )
                )
            ))
        );
        this.chartDataLvl1.sort((a, b) => (a.totalCost < b.totalCost ? 1 : -1));

        // var chartDataLvl1Copy =  _.cloneDeep( this.chartDataLvl1);

        var xdata2 = this.chartDataLvl1
          .filter(x => x.partLevel === nextLevel)
          .map(x => x.partName);
        var ydata2 = this.chartDataLvl1
          .filter(x => x.partLevel === nextLevel)
          .map(x => x.totalCost);
        var Level2 = this.chartDataLvl1
          .filter(x => x.partLevel === nextLevel)
          .map((x, index) => `${x.partLevel}_${x.partId}`);
        var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);
        let y2 = 0;
        var ydataLine2 = ydata2.map(x =>
          _.round((y2 += x * 100) / ydataTotal2, 2)
        );
      } else if (parentlvl === 2) {
        this.chartDataLvl2 = _.cloneDeep(
          this.chartDataLvl1[clickedItemIndex].children
        );

        this.chartDataLvl2.forEach(
          x =>
            (x.totalCost = _.round(
              x.totalCost +
                _.sum(
                  x.children.map(
                    y =>
                      y.totalCost +
                      _.sum(
                        y.children.map(
                          w =>
                            w.totalCost +
                            _.sum(
                              w.children.map(
                                v =>
                                  v.totalCost +
                                  _.sum(v.children.map(b => b.totalCost))
                              )
                            )
                        )
                      )
                  ))
              ))
          );
          this.chartDataLvl5.sort((a, b) =>
            a.totalCost < b.totalCost ? 1 : -1
          );
          var xdata2 = this.chartDataLvl5
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.partName);

          var ydata2 = this.chartDataLvl5
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.totalCost);

          var Level2 = this.chartDataLvl5
            .filter(x => x.partLevel === nextLevel)
            .map((x, index) => `${x.partLevel}_${x.partId}`);

          var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);

          let y2 = 0;
          var ydataLine2 = ydata2.map(x =>
            _.round((y2 += x * 100) / ydataTotal2, 2)
          );
        }
      } else if (partlvl === 4) {
        if (parentlvl === 1 || parentlvl === 2 || parentlvl === 3) {
          this.$q.notify({
            color: "green-5",
            textColor: "white",
            classes: "text-center",

            icon: "fas fa-exclamation-triangle",
            message: `you cannot drilldown to level ${parentlvl + 1} inside ${
              this.partLevels
            }`
          });
        } else if (parentlvl === 4) {
          debugger;
          this.chartDataLvl4 = _.cloneDeep(
            this.chartDataLvl3[clickedItemIndex].children
          );
          this.chartDataLvl4.forEach(
            x =>
              (x.totalCost = _.round(
                x.totalCost +
                  _.sum(
                    x.children.map(
                      y =>
                        y.totalCost +
                        _.sum(
                          y.children.map(
                            w =>
                              w.totalCost +
                              _.sum(
                                w.children.map(
                                  v =>
                                    v.totalCost +
                                    _.sum(v.children.map(b => b.totalCost))
                                )
                              )
                            )
                        )
                      )
                  )
                )
            )
        );
        this.chartDataLvl3.sort((a, b) => (a.totalCost < b.totalCost ? 1 : -1));
        var xdata2 = this.chartDataLvl3
          .filter(x => x.partLevel === nextLevel)
          .map(x => x.partName);

        var ydata2 = this.chartDataLvl3
          .filter(x => x.partLevel === nextLevel)
          .map(x => x.totalCost);

        var Level2 = this.chartDataLvl3
          .filter(x => x.partLevel === nextLevel)
          .map((x, index) => `${x.partLevel}_${x.partId}`);

        var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);

        let y2 = 0;
        var ydataLine2 = ydata2.map(x =>
          _.round((y2 += x * 100) / ydataTotal2, 2)
        );
      } else if (parentlvl === 4) {
        debugger;
        this.chartDataLvl4 = _.cloneDeep(
          this.chartDataLvl3[clickedItemIndex].children
        );
        this.chartDataLvl4.forEach(
          x =>
            (x.totalCost = _.round(
              x.totalCost +
                _.sum(
                  x.children.map(
                    y =>
                      y.totalCost +
                      _.sum(
                        y.children.map(
                          w =>
                            w.totalCost +
                            _.sum(
                              w.children.map(
                                v =>
                                  v.totalCost +
                                  _.sum(v.children.map(b => b.totalCost))
                              )
                            )
                        )
                      )
                  )
                )
            ))
        );
        this.chartDataLvl4.sort((a, b) => (a.totalCost < b.totalCost ? 1 : -1));
        var xdata2 = this.chartDataLvl4
          .filter(x => x.partLevel === nextLevel)
          .map(x => x.partName);

        var ydata2 = this.chartDataLvl4
          .filter(x => x.partLevel === nextLevel)
          .map(x => x.totalCost);

        var Level2 = this.chartDataLvl4
          .filter(x => x.partLevel === nextLevel)
          .map((x, index) => `${x.partLevel}_${x.partId}`);

        var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);

        let y2 = 0;
        var ydataLine2 = ydata2.map(x =>
          _.round((y2 += x * 100) / ydataTotal2, 2)
        );
      } else if (parentlvl === 5) {
        debugger;
        this.chartDataLvl5 = _.cloneDeep(
          this.chartDataLvl4[clickedItemIndex].children
        );
        this.chartDataLvl5.forEach(
          x =>
            (x.totalCost = _.round(
              x.totalCost +
                _.sum(
                  x.children.map(
                    y =>
                      y.totalCost +
                      _.sum(
                        y.children.map(
                          w =>
                            w.totalCost +
                            _.sum(
                              w.children.map(
                                v =>
                                  v.totalCost +
                                  _.sum(v.children.map(b => b.totalCost))
                              )
                            )
                        )
                      )
                  )
                )
            ))
        );
        this.chartDataLvl5.sort((a, b) => (a.totalCost < b.totalCost ? 1 : -1));
        var xdata2 = this.chartDataLvl5
          .filter(x => x.partLevel === nextLevel)
          .map(x => x.partName);

        var ydata2 = this.chartDataLvl5
          .filter(x => x.partLevel === nextLevel)
          .map(x => x.totalCost);

        var Level2 = this.chartDataLvl5
          .filter(x => x.partLevel === nextLevel)
          .map((x, index) => `${x.partLevel}_${x.partId}`);

        var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);

        let y2 = 0;
        var ydataLine2 = ydata2.map(x =>
          _.round((y2 += x * 100) / ydataTotal2, 2)
        );
      }

      let drill1 = {
        x: xdata2,
        y: ydata2,
        customdata: Level2,
        name: `Level > ${parentlvl}_${clickedItem}`,
        type: "bar"
      };
      let drill1line = {
        x: xdata2,
        y: ydataLine2,
        yaxis: "y2",
        name: "Race Cost",
        type: "line",
        autorange: false,
        range: [0, 100]
      };

      var layout1 = {
        title: `Parato Chart Level ${parentlvl + 1}`,
        yaxis: { title: "Race Cost" },
        xaxis: { title: "Parts" },
        hovermode: "closest",
        showlegend: false,
        paper_bgcolor: "rgba(245,246,249,1)",
        plot_bgcolor: "rgba(245,246,249,1)",
        yaxis2: {
          title: "Parato",
          titlefont: { color: "rgb(148, 103, 189)" },
          tickfont: { color: "rgb(148, 103, 189)" },
          overlaying: "y",
          side: "right",
          autorange: false,
          range: [0, 100]
        }}
      };

      this.$set(this.data, 0, drill1);
      this.$set(this.data, 1, drill1line);
      this.layout = layout1;
    },

    onItemClick() {
      console.log("levels Called");
    }
  },
  beforeMount() {
    debugger;
    this.Lvl1Data = [];
    this.lvl2Data = [];
    this.lvl3Data = [];
    this.lvl4Data = [];
    this.lvl5Data = [];
    this.lvl6Data = [];
    this.xLvl1Data = [];
    this.xLvl2Data = [];
    this.xLvl3Data = [];
    this.xLvl4Data = [];
    this.xLvl5Data = [];
    this.xLvl6Data = [];
    this.yLvl1Data = [];
    this.yLvl2Data = [];
    this.yLvl3Data = [];
    this.yLvl4Data = [];
    this.yLvl5Data = [];
    this.yLvl6Data = [];
    this.data = [];
  },
  mounted() {
    EventBus.$emit("parato", true);
    EventBus.$emit("headerActive", "Analysis");
    EventBus.$emit("headeData", true);
    EventBus.$emit("headerName", "Analysis");

    let assemblyId = this.$store.getters["project/selectedObjProject"].AssyId;
    let self = this;
    debugger;
    axios
      .get(
        "http://dotnetwebapi4.racex.in//WebForms/api/ProcessData/AnalysisParato?aId=" +
          assemblyId
      )
      .then(function(response) {
        // handle success
        debugger;

        response.data.ParatoCollection.forEach(x => (x["children"] = []));

        let chartRepData = response.data.ParatoCollection;

        var parentRows = chartRepData.filter(x => x.partLevel === 1);
        //  parentRows.forEach(x=> x['children']=[]); //add child property
        var childRows = chartRepData.filter(x => x.partLevel > 1);
        let levelpart= childRows
        levelpart=levelpart.length===0?parentRows :levelpart

        var maxlevel = _.max(levelpart.map(x => x.partLevel));
      // maxlevel = maxlevel === 1 ? 2 : maxlevel;
        debugger;
        var leveloptions = [
          "Level-1",
          "Level-2",
          "Level-3",
          "Level-4",
          "Level-5",
          "Level-6"
        ];

        self.optionsLvl = leveloptions.slice(0, maxlevel );

        childRows.forEach(c => {
          //find out levels in childs for each

          if (c.partLevel === 2) {
            var indexofParent = parentRows.findIndex(
              x => x.partHierarchicalPath[1] === c.partHierarchicalPath[1]
            );

            if (indexofParent > -1) {
              //childArray.push(c);
              parentRows[indexofParent].children.push(c);
            }
          } else if (c.partLevel === 3) {
            var indexofParent = parentRows.findIndex(
              x => x.partHierarchicalPath[1] === c.partHierarchicalPath[1]
            );
            var indexofchild = childRows.findIndex(x => x =>
              x.partHierarchicalPath[3] === c.partHierarchicalPath[3]
            );

            parentRows[indexofParent].children[indexofchild].children.push(c);
          } else if (c.partLevel === 4) {
            var indexofParent = parentRows.findIndex(
              x => x.partHierarchicalPath[1] === c.partHierarchicalPath[1]
            );
            var indexofchild1 = childRows.findIndex(x => x =>
              x.partHierarchicalPath[3] === c.partHierarchicalPath[3]
            );

            var indexofchild2 = childRows.findIndex(x => x =>
              x.partHierarchicalPath[5] === c.partHierarchicalPath[5]
            );

            parentRows[indexofParent].children[indexofchild1].children[
              indexofchild2
            ].children.push(c);
          } else if (c.partLevel === 5) {
            var indexofParent = parentRows.findIndex(
              x => x.partHierarchicalPath[1] === c.partHierarchicalPath[1]
            );
            var indexofchild1 = childRows.findIndex(x => x =>
              x.partHierarchicalPath[3] === c.partHierarchicalPath[3]
            );

            var indexofchild2 = childRows.findIndex(x => x =>
              x.partHierarchicalPath[5] === c.partHierarchicalPath[5]
            );
            var indexofchild3 = childRows.findIndex(x => x =>
              x.partHierarchicalPath[7] === c.partHierarchicalPath[7]
            );
            parentRows[indexofParent].children[indexofchild1].children[
              indexofchild2
            ].children[indexofchild3].children.push(c);
          } else if (c.partLevel === 6) {
            var indexofParent = parentRows.findIndex(
              x => x.partHierarchicalPath[1] === c.partHierarchicalPath[1]
            );
            var indexofchild1 = childRows.findIndex(x => x =>
              x.partHierarchicalPath[3] === c.partHierarchicalPath[3]
            );

            var indexofchild2 = childRows.findIndex(x => x =>
              x.partHierarchicalPath[5] === c.partHierarchicalPath[5]
            );
            var indexofchild3 = childRows.findIndex(x => x =>
              x.partHierarchicalPath[7] === c.partHierarchicalPath[7]
            );
            var indexofchild4 = childRows.findIndex(x => x =>
              x.partHierarchicalPath[9] === c.partHierarchicalPath[9]
            );
            parentRows[indexofParent].children[indexofchild1].children[
              indexofchild2
            ].children[indexofchild3].children[indexofchild4].children.push(c);
          } else {
            console.log("Level is more than 5");
          }
        });

        self.OriParatoChartData = _.cloneDeep(parentRows);
        //self.OriParatoChartData = _.cloneDeep(chartRepData);

        var ParentLevl = 1;
        var chartData1 = parentRows;
        self.newChartData = chartData1;
        //roll up all child
        debugger;
        chartData1.forEach(x => {
          x.totalCost = _.round(
            x.totalCost +
              _.sum(
                x.children.map(
                  y =>
                    y.totalCost +
                    _.sum(
                      y.children.map(
                        w =>
                          w.totalCost +
                          _.sum(
                            w.children.map(
                              v =>
                                v.totalCost +
                                _.sum(v.children.map(b => b.totalCost))
                            )
                          )
                      )
                    )
                )
              )
          );
        });

        chartData1 = chartData1.sort((a, b) =>
          a.totalCost < b.totalCost ? 1 : -1
        );

        var xdata1 = chartData1
          .filter(x => x.partLevel === 1)
          .map(x => x.partName);
        var ydata1 = chartData1
          .filter(x => x.partLevel === 1)
          .map(x => x.totalCost);
        self.level = chartData1
          .filter(x => x.partLevel === 1)
          .map((x, index) => `${x.partLevel}_${x.partId}`);

        var ydataTotal1 = ydata1.reduce((a, b) => a + b, 0);
        var yTotalCount1 = ydata1.length;
        let y2 = 0;
        var ydataLine2 = ydata1.map(x =>
          _.round((y2 += x * 100) / ydataTotal1, 2)
        );

        var trace11 = {
          x: xdata1,
          y: ydata1,
          name: `Parts`,
          type: "bar",
          customdata: self.Level
        };

        var trace21 = {
          x: xdata1,
          y: ydataLine2,
          name: "ParatoLine",
          yaxis: "y2",
          type: "line",
          autorange: false,
          range: [0, 100]
        };
        var layout1 = {
          title: "Parato Chart Level1",
          yaxis: { title: "Race Cost" },
          xaxis: { title: "Parts" },
          hovermode: "closest",
          showlegend: false,
          paper_bgcolor: "rgba(245,246,249,1)",
          plot_bgcolor: "rgba(245,246,249,1)",
          yaxis2: {
            title: "Parato",
            titlefont: { color: "rgb(148, 103, 189)" },
            tickfont: { color: "rgb(148, 103, 189)" },
            overlaying: "y",
            side: "right",
            autorange: false,
            range: [0, 100]
          }
        };

        self.$set(self.data, 0, trace11);

        self.$set(self.data, 1, trace21);
        self.layout = layout1;

        // Object.entries(JSON.parse(response.data.LLPCollection[0].procEstPrimaryVariables).procPrimVarData)
        //Drop Down for price /cost
      })
      .catch(function(error) {
        // handle error
        console.log(error);
      })
      .finally(function() {
        // always executed
      });
  },
  beforeDestroy() {
    EventBus.$emit("parato", false);
  }
};
</script>