<template>
  <div>
    <div class="row q-mt-lg">
      <div class="col-3">
        <q-select
          size="md"
          square
          filled
          class="q-ml-xl text-subtitle1"
          style="width:80%"
          label="Select Process"
          v-model="selectProcess"
          :options="OptselectProcess"
          @input="setPartNamesForProcess(selectProcess)"
        ></q-select>
      </div>
      <div class="col-6">
        <div class="row">
          <q-select
            square
            filled
            class="col-4 q-pl-xl"
            v-model="parameters"
            :options="optparameters"
            :param="parameters"
            @input="renderChart(parameters)"
          ></q-select>
          <q-select
            square
            filled
            v-model="price"
            :options="optPrice"
            @input="renderChart(parameters)"
            size="md"
            class="q-ml-xl col-3"
          ></q-select>
          <q-btn
            dense
            v-model="visible"
            @click="changeChartView"
            style="width:22%"
            class="btnRaceRippleBlue q-ml-xl"
            size="md"
            icon="navigation"
          >{{toggleBtnName}}</q-btn>
        </div>
      </div>
    </div>
    <div class="row q-pt-lg">
      <div class="col-3">
        <q-btn
          class="q-ml-xl q-mt-xl btnRaceBlueStatic q-ml-md text-caption"
          style="width:80%; "
        >Part Names</q-btn>
        <!-- {{partNames}} -->

        <q-scroll-area
          class="q-ml-xl"
          :thumb-style="thumbStyle"
          :content-style="contentStyle"
          :content-active-style="contentActiveStyle"
          style="height: 400px; max-width:80% "
        >
          <q-list class="q-ml-xl">
            <q-item
              v-for="(part,index) in partNames"
              @click="part.index=!part.index"
              @click.native="renderChart(parameters)"
              :key="index"
              style="width:80% "
              class="text-h6"
              clickable
              v-ripple
            >
              <q-item-section avatar>
                <q-checkbox v-model="part.index" color="primary" />
              </q-item-section>

              <q-item-section>
                <q-item-label>{{part.label}}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-scroll-area>

        <!-- <q-btn
          class="q-ml-xl q-mt-xl btnRaceBlueStatic text-height:10px q-ml-md "
          style="width:80%; " size="md"
          @click="renderChart(parameters)"
        >Show Chart</q-btn>-->

        <!-- selected items: {{part.index}} -->
      </div>
      <q-separator style="width:2px" vertical inset spaced />

      <!--advancedView-->
      <!-- <q-slide-transition>
      <div v-if="AdvView"  v-show="visible"  class="col-8 q-pa-xl">
        <div class="row">
          <div class="col-2 text-center">
            <q-badge
              class="text-caption"
              color="primary"
            >{{parameters.label}} Min: {{ standard.min }}</q-badge>
          </div>
          <q-range
            @input="filterData()"
            class="col-6 q-ml-lg q-mr-lg"
            v-model="standard"
            :min="rangeMin"
            :max="rangeMax"
            :step="Math.ceil((rangeMax-rangeMin)/10)"
            label-always
            color="primary"
          />
          <div class="col-2 text-center">
            <q-badge
              class="text-caption"
              color="primary"
            >{{parameters.label}} Max: {{ standard.max }}</q-badge>
          </div>
        </div>

        <div class="q-mt-lg">
          <q-table
            class="my-sticky-header-column-table"
            virtual-scroll
            :pagination.sync="pagination"
            :rows-per-page-options="[0]"
            :virtual-scroll-sticky-start="48"
            :data="data"
            :columns="columns"
            row-key="Serial"
            flat
            bordered
          ></q-table>
        </div>
      </div>
      </q-slide-transition>-->
      <div v-show="AdvView" transition-show="slide-up" class="col-8 q-pa-xl">
        <div class="row">
          <div class="col-2 text-center">
            <q-badge
              class="text-caption"
              color="primary"
            >{{parameters.label}} Min: {{ standard.min }}</q-badge>
          </div>
          <q-range
            @input="filterData()"
            class="col-6 q-ml-lg q-mr-lg"
            v-model="standard"
            :min="rangeMin"
            :max="rangeMax"
            :step="Math.ceil((rangeMax-rangeMin)/10)"
            label-always
            color="primary"
          />

          <div class="col-2 text-center">
            <q-badge
              class="text-caption"
              color="primary"
            >{{parameters.label}} Max: {{ standard.max }}</q-badge>
          </div>
        </div>

        <div class="q-mt-lg">
          <q-table
            class="my-sticky-header-column-table"
            virtual-scroll
            :pagination.sync="pagination"
            :rows-per-page-options="[0]"
            :virtual-scroll-sticky-start="48"
            :data="data"
            :columns="columns"
            row-key="Serial"
            flat
            bordered
          >
            <!-- <q-tr :class="rowClass" :Props="props"></q-tr> -->

            <template v-slot:body="props">
              <q-tr
                :class="{ 'table-success': (outLine[0].includes(props.row.partName))}"
                :props="props"
              >
                <q-td key="Serial" :props="props">{{props.row.Serial}}</q-td>
                <q-td key="partName" :props="props">{{props.row.partName}}</q-td>
                <q-td key="yAxis" :props="props">{{props.row.yAxis}}</q-td>
                <q-td key="xAxis" :props="props">{{props.row.xAxis}}</q-td>
                <q-td key="keyParameters" :props="props">{{props.row.keyParameters}}</q-td>
              </q-tr>
            </template>
          </q-table>
        </div>
      </div>

      <div v-show="LPPChart" class="col-6">
        <!-- <div class="row" style="width:100%"> -->
        <plotlycom class="q-md-xl" :chartData="chartData" @Outline="outLine=$event"></plotlycom>
        <br />
        <br />
        <div class="row q-my-xl">
          <div class="col-2 text-center">
            <q-badge
              class="text-caption"
              color="primary"
            >{{parameters.label}} Min: {{ standard.min }}</q-badge>
          </div>
          <q-range
            @input="filterDatachart()"
            class="col-6 q-ml-lg q-mr-lg"
            v-model="standard"
            :min="rangeMin"
            :max="rangeMax"
            :step="Math.ceil((rangeMax-rangeMin)/10)"
            label-always
            color="primary"
          />
          <!-- {{standard}} -->
          <div class="col-2 text-center">
            <q-badge
              class="text-caption"
              color="primary"
            >{{parameters.label}} Max: {{ standard.max }}</q-badge>
          </div>
        </div>

        <!-- </div> -->
        <!-- <scatterchart></scatterchart> -->
      </div>
      <q-separator v-if="LPPChart" style="width:2px" vertical inset spaced />
      <div v-if="LPPChart" class="col-2">
        <q-btn
          class="btnRaceBlueStatic text-white q-ma-md text-caption"
          style="width:100%"
        >Outline +Ve</q-btn>
        <q-scroll-area
          class="q-ml-md"
          :thumb-style="thumbStyle"
          :content-style="contentStyle"
          :content-active-style="contentActiveStyle"
          style="height: 250px; width:100% "
        >
          <q-list class="q-ml-xl">
            <q-item
              v-for="(part,index) in outLine[0]"
              :key="index"
              style="width:100% "
              clickable
              v-ripple
            >
              <q-item-section>
                <q-item-label class="text-h6">{{part}}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-scroll-area>

        <q-btn
          class="btnRaceBlueStatic q-mt-xl q-ml-md text-white text-caption"
          style="width:100%"
        >Outline -Ve</q-btn>

        <q-scroll-area
          class="q-ml-md"
          :thumb-style="thumbStyle"
          :content-style="contentStyle"
          :content-active-style="contentActiveStyle"
          style="height: 250px; width:100% "
        >
          <q-list class="q-ml-xl">
            <q-item
              v-for="(part,index) in outLine[1]"
              :key="index"
              style="width:100% "
              class="text-h6"
              clickable
              v-ripple
            >
              <q-item-section>
                <q-item-label>{{part}}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-scroll-area>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import loadash from "lodash";
import { EventBus } from "../event-bus";
import { mapGetters, mapActions } from "vuex";

// @input="renderChart(parameters)"
// import scatterchart from "../components/scatterchart";
debugger;
//var selecteditem =part.index;
export default {
  props: {},
  data() {
    return {
      scrollcount: [],
      scrolldata: [],
      visible: true,
      chartData: {},
      selectProcess: [],
      OptselectProcess: [],
      LLPAnalysis: [],
      partNames: [],
      OriPartNames: [],
      toggleBtnName: "Advance View",
      rangeMin: 0,
      rangeMax: 100,
      standard: {
        min: 25,
        max: 40
      },
      outLine: [],
      LPPChart: true,
      AdvView: false,
      pagination: {
        rowsPerPage: 0
      },
      optparameters: [],
      parameters: "",
      optPrice: ["Current Price", "Race Cost"],
      price: "Race Cost",
      costdata: [],
      columns: [
        {
          name: "Serial",
          required: true,
          label: "#",
          align: "left",
          field: "Serial",
          format: val => `${val}`,
          sortable: true
        },
        {
          name: "partName",
          align: "left",
          label: "Part Name",
          field: "partName",
          sortable: true,
          classes: "text-h6"
        },
        {
          name: "yAxis",
          align: "left",
          label: "",
          field: "yAxis",
          sortable: true
        },
        {
          name: "xAxis",
          label: "",
          align: "left",
          field: "xAxis",
          sortable: true
        },
        {
          name: "keyParameters",
          align: "left",
          label: "keyParameters",
          field: "keyParameters",
          sortable: true
        }
      ],

      data: [],
      LLPtable: []
    };
  },
  components: {
    plotlycom: require("components/scatterPlotly.vue").default
  },
  computed: {
    contentStyle() {
      return {
        backgroundColor: "rgba(0,0,0,0.02)",
        color: "#555"
      };
    },

    contentActiveStyle() {
      return {
        backgroundColor: "#eee",
        color: "black"
      };
    },

    thumbStyle() {
      return {
        right: "2px",
        borderRadius: "5px",
        backgroundColor: "#027be3",
        width: "5px",
        opacity: 0.75
      };
    }
    // rowClass(item, type) {
    //   debugger;
    //   if (!item || type !== "row") return;
    //   this.data.forEach(row => {
    //     for (let i = 0; i < this.outLine[0].length; i++) {
    //       if (row.partName === this.outLine[0][i]) {
    //         return "table-success";
    //       } else {
    //         return "table-normal";
    //       }
    //     }
    //   });
    //   // if (item.status === "awesome") return "table-success";
    // },
  },
  methods: {
    filterDatachart() {
      debugger;
      // let filterParts = _.cloneDeep(this.OriPartNames);
      // let selIndexs = this.chartData.x.map(
      //   (x, index) =>
      //     parseFloat(x) > this.standard.min && parseFloat(x) < this.standard.max
      // );
      // this.partNames = filterParts.map((x, a) => {
      //   x.index = selIndexs[a];
      //   return x;
      // });
      //this.scrolldata = [];
      this.scrollcount.push("count");
      if (this.scrollcount.length === 1) {
        this.chartData.x.forEach((y, index) => {
          const sliderdata = {
            partName: this.chartData.lab[index],
            xAxis: parseFloat(y),
            index: false
          };

          this.scrolldata.push(sliderdata);
        });
      }

      console.log(this.partNames);
      let filterchart = _.cloneDeep(this.scrolldata);
      debugger;

      filterchart = filterchart.filter(x => {
        if (x.xAxis >= this.standard.min && x.xAxis <= this.standard.max)
          return x;
      });
      this.partNames = [];
      this.scrolldata.forEach(x => {
        debugger;
        let currentindex = filterchart.filter(y => y.partName === x.partName);
        if (currentindex.length > 0) {
          x.partName === currentindex[0].partName ? (x.index = true) : x.index;
        } else {
          x.index = false;
        }
        //putting else condition
        const partobj = {
          label: x.partName,
          index: x.index
        };
        this.partNames.push(partobj);
      });
      console.log(this.scrolldata, this.partNames);
      this.renderChart(this.parameters);

      debugger;
    },
    filterData() {
      debugger;
      this.data = this.LLPtable;
      this.data = this.data.filter(x => {
        if (x.xAxis >= this.standard.min && x.xAxis <= this.standard.max)
          return x;
      });

      // let newpartnames=this.data.map(x=>x.partName);
      // this.partNames=[]
      // newpartnames.forEach((x, index) => {
      //   const obj1 = {
      //     label: x,
      //     index: true
      //   };
      //   this.partNames.push(obj1);
      // });
      //this.partNames

      //this.renderChart(this.parameters);
    },
    changeChartView() {
      if (this.LPPChart) {
        (this.LPPChart = false), (this.toggleBtnName = "Graph View");
        this.AdvView = true;
      } else {
        (this.LPPChart = true), (this.toggleBtnName = "Advanced View");
        this.AdvView = false;
      }
       this.lpptable();
    },
    setPartNamesForProcess(process) {
      debugger;
      this.partNames = [];

      this.selectProcess.partList.forEach((x, index) => {
        const obj = {
          label: x,
          index: true
        };
        this.partNames.push(obj);
      });
      this.OriPartNames = this.partNames;
      //partdatavalues=partdatavalues.map(x=>_.toNumber(x))
      this.LLPAnalysis = [];
      var partdata = [];
      process.charData.forEach((pv, index) => {
        var partdatakeys = Object.keys(
          JSON.parse(process.charData[0].procEstPrimaryVariables).partData
        );
        partdatakeys.splice(partdatakeys.length - 1);
        var partdatavalues = Object.values(
          JSON.parse(process.charData[index].procEstPrimaryVariables).partData
        );
        partdatavalues.splice(partdatavalues.length - 1);
        var partdataUOM = ["Nos", "INR", "INR", ""];
        partdataUOM[3] =
          this.selectProcess.label === "Injection Moulding" ? "gm" : "kg";

        for (let i = 0; i < partdatakeys.length; i++) {
          let obj = [partdatakeys[i], partdatavalues[i], partdataUOM[i]];
          partdata.push(obj);
        }
        let obj3 = [];
        let primevardata = [];
        for (let m = 0; m < partdata.length; m++) {
          obj3 = [];
          let obj = [
            index + 45 + m,
            partdata[m][0],
            partdata[m][1],
            pv.partName,
            pv.totalCost,
            pv.presentCost,
            partdata[m][2]
          ];
          obj3.push(obj);
        }
        console.log(obj3);

        primevardata = JSON.parse(
          pv.procEstPrimaryVariables
        ).procPrimVarData.map(x => [
          parseInt(x.varId),
          x.varName,
          // parseInt(x.value),
          x.value,
          pv.partName,
          pv.totalCost,
          pv.presentCost,
          x.varUOM
        ]);
        // primevardata = primevardata.filter(x => x[1] !== "Percentage Hole");
        let primeprocess = obj3.filter(x => x[1] === "partWeight");
        debugger;
        let xyz = [primevardata, primeprocess].flat();
        //xyz = obj3.filter(x => x[1] === "partWeight");

        // primevardata.flat();

        this.LLPAnalysis.push(xyz);

        //this.LLPAnalysis.push(obj);
      });
      if (this.selectProcess.label === "Injection Moulding") {
        for (let i = 0; i < this.LLPAnalysis.length; i++) {
          this.LLPAnalysis[i] = this.LLPAnalysis[i].filter(
            x => x[1] !== "Percentage Hole"
          );
          this.LLPAnalysis[i] = this.LLPAnalysis[i].filter(
            x => x[1] !== "No of Inserts"
          );
        }
      } else if (this.selectProcess.label === "HPDC") {
        for (let i = 0; i < this.LLPAnalysis.length; i++) {
          this.LLPAnalysis[i] = this.LLPAnalysis[i].filter(
            x => x[1] !== "Application"
          );
          this.LLPAnalysis[i] = this.LLPAnalysis[i].filter(
            x => x[1] !== "area of envolope"
          );
          this.LLPAnalysis[i] = this.LLPAnalysis[i].filter(
            x => x[1] !== "Volume of Core"
          );
        }
      }
      // JSON.parse(process.charData[0].procEstPrimaryVariables).partData
      this.racecost = [];

      this.racecost = this.LLPAnalysis.map(x => x[0][4]).flat();
      this.presentcost = [];
      this.presentcost = this.LLPAnalysis.map(x => x[0][5]).flat();
      this.optparameters = [];
      this.optparameters = this.LLPAnalysis[0]
        .map(x => [{ value: x[0], label: x[1], uom: x[6] }])
        .flat();
      this.costdata = [this.racecost, this.presentcost];
    },

    costoption(price) {
      debugger;
      // if (price === "Current Price"){
      //   return
      //        this.costdata[0]
      // }else{
      //   return
      //   this.costdata[1]
      // }
    },

    renderChart() {
      if (this.parameters) {
        debugger;
        //this.rangeMin = this.parameters.x
        //this.rangeMax
        debugger;
        if (this.price === "Current Price") {
          var ydata1 = this.costdata[1];
        } else if (this.price === "Race Cost") {
          var ydata1 = this.costdata[0];
        } else {
          return q.$notify("Please select Cost");
        }
        var selcProcess = this.partNames
          .filter(x => x.index === true)
          .map(x => x.label);
        var selChartDataArr = [];
        selcProcess.forEach(p =>
          selChartDataArr.push(
            this.LLPAnalysis.filter(x => x[0][3] === p).flat()
          )
        );
        //create fixed rang
        var unFilterData = [];
        let allProcess = this.partNames.map(x => x.label);
        allProcess.forEach(p =>
          unFilterData.push(this.LLPAnalysis.filter(x => x[0][3] === p).flat())
        );
        let xparameter1 = unFilterData
          .flat()
          .filter(x => x[1] === this.parameters.label)
          .map(x => x[2]);
        xparameter1.forEach(element => {
          parseInt(element);
        });

        this.rangeMin = Math.ceil(
          xparameter1
            .map(x => parseFloat(x))
            .reduce((min, b) => Math.min(min, b))
        );
        this.rangeMax = Math.ceil(
          xparameter1
            .map(x => parseFloat(x))
            .reduce((max, b) => Math.max(max, b))
        );
      }

      ///end fixed range

      // this.LPPChart = true;
      let xparameter = selChartDataArr
        .flat()
        .filter(x => x[1] === this.parameters.label)
        .map(x => x[2]);
      xparameter.forEach(element => {
        parseInt(element);
      });
      let yparameterLabel = selChartDataArr
        .flat()
        .filter(x => x[1] === this.parameters.label)
        .map(x => x[3]);
      let yparameterValue = ydata1;

      this.columns[2].label = this.price;
      this.columns[3].label = `${this.parameters.label} (${this.parameters.uom})`;

      this.chartData = {
        x: xparameter,
        y: yparameterValue,
        lab: yparameterLabel,
        xlabel: this.parameters.label,
        ylabel: this.price,
        xuom: this.parameters.uom
      };

      this.standard.min = Math.ceil(
        xparameter.map(x => parseFloat(x)).reduce((min, b) => Math.min(min, b))
      );
      this.standard.max = Math.ceil(
        xparameter.map(x => parseFloat(x)).reduce((max, b) => Math.max(max, b))
      );
    },

    lpptable() {
      this.LLPtable = [];

      this.chartData.x.forEach((y, index) => {
        const llptableObj = {
          Serial: index + 1,
          partName: this.chartData.lab[index],
          yAxis: this.chartData.y[index],
          xAxis: parseFloat(y),
          keyParameters: "Machine Tonnage"
        };

        this.LLPtable.push(llptableObj);
      });
      this.data = this.LLPtable;
    }
  },
  // watch: {
  //   partNames() {
  //     debugger;
  //     this.renderChart();
  //   }
  // },
  mounted() {
    debugger;
    EventBus.$emit("price1", this.price);

    let assemblyId = this.$store.getters["project/getSelProjAssemblyId"];
    let self = this;
    debugger;
    axios
      .get(
        "http://dotnetwebapi4.racex.in//WebForms/api/ProcessData/AnalysisLPP?aId=" +
          assemblyId
      )
      .then(function(response) {
        // handle success

        var processArray = [
          ...new Set(response.data.LLPCollection.map(x => x.procMastName))
        ];
        var optionResponse = [];
        processArray.forEach(i => {
          var chartRespData = response.data.LLPCollection.filter(
            x => x.procMastName === i
          );
          debugger;
          const ObjProceSS = {
            label: `${i}`,
            value: i,
            partList: chartRespData.map(v => v.partName),
            charData: chartRespData
          };

          optionResponse.push(ObjProceSS);

          debugger;
          //filter response by processID
          //Drop down options for Process
          //Drop Down Options for Parts for above process
          //create drop down for all processes
        });

        self.OptselectProcess = optionResponse;

        //drop down options for Variables

        console.log(self.LLPAnalysis);
        // Object.entries(JSON.parse(response.data.LLPCollection[0].procEstPrimaryVariables).procPrimVarData)
        //Drop Down for price /cost
      })
      .catch(function(error) {
        // handle error
        console.log(error);
      })
      .finally(function() {
        // always executed
      });
    this.scrolldata = [];
  }
};
</script>
<style lang="stylus" scoped>
.table-success {
  background-color: #a5f0ac;
}

.table-normal {
  background-color: #ffffff;
}
</style>
