<!--https://github.com/sijinglei/vue-tree-table -->

<template>
  <div class="contains">
    <h1>Table</h1>
    <tree-table ref="recTree" :list.sync="treeDataSource" @actionFunc="actionFunc" @deleteFunc="deleteFunc" @handlerExpand="handlerExpand" @orderByFunc="orderByFunc"></tree-table>
  </div>
</template>
<script>
import dataJson from './data.json'

export default {
  data() {
    return {
      treeDataSource: dataJson
    }
  },
  components: {
    
     treeTable: require("components/treeTable/tree-table.vue").default,
  },
  methods: {
    orderByFunc(val) {
      alert('orderBy')
      alert(val)
    },
    actionFunc(m) {
      alert('actionFn')
    },
    deleteFunc(m) {
      alert('deleterFunc')
    },
    handlerExpand(m) {
      console.log('Expand collapse')
      m.isExpand = !m.isExpand
    }
    // getTreeData() {
    //   // 取父节点
    //   let parentArr = this.list.filter(l => l.parentId === 0)
    //   this.treeDataSource = this.getTreeData(this.list, parentArr)
    // },
    // // 这里处理没有children结构的数据
    // getTreeData(list, dataArr) {
    //   dataArr.map((pNode, i) => {
    //     let childObj = []
    //     list.map((cNode, j) => {
    //       if (pNode.Id === cNode.parentId) {
    //         childObj.push(cNode)
    //       }
    //     })
    //     pNode.children = childObj
    //     if (childObj.length > 0) {
    //       this.getTreeData(list, childObj)
    //     }
    //   })
    //   return dataArr
    // }
  }
}
</script>

<style>
.contains {
    width: 960px;
    margin: 30px auto;
}
</style>
