<template >
  <q-page padding>
    <nameHeader></nameHeader>

    <div class="bg-grey-1 q-mt-md">
      <div class="q-pa-md doc-container">
        <div class="fit row wrap justify-start items-start content-start q-mb-sm">
          <div class="col-xs-12 col-sm-3 col-md-2 q-pa-xs">
            <q-item-label class="text-h5 q-pt-xs" style>Primary Variable</q-item-label>
          </div>

          <div class="col-xs-12 col-sm-5 col-md-2 ">
            <input class="excel-upload-input" ref="excel-upload-input" type="file" accept=".xlsx, .xls" @change="handleClick" />
            <q-btn
              class="uploadPrime"
              size="md"
              @click="handleUpload"
              no-caps
              label="Upload Primary Inputs"
            ></q-btn>
          </div>
        </div>
        <q-separator />

        <q-form @submit="onSubmit" @reset="onReset" class>
          <div class="fit row wrap justify-start items-start content-start q-gutter-md q-mt-xs">
            <div v-if="dataloaded" class="col-xs-12 col-sm-5 col-md-5 q-gutter-xs">
              <mfgCurCom
                class="q-ma-md"
                :selMfgLocation="selMfgLocation"
                @updateMfgLocationId="updateSelctedProjectMfgLocation"
              />

              <CurrencyComm :selCur="selCur" @updateCurId="updatePartCurncy" class="q-ma-md"></CurrencyComm>

              <q-list>
                <Overhead
                  v-for="oh in selectedProfileOHData"
                  class="row q-gutter-sm text-h6"
                  :key="oh.name"
                  :oh="oh"
                ></Overhead>
              </q-list>

              <q-btn
                square
                size="1.2rem"
                :label="`Manufacturing Profile :   ${selectedProfileName}`"
                @click="alert = true"
                no-caps
                class="q-mt-lg mfgProfile"
              />
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="row q-ml-md">
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <partVariableCom
                    v-if="primpartDataloaded"
                    :pagePrimPartData="this.pagePrimPartData"
                    :processprimvarData="processprimvarData"
                    @updatePrimaryPartData="updatePrimaryPartData"

                  />
                </div>

                <div style class="col partVar q-ml-lg">
                  <processPrimVarCom
                    class
                    v-for="var1 in proceVar"
                    :key="var1.varName"
                    :var1="var1"
                    @updatePrimaryProcData="updatePrimaryProcData(proceVar)"
                  ></processPrimVarCom>
                </div>
              </div>
            </div>
          </div>
        </q-form>

        <div class="row q-mt-xl q-gutter-sm">
          <q-space />
          <div class="col-xs-12 col-sm-6 col-md-5">
            <q-btn
              label="Submit"
              type="submit"
              flat
              class="btnsubmit btnFill float-right"
              @click="passPrimVar(proceVar)"
            />
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <q-btn label="Cancel" to="/PartDetail" flat class="btnCancel btnOutline q-ml-md" />
          </div>
        </div>
      </div>
    </div>

    <q-dialog class="mycard" v-model="alert">
      <manufcaturingProfile></manufcaturingProfile>
    </q-dialog>
  </q-page>
</template>
  
<script>
import axios from "axios";
import { mapGetters, mapActions } from "vuex";
import { EventBus } from "../event-bus";
import XLSX from "xlsx";

export default {
  mounted() {
    let setSetdata = this.$store.getters["processStore/getPrimVProctData"];
    debugger;
    this.userId = this.$store.getters["appStateStore/getUserId"];
    //set default values from project
    let ObjProject = this.$store.getters["project/selectedObjProject"];
    // set Project MFGLocation, Project Currency to UI, MFGProfile

    //check if part is for edit or new if part has data load part data 
    // let partProcCurrency = this.$store.getters["processStore/selectedPartCurId"]; 
    // let partProcMfgLocation =this.$store.getters["processStore/selectedPartMfgLocation"]; 


    let projMfgProfileId = ObjProject.projectMfgProfileId;
    let projMfgLocationId = parseInt(ObjProject.projectMfgId);
    let projectCurrId = parseInt(ObjProject.projectCurId);
    let allMfgData = this.$store.getters["mfgstore1/mfgAllProfiles"];  
      let mfgprofDataArray = Object.entries(allMfgData).map(x=>x[1]); 
    
      let selectedMfgProfileIndex = mfgprofDataArray.map((x,index)=> {if(x.mfgProfId === projMfgProfileId) return index}).filter(x=>x!=undefined)[0];
      let ProjMfgObjData = mfgprofDataArray[selectedMfgProfileIndex]; 
      //
      let currentPartSelectedMfgData = this.$store.getters["mfgstore1/selectedProfile"];
       if(!Object.entries(currentPartSelectedMfgData).length>0){
      this.$store.dispatch("mfgstore1/updateShiftProfile", ProjMfgObjData);
       }
    //getList and set data mfgProfile
 
 
    //mfgLocation
    let selProjectMfgLocation = this.$store.getters[
      "project/selectedProjMfgLocationId"
    ];
    if (!Object.entries(this.selMfgLocation).length>0){
    
      this.$store.dispatch(
        "processStore/updateSelctedPartMfgLocation",
        selProjectMfgLocation
      );
    }
    debugger;
    //projCurrency

    let selProjectCurrency = this.$store.getters[
      "project/selectedProjCurrrency"
    ];
   if(!Object.entries(this.selCur).length>0){
  this.$store.dispatch(
      "processStore/updateSelctedPartCurrency",
      selProjectCurrency
    );
   }

    this.dataloaded = true;

    debugger;

    var selProc = this.$route.query;
    console.log("if", selProc);
    EventBus.$emit("partDetailBreadCrum", true);
    EventBus.$emit("headerActive", "Part Detail");
    EventBus.$emit("headerName", "Part Detail");
    if (selProc.newProc === true) {
      console.log("query", selProc.procId);
  debugger;
      axios
        .get(
          "http://dotnetwebapi4.racex.in//WebForms/api/ProcessData/ProcPriAttri?procId=" +
            selProc.procId +
            "&sectId=1&matId=" +
            selProc.procId
        )
        .then(response => (this.proceVar = response.data.ProcPrimAttri));
      console.log("axios", this.proceVar);
    } else {
      this.proceVar = setSetdata;
    }

    debugger;
    this.$root.$on('processChanged',data=>{
debugger;
this.proceVar =data;

    })

    this.pagePrimPartData = this.$store.getters[
      "processStore/getPrimVPartData"
    ];
    this.primpartDataloaded = true;

   


    //this.$watch
  },

  beforeDestroy() {
    EventBus.$emit("partDetailBreadCrum", false);
  },
  data() {
    return {
      userId: null,
      alert: false,
      proceVar: null,
      avatar: null,
      saving: false,
      saved: false,
      var1: null,
      pageData: null,
      dataloaded: false,
      primpartDataloaded: false,
      pagePrimPartData: {},
      accept: false,
      model: null,
      model1: null,
      mateGrade: null,

      file: null,

      optionsProc: []
    };
  },

  computed: {
    ...mapGetters("mfgstore1", ["selectedProfileOHData", "selectedProfile"]),
    //  selectedProfileOHData() {
    //   return this.$store.getters["processStore/selectedProfile"];
    // },
    selCur() {
      return this.$store.getters["processStore/selectedPartCurrency"];
    },
    selectedProfileName() {
      return this.$store.getters["mfgstore1/mfgProfiles"].mfgProfname;
    },
    selMfgLocation() {
      return this.$store.getters["processStore/getPartMfgLocation"];
    },
    processprimvarData(){
      return this.$store.getters["processStore/getPrimVData"].procPrimVarData;
    }
  },
  watch: {
    // pagePrimPartData(){
    //   console.log("watch", this.pagePrimPartData);
    //        let partData = {
    //             "anualVolume":"500000",
    //             "presentCost":"100",
    //             "bopCost":"0",
    //             "partWeight":"160",
    //             "mateGrade":{"label":"SAN-Unfilled","value":"30"}
    //             };
    //      this.$set(
    //             this.pagePrimPartData,
    //             "anualVolume",
    //             partData.anualVolume
    //           );
    //}
  },
  methods: {
    updatePrimaryPartData(partData) {
      this.$store.dispatch("processStore/updatePrimaryPartData", partData);
    },

    updatePrimaryProcData(proceVar) {
      this.$store.dispatch("processStore/updatePrimaryProcVar", proceVar);
    },
    updateSelctedProjectMfgLocation(mfgId) {
      this.$store.dispatch("processStore/updateSelctedPartMfgLocation", mfgId);
    },
    updatePartCurncy(cur) {
      this.$store.dispatch("processStore/updateSelctedPartCurrency", cur);
    },

    fetchPrimVaryData() {
      let selProcId = this.$route.query;
      console.log("query", selProcId);
      var self = this;
      if (!this.mateGrade) {
        axios
          .get(
            "http://dotnetwebapi4.racex.in//WebForms/api/ProcessData/ProcPriAttri?procId=" +
              selProcId.procId +
              "&sectId=1&matId=" +
              selProcId.procId
          )
          .then(response => (this.proceVar = response.data.ProcPrimAttri));
      } else {
        self.$q.notify({
          color: "red-5",
          textColor: "white",
          icon: "fas fa-exclamation-triangle",
          message: "Please select Material"
        });
      }
    },

    onSubmit() {
      if (this.accept !== true) {
        this.$q.notify({
          color: "red-5",
          textColor: "white",
          icon: "fas fa-exclamation-triangle",
          message: "You need to accept the license and terms first"
        });
      } else {
        this.$q.notify({
          color: "green-4",
          textColor: "white",
          icon: "fas fa-check-circle",
          message: "Submitted"
        });
      }
    },

    onReset() {
      this.name = null;
      this.password = null;
      this.accept = false;
    },
    passPrimVar(proceVar) {
      this.$router.push({
        name: "control-variable",
        query: { primVdata: proceVar }
      });
    },

    handleUpload() {
      this.$refs["excel-upload-input"].click();
    },
    handleClick(e) {
      debugger;
      const files = e.target.files;
      const rawFile = files[0]; // only use files[0]
      if (!rawFile) return;
      this.upload(rawFile);
    },
    upload(rawFile) {
      this.$refs["excel-upload-input"].value = null; // fix can't select the same excel
      if (!this.beforeUpload) {
        this.readerData(rawFile);
        return;
      }
      const before = this.beforeUpload(rawFile);
      if (before) {
        this.readerData(rawFile);
      }
    },

    readerData(rawFile) {
      //this.loading = true;
      let self = this;
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.onload = e => {
          const data = e.target.result;
          debugger;
          const workbook = XLSX.read(data, { type: "array" });
          const firstSheetName = workbook.SheetNames[0]; //model
          const secondSheetName = workbook.SheetNames[1]; //model specs data
          //find appropriate sheetname and create Object
          debugger;
          const worksheet = workbook.Sheets[firstSheetName];
          //const attributes = this.getHeaderRow(worksheet);
          const attrData = XLSX.utils.sheet_to_json(worksheet);
          debugger;
          let partData = {
            anualVolume: attrData[1].Annual_Volume,
            presentCost: attrData[1].Present_Cost,
            bopCost: attrData[1].BOP_Cost,
            partWeight: attrData[1].Part_Weight,
            mateGrade: {
              label: attrData[1].Material_Grade,
              value: "30"
            }
          };
          this.pagePrimPartData = partData;

          //  this.proceVar = procData;
          let procData = self.$store.getters["processStore/getPrimVProctData"];

          let procValueArr = Object.values(attrData[1]).splice(5);

          procData.forEach(function(element, index) {
            debugger;
            self.$set(self.proceVar[index], "value", procValueArr[index]);
          });
          self.$store.dispatch(
            "processStore/updatePrimaryProcVar",
            self.proceVar
          );
          self.$store.dispatch("processStore/updatePrimaryPartData", partData);

          debugger;

          resolve();
        };
        reader.readAsArrayBuffer(rawFile);
      });
    },
    getHeaderRow(sheet) {
      const headers = [];
      const range = XLSX.utils.decode_range(sheet["!ref"]);
      let C;
      const R = range.s.r;
      /* start in the first row */
      debugger;
      for (C = range.s.c; C <= range.e.c; ++C) {
        /* walk every column in the range */
        const cell = sheet[XLSX.utils.encode_cell({ c: C, r: R })];
        /* find the cell in the first row */
        let hdr = "UNKNOWN " + C; // <-- replace with your desired default
        if (cell && cell.t) hdr = XLSX.utils.format_cell(cell);
        headers.push(hdr);
      }
      return headers;
    }
  },

  components: {
    manufcaturingProfile: require("components/manufacturingPofile.vue").default,
    Overhead: require("components/OverheadCom.vue").default,
    mfgCurCom: require("components/Variables/primary/mfgCurCom.vue").default,
    partVariableCom: require("components/Variables/primary/partVariableCom.vue")
      .default,
    processPrimVarCom: require("components/Variables/primary/processPrimVarCom.vue")
      .default,
    nameHeader: require("components/Variables/common/nameHeader.vue").default,
    CurrencyComm: require("components/Variables/common/Currency.vue").default
  }
};
</script>


<style lang="scss" >
.procImage {
  background-image: url("../statics/Forging1.jpg");
}
.uploadPrime {
  color: #1f40e6;
  border: 1px solid #1f40e6;
}
 .excel-upload-input {
    display: none;
    z-index: -9999;
  }
@media screen and(max-width: 580px) {
  .uploadPrime {
    width: 100%;
  }
  .btnsubmit {
    width: 100%;
  }
  .btnCancel {
    width: 100%;
    margin-left: 1px;
  }
  .inProgress {
    width: 91%;
  }
  .compleated {
    width: 91%;
  }
}

@media screen and(max-width: 768px) {
  .createProject {
    width: 97%;
  }
 
}
</style>
