<template>
  <div class>
    <upload-excel-component :on-success="handleSuccess" :before-upload="beforeUpload" />
    <q-table
      class="my-sticky-header-table"
      :data="data"
      :columns="columns"
      row-key="name"
      bordered
      no-data-label="I didn't find anything for you"
      no-results-label="The filter didn't uncover any results"
    ></q-table>
  </div>
</template>

<script>
export default {
  mounted() {
    //debugger;
    // var FileSaver = require('file-saver');
    //       var blob = new Blob(["Hello, world!"], {type: "text/plain;charset=utf-8"});
    // FileSaver.saveAs(blob, "hello world.txt");
  },

  data() {
    return {
      data: [],

      columns: []
    };
  },
  methods: {
    beforeUpload(file) {
      const isLt1M = file.size / 1024 / 1024 < 1;
      if (isLt1M) {
        return true;
      }
      this.$message({
        message: "Please do not upload files larger than 1m in size.",
        type: "warning"
      });
      return false;
    },
    handleSuccess({ results, header }) {
      debugger;

      // this.columns = header
      const colArray = [];
      header.forEach(element => {
        debugger;
        const colname = {
          name: element,
          label: element,
          field: element,
          align: "left",
          sortable: true
        };
        colArray.push(colname);
      });
      console.log(colArray);
      this.columns = colArray;
      this.data = results;
    }
  },
  components: {
    "upload-excel-component": require("components/uploadExcel.vue").default
  }
};
</script>