 <template>
  <div>
    <p>paratochart</p>
  </div>
</template>
 
 <script>
export default {
  methods: {
    setlevel2(filterPartCounts) {
      debugger;
      this.lvl2Data = _.cloneDeep(this.paratodata);
      this.lvl2Data = this.Lvl1Data.map(x => x.children).flat();

      this.lvl2Data.forEach(
        x =>
          (x.totalCost = _.round(
            x.totalCost + _.sum(x.children.map(y => y.totalCost))
          ))
      );
      var newlevel2data = [...this.Lvl1Data, ...this.lvl2Data];
      //this.lvl2Data.sort((a, b) => (a.totalCost < b.totalCost ? 1 : -1));
      newlevel2data.sort((a, b) => (a.totalCost < b.totalCost ? 1 : -1));
      this.xLvl2Data = newlevel2data.map(x => x.partName);
      this.xLvl2Data = this.lvl2Data
        .filter(x => x.partLevel === 2)
        .map(x => x.partName);
      this.yLvl2data = this.lvl2Data
        .filter(x => x.partLevel === 2)
        .map(x => x.totalCost);
      this.Level2 = this.lvl2Data
        .filter(x => x.partLevel === 2)
        .map((x, index) => `${x.partLevel}_${x.partId}`);
    },
    setlevel() {
      if (this.partCounts === "Top 10") {
        let level2obj = _.zipObject(xdata2, ydata2);
        ydata2.sort((a, b) => (a < b ? 1 : -1));

        let newXdata = Object.keys(level2obj).sort(function(a, b) {
          return level2obj[b] - level2obj[a];
        });

        this.level = this.level.slice(0, filterPartCounts);
        xdata2 = newXdata;
        xdata2 = xdata2.slice(0, filterPartCounts);
        ydata2 = ydata2.slice(0, filterPartCounts);
      }
    },
    drilldown() {
      +_.sum(
        b.children.map(
          a => a.totalCost + _.sum(a.children.map(c => c.totalCost))
        )
      );
    }
  }
};
</script>
 
 <style>
</style>
 