<template>
  <q-page dense class="q-pa-md">
    <div class="q-pa-md q-mt-sm doc-container  bg-grey-1">
      <form @submit="onSubmit" class>
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-6 inputField q-pa-md q-gutter-sm">
            <q-item-label class="text-h6">Project Number</q-item-label>
            <q-input
              square
              outlined
              class="text-h6"
              v-model="projectNumber"
              placeholder
              type="text"
              disable
            />
            <q-item-label class="text-h6">Project Name</q-item-label>
            <q-input
              ref="projectName"
              square
              outlined
              v-model="projectName"
              class="text-h6"
              placeholder="Enter Project Name here"
              @blur="this.style.color='red'"
              lazy-rules
              :rules="[ val => val && val.length > 0 || 'Please type something']"
            />

            <q-item-label class="q-mt-lg text-h6">Project Description</q-item-label>
            <q-input
              ref="projectDesc"
              square
              outlined
              class="text-h6"
              v-model="projectDesc"
              placeholder="Enter Project description here"
              type="textarea"
              lazy-rules
              :rules="[ val => val && val.length > 0 || 'Please Enter Project Description']"
            />

            <q-item-label class="text-h6">Country</q-item-label>

            <mfgCurCom
              :selMfgLocation="selMfgLocation"
              @updateMfgLocationId="updateSelctedProjectMfgLocation"
            />
            <q-item-label class="text-h6">Currency (Set Default)</q-item-label>

            <CurrencyComm
              :selCur="selCur"
              @updateCurId="updateSelctedProjectCurrency"
              @updateCurConverRate="updateCurrencyData"
              @updateRefYear="updateRefYearData"
              @updateRefQtr="updateRefQtrData"
              :CurConverUSD="ProjCurConvRateUSD"
              :CurCnvYear="projCurCnvYear"
              :CurCnvQtr="prjCurCnvQtr"
            ></CurrencyComm>

            <q-btn
              square
              size="1.2rem"
              :label="`Manufacturing Profile :   ${selectedProfileName}`"
              @click="trigger()"
              no-caps
              class="q-mt-lg mfgProfile"
            />
            <span
              class="float-left text-subtitle2"
              style="font-family:TheinhardtPan-Light"
            >Created date: {{createddate}}</span>
            <span
              class="float-right text-subtitle2"
              style="font-family:TheinhardtPan-Light"
            >`Last Updated date:{{Updateddate}} </span>
          </div>

          <div class="col-xs-12 col-sm-5 col-md-5 imgDiv">
            <div @click="projImage=true">
              <q-avatar square v-if="projectImageURL" size="400px">
                <img :src="projectImageURL" />
              </q-avatar>

              <q-avatar square v-else size="400px" icon="add_photo_alternate"></q-avatar>
            </div>
            <p class="imgDesc">{{this.projectImageDesc}}</p>
          </div>
        </div>
      </form>
      <div class="row q-gutter-md q-mt-md">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <q-btn
            label="Cancel"
            type="submit"
            flat
            no-caps
            class="btnOutline btnCancel shadow-3 float-right"
            to="/dashboard"
          />
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5">
          <q-btn
            label="Save"
            type="submit"
            no-caps
            class="btnFill btnsubmit shadow-3"
            @click="onSubmit"
          />
        </div>
      </div>
    </div>

    <q-dialog class="mycard" v-model="alert">
      <manufcaturingProfile></manufcaturingProfile>
    </q-dialog>
    <q-dialog class="mycard" v-model="projImage">
      <q-card class="bg-gray1 text-Black" style>
        <q-card-section class="row">
          <image-input v-model="avatar">
            <div slot="activator">
              <q-tooltip
                anchor="top middle"
                self="bottom middle"
                content-class=" macBlueColor text-h6 shadow-3"
                :offset="[10,10]"
              >Please click to upload Project Image here...</q-tooltip>
              <q-avatar
                square
                size="400px"
                v-if="!avatar"
                class="bg-grey-3 avtr"
                icon="add_photo_alternate"
              ></q-avatar>
              <div square size="500px" ripple v-else class="avtr">
                <p class="imgDesc">{{this.projectImageDesc}}</p>
                <img class="photo" :src="avatar.imageURL" alt="avatar" />
              </div>
            </div>
          </image-input>

          <q-slide-transition style="margin-top:20px">
            <div v-if="avatar && saved == false">
              <q-input
                class="q-mb-lg"
                v-model="projectImageDesc"
                label="Image Description"
                square
                outlined
                autofocus
              />
              <q-btn
                class="imgSave q-mt-xs"
                @click="uploadImage"
                :loading="saving"
                v-close-popup
              >Save Project Image</q-btn>
            </div>
          </q-slide-transition>
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-page>
</template>
  
<script>
import axios from "axios";
import { EventBus } from "../event-bus";
import { mapGetters, mapActions } from "vuex";
import { date } from 'quasar';

export default {
  data() {
    return {
      userId: null,
      projId: null,
      projectCurId: null,
      projectMfgId: null,
      projectName: null,
      projectDesc: null,
      projectNumber: "",
      alert: false,
      projectImageURL: "",
      projectImageDesc: "",
      projImage: null,
      avatar: null,
      saving: false,
      saved: false,
      mfgProfId: "",
      createddate:null,
      Updateddate:null,

      model: null,
      model1: null,

      file: null,
      projectCurCnvUSDRate: null,
      projectRefYear: null,
      projCurCnvQtr: null
    };
  },
  watch: {
    avatar: {
      handler: function() {
        this.saved = false;
      },
      deep: true
    }
  },
  computed: {
    ...mapGetters("mfgstore1", ["selectedProfile"]),
        selectedProfileName() {
      return this.$store.getters["mfgstore1/selectedProfile"].mfgProfname;
    },
    selCur() {
      return this.$store.getters["project/selectedProjCurrrency"];
    },

    selMfgLocation() {
      return this.$store.getters["project/selectedProjMfgLocationId"];
    },
    ProjCurConvRateUSD() {
      return this.$store.getters["project/selectedObjProject"]
        .projectCurCnvRateUSD;
    },
    projCurCnvYear() {
      return this.$store.getters["project/selectedObjProject"].projCurCnvYear;
    },

    prjCurCnvQtr() {
      return this.$store.getters["project/selectedObjProject"].projCurCnvQtr;
    }
  },
  mounted() {

    //set selected profile check if object is emply
  

var self=this;   


      axios
      .get(
        "http://dotnetwebapi4.racex.in//WebForms/api/GetProcMasterData/GetMfgProfileData"
      )
      .then(function(response) {
        // handle success
        debugger;

        let mfgData = JSON.parse(response.data.tblMfgProfileData[0].MfgProfile).mfgProfiles

      self.$store.dispatch("mfgstore1/loadShiftProfile",mfgData);
      });




    this.userId = this.$store.getters["appStateStore/getUserId"];
    this.$store.dispatch("appStateStore/updateHeaderName", "Project Detail");
    EventBus.$emit("headeData", true);
    //update project currency to partCurrency
    let partCurrency = this.$store.getters["processStore/selectedPartCurrency"];
    debugger;
    if(!Object.entries(partCurrency).length>0){
    this.$store.dispatch("processStore/updateSelctedPartCurrency", this.selCur);
    }

    EventBus.$emit("headerName", "Project Detail");
    EventBus.$emit("headerActive", "Project Detail");
    //set assembly details to blank
    this.$store.dispatch("project/updateSelProjAssemNumber", "");
    this.$store.dispatch("project/updateSelProjAssemName", "");

    //get ProjectData from store and bind it
   
   let ObjProject = this.$store.getters["project/selectedObjProject"];


  

    var self = this;

    if (Object.entries(ObjProject).length === 0) {

        self.$store.dispatch("mfgstore1/updateShiftProfile", {  
    mfgProfname: "Please Click To Select",
    mfgProfId: "0"
      });
      axios
        .get("http://dotnetwebapi4.racex.in//WebForms/api/ProjectData/GetNewProjectNo")
        .then(function(response) {
          // handle success
          self.projectNumber = response.data.Project[0].ProjectNo;

          //console.log(response.data.Project[0].ProjectNo);
          //get mfgid
        })
        .catch(function(error) {
          // handle error
          console.log(error);
        })
        .finally(function() {
          // always executed
        });
    } else {
      this.projId = ObjProject.projId;
      this.projectCurId = ObjProject.projectCurId;
      this.projectName = ObjProject.projectName;
      this.projectDesc = ObjProject.projectDesc;
      this.projectNumber = ObjProject.projectNumber;
      this.projectMfgId = ObjProject.projectMfgId;
      this.selProjectProfile = ObjProject.projectMfgProfile;
      this.projectImageURL = ObjProject.projectImageURL;
      this.projectImageDesc = ObjProject.projectImageDesc;
      (this.projectCurCnvUSDRate = ObjProject.projectCurCnvRateUSD),
        (this.projectRefYear = ObjProject.projCurCnvYear),
        (this.projCurCnvQtr = ObjProject.projCurCnvQtr);

    debugger;
     let projMfgProfileId = ObjProject.projectMfgProfileId;
      let allMfgData = self.$store.getters["mfgstore1/mfgAllProfiles"];  
       let mfgprofDataArray = Object.entries(allMfgData).map(x=>x[1]); 
    
      let selectedMfgProfileIndex = mfgprofDataArray.map((x,index)=> {if(x.mfgProfId === projMfgProfileId) return index}).filter(x=>x!=undefined)[0];
      let ProjMfgObjData = mfgprofDataArray[selectedMfgProfileIndex];
      //
      this.$store.dispatch("mfgstore1/updateShiftProfile", ProjMfgObjData);
    
    }
  },

  methods: {
    updateSelctedProjectCurrency(curId) {
      this.$store.dispatch("project/updateSelctedProjectCurrency", curId);
    },
    updateSelctedProjectMfgLocation(mfgId) {
      this.$store.dispatch("project/updateSelctedProjectMfgLocation", mfgId);
     // this.$store.dispatch("processStore/updateSelctedPartMfgLocation", mfgId);
    },
    updateCurrencyData(data) {
      this.projectCurCnvUSDRate = data;
    },
    updateRefYearData(data) {
      this.projectRefYear = data;
    },

    updateRefQtrData(data) {
      this.projCurCnvQtr = data;
    },
    trigger() {
      this.alert = true;
      debugger;
      EventBus.$emit("mfgIdProject", "ProjectMfgId");
    },

    onSubmit() {
      debugger;
      this.$refs.projectName.validate();
      this.$refs.projectDesc.validate();
      if (this.$refs.projectName.hasError || this.$refs.projectDesc.hasError) {
        this.formHasError = true;
        this.$q.notify({
          icon: "done",
          color: "negative",
          message: "You need to Enter All details "
        });
      }
      // else if (this.accept !== true) {
      //   this.$q.notify({
      //     color: 'negative',
      //     message: 'You need to Select the Manufacturing Profile'
      //   })
      // }
      else {
      
          let selProjectProfile = this.$store.getters["mfgstore1/selectedProfile"]; 
        this.mfgProfId = selProjectProfile.mfgProfId;

        this.projectMfgId = this.$store.getters[
          "project/selectedProjMfgLocationId"
        ].value;
        this.projectCurId = this.$store.getters[
          "project/selectedProjCurrrency"
        ].value;
      //  let timeStamp = Date.now()
      //  let formattedString = date.formatDate(timeStamp, 'DD-MMM-YYYY')
      //  this.createddate =formattedString;
      //  this.Updateddate=formattedString;
        let ObjProject = {
          projId: this.projId,
          projectCurId: this.projectCurId,
          projectName: this.projectName,
          projectDesc: this.projectDesc,
          projectNumber: this.projectNumber,
          projectMfgId: this.projectMfgId,
          projectMfgProfileId: this.mfgProfId, //need to be dynamic
          projectImageURL: this.projectImageURL,
          projectImageDesc: this.projectImageDesc,
          projStatus: 0, //inprogress
          userId: this.userId,
          projectCurCnvUSDRate: this.projectCurCnvUSDRate,
          projectCurCnvQtrYear: this.projectRefYear,
          projCurCnvQtr: this.projCurCnvQtr,
          // Createddate:this.createddate,
          // LastUpdated:this.Updateddate
        };

  

  
        var self = this;

        axios
          .post(
            "http://dotnetwebapi4.racex.in//WebForms/api/ProjectData/InsertProject",
            ObjProject
          )
          .then(function(response) {
        
            debugger;
            self.projId = response.data.Project[0].projId;
            ObjProject.projId = response.data.Project[0].projId;
            //update store projId
            self.$store.dispatch("project/updateSelectedObjProj", ObjProject);
            self.$router.push({
              name: "PartDetail"
            });
          })
          .catch(function(error) {
            console.log(error);
          });
      }
    },

    onReset() {
      this.name = null;
      this.password = null;
      this.accept = false;
    },

    uploadImage() {
      this.saving = true;
      //  var self= this;

      let formData = new FormData();
      formData.append(this.avatar.imageFile.name, this.avatar.imageFile);
      formData.append("uploadFrom", "ProjectImage");
      formData.append("Id", "PRN201900002");
      formData.append("AttachmentTagName", "ProjImage");

      axios({
        method: "post",
        url: "http://dotnetwebapi4.racex.in//WebForms/api/FileUpload/SaveImage",

        data: formData,

        headers: { "content-type": "multipart/form-data" }
      })
        .then(response => {
          debugger;

          let imagePath = response.data.tblFile[0].FilePath.split(
            "~"
          )[1].trim();
          this.projectImageURL = "http://dotnetwebapi4.racex.in/" + imagePath;
       
        })
        .catch(function(error) {
          console.log("Post Error : " + error);
        });
      setTimeout(() => this.savedAvatar(), 500);
    },
    savedAvatar() {
      this.saving = false;
      this.saved = true;
      this
    }
  },
  components: {
    manufcaturingProfile: require("components/manufacturingPofile.vue").default,
    "image-input": require("components/ImageInput.vue").default,
    CurrencyComm: require("components/Variables/common/Currency.vue").default,
    mfgCurCom: require("components/Variables/primary/mfgCurCom.vue").default
  }
};
</script>


<style lang="css"  scopped>
.photo {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}
.imgDiv {
  padding-left: 100px;
  margin-top: 50px;
}
.imgSave {
  background-color: #1f40e6;
  width: 185px;
  height: 48px;
  color: #ffffff;
  cursor: pointer;
  font-family: TheinhardtPan-Medium;
}
.imgSave:hover {
  background-color: #ffffff;
  color: #1f40e6;
  border: 1px solid #1f40e6;
  width: 185px;
  cursor: pointer;
  height: 48px;
  font-family: TheinhardtPan-Medium;
}

.imgDesc {
  font-family: TheinhardtPan-Regular;
  color: #1f40e6;
  font-size: 1.3rem;
  text-align: left;
}

.imgInput {
  width: 100%;

  opacity: 0;
  position: absolute;
}

.mycard {
  width: "1200px";
}
@media screen and(max-width: 1024px) {
  .imageUpload {
    margin-left: 120px;
  }
  .avtr {
    size: 400px;
  }
}
@media screen and(max-width: 768px) {
  .avtr {
    size: 400px;
  }
}
@media screen and(max-width: 580px) {
  .inputField {
    width: 100%;
  }

  .btnsubmit {
    width: 100%;
    margin-right: 20px;
  }
  .btnCancel {
    width: 100%;
    margin-left: 0px;

    padding-left: 0px;
  }
  .imgSave {
    width: 100%;
  }
  .photo {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    padding: 10px;
  }
  .imgDiv {
    padding: 10px;
    margin-top: 5px;
  }
}
</style>
