<template></template>

<script>
export default {
  methods: {
    drillDown(event) {
      debugger;
      let clickedY = event.points[0].y;
      let clickedItem = event.points[0].x;
      //find parent index and child index
      this.level = true;
      let partlvl = parseInt(this.partLevels.split("-")[1]);
      let parentlvl = parseInt(event.points[0].customdata.split("_")[0]);
      let nextLevel = parentlvl + 1;
      let clickedItemIndex = event.points[0].pointIndex;
      this.currentLevel = parentlvl; //set parent level
      //find index of clicked parent
      if (partlvl === 1) {
        if (parentlvl === 1) {
          debugger;

          this.chartDataLvl1 = _.cloneDeep(
            this.newChartData[clickedItemIndex].children
          );

          this.chartDataLvl1.forEach(
            x =>
              (x.totalCost = _.round(
                x.totalCost +
                  _.sum(
                    x.children.map(
                      y =>
                        y.totalCost +
                        _.sum(
                          y.children.map(
                            w =>
                              w.totalCost +
                              _.sum(
                                w.children.map(
                                  v =>
                                    v.totalCost +
                                    _.sum(v.children.map(b => b.totalCost))
                                )
                              )
                          )
                        )
                    )
                  )
              ))
          );
          this.chartDataLvl1.sort((a, b) =>
            a.totalCost < b.totalCost ? 1 : -1
          );

          // var chartDataLvl1Copy =  _.cloneDeep( this.chartDataLvl1);

          var xdata2 = this.chartDataLvl1
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.partName);
          var ydata2 = this.chartDataLvl1
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.totalCost);
          var Level2 = this.chartDataLvl1
            .filter(x => x.partLevel === nextLevel)
            .map((x, index) => `${x.partLevel}_${x.partId}`);
          var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);
          let y2 = 0;
          var ydataLine2 = ydata2.map(x =>
            _.round((y2 += x * 100) / ydataTotal2, 2)
          );
        } else if (parentlvl === 2) {
          this.chartDataLvl2 = _.cloneDeep(
            this.chartDataLvl1[clickedItemIndex].children
          );

          this.chartDataLvl2.forEach(
            x =>
              (x.totalCost = _.round(
                x.totalCost +
                  _.sum(
                    x.children.map(
                      y =>
                        y.totalCost +
                        _.sum(
                          y.children.map(
                            w =>
                              w.totalCost +
                              _.sum(
                                w.children.map(
                                  v =>
                                    v.totalCost +
                                    _.sum(v.children.map(b => b.totalCost))
                                )
                              )
                          )
                        )
                    )
                  )
              ))
          );
          this.chartDataLvl2.sort((a, b) =>
            a.totalCost < b.totalCost ? 1 : -1
          );
          var xdata2 = this.chartDataLvl2
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.partName);
          var ydata2 = this.chartDataLvl2
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.totalCost);
          var Level2 = this.chartDataLvl2
            .filter(x => x.partLevel === nextLevel)
            .map((x, index) => `${x.partLevel}_${x.partId}`);
          var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);
          let y2 = 0;
          var ydataLine2 = ydata2.map(x =>
            _.round((y2 += x * 100) / ydataTotal2, 2)
          );
        } else if (parentlvl === 3) {
          debugger;
          this.chartDataLvl3 = _.cloneDeep(
            this.chartDataLvl2[clickedItemIndex].children
          );
          this.chartDataLvl3.forEach(
            x =>
              (x.totalCost = _.round(
                x.totalCost +
                  _.sum(
                    x.children.map(
                      y =>
                        y.totalCost +
                        _.sum(
                          y.children.map(
                            w =>
                              w.totalCost +
                              _.sum(
                                w.children.map(
                                  v =>
                                    v.totalCost +
                                    _.sum(v.children.map(b => b.totalCost))
                                )
                              )
                          )
                        )
                    )
                  )
              ))
          );
          this.chartDataLvl3.sort((a, b) =>
            a.totalCost < b.totalCost ? 1 : -1
          );
          var xdata2 = this.chartDataLvl3
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.partName);

          var ydata2 = this.chartDataLvl3
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.totalCost);

          var Level2 = this.chartDataLvl3
            .filter(x => x.partLevel === nextLevel)
            .map((x, index) => `${x.partLevel}_${x.partId}`);

          var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);

          let y2 = 0;
          var ydataLine2 = ydata2.map(x =>
            _.round((y2 += x * 100) / ydataTotal2, 2)
          );
        } else if (parentlvl === 4) {
          debugger;
          this.chartDataLvl4 = _.cloneDeep(
            this.chartDataLvl3[clickedItemIndex].children
          );
          this.chartDataLvl4.forEach(
            x =>
              (x.totalCost = _.round(
                x.totalCost +
                  _.sum(
                    x.children.map(
                      y =>
                        y.totalCost +
                        _.sum(
                          y.children.map(
                            w =>
                              w.totalCost +
                              _.sum(
                                w.children.map(
                                  v =>
                                    v.totalCost +
                                    _.sum(v.children.map(b => b.totalCost))
                                )
                              )
                          )
                        )
                    )
                  )
              ))
          );
          this.chartDataLvl4.sort((a, b) =>
            a.totalCost < b.totalCost ? 1 : -1
          );
          var xdata2 = this.chartDataLvl4
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.partName);

          var ydata2 = this.chartDataLvl4
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.totalCost);

          var Level2 = this.chartDataLvl4
            .filter(x => x.partLevel === nextLevel)
            .map((x, index) => `${x.partLevel}_${x.partId}`);

          var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);

          let y2 = 0;
          var ydataLine2 = ydata2.map(x =>
            _.round((y2 += x * 100) / ydataTotal2, 2)
          );
        } else if (parentlvl === 5) {
          debugger;
          this.chartDataLvl5 = _.cloneDeep(
            this.chartDataLvl4[clickedItemIndex].children
          );
          this.chartDataLvl5.forEach(
            x =>
              (x.totalCost = _.round(
                x.totalCost +
                  _.sum(
                    x.children.map(
                      y =>
                        y.totalCost +
                        _.sum(
                          y.children.map(
                            w =>
                              w.totalCost +
                              _.sum(
                                w.children.map(
                                  v =>
                                    v.totalCost +
                                    _.sum(v.children.map(b => b.totalCost))
                                )
                              )
                          )
                        )
                    )
                  )
              ))
          );
          this.chartDataLvl5.sort((a, b) =>
            a.totalCost < b.totalCost ? 1 : -1
          );
          var xdata2 = this.chartDataLvl5
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.partName);

          var ydata2 = this.chartDataLvl5
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.totalCost);

          var Level2 = this.chartDataLvl5
            .filter(x => x.partLevel === nextLevel)
            .map((x, index) => `${x.partLevel}_${x.partId}`);

          var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);

          let y2 = 0;
          var ydataLine2 = ydata2.map(x =>
            _.round((y2 += x * 100) / ydataTotal2, 2)
          );
        }
      } else if (partlvl === 2) {
        if (parentlvl === 1) {
          this.$q.notify({
            color: "green-5",
            textColor: "white",
            classes: "text-center",

            icon: "fas fa-exclamation-triangle",
            message: `you cannot drilldown to level ${parentlvl + 1} inside ${
              this.partLevels
            }`
          });
        } else if (parentlvl === 2) {
          this.chartDataLvl2 = _.cloneDeep(
            this.chartDataLvl1[clickedItemIndex].children
          );

          this.chartDataLvl2.forEach(
            x =>
              (x.totalCost = _.round(
                x.totalCost +
                  _.sum(
                    x.children.map(
                      y =>
                        y.totalCost +
                        _.sum(
                          y.children.map(
                            w =>
                              w.totalCost +
                              _.sum(
                                w.children.map(
                                  v =>
                                    v.totalCost +
                                    _.sum(v.children.map(b => b.totalCost))
                                )
                              )
                          )
                        )
                    )
                  )
              ))
          );
          this.chartDataLvl2.sort((a, b) =>
            a.totalCost < b.totalCost ? 1 : -1
          );
          var xdata2 = this.chartDataLvl2
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.partName);
          var ydata2 = this.chartDataLvl2
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.totalCost);
          var Level2 = this.chartDataLvl2
            .filter(x => x.partLevel === nextLevel)
            .map((x, index) => `${x.partLevel}_${x.partId}`);
          var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);
          let y2 = 0;
          var ydataLine2 = ydata2.map(x =>
            _.round((y2 += x * 100) / ydataTotal2, 2)
          );
        } else if (parentlvl === 3) {
          debugger;
          this.chartDataLvl3 = _.cloneDeep(
            this.chartDataLvl2[clickedItemIndex].children
          );
          this.chartDataLvl3.forEach(
            x =>
              (x.totalCost = _.round(
                x.totalCost +
                  _.sum(
                    x.children.map(
                      y =>
                        y.totalCost +
                        _.sum(
                          y.children.map(
                            w =>
                              w.totalCost +
                              _.sum(
                                w.children.map(
                                  v =>
                                    v.totalCost +
                                    _.sum(v.children.map(b => b.totalCost))
                                )
                              )
                          )
                        )
                    )
                  )
              ))
          );
          this.chartDataLvl3.sort((a, b) =>
            a.totalCost < b.totalCost ? 1 : -1
          );
          var xdata2 = this.chartDataLvl3
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.partName);

          var ydata2 = this.chartDataLvl3
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.totalCost);

          var Level2 = this.chartDataLvl3
            .filter(x => x.partLevel === nextLevel)
            .map((x, index) => `${x.partLevel}_${x.partId}`);

          var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);

          let y2 = 0;
          var ydataLine2 = ydata2.map(x =>
            _.round((y2 += x * 100) / ydataTotal2, 2)
          );
        } else if (parentlvl === 4) {
          debugger;
          this.chartDataLvl4 = _.cloneDeep(
            this.chartDataLvl3[clickedItemIndex].children
          );
          this.chartDataLvl4.forEach(
            x =>
              (x.totalCost = _.round(
                x.totalCost +
                  _.sum(
                    x.children.map(
                      y =>
                        y.totalCost +
                        _.sum(
                          y.children.map(
                            w =>
                              w.totalCost +
                              _.sum(
                                w.children.map(
                                  v =>
                                    v.totalCost +
                                    _.sum(v.children.map(b => b.totalCost))
                                )
                              )
                          )
                        )
                    )
                  )
              ))
          );
          this.chartDataLvl4.sort((a, b) =>
            a.totalCost < b.totalCost ? 1 : -1
          );
          var xdata2 = this.chartDataLvl4
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.partName);

          var ydata2 = this.chartDataLvl4
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.totalCost);

          var Level2 = this.chartDataLvl4
            .filter(x => x.partLevel === nextLevel)
            .map((x, index) => `${x.partLevel}_${x.partId}`);

          var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);

          let y2 = 0;
          var ydataLine2 = ydata2.map(x =>
            _.round((y2 += x * 100) / ydataTotal2, 2)
          );
        } else if (parentlvl === 5) {
          debugger;
          this.chartDataLvl5 = _.cloneDeep(
            this.chartDataLvl4[clickedItemIndex].children
          );
          this.chartDataLvl5.forEach(
            x =>
              (x.totalCost = _.round(
                x.totalCost +
                  _.sum(
                    x.children.map(
                      y =>
                        y.totalCost +
                        _.sum(
                          y.children.map(
                            w =>
                              w.totalCost +
                              _.sum(
                                w.children.map(
                                  v =>
                                    v.totalCost +
                                    _.sum(v.children.map(b => b.totalCost))
                                )
                              )
                          )
                        )
                    )
                  )
              ))
          );
          this.chartDataLvl5.sort((a, b) =>
            a.totalCost < b.totalCost ? 1 : -1
          );
          var xdata2 = this.chartDataLvl5
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.partName);

          var ydata2 = this.chartDataLvl5
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.totalCost);

          var Level2 = this.chartDataLvl5
            .filter(x => x.partLevel === nextLevel)
            .map((x, index) => `${x.partLevel}_${x.partId}`);

          var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);

          let y2 = 0;
          var ydataLine2 = ydata2.map(x =>
            _.round((y2 += x * 100) / ydataTotal2, 2)
          );
        }
      } else if (partlvl === 3) {
        if (parentlvl === 1 ||parentlvl === 2) {
          this.$q.notify({
            color: "green-5",
            textColor: "white",
            classes: "text-center",

            icon: "fas fa-exclamation-triangle",
            message: `you cannot drilldown to level ${parentlvl + 1} inside ${
              this.partLevels
            }`
          });
        } else if (parentlvl === 3) {
          debugger;
          this.chartDataLvl3 = _.cloneDeep(
            this.chartDataLvl2[clickedItemIndex].children
          );
          this.chartDataLvl3.forEach(
            x =>
              (x.totalCost = _.round(
                x.totalCost +
                  _.sum(
                    x.children.map(
                      y =>
                        y.totalCost +
                        _.sum(
                          y.children.map(
                            w =>
                              w.totalCost +
                              _.sum(
                                w.children.map(
                                  v =>
                                    v.totalCost +
                                    _.sum(v.children.map(b => b.totalCost))
                                )
                              )
                          )
                        )
                    )
                  )
              ))
          );
          this.chartDataLvl3.sort((a, b) =>
            a.totalCost < b.totalCost ? 1 : -1
          );
          var xdata2 = this.chartDataLvl3
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.partName);

          var ydata2 = this.chartDataLvl3
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.totalCost);

          var Level2 = this.chartDataLvl3
            .filter(x => x.partLevel === nextLevel)
            .map((x, index) => `${x.partLevel}_${x.partId}`);

          var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);

          let y2 = 0;
          var ydataLine2 = ydata2.map(x =>
            _.round((y2 += x * 100) / ydataTotal2, 2)
          );
        } else if (parentlvl === 4) {
          debugger;
          this.chartDataLvl4 = _.cloneDeep(
            this.chartDataLvl3[clickedItemIndex].children
          );
          this.chartDataLvl4.forEach(
            x =>
              (x.totalCost = _.round(
                x.totalCost +
                  _.sum(
                    x.children.map(
                      y =>
                        y.totalCost +
                        _.sum(
                          y.children.map(
                            w =>
                              w.totalCost +
                              _.sum(
                                w.children.map(
                                  v =>
                                    v.totalCost +
                                    _.sum(v.children.map(b => b.totalCost))
                                )
                              )
                          )
                        )
                    )
                  )
              ))
          );
          this.chartDataLvl4.sort((a, b) =>
            a.totalCost < b.totalCost ? 1 : -1
          );
          var xdata2 = this.chartDataLvl4
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.partName);

          var ydata2 = this.chartDataLvl4
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.totalCost);

          var Level2 = this.chartDataLvl4
            .filter(x => x.partLevel === nextLevel)
            .map((x, index) => `${x.partLevel}_${x.partId}`);

          var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);

          let y2 = 0;
          var ydataLine2 = ydata2.map(x =>
            _.round((y2 += x * 100) / ydataTotal2, 2)
          );
        } else if (parentlvl === 5) {
          debugger;
          this.chartDataLvl5 = _.cloneDeep(
            this.chartDataLvl4[clickedItemIndex].children
          );
          this.chartDataLvl5.forEach(
            x =>
              (x.totalCost = _.round(
                x.totalCost +
                  _.sum(
                    x.children.map(
                      y =>
                        y.totalCost +
                        _.sum(
                          y.children.map(
                            w =>
                              w.totalCost +
                              _.sum(
                                w.children.map(
                                  v =>
                                    v.totalCost +
                                    _.sum(v.children.map(b => b.totalCost))
                                )
                              )
                          )
                        )
                    )
                  )
              ))
          );
          this.chartDataLvl5.sort((a, b) =>
            a.totalCost < b.totalCost ? 1 : -1
          );
          var xdata2 = this.chartDataLvl5
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.partName);

          var ydata2 = this.chartDataLvl5
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.totalCost);

          var Level2 = this.chartDataLvl5
            .filter(x => x.partLevel === nextLevel)
            .map((x, index) => `${x.partLevel}_${x.partId}`);

          var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);

          let y2 = 0;
          var ydataLine2 = ydata2.map(x =>
            _.round((y2 += x * 100) / ydataTotal2, 2)
          );
        }
      } else if (partlvl === 4) {
        if ( parentlvl === 1 || parentlvl === 2 || parentlvl === 3) {
          this.$q.notify({
            color: "green-5",
            textColor: "white",
            classes: "text-center",

            icon: "fas fa-exclamation-triangle",
            message: `you cannot drilldown to level ${parentlvl + 1} inside ${
              this.partLevels
            }`
          });
        } else if (parentlvl === 4) {
          debugger;
          this.chartDataLvl4 = _.cloneDeep(
            this.chartDataLvl3[clickedItemIndex].children
          );
          this.chartDataLvl4.forEach(
            x =>
              (x.totalCost = _.round(
                x.totalCost +
                  _.sum(
                    x.children.map(
                      y =>
                        y.totalCost +
                        _.sum(
                          y.children.map(
                            w =>
                              w.totalCost +
                              _.sum(
                                w.children.map(
                                  v =>
                                    v.totalCost +
                                    _.sum(v.children.map(b => b.totalCost))
                                )
                              )
                          )
                        )
                    )
                  )
              ))
          );
          this.chartDataLvl4.sort((a, b) =>
            a.totalCost < b.totalCost ? 1 : -1
          );
          var xdata2 = this.chartDataLvl4
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.partName);

          var ydata2 = this.chartDataLvl4
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.totalCost);

          var Level2 = this.chartDataLvl4
            .filter(x => x.partLevel === nextLevel)
            .map((x, index) => `${x.partLevel}_${x.partId}`);

          var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);

          let y2 = 0;
          var ydataLine2 = ydata2.map(x =>
            _.round((y2 += x * 100) / ydataTotal2, 2)
          );
        } else if (parentlvl === 5) {
          debugger;
          this.chartDataLvl5 = _.cloneDeep(
            this.chartDataLvl4[clickedItemIndex].children
          );
          this.chartDataLvl5.forEach(
            x =>
              (x.totalCost = _.round(
                x.totalCost +
                  _.sum(
                    x.children.map(
                      y =>
                        y.totalCost +
                        _.sum(
                          y.children.map(
                            w =>
                              w.totalCost +
                              _.sum(
                                w.children.map(
                                  v =>
                                    v.totalCost +
                                    _.sum(v.children.map(b => b.totalCost))
                                )
                              )
                          )
                        )
                    )
                  )
              ))
          );
          this.chartDataLvl5.sort((a, b) =>
            a.totalCost < b.totalCost ? 1 : -1
          );
          var xdata2 = this.chartDataLvl5
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.partName);

          var ydata2 = this.chartDataLvl5
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.totalCost);

          var Level2 = this.chartDataLvl5
            .filter(x => x.partLevel === nextLevel)
            .map((x, index) => `${x.partLevel}_${x.partId}`);

          var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);

          let y2 = 0;
          var ydataLine2 = ydata2.map(x =>
            _.round((y2 += x * 100) / ydataTotal2, 2)
          );
        }
      } else if (partlvl === 5) {
        if (
          parentlvl === 1 ||
          parentlvl === 2 ||
          parentlvl === 3 ||
          parentlvl === 4
        ) {
          this.$q.notify({
            color: "red-5",
            textColor: "white",
            classes: "text-center",

            icon: "fas fa-exclamation-triangle",
            message: `you cannot drilldown to level ${parentlvl + 1} inside ${
              this.partLevels
            }`
          });
        } else if (parentlvl === 5) {
          debugger;
          this.chartDataLvl5 = _.cloneDeep(
            this.chartDataLvl4[clickedItemIndex].children
          );
          this.chartDataLvl5.forEach(
            x =>
              (x.totalCost = _.round(
                x.totalCost +
                  _.sum(
                    x.children.map(
                      y =>
                        y.totalCost +
                        _.sum(
                          y.children.map(
                            w =>
                              w.totalCost +
                              _.sum(
                                w.children.map(
                                  v =>
                                    v.totalCost +
                                    _.sum(v.children.map(b => b.totalCost))
                                )
                              )
                          )
                        )
                    )
                  )
              ))
          );
          this.chartDataLvl5.sort((a, b) =>
            a.totalCost < b.totalCost ? 1 : -1
          );
          var xdata2 = this.chartDataLvl5
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.partName);

          var ydata2 = this.chartDataLvl5
            .filter(x => x.partLevel === nextLevel)
            .map(x => x.totalCost);

          var Level2 = this.chartDataLvl5
            .filter(x => x.partLevel === nextLevel)
            .map((x, index) => `${x.partLevel}_${x.partId}`);

          var ydataTotal2 = ydata2.reduce((a, b) => a + b, 0);

          let y2 = 0;
          var ydataLine2 = ydata2.map(x =>
            _.round((y2 += x * 100) / ydataTotal2, 2)
          );
        }
      } else if (partlvl === 6) {
        this.$q.notify({
          color: "red-5",
          textColor: "white",
          classes: "text-center",

          icon: "fas fa-exclamation-triangle",
          message: `you cannot drilldown to further level  inside ${this.partLevels}`
        });
      }

      let drill1 = {
        x: xdata2,
        y: ydata2,
        customdata: Level2,
        name: `Level > ${parentlvl}_${clickedItem}`,
        type: "bar"
      };
      let drill1line = {
        x: xdata2,
        y: ydataLine2,
        yaxis: "y2",
        name: "Race Cost",
        type: "line",
        autorange: false,
        range: [0, 100]
      };

      var layout1 = {
        title: `Parato Chart Level ${parentlvl + 1}`,
        yaxis: { title: "Race Cost" },
        xaxis: { title: "Parts" },
        hovermode: "closest",
        showlegend: false,
        paper_bgcolor: "rgba(245,246,249,1)",
        plot_bgcolor: "rgba(245,246,249,1)",
        yaxis2: {
          title: "Parato",
          titlefont: { color: "rgb(148, 103, 189)" },
          tickfont: { color: "rgb(148, 103, 189)" },
          overlaying: "y",
          side: "right",
          autorange: false,
          range: [0, 100]
        }
      };

      this.$set(this.data, 0, drill1);
      this.$set(this.data, 1, drill1line);
      this.layout = layout1;
    },
    stelevel1(){
      this.Lvl1Data.forEach(
        x =>
          (x.totalCost = _.round(
            x.totalCost + _.sum(x.children.forEach(b=>b.totalCost= b.totalCost+ _.sum(b.children.forEach(c=> c.totalCost= c.totalCost+ _.sum(c.children.forEach(d=>d.totalCost= d.totalCost +_.sum((d.children.forEach(e=> e.totalCost= e.totalCost+ _.sum(e.children.map(f=>f.totalCost)))))))))))))
    );
    }
  }
};
</script>

<style>
</style>