<template>
  <div v-if="appLogout" class="row q-gutter-xs q-pa-xs q-mr-sm">
    <!-- <q-btn class="q-mr-md" round dense flat color="grey-8" icon="notifications_none">
      <q-badge color text-color="white" floating>2</q-badge>
    </q-btn> -->
    <div class>
      <q-btn round>
        <q-avatar size="42px">
          <img :src="userImage" />
        </q-avatar>
      </q-btn>
      <q-menu>
        <div class=" fixed-top-right" style="margin:35px 0 0 10px">
          <div class=" bg-grey-1" style="padding:10px 0 0 30px; margin:15px 10px 0 0 " >
            <q-avatar size="72px">
              <img :src="userImage" />
              <!-- <span style>{{this.userId}}</span> -->
            </q-avatar>

            <div class="text-subtitle1 q-ma-sm" style="margin:0 10px 0 -10px">{{this.ProfileName}}</div>

            <q-btn
              style="margin:0 10px 0 -10px"
              color="primary"
              label="Logout"
              push
              size="md"
              v-close-popup
              to="/"
              @click="updateapplogout"
            />
            <!-- {{this.userId}} -->
          </div>
        </div>
      </q-menu>
    </div>
  </div>
</template>

<script>
import { EventBus } from "../event-bus";

export default {
  data() {
    return {
      appLogout: false,
      userImage: "",
      userId: "",
      ProfileName: ""
    };
  },

  methods: {
    updateapplogout() {
      this.$store.dispatch("appStateStore/updateApplogout", false);

      this.appLogout = false;
      EventBus.$emit("headeData", false);
      EventBus.$emit("headerName", "");
    }
  },

  mounted() {
    debugger;

    EventBus.$on("appLogoutState", headerstate => {
      console.log("appLogoutState", headerstate);
      this.appLogout = headerstate.appLogoutState;

      this.userId = headerstate.UserId;
      this.userImage = headerstate.image;
      this.ProfileName = headerstate.ProfileName;

    });

    // if (this.appLogout === true) {
    //   this.$store.dispatch("appStateStore/updateApplogout", headerstate);
    //   this.appLogout = this.$store.getters["appStateStore/getAppLogOut"];
    //   // console.log("store Called ", this.appLogout);
    //   // console.log("Bus Called ", headerstate);
    //   debugger;
    //   this.userId = this.$route.query.userDetail.UserId;
    //   this.userImage = this.$route.query.userDetail.image;
    //   this.ProfileName = this.$route.query.userDetail.ProfileName;
    // }
  }
};
</script>

<style scoped>
</style>