  <template>
  <q-bar>
    <q-icon />

     <span v-if="headerName" >
       <q-breadcrumbs active-color="white" style="font-size: 18px" class="text-white " >
      <template v-slot:separator>
        <q-icon
          size="1.1em"
          name="arrow_forward"
          color="white"
        />
      </template>

     <q-breadcrumbs-el  icon="home" clickable  class="qBarItem" to="/dashboard" @click="disableAppHeader" />
      <q-breadcrumbs-el  :label="headerName" clickable  to="/PartDetail"/>
     
    </q-breadcrumbs>
     </span>

    <div v-if="partDetail">      
     <q-breadcrumbs class="text-white " >
      <template v-slot:separator>
        <q-icon
          size="1.2em"
          name="arrow_forward"
          color="white"
        />
      </template>

     <q-breadcrumbs-el  />
      <q-breadcrumbs-el  label="Primary Variable" />
     
    </q-breadcrumbs>
    </div>
      <div v-if="advance">      
     <q-breadcrumbs class="text-white" active-color="white">
      <template v-slot:separator>
        <q-icon
          size="1.2em"
          name="arrow_forward"
          color="white"
        />
      </template>

     <q-breadcrumbs-el class="qBarItem"  label="Part Detail" clickable to="/PartDetail" />
      <q-breadcrumbs-el  label="Primary Variable" class="qBarItem"  clickable  to="/primaryV"/>
      <q-breadcrumbs-el   label="Advance Variable" />
    </q-breadcrumbs>
    </div>


<div v-if="whaterfall">      
     <q-breadcrumbs class="text-white " >
      <template v-slot:separator>
        <q-icon
          size="1.2em"
          name="arrow_forward"
          color="white"
        />
      </template>

     <q-breadcrumbs-el  />
      <q-breadcrumbs-el label="Waterfall Chart" />
     
    </q-breadcrumbs>
    </div>
    <div v-if="parato">      
     <q-breadcrumbs class="text-white " >
      <template v-slot:separator>
        <q-icon
          size="1.2em"
          name="arrow_forward"
          color="white"
        />
      </template>

     <q-breadcrumbs-el  />
      <q-breadcrumbs-el label="Pareto Chart" />
     
    </q-breadcrumbs>
    </div>



  </q-bar>
</template>

<script>
import { mapState } from 'vuex'
import { EventBus } from "../event-bus";

export default {
    data() {
    return {
    headerName:null,
    partDetail:null,
    advance:null,
    whaterfall:null,
    parato:null,
    routerName:null

    };
  },


 
 mounted(){

   //this.headerName = this.$store.getters["appStateStore/getHeaderName"]

   EventBus.$on("headerName", headerstate => {
      this.headerName = headerstate;
     // debugger;
      // var routename = '/'+ headerstate.replace(' ','')
      // this.routerName = routename;
     
    });
      EventBus.$on("partDetailBreadCrum", headerstate => {
      this.partDetail = headerstate
     

    });
        EventBus.$on("controlPageBreadCrum", headerstate => {
      this.advance = headerstate
   

    });

       EventBus.$on("whaterfall", headerstate => {
      this.whaterfall = headerstate
    

    });
       EventBus.$on("parato", headerstate => {
      this.parato = headerstate
     

    });
 },
 methods:{
  disableAppHeader(){ 
   EventBus.$emit("headeData", false)
 }
 }

}
</script>
<style scoped>

.qBarItem:hover {
  
 
  color: #00a9f4;
 
  cursor: pointer;
}
</style>