<template>
  <q-btn label="Export CSBD Report" no-caps @click="saveAsExcel()" />
</template>
<script>
import * as ExcelJS from "exceljs/dist/exceljs.js";
//import * as ExcelJS from 'exceljs/dist/es5/exceljs.browser.js'
import { saveAs } from "file-saver";
import { mapGetters, mactions } from "vuex";
export default {
  methods: {
    async saveAsExcel() {
      const workbook = new ExcelJS.Workbook();

      const sheet = workbook.addWorksheet("IM_CSDB_191113", {
        properties: { tabColor: { argb: "FFFFFF" } },
        views: [
          {
            state: "frozen",
            ySplit: 5,
            xSplit: 13,
            activeCell: "B1",
            showGridLines: true
          }
        ]
      });
      sheet.headerFooter.differentFirst = true;
      sheet.headerFooter.firstHeader = "RACE TOOL";
      sheet.headerFooter.firstFooter = "Mackinsey and Com1ny";
      //variables

      let bomRowId = this.$store.getters["project/getSelRowId"];
      let partName = this.$store.getters["project/getBomRowPartname"](
        bomRowId - 1
      );
      //PRIMARY VARIABLE
      let partPrimVarData = this.$store.getters["processStore/getPrimVData"]
        .partData;
         let partPrimProcVarData = this.$store.getters["processStore/getPrimVData"]
        .procPrimVarData;
      let matGradelbl = partPrimVarData.mateGrade.label;
      let partWeightGm = partPrimVarData.partWeight;
      var mfgLocationName = this.$store.getters["processStore/getPartMfgLocation"]
        .label;

//manufcaturing profile
var manufcturingprofileData = this.$store.getters[
        "mfgstore1/mfgProfiles"
      ];
      var regRows = [];
      var machineryDataRows = [];
      var shiftDataRows = [];
      // var shiftData = [];
      var country = manufcturingprofileData.country;

      //REGIONAL DATA
      let RegionalData = manufcturingprofileData.regData;
      RegionalData.forEach(function(element, index) {
        const regRow = Object.values(element);
        regRows.push(regRow);
      });
         let MachineryData = manufcturingprofileData.machineryData;
      MachineryData.forEach(function(element, index) {
        const Row = Object.values(element);
        machineryDataRows.push(Row);
      });
        let shiftData = manufcturingprofileData.shiftData;
      shiftData.forEach(function(element, index) {
        const Row = Object.values(element);
        shiftDataRows.push(Row);
      });

//VA inputs
//Advance Variable
      let partAdvData = this.$store.getters["processStore/getAdvProctData"];
      let partVAdata = partAdvData.filter(elem => elem.varTypeId == "3");
      let partRMdata = partAdvData.filter(elem => elem.varTypeId == "2");
      var RMcardTitle = [];
      var rmSecondCol = [];
      var rmfirstCol = [];
      var rmParentRow = [];
      var rmChildRow = [];

      var VAcardTitle = [];
      var vaParentRow = [];
      var vaChildRow = [];
//RM
partRMdata.forEach(function(element) {
        const objRMdata = JSON.parse(element.ProVar);
        const Row = [
          objRMdata.cardTitle,
          objRMdata.cardValue,
          objRMdata.cardValUOM
        ];

        RMcardTitle.push(Row);

        let parentArray = objRMdata.ProVar;

        parentArray.forEach(function(ele) {
          const Row1 = [ele.varName.split("_")[0], ele.value, ele.UOM];
          rmParentRow.push(Row1);

          let rmChildArray = ele.VarAttri;
          rmChildArray.forEach(function(ele1) {
            const Row2 = [
              ele1.attriName.split("_")[0],
              ele1.attrValue,
              ele1.attrUOM
            ];
            rmChildRow.push(Row2);
          });
        });
      });

      //VA
      partVAdata.forEach(function(element) {
        const objVAdata = JSON.parse(element.ProVar);
        const Row = [
          objVAdata.cardTitle,
          objVAdata.cardValue,
          objVAdata.cardValUOM
        ];

        VAcardTitle.push(Row);

        let parentArray = objVAdata.ProVar;

        parentArray.forEach(function(ele) {
          const Row1 = [ele.varName.split("_")[0], ele.value, ele.UOM];
          vaParentRow.push(Row1);

          let vaChildArray = ele.VarAttri;
          vaChildArray.forEach(function(ele1) {
            const Row2 = [
              ele1.attriName.split("_")[0],
              ele1.attrValue,
              ele1.attrUOM
            ];
            vaChildRow.push(Row2);
          });
        });
      });
let aa= parseFloat(rmChildRow[0][1]);
let ac= parseFloat(rmChildRow[2][1]);
let shiftType=parseInt(shiftDataRows[0][1]);
let Parts_per_Cycle_Mm = parseFloat(500/(partWeightGm *(1+ ac))).toFixed(2);
let Parts_per_Cycle_Loading = parseFloat(50/(partWeightGm *(1+ ac))).toFixed(2);

let ag = parseFloat(vaParentRow[4][1]).toFixed(2);
let nosCavities= parseInt(partPrimProcVarData[5].value);

let Parts_per_Cycle_Transfer =parseFloat((3600/ag)*nosCavities).toFixed(2);

let SelectedMachName =`${parseInt(vaParentRow[0][1])} Ton Press`;
let laborOLE= parseFloat(regRows[5][1]).toFixed(0);
let laborCost =parseFloat(regRows[4][1]).toFixed(2);//causal
let b = parseInt(partPrimVarData.anualVolume);
let ak = parseInt(vaParentRow[8][1]);//batch set upcycle time days
let Workdays = parseInt(shiftDataRows[2][1]);
let Batch_size= parseFloat(b*ak/Workdays).toFixed(0);
debugger;
      // adjust width of cols
      //   sheet.getColumn("A").width = 6;
      sheet.getColumn("B").width = 4;
      sheet.getColumn("C").width = 4;
      sheet.getColumn("D").width = 4;
      sheet.getColumn("E").width = 4;
      sheet.getColumn("F").width = 4;
      sheet.getColumn("G").width = 4;
      sheet.getColumn("H").width = 4;
      sheet.getColumn("I").width = 4;

      sheet.getColumn("J").width = 11;
      sheet.getColumn("K").width = 6;
      sheet.getColumn("L").width = 6;
      sheet.getColumn("M").width = 30;
      sheet.getColumn("O").width = 1;
      sheet.getColumn("P").width = 11;
      sheet.getColumn("Q").width = 11;
      sheet.getColumn("R").width = 11;
      sheet.getColumn("S").width = 11;
      sheet.getColumn("T").width = 11;
      sheet.getColumn("U").width = 11;
      sheet.getColumn("V").width = 11;
      sheet.getColumn("W").width = 11;
      sheet.getColumn("X").width = 11;
      sheet.getColumn("Y").width = 1;
      sheet.getColumn("Z").width = 11;
      sheet.getColumn("AA").width = 11;
      sheet.getColumn("AB").width = 1;
      sheet.getColumn("AC").width = 26;
      sheet.getColumn("AD").width = 11;
      sheet.getColumn("AE").width = 11;
      sheet.getColumn("AF").width = 11;
      sheet.getColumn("AG").width = 11;
      sheet.getColumn("AH").width = 11;
      sheet.getColumn("AI").width = 11;
      sheet.getColumn("AJ").width = 11;
      sheet.getColumn("AK").width = 11;
      sheet.getColumn("AL").width = 1;
      sheet.getColumn("AM").width = 11;
      sheet.getColumn("AN").width = 11;
      sheet.getColumn("AO").width = 11;
      sheet.getColumn("AP").width = 11;
      sheet.getColumn("AQ").width = 1;
      sheet.getColumn("AR").width = 11;
      sheet.getColumn("AS").width = 1;
      sheet.getColumn("AT").width = 11;
      sheet.getColumn("AU").width = 11;
      sheet.getColumn("AV").width = 11;
      sheet.getColumn("AW").width = 11;
      sheet.getColumn("AX").width = 11;
      sheet.getColumn("AZ").width = 11;
      sheet.getColumn("AZ").width = 11;

      //   adjust the height of rows
      sheet.getRow("1").width = 0.7;
      sheet.getRow("5").height = 36;
      sheet.getRow("6").height = 12;
      sheet.getRow("9").height = 12;
      sheet.getRow("8").height = 12;
      sheet.getRow("9").height = 12;
      sheet.getRow("10").height = 12;
      sheet.getRow("11").height = 12;
      sheet.getRow("12").height = 12;
      sheet.getRow("13").height = 12;
      sheet.getRow("14").height = 12;
      sheet.getRow("15").height = 12;
      sheet.getRow("16").height = 12;

      // variable section
      let array = [
        "M6",
        "M7",
        "P7",
        "U7",
        "V7",
        "W7",
        "AC8",
        "AC9",
        "AC10",
        "AC11",
        "AC12",
        "AC13",
        "AC14",
        "AJ8",
        "AJ9",
        "AJ10",
        "AJ11",
        "AJ12",
        "AJ14",
        "AM11",
        "AP8",
        "AP9",
        "AP10",
        "AP11",
        "AP12",
        "AP13",
        "AP14",
        "AT8",
        "AT9",
        "AT10",
        "AT11",
        "AT12",
        "AT13",
        "AT14",
        "AV11"
      ];
      array.forEach(function(ele) {
        sheet.getCell(ele).fill = {
          type: "pattern",
          pattern: "solid",
          fgColor: { argb: "ffff00" }
        };
      });

      sheet.getCell("M6").value = partName;
      sheet.getCell("M7").value = matGradelbl;

      sheet.getCell("P7").value = `${matGradelbl} (${mfgLocationName})`;

      sheet.getCell("U7").value = aa;
      sheet.getCell("V7").value = (parseFloat(partWeightGm/1000)).toFixed(2);
      sheet.getCell("W7").value = "ac";

      sheet.getCell("AC8").value = shiftType;
      sheet.getCell("AC9").value = shiftType;
      sheet.getCell("AC10").value = shiftType;
      sheet.getCell("AC11").value = shiftType;
      sheet.getCell("AC12").value = shiftType;
      sheet.getCell("AC13").value = shiftType;
      sheet.getCell("AC14").value = shiftType;

      sheet.getCell("AJ8").value = Parts_per_Cycle_Mm;
      sheet.getCell("AJ9").value = Parts_per_Cycle_Mm;
      sheet.getCell("AJ10").value = Parts_per_Cycle_Loading;
      sheet.getCell("AJ11").value = nosCavities;
      sheet.getCell("AJ12").value = nosCavities;
      sheet.getCell("AJ14").value = Parts_per_Cycle_Transfer;

      //sheet.mergeCells("AM11:AN11");
      sheet.getCell("AM11").value = SelectedMachName;
      sheet.getCell("AN11").value = laborCost;

      sheet.getCell("AP8").value = laborOLE;
      sheet.getCell("AP9").value = laborOLE;
      sheet.getCell("AP10").value = laborOLE;
      sheet.getCell("AP11").value = laborOLE;
      sheet.getCell("AP12").value = laborOLE;
      sheet.getCell("AP13").value = laborOLE;
      sheet.getCell("AP14").value = laborOLE;

      sheet.getCell("AT8").value = Batch_size;
      sheet.getCell("AT9").value = Batch_size;
      sheet.getCell("AT10").value = Batch_size;
      sheet.getCell("AT11").value = Batch_size;
      sheet.getCell("AT12").value = Batch_size;
      sheet.getCell("AT13").value = Batch_size;
      sheet.getCell("AT14").value = Batch_size;

      sheet.getCell("AV11").value = SelectedMachName;

      // -----------------------------------------------------------------------------------------------------

      sheet.getCell("A1").value = "Sort";
      sheet.getCell("B1").value = "lev0";
      sheet.getCell("A3").value = "Row";
      sheet.getCell("A6").value = 10;
      sheet.getCell("A7").value = 20;
      sheet.getCell("A8").value = 30;
      sheet.getCell("A9").value = 40;
      sheet.getCell("A10").value = 50;
      sheet.getCell("A11").value = 60;
      sheet.getCell("A12").value = 70;
      sheet.getCell("A13").value = 80;
      sheet.getCell("A14").value = 90;

      // merge B3- i3
      sheet.mergeCells("B3:I3");
      sheet.getCell("B3").value = "Product hierarchy";
      sheet.getCell("B5").value = 1;
      sheet.getCell("B6").value = "x";

      sheet.getCell("C1").value = "lev1";
      sheet.getCell("C5").value = "2";
      sheet.getCell("C7").value = "x";
      sheet.getCell("C8").value = "x";
      sheet.getCell("C9").value = "x";
      sheet.getCell("C10").value = "x";
      sheet.getCell("C11").value = "x";
      sheet.getCell("C12").value = "x";
      sheet.getCell("C13").value = "x";
      sheet.getCell("C14").value = "x";

      sheet.getCell("D1").value = "lev2";
      sheet.getCell("D5").value = "3";

      sheet.getCell("E1").value = "lev3";
      sheet.getCell("E5").value = "4";

      sheet.getCell("F1").value = "lev4";
      sheet.getCell("F5").value = "A5";

      sheet.getCell("G1").value = "lev5";
      sheet.getCell("G5").value = "6";

      sheet.getCell("H1").value = "lev6";
      sheet.getCell("H5").value = "7";

      sheet.getCell("I1").value = "lev7";
      sheet.getCell("I5").value = "8";

      sheet.getCell("J1").value = "colMatVA_0";
      sheet.getCell("K1").value = 0;

      sheet.getCell("K1").value = "colMatVA_ConfidenceLev";
      sheet.getCell("K5").value = "Confidence";
      sheet.getCell("K6").value = 0;
      sheet.getCell("K7").value = 0;
      sheet.getCell("K8").value = 0;
      sheet.getCell("K9").value = 0;
      sheet.getCell("K10").value = 0;
      sheet.getCell("K11").value = 0;
      sheet.getCell("K12").value = 0;
      sheet.getCell("K13").value = 0;
      sheet.getCell("K14").value = 0;

      sheet.getCell("L1").value = "colMatVA_CodeValue";
      sheet.getCell("L5").value = "Code";
      sheet.getCell("N5").value = "PA";
      sheet.getCell("L7").value = "MAT";
      sheet.getCell("L8").value = "VA";
      sheet.getCell("L9").value = "VA";
      sheet.getCell("L10").value = "VA";
      sheet.getCell("L11").value = "VA";
      sheet.getCell("L12").value = "VA";
      sheet.getCell("L13").value = "VA";
      sheet.getCell("L14").value = "VA";

      sheet.getCell("M1").value = "colMatVA_Description";
      sheet.getCell("M5").value = "Description";
      sheet.getCell("M8").value = "Material movement";
      sheet.getCell("M9").value = "Inspection of incoming raw material";
      sheet.getCell("M10").value = "Loading of material in Hopper";
      sheet.getCell("M11").value = "Injection molding";
      sheet.getCell("M12").value = "Trimming";
      sheet.getCell("M13").value = "Visual Inspection";
      sheet.getCell("M14").value = "Transfer Material";

      sheet.getCell("N1").value = "colMatVA_QuantityCalc";
      sheet.getCell("N5").value = "Qty";
      sheet.getCell("N6").value = 1;
      sheet.getCell("N7").value = 1;
      sheet.getCell("N8").value = 1;
      sheet.getCell("N9").value = 1;
      sheet.getCell("N10").value = 1;
      sheet.getCell("N11").value = 1;
      sheet.getCell("N12").value = 1;
      sheet.getCell("N13").value = 1;
      sheet.getCell("N14").value = 1;

      sheet.getCell("O1").value = "colEmpty1";

      //merge p2-x2
      sheet.mergeCells("P2:X2");
      sheet.getCell("P1").value = "colMatVA_Mat_Descr";
      sheet.getCell("P2").value = "Material";
      sheet.getCell("P5").value = "Material";

      sheet.getCell("Q1").value = "colMatVA_Mat_GroupIdent";
      sheet.getCell("Q5").value = "Material\t group\t identifier\t";
      sheet.getCell("Q7").value = "Raw";

      sheet.getCell("R1").value = "colMatVA_Mat_Remark";
      sheet.getCell("R5").value = "Remark";

      // merge S3-x3
      sheet.mergeCells("S3:X3");

      sheet.getCell("S1").value = "colMatVA_Mat_IsRawValue";
      sheet.getCell("S3").value = "Cost per single material item";
      sheet.getCell("S5").value = "Raw mat";
      sheet.getCell("S6").value = "No";
      sheet.getCell("S7").value = "Yes";
      sheet.getCell("S8").value = "No";
      sheet.getCell("S9").value = "No";
      sheet.getCell("S10").value = "No";
      sheet.getCell("S11").value = "No";
      sheet.getCell("S12").value = "No";
      sheet.getCell("S13").value = "No";
      sheet.getCell("S14").value = "No";

      sheet.getCell("T1").value = "colMatVA_Mat_IsRawValue";
      sheet.getCell("T5").value = "Unit";
      sheet.getCell("T7").value = "kg";

      //merger u4-x4
      sheet.mergeCells("U4:X4");
      sheet.getCell("U1").value = "colMatVA_Mat_RawMat_CostsPerUnit";
      sheet.getCell("U4").value = "Purch. Parts/raw mat./semi finished parts";
      sheet.getCell("U5").value = "Costs (CUR/unit)";

      sheet.getCell("V1").value = "colMatVA_Mat_RawMat_FinalPart";
      sheet.getCell("V5").value = "Net(unit)";

      sheet.getCell("W1").value = "colMatVA_Mat_RawMat_Surchage";
      sheet.getCell("W5").value = "Surcharge(%)";

      sheet.getCell("X1").value = "colMatVA_Mat_RawMat_MarkupPercent";
      sheet.getCell("X5").value = "Markup(%)";

      sheet.getCell("Y1").value = "colEmpty2";

      // merge z- aa
      sheet.mergeCells("Z2:AA2");
      sheet.mergeCells("Z3:AA3");
      sheet.getCell("Z1").value = "colLogLogCost";
      sheet.getCell("Z2").value = "Logistics";
      sheet.getCell("Z3").value = "Logistics";
      sheet.getCell("Z5").value = "Logistics (CUR/item)";

      sheet.getCell("AA1").value = "colLogLogPercent";
      sheet.getCell("AA5").value = "Logistics(%)";

      sheet.getCell("AB1").value = "colEmpty3";

      sheet.mergeCells("AC2:AP2");
      sheet.getCell("AC1").value = "colMatVA_VA_Shift";
      sheet.getCell("AC2").value = "Value add";
      sheet.getCell("AC5").value = "Shift type";
      sheet.getCell("AC15").value = "2";

      sheet.getCell("AD1").value = "colMatVA_VA_ShiftFixValue";
      sheet.getCell("AD5").value = "Shift type fix";

      sheet.getCell("AE1").value = "colMatVA_VA_Descr";
      sheet.getCell("AE5").value = "Description";
      // merge af3- ai3
      sheet.mergeCells("AF3:AI3");
      sheet.getCell("AF1").value = "colMatVA_VA_Tool_Remark";
      sheet.getCell("AF3").value = "Tooling";
      sheet.getCell("AF5").value = "Remarks";

      sheet.getCell("AG1").value = "colMatVA_VA_Tool_CostPerTool";
      sheet.getCell("AG5").value = "Cost/tool (tCUR)";

      sheet.getCell("AH1").value = "colMatVA_VA_Tool_Lifetime";
      sheet.getCell("AH5").value = "Lifetime cycles (thousand)";

      sheet.getCell("AI1").value = "colMatVA_VA_Tool_UpfrontPaid";
      sheet.getCell("AI5").value = "No";
      sheet.getCell("AI8").value = "No";
      sheet.getCell("AI9").value = "No";
      sheet.getCell("AI10").value = "No";
      sheet.getCell("AI11").value = "No";
      sheet.getCell("AI12").value = "No";
      sheet.getCell("AI13").value = "No";
      sheet.getCell("AI14").value = "No";

      sheet.getCell("AJ1").value = "colMatVA_VA_Perf_PartsPerCycle0";
      sheet.getCell("AJ5").value = "Parts per cycle (No.)";

      sheet.getCell("AK1").value = "colMatVA_VA_Perf_Cycletime";
      sheet.getCell("AK5").value = "cycle time (unit)";
      sheet.getCell("AK8").value = 300;
      sheet.getCell("AK9").value = 1800;
      sheet.getCell("AK10").value = 180;
      sheet.getCell("AK11").value = ag;
      sheet.getCell("AK12").value = 10;
      sheet.getCell("AK13").value = 5;
      sheet.getCell("AK14").value = 300;

      sheet.getCell("AL1").value = "colEmpty4";

      // merge AM2 -AP2
      // sheet.mergeCells('AM3 : AP3');
      sheet.mergeCells("AM3 : AP3");
      sheet.getCell("AM1").value = "colMatVA_VA_Machinery_Descr";
      sheet.getCell("AM3").value = "Input per single value-add activity";
      sheet.getCell("AM4").value = "Machinery";
      sheet.getCell("AM5").value = "Description";
      sheet.getCell("AM8").value = "Fork lift truck";
      sheet.getCell("AM9").value = "Meltflow Index Tester";
      sheet.getCell("AM10").value = "Manual Process";
      sheet.getCell("AM12").value = "Workstation";
      sheet.getCell("AM13").value = "Workstation";
      sheet.getCell("AM14").value = "Manual cart";

      //merge
      sheet.mergeCells("AN4:AP4");
      sheet.getCell("AN1").value = "colMatVA_VA_Labor_FTE";
      sheet.getCell("AN4").value = "Labour";
      sheet.getCell("AN5").value = "FTE(No.)";

      sheet.getCell("AO1").value = "colMatVA_VA_Labor_Skill";
      sheet.getCell("AO5").value = "Skill";
      sheet.getCell("AO1").value = "Prod.Worker";
      sheet.getCell("AO1").value = "Prod.Worker";
      sheet.getCell("AO1").value = "Prod.Worker";
      sheet.getCell("AO1").value = "Prod.Worker";
      sheet.getCell("AO1").value = "Prod.Worker";
      sheet.getCell("AO1").value = "Prod.Worker";

      sheet.getCell("AP1").value = "colMatVA_VA_Labor_OLE";
      sheet.getCell("AP5").value = "OL#";
      sheet.getCell("AQ1").value = "colEmpty5";
      sheet.getCell("AR1").value = "colMatVA_Yield";
      sheet.getCell("AR5").value = "Yield (%)";
      sheet.getCell("AR6").value = 100;
      sheet.getCell("AR7").value = 100;
      sheet.getCell("AR8").value = 100;
      sheet.getCell("AR9").value = 100;
      sheet.getCell("AR10").value = 100;
      sheet.getCell("AR11").value = 100;
      sheet.getCell("AR12").value = 100;
      sheet.getCell("AR13").value = 100;
      sheet.getCell("AR14").value = 100;

      sheet.getCell("AS1").value = "colEmpty6";

      // merge AT2- AZ2
      sheet.mergeCells("AT2:AZ2");
      sheet.mergeCells("AT3:AZ3");
      sheet.getCell("AT1").value = "colMatVA_BS_BatchSize";
      sheet.getCell("AT2").value = "Batch setup";
      sheet.getCell("AT3").value =
        "Batch setup costs per single value-add activity";
      sheet.getCell("AT5").value = "Batch size";

      sheet.getCell("AU1").value = "colMatVA_BS_BatchSizeFixValue";
      sheet.getCell("AU5").value = "BS fix";
      sheet.getCell("AU6").value = "No";
      sheet.getCell("AU7").value = "No";
      sheet.getCell("AU8").value = "No";
      sheet.getCell("AU9").value = "No";
      sheet.getCell("AU10").value = "No";
      sheet.getCell("AU11").value = "No";
      sheet.getCell("AU12").value = "No";
      sheet.getCell("AU13").value = "No";
      sheet.getCell("AU14").value = "No";

      sheet.getCell("AV1").value = "colMatVA_VA_Machinery_Descr_BS";
      sheet.getCell("AV5").value = "Machinery description";
      sheet.getCell("AV8").value = "Fork lift truck";
      sheet.getCell("AV9").value = "Meltflow Index Tester";
      sheet.getCell("AV10").value = "Manual Process";
      sheet.getCell("AV12").value = "Workstation";
      sheet.getCell("AV13").value = "Workstation";
      sheet.getCell("AV14").value = "Manual cart";

      sheet.getCell("AW1").value = "colMatVA_BS_Cycle";
      sheet.getCell("AW5").value = "Batch setup time (unit)";

      sheet.getCell("AW8").value = 0;
      sheet.getCell("AW9").value = 0;
      sheet.getCell("AW10").value = 0;
      sheet.getCell("AW11").value = "1800";
      sheet.getCell("AW12").value = 0;
      sheet.getCell("AW13").value = 0;
      sheet.getCell("AW14").value = 0;

      // merge ax4 - az4
      sheet.mergeCells("AX4:AZ4");
      sheet.getCell("AX1").value = "colMatVA_BS_Labor_FTE";
      sheet.getCell("AX4").value = "Labor";
      sheet.getCell("AX5").value = "FTE(No.)";
      sheet.getCell("AX8").value = 0;
      sheet.getCell("AX9").value = 0;
      sheet.getCell("AX10").value = 0;
      sheet.getCell("AX11").value = "2";
      sheet.getCell("AX12").value = 0;
      sheet.getCell("AX13").value = 0;
      sheet.getCell("AX14").value = 0;

      sheet.getCell("AY1").value = "colMatVA_BS_Labor_Skill";
      sheet.getCell("AY5").value = "Skill";
      sheet.getCell("AY8").value = "Prod. Worker";
      sheet.getCell("AY9").value = "Prod. Worker";
      sheet.getCell("AY10").value = "Prod. Worker";
      sheet.getCell("AY11").value = "Prod. Worker";
      sheet.getCell("AY12").value = "Prod. Worker";
      sheet.getCell("AY13").value = "Prod. Worker";
      sheet.getCell("AY14").value = "Prod. Worker";

      sheet.getCell("AZ1").value = "colMatVA_BS_Labor_OLE";
      sheet.getCell("AZ5").value = "OLE(%)";
      sheet.getCell("AZ8").value = 85;
      sheet.getCell("AZ9").value = 85;
      sheet.getCell("AZ10").value = 85;
      sheet.getCell("AZ11").value = 85;
      sheet.getCell("AZ12").value = 85;
      sheet.getCell("AZ13").value = 85;
      sheet.getCell("AZ14").value = 85;
      debugger;

      sheet.getCell("P2").fill = {
        type: "pattern",
        pattern: "solid",
        fgColor: { argb: "81b7db" }
      };

      sheet.getCell("Z2").fill = {
        type: "pattern",
        pattern: "solid",
        fgColor: { argb: "ecb700" }
      };

      sheet.getCell("AC2").fill = {
        type: "pattern",
        pattern: "solid",
        fgColor: { argb: "99ffd6" }
      };

      sheet.getCell("AR2").fill = {
        type: "pattern",
        pattern: "solid",
        fgColor: { argb: "e1ccff" }
      };

      sheet.getCell("AT2").fill = {
        type: "pattern",
        pattern: "solid",
        fgColor: { argb: "95dd00" }
      };

      sheet.getRow("3").fill = {
        type: "pattern",
        pattern: "solid",
        fgColor: { argb: "040754" }
      };

      sheet.getRow("4").fill = {
        type: "pattern",
        pattern: "solid",
        fgColor: { argb: "040754" }
      };

      sheet.getRow("5").fill = {
        type: "pattern",
        pattern: "solid",
        fgColor: { argb: "040754" }
      };

      sheet.getRow("1").font = {
        name: "Arial",
        color: { argb: "000000" },
        size: 7
      };

      sheet.getRow("2").font = {
        name: "Arial",
        color: { argb: "000000" },
        size: 9,
        bold: true
      };

      sheet.getRow("3").font = {
        name: "Arial",
        color: { argb: "FFFFFF" },
        size: 9
      };

      sheet.getRow("4").font = {
        name: "Arial",
        color: { argb: "FFFFFF" },
        size: 9
      };

      sheet.getRow("5").font = {
        name: "Arial",
        color: { argb: "FFFFFF" },
        size: 9
      };

      sheet.getRow("6").font = {
        name: "Arial",
        color: { argb: "000000" },
        size: 9
      };

      sheet.getRow("7").font = {
        name: "Arial",
        color: { argb: "000000" },
        size: 9
      };

      sheet.getRow("8").font = {
        name: "Arial",
        color: { argb: "000000" },
        size: 9
      };

      sheet.getRow("9").font = {
        name: "Arial",
        color: { argb: "000000" },
        size: 9
      };

      sheet.getRow("10").font = {
        name: "Arial",
        color: { argb: "000000" },
        size: 9
      };

      sheet.getRow("11").font = {
        name: "Arial",
        color: { argb: "000000" },
        size: 9
      };

      sheet.getRow("12").font = {
        name: "Arial",
        color: { argb: "000000" },
        size: 9
      };

      sheet.getRow("13").font = {
        name: "Arial",
        color: { argb: "000000" },
        size: 9
      };

      sheet.getRow("14").font = {
        name: "Arial",
        color: { argb: "000000" },
        size: 9
      };

      //write file

      const buf = await workbook.xlsx.writeBuffer();

      let date =
        new Date().getFullYear().toString() +
        new Date().getMonth().toString() +
        new Date().getDate().toString();

      let reportName = `${date} _Race_Excel_Report.xlsx`;

      saveAs(new Blob([buf]), reportName);
    }
  }
};
</script>

