<template>
  <q-page padding>
    <Plotly
      :data="data"
      :layout="layout"
      :display-mode-bar="false"
      :watchShallow="true"
      :autoResize="true"
    ></Plotly>
  </q-page>
</template>

<script>
import { Plotly } from "vue-plotly";

var data = [{
  x: ['giraffes', 'orangutans', 'monkeys'],
  y: [20, 14, 23],
  name: "yaxis data",
  type: "bar"
}
];
var layout = {
  title: "Double Y Axis Example",
  yaxis: { title: "yaxis title" },
  yaxis2: {
    title: "yaxis2 title",
    titlefont: { color: "rgb(148, 103, 189)" },
    tickfont: { color: "rgb(148, 103, 189)" },
    overlaying: "y",
    side: "right"
  }
};
export default {

    components: {
    Plotly
  },
  data() {
    return {
      data: data,
      layout: layout
    };
  },
   methods: {
     handleClick: function() {
      this.$emit('clickedSomething')
    }
  }
    
}
</script>