<template>
  <div>
    <!-- slot for parent component to activate the file changer -->
    <div @click="launchFilePicker()">
      <slot :name="this.activator"></slot>
    </div>
    <!-- image input: style is set to hidden and assigned a ref so that it can be triggered -->
    <input
      type="file"
      ref="file"
      :name="uploadFieldName"
      @change="onFileChange(
          $event.target.name, $event.target.files)"
      style="display:none"
    />
    <!-- error dialog displays any potential error messages -->
    <q-dialog v-model="errorDialog" max-width="300">
      <q-card>
        <q-card-section class="subheading">{{errorText}}</q-card-section>
        <q-card-actions>
          <q-spacer></q-spacer>
          <q-btn @click="errorDialog = false" flat>Got it!</q-btn>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  data: () => ({
    errorDialog: null,
    errorText: "",
    uploadFieldName: "file",
    maxSize: 1024,
    activator:null
  }),
  props: { value: Object },
  methods: {
    launchFilePicker() {
      this.$refs.file.click();
    },
    onFileChange(fieldName, file) {
      const { maxSize } = this;
      let imageFile = file[0];
      if (file.length > 0) {
        let size = imageFile.size / maxSize / maxSize;
        if (!imageFile.type.match("image.*")) {
          // check whether the upload is an image
          this.errorDialog = true;
          this.errorText = "Please choose an image file";
        } else if (size > 1) {
          // check whether the size is greater than the size limit
          this.errorDialog = true;
          this.errorText =
            "Your file is too big! Please select an image under 1MB";
        } else {
          // Append file into FormData and turn file into image URL

          let imageURL = URL.createObjectURL(imageFile);
          //  console.log(imageFile);
          // console.log(imageURL);
          //64encode
          // formData.append(fieldName, imageFile);
          // Emit the FormData and image URL to the parent component
          //let formData = new FormData();
          //    formData.append(imageFile.name, imageFile);

          this.$emit("input", { imageFile, imageURL });
        }
      }
    }
  },
  mounted() {
    

    this.activator = "Activator";
    console.log("ImageInput", this.activator);
  }
};
</script>