<template>
  <div style="max-width: 1500px;width:1000px; height:100%; font-family:TheinhardtPan-Regular">
    <q-card>
      <q-card-section>
        <div class="bg-primary q-pa-md text-center">
          <span class="text-white text-h4">
            <strong>Manufacturing Profile</strong>
          </span>
        </div>
      </q-card-section>

      <q-card-section>
        <div class="q-pa-xs container">
          <div class="q-gutter-xs row">
            <q-item-label class="text-h5 q-pt-xs col-4">
              <strong>Profile Name</strong>
            </q-item-label>

            <q-select
              outlined
              option-value="mfgProfId"
              option-label="mfgProfname"
              v-model="selectedMfgProfile"
              use-input
              hide-selected
              fill-input
              input-debounce="0"
              :options="actualOptions"
              @filter="filterFn"
              @input="updateShiftProfile(selectedMfgProfile)"
              hint="search by profile"
              style="width: 350px; padding-bottom: 32px"
              class="col-4 text-h6"
      
            > 
              <template v-slot:no-option>
                <q-item>
                  <q-item-section class="text-grey">No results</q-item-section>
                </q-item>
              </template>
            </q-select>
            
           
          </div>
          <q-separator />

          <div class="row q-pt-sm q-pb-sm">
            <div class="col">
              <q-item-label class="text-h6">
                <strong>Regional Data</strong>
              </q-item-label>
              <q-list>
                <mfgProfileRegtData
                  v-for="reg in selectedMfgProfile.regData"
                  class="q-gutter-xs"
                  @mfgChanged="mfgChanged=$event"
                  :key="reg.name"
                  :reg="reg"
                ></mfgProfileRegtData>
              </q-list>
            </div>

            <div class="col">
              <q-item-label class="text-h6">
                <strong>Machinary Data</strong>
              </q-item-label>
              <div class="row">
                <div class="q-gutter-xs">
                  <q-list>
                    <mfgProfileMachineryData
                      v-for="machinery in selectedMfgProfile.machineryData"
                      class="row q-gutter-xs"
                      @mfgChanged="mfgChanged=$event"
                      :key="machinery.name"
                      :machinery="machinery"
                    ></mfgProfileMachineryData>
                  </q-list>
                </div>
              </div>
            </div>
          </div>

          <q-separator />
          <div class="row q-pt-sm q-pb-sm">
            <div class="col">
              <q-item-label class="text-h6">
                <strong>Shift Data</strong>
              </q-item-label>
              <div class="row">
                <div class="q-gutter-xs row">
                  <q-list>
                    <mfgProfileShiftData
                      v-for="shift in selectedMfgProfile.shiftData"
                      class="row q-gutter-xs"
                      @mfgChanged="mfgChanged=$event"
                      :key="shift.name"
                      :shift="shift"
                    ></mfgProfileShiftData>
                  </q-list>
                </div>
              </div>
            </div>

            <div class="col">
              <q-item-label class="text-h6">
                <strong>Overhead Profile</strong>
              </q-item-label>
              <div class="row">
                <div class="q-gutter-sm row">
                  <q-list>
                    <mfgProfileOverheadData
                      v-for="oh in selectedMfgProfile.OverHeadData"
                      class="row q-gutter-md"
                      @mfgChanged="mfgChanged=$event"
                      :key="oh.name"
                      :oh="oh"
                    ></mfgProfileOverheadData>
                  </q-list>
                </div>
              </div>
            </div>
          </div>
        </div>
      </q-card-section>
      <q-separator />
      <q-card-actions align="center">
        <q-btn
          class="btnFill shadow-3"
          size="1.2rem"
          v-if="mfgChanged===false"
          type="submit"
          no-caps
          flat
          label="Select"
          v-close-popup
        />
        <q-btn
          class="btnRaceRippleBlue shadow-3"
          size="1.2rem"
          v-if="mfgChanged===true"
          @click="custMfgProfile=true"
         
          no-caps
          flat
          label="Save As"
        />
      </q-card-actions>
    </q-card>

    <q-dialog v-model="custMfgProfile" persistent>
      <q-card style="min-width: 350px">
        <q-card-section>
          <div class="text-h6">Enter Manufacturing Profile Name</div>
        </q-card-section>

        <q-card-section>
          <q-input dense v-model="custmfgProfileName" autofocus />
        </q-card-section>

        <q-card-actions align="right" class="text-primary">
          <q-btn flat label="Cancel" class="btnRaceRippleBlue1" v-close-popup />
          <q-btn
            flat
            label="Save"
            class="btnRaceRippleBlue"
            v-close-popup
            @click="saveCustomMfg()"
            
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { EventBus } from "../event-bus";
import axios from "axios";

export default {
  data() {
    return {
      selectedMfgProfile: [],
     
      actualOptions: [],
      mfgProfilesOpts: [],
      custMfgProfile: false,
      mfgChanged: false,
      custmfgProfileName: "",

      pageSource: null
    };
  },  
    

  methods: {
   
    saveCustomMfg() {
      this.mfgChanged = false;
      //this.$emit('custMfg', false);
      // data updated

      this.selectedMfgProfile;
      debugger;
      var ObjCustMfg = {
        mfgProfId: null,
        refMfgProfId: this.selectedMfgProfile.mfgProfId,
        mfgProfName: this.custmfgProfileName,
        Power_Rate: this.selectedMfgProfile.regData[0].value,
        Floor_Cost: this.selectedMfgProfile.regData[1].value,
        Interest_Rate: this.selectedMfgProfile.regData[2].value,
        Expert_Labor: this.selectedMfgProfile.regData[3].value,
        Causal_Labor: this.selectedMfgProfile.regData[4].value,
        Labor_OLE: this.selectedMfgProfile.regData[5].value,
        No_of_shifts: this.selectedMfgProfile.shiftData[0].value,
        Hours: this.selectedMfgProfile.shiftData[1].value,
        Workdays: this.selectedMfgProfile.shiftData[2].value,
        Machinery_OLE: this.selectedMfgProfile.machineryData[0].value,
        Dep_Period: this.selectedMfgProfile.machineryData[1].value,
        Maintanence_per_Shift: this.selectedMfgProfile.machineryData[2].value,
        Aux: this.selectedMfgProfile.machineryData[3].value,
        Manufacturing_OH: this.selectedMfgProfile.OverHeadData[0].value,
        SGnA_RnD: this.selectedMfgProfile.OverHeadData[1].value,
        Profit: this.selectedMfgProfile.OverHeadData[2].value
      };

      var self = this;
      axios
        .post(
          "http://dotnetwebapi4.racex.in///WebForms/api/GetProcMasterData/CreateMfgProfile",
          ObjCustMfg
        )
        .then(function(response) {
          // reload the options
//get id
let createdCustMfgProfileId =response.data.tblMfgProfie[0].mfgProfId;
          axios
            .get(
              "http://dotnetwebapi4.racex.in//WebForms/api/GetProcMasterData/GetMfgProfileData"
            )
            .then(function(response) {
              // handle success
             console.log(response);
              let mfgData = JSON.parse(
                response.data.tblMfgProfileData[0].MfgProfile
              ).mfgProfiles;

        //       var selectedMfgProfileIndex = mfgData.map((x, index) => {
        //   if (x.mfgProfId === createdCustMfgProfile.toString()) return index;
        // })
        // .filter(x => x != undefined)[0];

         let selectedCustMfgProfile = mfgData[createdCustMfgProfileId];
         self.selectedMfgProfile=selectedCustMfgProfile;
             self.$store.dispatch(
      "mfgstore1/updateShiftProfile",
      selectedCustMfgProfile
    );


        let allMfgProfiles = self.$store.getters["mfgstore1/mfgAllProfiles"];
let mfgDataupdate = Object.assign(allMfgProfiles, mfgData);
              self.$store.dispatch("mfgstore1/loadShiftProfile", mfgDataupdate);
            });
        })
        .catch(function(error) {
          console.log(error);
        });
     
    },
    

    updateShiftProfile(profile) {
       debugger;
      

     
      console.log(profile);

      this.$store.dispatch("mfgstore1/updateShiftProfile", profile);
    },

    filterFn(val, update, abort) {
      update(() => {
        console.log(this.updatelist);
       let allMfgProfiles = this.$store.getters["mfgstore1/mfgAllProfiles"];
        this.mfgProfilesOpts =[];
        this.mfgProfilesOpts = Object.entries(allMfgProfiles).map(x => x[1]);
       //this.mfgProfilesOpts=this.updatelist
        debugger;
        const needle = val.toLowerCase();
        this.actualOptions = this.mfgProfilesOpts.filter(
          v => v.mfgProfname.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    
  },
  components: {
    mfgProfileRegtData: require("components/mfgProfileCom/mfgProfileRegData.vue")
      .default,
    mfgProfileMachineryData: require("components/mfgProfileCom/mfgProfileMachineryData.vue")
      .default,
    mfgProfileShiftData: require("components/mfgProfileCom/mfgProfileShiftData.vue")
      .default,
    mfgProfileOverheadData: require("components/mfgProfileCom/mfgProfileOverhead.vue")
      .default
  },
  beforeMount(){

  var self=this;

        axios
        .get(
          "http://dotnetwebapi4.racex.in//WebForms/api/GetProcMasterData/GetMfgProfileData"
        )
        .then(function(response) {
          // handle success

          let mfgData = JSON.parse(response.data.tblMfgProfileData[0].MfgProfile).mfgProfiles

        self.$store.dispatch("mfgstore1/loadShiftProfile",mfgData);
        });
  },

  mounted() {
    let selectedMfgProfileStore = this.$store.getters[
      "mfgstore1/selectedProfile"
    ];
    debugger;
    let mfgProjectLocationId = this.$store.getters[
      "project/selectedProjMfgLocationId"
    ];
    debugger;
    let allMfgProfiles = this.$store.getters["mfgstore1/mfgAllProfiles"];
    this.mfgProfilesOpts = Object.entries(allMfgProfiles).map(x => x[1]);

    if (selectedMfgProfileStore.mfgProfId !== "0") {
      var selectedMfgProfileIndex = this.mfgProfilesOpts
        .map((x, index) => {
          if (x.mfgProfId === selectedMfgProfileStore.mfgProfId) return index;
        })
        .filter(x => x != undefined)[0];
      this.selectedMfgProfile = this.mfgProfilesOpts[selectedMfgProfileIndex];
    } else {
      var selectedMfgProfileIndex = this.mfgProfilesOpts
        .map((x, index) => {
          if (x.country === mfgProjectLocationId.label) return index;
        })
        .filter(x => x != undefined)[0];
      this.selectedMfgProfile = this.mfgProfilesOpts[selectedMfgProfileIndex];
    }
    this.$store.dispatch(
      "mfgstore1/updateShiftProfile",
      this.selectedMfgProfile
    );
  },
  destroy() {
    this.pageSource = "";
  }
};
</script>

<style lang="stylus" >
.my-card {
  width: 100%;
  max-width: 900px;
}
</style>