<template>
  <q-item class="row ">
   
    <q-item-label  class="text-h6 col-4 ">{{oh.name}}</q-item-label>
    <q-input
      square
      outlined
      class="col-4 "
      v-model="oh.value"
      suffix = '%'
      type="text"
      
      lazy-rules
      :rules="[ val => val && val.length > 0 || 'Please type something']"
    />
    <q-radio
      style="margin-top:-20px; "
      color="indigo-14"
      v-model="shape0"
      val="Standard"
      label="Standard"
      class="col-2"
    />
    <q-radio
      style="margin-top:-20px"
      color="indigo-14"
      v-model="shape0"
      val="Manual"
      label="Manual"
       class="col-2"
    />

    
  </q-item>
</template>

<script>
export default {
    props:['oh'],

     data() {
    return {

      shape0: "Standard",
      shape1: "Standard",
      shape2: "Standard",
        
    }
 },
 mounted(){

   console.log(this.oh)
 }
}
</script>