<template>
  <Plotly
    :data="data"
    :layout="layout"
    :display-mode-bar="false"
    :watchShallow="true"
    :autoResize="true"
    style="height:500px"
  ></Plotly>
</template>

<script>
import { Plotly } from "vue-plotly";

var xData = [
  "RM",
  "BOP",
  "RM<br>Total",
  "VA",
  "OH & <br>OTHER",
  "Profit",
  "TOTAL COST",
  "GAP",
  "Client Cost"
];

var yData = [];

var textList = [
  "$430K",
  "$260K",
  "$690K",
  "$-120K",
  "$-200K",
  "$-320K",
  "$370K"
];

//Base

var Base = {
  x: xData,
  y: [0, 0, 0, 0, 0, 0, 0, 0, 0],
  marker: {
    color: "rgba(0,0,0,0.0)"
  },
  type: "bar"
};

//Revenue

var RM = {
  x: xData,
  y: [0, 0, 0, 0, 0, 0, 0, 0, 0],
  type: "bar",
  marker: {
    color: "#051c2c"
    // line: {
    //   color: "#051c2c",
    //   width: 2
    // }
  }
};

//Cost

var VA = {
  x: xData,
  y: [0, 0, 0, 0, 0, 0, 0, 0, 0],
  type: "bar",
  marker: {
    color: "#051c2c"
    // line: {
    //   color: " #051c2c",
    //   width: 2
    // }
  }
};

//Profit

var trace4 = {
  x: xData,
  y: [0, 0, 0, 0, 0, 0, 0, 0, 0],
  type: "bar",
  marker: {
    color: "#051c2c"
    // line: {
    //   color: " #051c2c",
    //   width: 2
    // }
  }
};

var trace5 = {
  x: xData,
  y: [0, 0, 0, 0, 0, 0, 0, 0, 0],
  type: "bar",
  marker: {
    color: "#1f40e6"
    // line: {
    //     color: ' #1f40e6',
    //     width: 1.0
    // }
  }
};
var trace6 = {
  x: xData,
  y: [0, 0, 0, 0, 0, 0, 0, 0, 0],
  type: "bar",
   name:"Race Cost",
  marker: {
    color: "#3c96b4"
    // line: {
    //     color: ' #3c96b4',
    //     width: 1.0
    // }
  }
};

var trace8 = {
  x: xData,
  y: [0, 0, 0, 0, 0, 0, 0, 0, 0],
  type: "bar",
  marker: {
    color: "#8c5ac8"
    // line: {
    //     color: ' #8c5ac8',
    //     width: 1.0
    // }
  }
};
var trace9 = {
  x: xData,
  y: [0, 0, 0, 0, 0, 0, 0, 0, 0],
  type: "bar",
  marker: {
    color: "#e6a0c8"
    // line: {
    //     color: ' #e6a0c8',
    //     width: 1.0
    // }
  }
};

// let chartData = chart;
//  console.log(chartData);

export default {
  components: {
    Plotly
  },

  props: { ["chartData"]: { type: Object, required: true } },

  data() {
    return {
      data: [Base, RM, VA, trace4, trace5, trace6, trace8, trace9],

      layout: {
        title: "RACE COST BREAKDOWN ANALYSIS",
        barmode: "stack",
        yaxis2: {
          title: "",
          paper_bgcolor: "rgba(245,246,249,1)",
          plot_bgcolor: "rgba(245,246,249,1)",
          width: 300,
          height: 300,

          annotations: []
        },
        autosize: true,
        showlegend: true,

        hovermode: "closest"
      }
    };
  },

  mounted() {},
  watch: {
    chartData() {
      let raceOutPutChartData = this.chartData;
debugger;
      var rm = parseFloat(raceOutPutChartData.rmCost);
      var bopcost = parseFloat(raceOutPutChartData.bopCost);
      var matCost = parseFloat(raceOutPutChartData.MatlCost);
      var va = parseFloat(raceOutPutChartData.VaCost);
      var OH = parseFloat(raceOutPutChartData.OhOther);
      var pf = parseFloat(raceOutPutChartData.PF);
      var tc = parseFloat(raceOutPutChartData.TotalCost);
      var gp = raceOutPutChartData.Gap;
      var cc = raceOutPutChartData.presntCost;

      console.log(raceOutPutChartData);
      //pie chart

      // var c_fe = [$chartData[0].IRON, $chartData[0].Glass];

      // c_fe = c_fe.filter(c_fe => c_fe)[0];

      // var c_cs = $chartData[0].CoreSand;

      // var c_gs = $chartData[0].GreenSand;

      // var c_Mc = $chartData[0].Machine;
      // var c_lab = $chartData[0].Labour;
      // var c_Bsetp = $chartData[0].BatchSETup;

      /////////  // /  ////////////////////////////////////////////////////////

      // let Base = {
      //   x: xData,
      //   y: [this.chartData.BatchSETup, 420, 0, 570, 370, 370, 0],
      //   marker: {
      //     color: "rgba(1,1,1,0.0)"
      //   },
      //   type: "bar"
      // };

      // this.data[0].y.$set(1, this.chartData.BatchSETup);

      ///////////////////////////////////////////////////////////

      var delta = tc > cc ? cc : tc;
      var yData = [
        rm * 0.5,
        rm + bopcost / 2,
        matCost / 2,
        matCost + va / 2,
        matCost + va + OH / 2,
        matCost + va + OH + pf / 2,
        tc / 2,
        +delta + gp / 2,
        cc / 2
      ]; //textList position
      var textList = [rm, bopcost, matCost, va, OH, pf, tc, gp, cc];
      //Base
      var Base = {
        x: xData,
        y: [
          0,
          rm,
          0,
          matCost,
          matCost + va,
          matCost + va + OH,
          0,
          tc > cc ? cc : tc,
          0
        ],
        marker: {
          color: "rgba(1,1,1,0.0)"
        },
        type: "bar",
        name:"Bar Chart",
      };
      //RM
      this.$set(this.data, 0, Base);

      var RM = {
        x: xData,
        y: [rm, bopcost, matCost, 0, 0, 0, 0, 0, 0],
        type: "bar",
        text: [rm, bopcost, matCost],
        textposition: "auto",
        name:"RM",
        marker: {
          color: "#051c2c"
          //line: {
          //    color: 'blue',
          //    opacity:0.1,
          //    width: 1
          //}
        }
      };

      this.$set(this.data, 1, RM);
      //VA
      var VA = {
        x: xData,
        y: [0, 0, 0, va, 0, 0, 0, 0, 0],
        text: va,
        textposition: "auto",
         name:"VA",
        type: "bar",
        
        marker: {
          color: "#00a9e9"
          // line: {
          //     color: '#00a9e9"',
          //     width: 1
          // }
        }
      };
      this.$set(this.data, 2, VA);
      //OH&OTHER
      var trace4 = {
        x: xData,
        y: [0, 0, 0, 0, OH, 0, 0, 0, 0],
        text: OH,
        textposition: "auto",
         name:"OH & Other",
        type: "bar",
        marker: {
          color: "#1f40e6"
          // line: {
          //     color: '#1f40e6',
          //     width: 1.0
          // }
        }
      };
      this.$set(this.data, 3, trace4);
      //Profit
      var trace5 = {
        x: xData,
        y: [0, 0, 0, 0, 0, pf, 0, 0, 0],

        text: pf,
       
        textposition: "auto",
        type: "bar",
         name:"Profit",
          marker: {
          color: "#3C96B4"
          // line: {
          //     color: ' #3C96B4',
          //     width: 1.0
          // }
        },
        textinfo: "20"
      };

      this.$set(this.data, 4, trace5);
      //Total Cost
      var trace6 = {
        x: xData,
        y: [0, 0, 0, 0, 0, 0, tc, 0, 0],
        type: "bar",
        text: tc,
        textposition: "auto",
        name:"Race Cost",

        marker: {
          color: "#8C5AC8"
          // line: {
          //     color: '#8C5AC8',
          //     width: 1.0
          // }
        }
      };

      this.$set(this.data, 5, trace6);

      //GAP
      var trace8 = {
        x: xData,
        y: [0, 0, 0, 0, 0, 0, 0, gp, 0],
        type: "bar",
        text: gp,
        name:"Gap",
        textposition: "auto",
        marker: {
          color: "#E6A0C8"
          // line: {
          //     color: '#E6A0C8',
          //     width: 1.0
          // }
        }
      };
      this.$set(this.data, 6, trace8);
      //client cost
      var trace9 = {
        x: xData,
        y: [0, 0, 0, 0, 0, 0, 0, 0, cc],
        type: "bar",
        text: cc,
        name:"Client Cost",
        textposition: "auto",
        
        marker: {
          color: "#AAE6F0"

          // line: {
          //     color: '#AAE6F0',

          //     width: 1.0
          // }
        },
        
        
      };

      this.$set(this.data, 7, trace9);
    }
  }
};
</script>

