<template>
  <Plotly :data="data" :layout="layout" :display-mode-bar="false" :watchShallow="true" :autoResize="true"></Plotly>
</template>

<script>
import { Plotly } from "vue-plotly";

let allLabels = [
  ["IRON", "Green Sand", "Core Sand"],
  ["Machine", "Labour", "BatchSetup"]
];

let allValues = [[13, 15, 18], [44, 34, 11]];

let ultimateColors = [
  ["#AAE6F0", "#0099e6", "#051C2C"],
  ["#3C96B4", "#AFC3FF", "#8C5AC8"]
];

let Breackupdata = [
  {
    values: allValues[0],
    labels: allLabels[0],
    type: "pie",
    name: "RM",
    marker: {
      colors: ultimateColors[0]
    },
    domain: {
      row: 0,
      column: 0
    },
    autosize: false,

    width: 175,
    height: 250,
   // hoverinfo: 'label+percent+name+value',
    textinfo: 'label+percent+name',
    title: "RAW MATL."
  },
  {
    values: allValues[1],
    labels: allLabels[1],
    type: "pie",
    name: "VM",
    marker: {
      colors: ultimateColors[1]
    },
    domain: {
      row: 0,
      column: 1
    },
    autosize: false,
    width: 175,
    height: 250,
   // hoverinfo: 'label+percent+name',
    textinfo: 'label+percent+name',
    titleText:true,
    title: "VALUE ADD.",
    
  }
];

let layout = {
  title: "BREAK UP",
  //text: allValues,
  showlegend: true,
  grid: { rows: 1, columns: 2 },
  height: 350,
  paper_bgcolor: "rgba(11,12,13,0.0)",
  automargin: false,
  margin: { l: 0, r: 0, b: 0, t: 0, pad: 0 },
  //marker: {
  //    colors: ['gray', '0099e6', 'darkblue'],
  //},

  font: {
    size: 11,
    color: "black"
  }
};

export default {
  components: {
    Plotly
  },

  props: { ["chartData"]: { type: Object, required: true } },

  data() {
    return {
      data: Breackupdata,
      Breackupdata: [],

      layout: layout
    };
  },

  watch: {
    chartData() {
      let raceOutPutChartData = this.chartData;

      // console.log("Watch", raceOutPutChartData);

      let c_fe = [raceOutPutChartData.IRON, 
      raceOutPutChartData.Glass,
      raceOutPutChartData.IM_Material ,
      raceOutPutChartData.FR_Material,
      raceOutPutChartData.HPDC_Material,
      raceOutPutChartData.Plasma_MatRate,
      raceOutPutChartData.LPDC_Material,
      raceOutPutChartData.Laser_MatRate]     
  

      c_fe = c_fe.filter(c_fe => c_fe)[0];
      let c_cs = raceOutPutChartData.CoreSand;

      let c_gs = raceOutPutChartData.GreenSand;

      let c_Mc = raceOutPutChartData.Machine;
      let c_lab = raceOutPutChartData.Labour;
      let c_Bsetp = raceOutPutChartData.BatchSETup;
      let C_Tooling = raceOutPutChartData.Tooling;

      let allLabels1 = [
        [
          Object.keys(raceOutPutChartData)[9],
          Object.keys(raceOutPutChartData)[10],
          Object.keys(raceOutPutChartData)[11]
        ],
        ["Machine", "Labour", "BatchSetup", "Tooling"]
      ];
      let allValues1 = [[c_fe, c_cs, c_gs], [c_Mc, c_lab, c_Bsetp,C_Tooling]];

      let ultimateColors = [
        ["#AAE6F0", "#0099e6", "#051C2C"],
        ["#3C96B4", "#AFC3FF", "#8C5AC8"]
      ];

      const pieChart1 = [
        {
          values: allValues1[0],
          labels: allLabels1[0],
          type: "pie",
          name: "RM",
          marker: {
            colors: ultimateColors[0]
          },
          domain: {
            row: 0,
            column: 0
          },
          autosize: false,
          width: 175,
          height: 250,
          //hoverinfo: 'label+percent+name+value',
          textinfo: 'percent+value',
          title: "RAW MATL."
        },
        {
          values: allValues1[1],
          labels: allLabels1[1],
          type: "pie",
          name: "VM",
          textinfo:["Machine", "Labour", "BatchSetup"],
          textposition:'auto',
          marker: {
            colors: ultimateColors[1]
          },
          domain: {
            row: 0,
            column: 1
          },
          autosize: false,
          width: 175,
          height: 250,
          // hoverinfo: 'label+percent+name',
           textinfo: 'percent+value',
          title: "VALUE ADD."
        }
      ];
  

      this.$set(this.data, 0, pieChart1[0]);
      this.$set(this.data, 1, pieChart1[1]);
    }
  }
};
</script>

