<template>
<div>
  <Plotly
    :data="data"
    :watchShallow="true"
    :autoResize="true"
    :display-mode-bar="false"
    :layout="layout"
  ></Plotly>
  
</div>
</template>

<script>
import regression from "regression";
import loadash from "lodash";
//import { EventBus } from "../event-bus";

import { Plotly } from "vue-plotly";

var trace1 = {
  x: [],
  y: [],

  type: "scatter+marker",
  showlegend: false
};

let fittingLineData = Array.from(trace1.x, (x, index) => [x, trace1.y[index]]);

const result = regression.linear(fittingLineData);
const gradient = result.equation[0];
const yIntercept = result.equation[1];
let xValues = trace1.x;

let yValues = xValues.map(x => gradient * x + yIntercept);

var trace2 = {
  x: xValues,
  y: yValues,
  mode: "lines",
  type: "scatter"
};
var layout = {
  legend: {
    y: 0.5,
    yref: "paper",
    font: {
      family: "Arial, sans-serif",
      size: 20,
      color: "grey"
    }
  },
  title: "Data Labels on the Plot"
};

var data = [trace1, trace2];

// let chartData = chart;
//  console.log(chartData);

export default {
  components: {
    Plotly
  },

  props: { 
    ["chartData"]: { type: Object, required: true },
    // ["options"]: {
    //     type: String
    //   },
      ["xlabel"]: {
       type: String
      }
  
      },

  data() {
    return {
      data: data,
      autoResize: true,
      layout: {},
      showlegend: true,
    };
  },

  created(){
   this.data=[];

  },

  mounted() {
    debugger;
    console.log(this.chartData);
    //this.chartData()
    
  },
  watch: {
    chartData() {
      debugger;
      let llpChart = this.chartData;

      debugger; //x:property like partweight value
      //y cost (present, Racetotal)
      console.log(llpChart);
      let newX = llpChart.x.map(x => parseFloat(x));
      var newTrace1 = {
        x: newX,
        y: llpChart.y,
        mode: "markers+text",
        type: "scatter",
        showlegend: false,
        name: "Parameter",
        text: llpChart.lab,
        textposition: "top center"
      };

      let fittingLineData1 = Array.from(newX, (x, index) => [
        x,
        newTrace1.y[index]
      ]);

      const result1 = regression.linear(fittingLineData1);
      const gradient1 = result1.equation[0];
      const yIntercept1 = result1.equation[1];
      let xValues1 = newTrace1.x;
      let yValues1 = xValues1.map(x => gradient1 * x + yIntercept1);
      debugger;
      var newTrace2 = {
        x: xValues1,
        y: yValues1,
        mode: "lines",
        type: "scatter",
        showlegend: false
      };

      var layout1 = {
        autosize: true,
        // width:"1200 %" ,
        // height:"70%",
         automargin: true,


        xaxis: {
          title: {
            text: `${this.chartData.xlabel} (${this.chartData.xuom})`,
            font: {
              family: "Arial, monospace",
              size: 16,
              color: "#000000"
            }
          },
          range: []
        },
        yaxis: {
          title: {
            text: this.chartData.ylabel,
            font: {
              family: "Arial, monospace",
              size: 16,
              color: "#000000"
            }
          },
          range: []
        },
        legend: {
          y: 0.5,
          yref: "paper",
          font: {
            family: "Arial, sans-serif",
            size: 20,
            color: "grey"
          }
        },
        title: "LPP CHART"
      };

      this.$set(this.data, 0, newTrace1);

      this.$set(this.data, 1, newTrace2);
      this.layout = layout1;

      let partOutlineNegetiveIndex = Array.from(llpChart.y, (x, index) => {
        if (x >= yValues1[index]) return index;
      });
      partOutlineNegetiveIndex = [
        ...new Set(partOutlineNegetiveIndex, x => x)
      ].filter(x => {
        return x != null;
      });

      let partOutlineNegetiveArr = Array.from(
        partOutlineNegetiveIndex,
        (x, index) => llpChart.lab[x]
      );
      debugger;
      // let partOutlineNegative = llpChart.lab.filter(x => ! partOutlineNegetiveArr.includes(x));

      let partOutlinePositiveIndex = _.difference(
        llpChart.lab.map((x, index) => index),
        partOutlineNegetiveIndex
      );

      let partOutlinepositiveArr = Array.from(
        partOutlinePositiveIndex,
        (x, index) => llpChart.lab[x]
      );

      this.$emit("Outline", [partOutlinepositiveArr,partOutlineNegetiveArr ]);
      //get label array out with these index and rest
      debugger;
      //VA
    }
  }
};
</script>

