<template>
     <div class="row">
          <plotlycom :chartData="chartData" class></plotlycom>
        </div>
</template>

<script>
export default {
    data(){
        
    },
    methods:{
        renderChart(parameter) {
      debugger;
      
      let xparameter = this.LLPAnalysis.flat()
        .filter(x => x[0] === parameter.value)
        .map(x => x[2]);
      let yparameterLabel = this.LLPAnalysis.flat()
        .filter(x => x[0] === parameter.value)
        .map(x => x[3]);
      let yparameterValue = this.LLPAnalysis.flat()
        .filter(x => x[0] === parameter.value)
        .map(x => x[5]);

      this.chartData = {
        x: xparameter,
        y: yparameterValue,
        lab: yparameterLabel
      };
    },
     components: {
    plotlycom: require("components/scatterPlotly.vue").default
  }

    }

    
}
</script>