<template>
  <q-card style="max-width: 1500px;width:1000px;height:auto">
    <q-card-section>
      <q-toolbar-title class="text-h4 text-center text-white bg-primary q-pa-md">
        <strong>Select Process</strong>
      </q-toolbar-title>
    </q-card-section>

    <q-card-section>
      <div class="row bg-grey-1" style="background-image:url(../statics/BackGroundImgnew22.jpg)">
        <div class="q-pl-xl q-mt-xl col-8">
          <svg
            aria-labelledby="title"
            id="svg"
            viewBox="0 0 585 587"
            enable-background="0 0 585 587"
          >
            <svg
              version="1.1"
              id="svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="495.5px"
              height="600px"
              viewBox="-15 -89.7 495.5 600"
              xml:space="preserve"
            >
              <g ref="circ" class="iconCircle">
                <g id="circle">
                  <path
                    id="backCircle"
                    class="st0"
                    d="M53.4,154.3c0-93.1,75.5-168.6,168.6-168.6s168.6,75.5,168.6,168.6S315.1,322.9,222,322.9
      S53.4,247.4,53.4,154.3z"
                  />
                  <path
                    class="st1"
                    d="M222.1,115.8c-21.2,0-38.4,17.2-38.4,38.4s17.2,38.4,38.4,38.4s38.4-17.2,38.4-38.4S243.3,115.8,222.1,115.8
      L222.1,115.8z"
                  />
                  <circle class="st2" cx="222.4" cy="153.8" r="191.4" />
                  <circle class="st3" cx="222.1" cy="154.3" r="79.2" />
                  <path
                    class="st4"
                    d="M222.1,129.1c-13.9,0-25.2,11.3-25.2,25.2c0,13.9,11.3,25.2,25.2,25.2s25.2-11.3,25.2-25.2
      S236,129.1,222.1,129.1z"
                  />
                  <linearGradient
                    id="SVGID_1_"
                    gradientUnits="userSpaceOnUse"
                    x1="320.3311"
                    y1="298.7393"
                    x2="320.3311"
                    y2="-5.3131"
                    gradientTransform="matrix(1.032 -0.177 0.169 0.987 -62.731 55.81)"
                  >
                    <stop offset="0" style="stop-color:#000707;stop-opacity:0" />
                    <stop
                      offset="4.700000e-02"
                      style="stop-color:#182323;stop-opacity:4.700000e-02"
                    />
                    <stop offset="0.134" style="stop-color:#3E5250;stop-opacity:0.134" />
                    <stop offset="0.227" style="stop-color:#617B79;stop-opacity:0.227" />
                    <stop offset="0.324" style="stop-color:#7E9D9A;stop-opacity:0.324" />
                    <stop offset="0.426" style="stop-color:#95B9B6;stop-opacity:0.426" />
                    <stop offset="0.536" style="stop-color:#A7CFCB;stop-opacity:0.536" />
                    <stop offset="0.657" style="stop-color:#B4DEDA;stop-opacity:0.657" />
                    <stop offset="0.796" style="stop-color:#BCE7E3;stop-opacity:0.796" />
                    <stop offset="1" style="stop-color:#BEEAE6" />
                  </linearGradient>
                  <path
                    class="st5"
                    d="M189.8,7.1v3.6c41.8-6.8,82.4,3,114.3,24.6c32.3,21.8,55.7,55.4,62.6,95.9s-3.9,80-27.1,111.3
      c-22.9,30.9-57.9,53.7-99.6,61.2l0.6,3.6c85.8-15.5,143.9-94.3,129.8-176.7C356.3,48.1,275.9-7,189.8,7.1z"
                  />
                  <path
                    class="st6"
                    d="M318,154.2c0-53-43-95.9-95.9-95.9c-53,0-95.9,43-95.9,95.9c0,53,43,95.9,95.9,95.9
      C275.1,250.1,318,207.2,318,154.2z M222.1,243.6c-24.7,0-47-10-63.2-26.2s-26.2-38.5-26.2-63.2s10-47,26.2-63.2
      s38.5-26.2,63.2-26.2s47,10,63.2,26.2c16.2,16.2,26.2,38.5,26.2,63.2s-10,47-26.2,63.2S246.8,243.6,222.1,243.6L222.1,243.6z"
                  />
                  <path
                    class="st7"
                    d="M248.7,50.1l-0.6,2.5c40,9,72.4,41.7,78.9,84.7c2.9,18.8,0.4,37.2-6.2,53.7l0.8,0.3l1.6,0.6
      c6.8-16.9,9.3-35.7,6.3-55C322.9,92.9,289.7,59.3,248.7,50.1L248.7,50.1z"
                  />
                  <path d="M312.8,207.6l-1.4-0.9L312.8,207.6z" />
                  <path
                    class="st7"
                    d="M282.5,137.2l-9.6,2.7c1.3,4.6,2,9.4,2,14.4c0,24.3-16.4,44.7-38.7,50.9l2.7,9.6c26.6-7.3,46-31.7,46.1-60.5
      C284.9,148.4,284.1,142.6,282.5,137.2z"
                  />
                  <path d="M272.9,139.9" />
                  <path
                    class="st8"
                    d="M169.1,154.3h-3.7c0,30.7,24.6,55.7,55.1,56.4l0.1-3.7C192,206.2,169.1,182.9,169.1,154.3L169.1,154.3z"
                  />
                  <path
                    class="st9"
                    d="M173,112.9l7.6,6.5c3.1-3.6,6.7-6.9,10.8-9.7c20.1-13.6,46.3-11.4,63.9,3.7l6.5-7.6
      c-20.9-17.9-52-20.5-75.9-4.4C180.9,104.7,176.6,108.6,173,112.9L173,112.9z"
                  />
                  <path class="st10" d="M281.1,154.3" />
                  <g class="st11">
                    <path
                      class="st12"
                      d="M157.1,157.6c-1-16.6,4.4-32.2,14.1-44.3l8.8,7.1c-8,10-12.5,22.8-11.6,36.5L157.1,157.6L157.1,157.6z
         M168.4,156.9l-3.7,0.2c1.9,30.7,27.9,54.1,58.5,52.8l-0.1-3.7C194.4,207.4,170.1,185.5,168.4,156.9z"
                    />
                  </g>
                  <path
                    class="st13"
                    d="M212.1,118.2l1.6-1.2L182.6-16.9C87.4,3,65.8,77.4,65.8,77.4s115.8,56.1,121.7,59.2l2.5-1.9
      C194.6,126.7,202.4,120.4,212.1,118.2L212.1,118.2z"
                  />
                  <circle class="st14" cx="222.1" cy="154.3" r="13" />
                  <path
                    d="M191.7,104.1L191,103c-9.7,5.8-17.3,14.2-22.3,24l1.1,0.5C174.8,117.8,181.9,109.8,191.7,104.1z"
                  />
                  <path
                    class="st15"
                    d="M258.6,143.1c-5.7-18.9-24.7-30.2-43.7-26.8L175.5-53.3l-1.2,0.3l39.6,170.8l0.6-0.1
      c18.6-3.7,37.3,7.3,42.8,25.8c5.9,19.7-5.2,40.4-24.9,46.3s-40.4-5.2-46.3-24.9c-2.8-9.4-1.8-19,2.3-27.2l0.5-1l-1.1-0.5
      c0,0.1,0,0,0,0l-16.6-8l-1.4-0.7l-1.1-0.5L34.9,62.5L34.2,64l150.7,72.7l2.2,1.1c-3.9,8.3-4.9,18-2.1,27.5
      c6.1,20.3,27.5,31.8,47.9,25.7C253.2,184.9,264.7,163.4,258.6,143.1L258.6,143.1z M187.7,136.2
      C187.8,136.2,187.7,136.2,187.7,136.2z M187.7,136.2C187.7,136.2,187.7,136.3,187.7,136.2z"
                  />
                  <linearGradient
                    id="SVGID_2_"
                    gradientUnits="userSpaceOnUse"
                    x1="99.1097"
                    y1="663.8168"
                    x2="99.1097"
                    y2="359.7987"
                    gradientTransform="matrix(-0.386 0.973 0.902 0.357 -224.18 -59.782)"
                  >
                    <stop offset="0" style="stop-color:#000707;stop-opacity:0" />
                    <stop offset="0.947" style="stop-color:#000101;stop-opacity:0.947" />
                    <stop offset="1" style="stop-color:#000000" />
                  </linearGradient>
                  <path
                    class="st16"
                    d="M91.3,91.5l3.6,1.8c-15.3,39.5-15.1,81-1.3,116.4c13.9,35.7,40.9,65.2,77.8,79.8
      c37,14.7,76.8,11.8,111.4-4.8c34.2-16.4,63.3-46.1,79.2-85.4l3.3,1.3c-32.8,80.9-119.9,122.2-195.2,92.4
      C94.7,263.1,59.7,172.8,91.3,91.5z"
                  />
                  <path
                    class="st17"
                    d="M249.7,260l-0.8-2.5c-39.3,11.9-83.6-0.6-110.5-34.9c-11.8-15-18.7-32.2-21.1-49.7l-0.9,0.1l-1.7,0.2
      c2.4,18,9.5,35.7,21.6,51C164,259.3,209.4,272.2,249.7,260L249.7,260z"
                  />
                  <g id="likely" class="st18" />
                  <g id="unlikely" class="st18" />
                </g>
                <g id="icons">
                  <path
                    class="st7 icon15"
                    d="m15.385568,81.757941c0.42177,0 0.702922,-0.240742 0.702922,-0.601889l0,-3.611477c0,-0.361218 -0.281152,-0.60196 -0.702922,-0.60196l-40.771134,0c-0.42177,0 -0.702922,0.240742 -0.702922,0.601889l0,3.611477c0,0.361148 0.281152,0.601889 0.702922,0.601889l2.108849,0l0,14.445909c-0.773272,0.120406 -1.405927,0.722295 -1.405927,1.444591l0,2.166886c-0.77319,0.120406 -1.405844,0.722366 -1.405844,1.384423l0,5.59779c0,0.782463 0.773272,1.444591 1.687079,1.444591l0.42177,0l0,3.611477l-1.405927,0c-0.42177,0 -0.702922,0.240742 -0.702922,0.601889s0.281152,0.60196 0.702922,0.60196l2.108849,0l4.217698,0l28.117958,0l4.217698,0l2.108849,0c0.42177,0 0.702922,-0.240742 0.702922,-0.601889s-0.281152,-0.601889 -0.702922,-0.601889l-1.405844,0l0,-3.611477l0.42177,0c0.913807,0 1.687079,-0.662128 1.687079,-1.444591l0,-5.59779c0,-0.722295 -0.632655,-1.324185 -1.405927,-1.384423l0,-2.166886c0,-0.722295 -0.632655,-1.324185 -1.405927,-1.444591l0,-14.445909l2.108931,0zm-35.14751,30.095596l-2.811771,0l0,-3.611477l2.811771,0l0,3.611477zm-1.405927,-7.824844c0,-1.023275 0.913807,-1.805739 2.108849,-1.805739c1.195042,0 2.108849,0.782463 2.108849,1.805739c0,1.023275 -0.913807,1.805739 -2.108849,1.805739c-1.194959,0 -2.108849,-0.782463 -2.108849,-1.805739zm29.523885,7.824844l-26.712031,0l0,-3.611477l26.712114,0l0,3.611477l-0.000082,0zm-23.90026,-7.824844c0,-1.023275 0.913807,-1.805739 2.108849,-1.805739c1.195042,0 2.108849,0.782463 2.108849,1.805739c0,1.023275 -0.913807,1.805739 -2.108849,1.805739c-1.195042,0 -2.108849,-0.782463 -2.108849,-1.805739zm5.623625,0c0,-1.023275 0.913807,-1.805739 2.108849,-1.805739c1.195042,0 2.108849,0.782463 2.108849,1.805739c0,1.023275 -0.913807,1.805739 -2.108849,1.805739c-1.195042,0 -2.108849,-0.782463 -2.108849,-1.805739zm5.623542,0c0,-1.023275 0.913807,-1.805739 2.108849,-1.805739c1.195042,0 2.108849,0.782463 2.108849,1.805739c0,1.023275 -0.913807,1.805739 -2.108849,1.805739c-1.194959,0 -2.108849,-0.782463 -2.108849,-1.805739zm5.623625,0c0,-1.023275 0.913807,-1.805739 2.108849,-1.805739s2.108849,0.782463 2.108849,1.805739c0,1.023275 -0.913807,1.805739 -2.108849,1.805739s-2.108849,-0.782463 -2.108849,-1.805739zm5.623625,0c0,-1.023275 0.913807,-1.805739 2.108849,-1.805739s2.108849,0.782463 2.108849,1.805739c0,1.023275 -0.913807,1.805739 -2.108849,1.805739s-2.108849,-0.782463 -2.108849,-1.805739zm5.623542,7.824844l-2.811771,0l0,-3.611477l2.811771,0l0,3.611477zm0.703005,-12.03821l-36.553436,0l0,-2.106719c0,-0.180574 0.140617,-0.30098 0.351502,-0.30098l5.272122,0l11.247167,0l2.811771,0l11.247249,0l5.272122,0c0.210885,0 0.351502,0.120406 0.351502,0.30098l0,2.106719zm-23.197338,-12.038281l1.405927,0l7.029469,0l1.405927,0c0.42177,0 0.702922,-0.240742 0.702922,-0.601889c0,-0.361148 -0.281152,-0.601889 -0.702922,-0.601889l-0.703005,0c0,-1.324185 -0.84354,-2.467866 -2.108849,-3.129923l0,-1.685403l10.544245,0l0,14.445909l-10.544245,0l0,-1.685332c1.265309,-0.601889 2.108849,-1.805739 2.108849,-3.129923l0.702922,0c0.42177,0 0.702922,-0.240742 0.702922,-0.601889s-0.281152,-0.601889 -0.702922,-0.601889l-1.405927,0l-7.029469,0l-1.405927,0c-0.42177,0 -0.702922,0.240742 -0.702922,0.601889s0.281152,0.601889 0.702922,0.601889l0.702922,0c0,1.324185 0.84354,2.467866 2.108849,3.129923l0,1.685332l-10.544245,0l0,-14.445909l10.544245,0l0,1.685332c-1.265309,0.601889 -2.108849,1.805739 -2.108849,3.129923l-0.702922,0c-0.42177,0 -0.702922,0.240742 -0.702922,0.601889c0,0.361218 0.281235,0.60196 0.703005,0.60196zm17.573714,-7.222954l-11.247167,0l-2.811771,0l-11.247249,0l-5.623625,0l-1.405844,0l0,-2.407628l39.365207,0l0,2.407628l-1.405927,0l-5.623625,0z"
                  />
                  <path
                    class="st7 icon14"
                    d="M-8.2,175.8c-0.3,5.3,3.7,9.9,9.1,10.3c5.3,0.3,9.9-3.7,10.3-9.1c0.3-5.3-3.7-9.9-9.1-10.3
      C-3.3,166.4-7.9,170.4-8.2,175.8z M2.5,159.9l-3.1,5.3l5.4,0.3C4.9,165.5,2.5,159.9,2.5,159.9L2.5,159.9z M13.8,165.4L7.9,167
      l3.6,4.1L13.8,165.4z M-3.8,166.3l-5.6-2.3l1.6,5.9C-7.9,169.9-3.8,166.3-3.8,166.3z M-9.4,172.9l-5.6,2.4l5.3,3.1
      C-9.7,178.3-9.4,172.9-9.4,172.9z M12.2,179.8l5.6-2.4l-5.3-3.1L12.2,179.8z M0.4,192.8l3.1-5.3l-5.4-0.3L0.4,192.8L0.4,192.8z
       M6.7,186.4l5.6,2.3l-1.6-5.9C10.8,182.8,6.7,186.4,6.7,186.4z M-10.9,187.3l5.9-1.6l-3.6-4.1L-10.9,187.3z"
                  />
                  <path
                    class="st7 icon13"
                    d="M36.4,245l-14.8-5.3c0,0,0.3,6.8,5.3,8.6C31.8,250.1,36.4,245,36.4,245L36.4,245z M9,257l2.7-7.5l-0.9-0.3
      l-2.7,7.5L9,257z M5.9,256.9l8.5,3c1,0.4,2.2-0.2,2.6-1.2l0.3-0.7l2.1,0.7l-1.3,3.7c-0.4,1,0.3,2.2,1.3,2.6l4.6,1.6
      c1,0.4,2.2-0.2,2.6-1.2l1.2-3.3l1.8,0.6v0.1c-0.4,1,0.2,2.2,1.2,2.6l8.5,3c1,0.4,2.2-0.2,2.6-1.2l2-5.7c0.4-1-0.2-2.2-1.2-2.6
      l-8.5-3c-1-0.4-2.2,0.2-2.6,1.2l-0.7,1.9l-1.8-0.7l1.2-3.4c0.4-1-1.8-4.8-1.8-4.8l-2.3-0.8c0,0-4.1,1.6-4.4,2.6l-1.1,2.9l-2.1-0.7
      l0.4-1.2c0.4-1-0.2-2.2-1.2-2.6l-8.5-3c-1-0.4-2.2,0.2-2.6,1.2l-2,5.6C4.3,255.4,4.8,256.6,5.9,256.9z M42.7,261.4l-2,5.7
      c-0.2,0.5-0.8,0.8-1.3,0.6l2.7-7.5C42.6,260.3,42.9,260.8,42.7,261.4L42.7,261.4z M41.1,259.7l-2.7,7.5l-0.9-0.3l2.7-7.5
      L41.1,259.7z M39.2,259.1l-2.7,7.5l-0.9-0.3l2.7-7.5C38.3,258.7,39.2,259.1,39.2,259.1z M37.4,258.4l-2.7,7.5l-0.9-0.3l2.7-7.5
      L37.4,258.4z M35.5,257.7l-2.7,7.5l-0.9-0.3l2.7-7.5C34.5,257.4,35.5,257.7,35.5,257.7z M32.3,257.6c0.2-0.5,0.8-0.8,1.3-0.6
      l-2.7,7.5c-0.5-0.2-0.8-0.8-0.6-1.3L32.3,257.6z M27.5,254.1l0.7,0.3l-3.5,9.7l-0.7-0.3L27.5,254.1z M18,252.8l-2,5.7
      c-0.2,0.5-0.8,0.8-1.3,0.6l2.7-7.5C17.9,251.7,18.1,252.2,18,252.8L18,252.8z M5.6,254.7l2-5.6c0.2-0.5,0.8-0.8,1.3-0.6l5.7,2
      l-2.7,7.5l0.9,0.3l2.7-7.5l0.9,0.3l-2.7,7.5l-7.5-2.7C5.7,255.8,5.4,255.2,5.6,254.7L5.6,254.7z M7.1,256.3l2.7-7.5l-0.9-0.3
      L6.2,256L7.1,256.3z M10.9,257.7l2.7-7.5l-0.9-0.3l-2.7,7.5L10.9,257.7z"
                  />
                  <path
                    class="st7 icon12"
                    d="M83.9,307.3c-0.5,1.9-1.9,8.5-2.5,11.2c2.3,0,4.7,0.2,6.8,0.6c1.7-1.5,5-4.2,5.9-4.4c1.4-0.2,1.6,0.1,1.1,1.3
      c-0.6,1.2-2.4,5.1-2.4,5.1s1.9,3.8,2.6,4.9c0.6,1.1,0.4,1.5-1,1.3c-0.8-0.1-4.2-2.6-6-4c-2.1,0.5-4.5,0.9-6.8,1
      c0.7,2.7,2.4,9.1,3,11c0.5,1.7-0.9,1.1-0.9,1.1c-0.6-0.3-1.9-1-2.3-1.5c-2.9-3.5-7.2-9-8.2-10.3c-0.7,0-1.5,0-2.4,0.1
      C61,325,60,322.8,60,322.2c0-0.7,0.9-2.9,10.7-3.2c0.9,0,1.7-0.1,2.4-0.1c1-1.4,5.1-7.2,7.8-10.8c0.4-0.6,1.6-1.4,2.3-1.7
      C83,306.3,84.4,305.6,83.9,307.3L83.9,307.3z"
                  />
                  <g>
                    <path
                      class="st7 icon11"
                      d="M149.9,358.6c0.3,0.1,0.5,0,0.6-0.1s0.3-0.4,0.3-0.7l-1.5-0.3c-0.1,0.4-0.1,0.6,0,0.8
        S149.6,358.6,149.9,358.6L149.9,358.6z"
                    />
                    <path
                      class="st7 icon10"
                      d="M144.3,360.6l4.5,15.7l10.9-12.2c1.1-1.1,1.9-2.6,2.3-4.2c1.1-4.9-2-9.9-6.9-11s-9.9,2-11,6.9
        C143.7,357.4,143.8,359,144.3,360.6z M152.4,360.6l2.6,0.5l0.4-1.8l-2.2-0.4l0.2-1.1l2.2,0.4l0.4-2.1l1.2,0.2l-1.2,6.1l-3.9-0.8
        L152.4,360.6L152.4,360.6z M148.4,356.4l2.6,0.5c0-0.3,0-0.5-0.1-0.6c-0.1-0.2-0.3-0.3-0.6-0.3c-0.6-0.1-1.1-0.2-1.5-0.2h-0.3
        l0.2-0.9c0.7,0,1.4,0,1.9,0.1c0.7,0.1,1.1,0.4,1.4,0.8c0.2,0.4,0.3,1,0.1,1.8c-0.3,1.6-1.1,2.3-2.5,2c-1.3-0.3-1.8-1.1-1.5-2.4
        L148.4,356.4L148.4,356.4z"
                    />
                  </g>
                  <path
                    class="st7 icon9"
                    d="M225.1,359.7c0,0-5.5,0.4-5.8,5.9c0.1,5.9,5.9,6.6,5.9,6.6s0.1,8.8,8.1,9.1c6.9,0.1,8.5-6.4,8.5-6.4
      s2.2,1.8,4.9,0c2.4-1.8,1.7-4.5,1.7-4.5s5.5-1.5,5-7.2c-0.6-5.6-6.5-5.2-6.5-5.2L225.1,359.7L225.1,359.7z"
                  />
                  <path
                    class="st7 icon8"
                    d="M318.1,349.5c3.4,0.8,5.9,3.7,6,3.9c0.4,0.2,0.6,0.2,0.6,0.2l4.4-2.6l2.2,3.7l1.1-0.7l-2.2-3.7l1.1-0.7
      l1.2,1.9l0.8-0.5l-1.2-1.9l13.8-8.2c0.4-0.2,0.5-0.7,0.3-1l-0.7-6.8l8.9-5.3c-4.7,1.8-16.9-3.8-16.9-3.8l-24.8,14.7
      c1.3,3-4.1,16.3-4.1,16.3L318.1,349.5L318.1,349.5z M326.8,350c0.2,0.4,0.1,0.8-0.3,1l-1.7,1c-0.4,0.2-0.8,0.1-1-0.3l-1.6-2.7
      c-0.2-0.4-0.1-0.8,0.3-1l1.7-1c0.4-0.2,0.8-0.1,1,0.3L326.8,350z M335.3,344.9c0.2,0.4,0.1,0.8-0.3,1l-2.3,1.4
      c-0.4,0.2-0.8,0.1-1-0.3l-1.6-2.7c-0.2-0.4-0.1-0.8,0.3-1l2.3-1.4c0.4-0.2,0.8-0.1,1,0.3L335.3,344.9z M339.6,342.4
      c0.2,0.4,0.1,0.8-0.3,1l-2.3,1.4c-0.4,0.2-0.8,0.1-1-0.3l-1.6-2.7c-0.2-0.4-0.1-0.8,0.3-1l2.3-1.4c0.4-0.2,0.8-0.1,1,0.3
      L339.6,342.4z M343.8,339.9c0.2,0.4,0.1,0.8-0.3,1l-2.3,1.4c-0.4,0.2-0.8,0.1-1-0.3l-1.6-2.7c-0.2-0.4-0.1-0.8,0.3-1l2.3-1.4
      c0.4-0.2,0.8-0.1,1,0.3L343.8,339.9z"
                  />
                  <g>
                    <path
                      class="st7 icon7"
                      d="M422.3,278l-3.5-13c0.6-1,1-1.6,1-1.6l-7.1-3.5l-16.3,16.8l7.9,9.2c0,0,0.2,1.8,2.7-2.1l-0.3,0.5
        c0,0,11.4-2.4,13.4-2.8C422.2,280.9,422.3,278,422.3,278L422.3,278z M405.5,282.9l-6.3-6.8l2.1-2.2l7,4.4L405.5,282.9
        L405.5,282.9z M409.6,276.5l-6.7-4.2l2.5-2.4l5.9,3.7L409.6,276.5L409.6,276.5z M412.4,272.1l-5.4-3.4l2.2-2.1l4.8,3L412.4,272.1
        z M414.7,268.4l-4.5-2.9l1.7-1.6l4,2.5L414.7,268.4z M416.5,265.5l-3.7-2.3l1.4-1.3l3.3,2.1L416.5,265.5L416.5,265.5z"
                    />
                    <path
                      class="st7 icon7"
                      d="M404.5,268.2c0.4-0.3,0.7-0.7,1-1.1c1.5-2.3,0.8-5.4-1.5-6.8c-2.3-1.5-5.4-0.8-6.8,1.5
        c-1.5,2.3-0.8,5.4,1.5,6.8c0.3,0.2,0.5,0.3,0.8,0.4l-0.7,0.1l-4.1,6.5c-0.1-0.1-0.2-0.1-0.3-0.2c-2.3-1.5-5.4-0.8-6.8,1.5
        c-1.5,2.3-0.8,5.4,1.5,6.8c0.1,0.1,0.2,0.1,0.3,0.2l-1.2,1.9l0.1,1.4l0.4,0.3l0.6-0.9l6,3.8l1-1.6c-0.2-0.1-0.3-0.2-0.5-0.4
        l1.5-2.4l3.4,2.2l-1.5,2c-0.1,0.2,0,0.5,0.4,0.5c0,0,0.6,0.5,1.8-1.3c1.1-1.8,2.6-4.1,2.6-4.1l-7.5-8.7l8.3-8.6L404.5,268.2
        L404.5,268.2z M399.9,283.1c0,0,1.3,0.8,1.9,1.2c0.6,0.4,0.3,1.2,0.3,1.2s-0.2,0.6-0.7,1.1c-0.4,0.5-1,0.2-1,0.2l-2-1.2
        L399.9,283.1L399.9,283.1z M394.3,281.2c-0.8,1.3-2.5,1.7-3.8,1.1c-0.1,0-0.2-0.1-0.3-0.2c-1.4-0.9-1.8-2.7-0.9-4.2
        c0.9-1.4,2.7-1.8,4.2-0.9c0.1,0.1,0.2,0.1,0.3,0.2C394.8,278.2,395.1,279.9,394.3,281.2L394.3,281.2z M403.8,266
        c-0.9,1.4-2.7,1.8-4.2,0.9c-1.4-0.9-1.8-2.7-0.9-4.2c0.9-1.4,2.7-1.8,4.2-0.9C404.3,262.8,404.7,264.6,403.8,266z"
                    />
                  </g>
                  <g>
                    <path
                      class="st7 icon6"
                      d="M478.9,210.6c0-0.3-0.1-0.5-0.4-0.6c-0.3,0-0.5,0.1-0.6,0.3c-7.8-1.8-12.8-3.8-12.8-3.8l-0.5,2.6
        c0,0,5.4,0,13.3,1.3c0,0.2,0.1,0.5,0.4,0.5C478.6,211.1,478.8,210.9,478.9,210.6c0.5,0.1,1,0.2,1.6,0.3
        C480,210.8,479.4,210.7,478.9,210.6z"
                    />
                    <path
                      class="st7 icon6"
                      d="M463.5,206.2c0,0-10.9-0.9-32.6-7.7c0,0-4.3-1.7-6.4-4.9l-0.7,3.5c9.9,4.8-1,5.2-1,5.2l-0.7,3.5
        c3.1-2.2,7.7-2.1,7.7-2.1c22.6,1.9,33.1,5.2,33.1,5.2L463.5,206.2z"
                    />
                  </g>
                  <g>
                    <path
                      class="st7 icon5"
                      d="M436.7,127.2l-8.6,1.1c-0.6-4.2-1.3-8.4-2.5-12.5l8.4-2.2c2.7,1.7,5.2,3.5,7.8,5.5
        C440.1,121.9,438.4,124.6,436.7,127.2L436.7,127.2z M433.8,122.3c-0.1-1.1-0.4-2.1-0.6-3.1l-3,0.6c0.2,1,0.5,2,0.6,3.1
        L433.8,122.3z"
                    />
                    <path
                      class="st7 icon5"
                      d="M455.5,141.9l-25.6,0.4c-0.4,0-0.8-0.3-0.8-0.7l-0.1-1.8h0.7c3.3-0.1,5.9-2.1,5.7-4.5
        c-0.2-2.4-3.1-3.9-6.3-3.5l-0.7,0.1l-0.2-1.8c-0.1-0.4,0.3-0.8,0.7-0.8l25.3-3.9c0.4-0.1,0.8,0.3,0.9,0.8
        c0.7,4.9,1.1,9.8,1.2,14.7C456.3,141.4,456,141.9,455.5,141.9L455.5,141.9z M445.6,131.6c0.4,0,0.7-0.5,0.7-0.9l-0.2-1.4
        c-0.1-0.5-0.5-0.8-0.9-0.7l-4.4,0.6c-0.4,0.1-0.7,0.5-0.7,0.9l0.2,1.3c0.1,0.4,0.5,0.8,0.9,0.7L445.6,131.6z M452.5,130.9
        c0.4,0,0.7-0.5,0.7-1l-0.2-1.5c-0.1-0.5-0.5-0.8-0.9-0.8l-2.8,0.4c-0.4,0.1-0.7,0.5-0.7,1l0.2,1.4c0.1,0.5,0.5,0.8,0.9,0.8
        L452.5,130.9z M446,135.9c0.4,0,0.8-0.4,0.7-0.9l-0.1-1.4c0-0.5-0.4-0.8-0.9-0.8l-4.4,0.4c-0.4,0-0.8,0.4-0.7,0.9l0.1,1.3
        c0,0.4,0.4,0.8,0.9,0.8L446,135.9z M452.9,135.5c0.4,0,0.8-0.5,0.7-1l-0.1-1.5c0-0.5-0.4-0.9-0.9-0.8l-2.8,0.3
        c-0.4,0-0.8,0.5-0.7,0.9l0.1,1.4c0,0.5,0.4,0.8,0.9,0.8L452.9,135.5L452.9,135.5z M446.2,140.3c0.4,0,0.8-0.4,0.8-0.9V138
        c0-0.5-0.4-0.8-0.8-0.8l-4.5,0.3c-0.4,0-0.8,0.4-0.8,0.9v1.3c0,0.4,0.4,0.8,0.8,0.8L446.2,140.3L446.2,140.3z M453.1,140.1
        c0.4,0,0.8-0.4,0.8-0.9v-1.5c0-0.5-0.4-0.9-0.8-0.9l-2.8,0.2c-0.4,0-0.8,0.4-0.8,0.9v1.4c0,0.5,0.4,0.9,0.8,0.8H453.1z
         M457.5,141.8c-0.1-5.6-0.6-11.1-1.4-16.6c3.1,2.3,6.4,4.8,9.3,7.6c-1.2,1.5-2.4,3-3.7,4.5l1.1-0.1c0.4,0,0.8,0.4,0.8,0.9v0.5
        c0,0.5-0.3,1-0.8,1l-3.5,0.1L457.5,141.8z"
                    />
                  </g>
                  <path
                    class="st7 icon4"
                    d="M425.9,32.7c1.9-0.3,3.3-0.6,3.7-1v-0.1l-0.1-0.6v-0.1l-0.8-0.7l-0.7-0.6l-0.7-0.2c-2.4-1-7.6-2.1-13.8,3.2
      l0.3,1c0,0,4.3-0.2,8.4-0.5c1.2,3.7,2.2,7.5,2.9,11.2l-0.2-0.3h-0.1l-0.8,0.1l-0.3-0.4h-0.2l-0.4,0.3v0.1l0.1,0.1
      c-3.4,1-6.7,2-10.1,3.2l-0.7-0.9h-0.1l-0.3,0.2v0.1l0.1,0.1l-0.7,0.5v0.1l0.3,0.4c-3.6,1.3-7.1,2.7-10.5,4.2l0.6,0.9
      c3.5-1.4,7-2.8,10.6-4.1c1.1,1.7,2.3,3.4,3.3,5.2c-2.5,2.7-5.1,5.3-7.8,7.8l0.6,0.8c2.7-2.5,5.3-5,7.8-7.6l0.2,0.4h0.1l0.7-0.4
      l0.1,0.1h0.1l0.4-0.2v-0.1l-0.6-1c2.4-2.5,4.8-5.2,7.1-7.9v0.1h0.1l0.5-0.3v-0.1l-0.3-0.4l0.4-0.6c0.7,3.6,1.2,7.3,1.5,10.8
      l0.1,1.1v0.1L426,56l0.7,0.8l0.1,1l0.1,0.1l3.4,0.2h0.1V58C430,49.7,428.6,41.2,425.9,32.7L425.9,32.7z M416.9,52.9
      c-0.9-1.6-2-3-2.9-4.5c3.1-1,6.2-2,9.4-2.9C421.3,48,419.1,50.5,416.9,52.9z"
                  />
                  <path
                    class="st7 icon3"
                    d="M353.7-7.2c1.6-4.6,4.2-5.6,7.1-6.2c3.1-0.6,5.3-2.1,5.3-2.1s-0.3,2.3-2.7,3.9c3.7-0.2,7.2-3,8.1-4.4
      c1.2,6.8-3.2,14.5-9.9,16.7c19.1,5.3,20.3-14.2,19.9-16.9c-0.6,1.7-2.5,3.8-4.5,3.6c5.1-8.7,2-14.6,2-14.6c-3,4.1-9.4,5.5-14.7,6
      c1.3-1.5,2.2-2.6,2.8-4.7c-2.8,2.4-6.8,2.5-9.9,4.6C353-18.6,351.7-14.8,353.7-7.2L353.7-7.2z"
                  />
                  <path
                    class="st7 icon2"
                    d="M320.6-60.3c-2.4-2.7-6.5-4.8-10.9-5.6c-5.5-1.1-10.3,0-13.3,2.9c-1.4,1.4-2.3,3.1-2.8,5.2
      c-0.4,1.9-0.5,4-0.2,6.3c3.8-6.8,11.6-11.1,19.4-9.6c0,0-7.6,0.5-13.3,5.6l-0.2,0.2c-1.2,1.1-2.2,2.3-3.1,3.8
      c-1.5,2.2-3,5.3-3.8,9.3l3.3,0.6c0,0,0.1-3.2,1.6-6.6c1.4,0.5,2.6,0.8,3.8,1c3,0.6,5.2,0.3,7.1-0.8c1.7-1,2.7-2.5,3.9-4.1
      c1.8-2.5,3.8-5.3,8.4-6.8c0.3-0.1,0.5-0.3,0.5-0.6C320.9-59.8,320.8-60.1,320.6-60.3L320.6-60.3z"
                  />
                  <path
                    class="st7 icon1"
                    d="m209.633052,-77.822893c-0.014174,1.670455 1.091416,3.175926 2.891543,4.248317c2.225354,1.319865 4.053829,3.980219 4.153049,6.898359c0.113394,3.227483 -0.184265,6.970539 -0.36853,8.867846c-2.38127,0.247475 -4.053829,0.824916 -4.053829,1.49516c0,0.897096 2.962414,1.928241 6.60519,1.928241s6.60519,-1.031145 6.60519,-1.928241c0,-0.670244 -1.672559,-1.247685 -4.053829,-1.49516c-0.184265,-1.897307 -0.496098,-5.640363 -0.36853,-8.867846c0.113394,-2.907829 1.927695,-5.578494 4.153049,-6.898359c1.800127,-1.062079 2.905717,-2.577862 2.891543,-4.248317c-0.042523,-3.175926 -4.167223,-5.743477 -9.227423,-5.743477s-9.199074,2.567551 -9.227423,5.743477zm26.789292,23.035777c0.354356,-0.103114 0.722886,-0.185606 1.091416,-0.226852c0.411053,-0.061869 0.836279,-0.103114 1.261506,-0.113426c0,0 -0.014174,-0.103114 -0.056697,-0.257786c-0.042523,-0.195918 -0.113394,-0.381524 -0.212613,-0.556818c-0.056697,-0.103114 -0.09922,-0.195918 -0.141742,-0.288721s-0.127568,-0.175295 -0.170091,-0.247475l-0.184265,-0.237163c-0.439401,-0.051557 -0.878802,-0.123737 -1.304029,-0.21654c-0.396878,-0.082492 -0.793757,-0.175295 -1.176461,-0.299032c-0.666189,-0.21654 -1.289855,-0.453704 -1.630036,-0.721801c-0.311833,-0.175295 -0.481924,-0.453704 -0.453575,-0.742424c0.028348,-0.123737 0.09922,-0.237163 0.212613,-0.329966c0.127568,-0.113426 0.297659,-0.206229 0.46775,-0.268098l-0.396878,-0.164983c-0.113394,-0.051557 -0.255136,-0.103114 -0.396878,-0.154672l-0.481924,-0.14436c-0.340181,-0.113426 -0.666189,-0.226852 -0.935499,-0.309343l-0.439401,-0.134049c-0.340181,0.030934 -0.680363,0.051557 -1.020544,0.051557c-0.36853,0 -0.73706,0 -1.10559,-0.020623c-0.694537,-0.030934 -1.403249,-0.123737 -2.069437,-0.257786c-0.297659,-0.051557 -0.581143,-0.123737 -0.850454,-0.21654c-0.226788,-0.061869 -0.439401,-0.14436 -0.63784,-0.247475c-0.340181,-0.175295 -0.566969,-0.350589 -0.552795,-0.536195l-0.496098,-0.061869c-0.311833,-0.041246 -0.978022,-0.103114 -1.389074,-0.14436c-0.014174,0.051557 -0.056697,0.103114 -0.070871,0.185606l-0.113394,0.371212c-0.226788,0.752736 0.382704,1.505472 1.389074,1.722012c2.48049,0.525884 4.351488,1.392046 4.890109,2.454125c1.091416,2.144781 -3.501034,4.248317 -10.488929,4.248317s-11.580345,-2.093224 -10.488929,-4.248317c0.524446,-1.031145 2.324573,-1.886995 4.720018,-2.412879c1.063067,-0.237163 1.686733,-1.020833 1.459946,-1.814815l-0.141742,-0.515572c-0.283485,0.020623 -0.595318,0.051557 -0.935499,0.082492c-0.411053,0.030934 -0.807931,0.082492 -1.119764,0.123737l-0.510272,0.061869c0.028348,0.175295 -0.155917,0.371212 -0.481924,0.536195c-0.184265,0.092803 -0.382704,0.185606 -0.595318,0.257786c-0.26931,0.082492 -0.538621,0.164983 -0.822105,0.226852c-0.326007,0.07218 -0.652015,0.123737 -0.992196,0.164983c-0.354356,0.051557 -0.708711,0.082492 -1.077241,0.103114c-0.722886,0.051557 -1.445771,0.051557 -2.168657,-0.010311l-0.127568,0.041246c-0.070871,0.020623 -0.198439,0.051557 -0.311833,0.103114l-0.921325,0.319655c-0.326007,0.123737 -0.623666,0.247475 -0.864628,0.350589l-0.283485,0.113426l-0.09922,0.051557c0.46775,0.154672 0.722886,0.371212 0.779583,0.598064c0.113394,0.237163 -0.042523,0.49495 -0.354356,0.763047c-0.198439,0.14436 -0.425227,0.278409 -0.652015,0.391835c-0.297659,0.14436 -0.609492,0.268098 -0.935499,0.360901c-0.793757,0.257786 -1.630036,0.453704 -2.48049,0.556818c-0.056697,0.07218 -0.113394,0.154672 -0.141742,0.237163c-0.070871,0.14436 -0.170091,0.340278 -0.26931,0.546507c-0.042523,0.206229 -0.085045,0.412458 -0.113394,0.56713c-0.028348,0.082492 -0.028348,0.175295 -0.028348,0.257786c0.836279,0 1.672559,0.103114 2.452142,0.309343c0.609492,0.134049 1.162287,0.402147 1.544991,0.773359c0.26931,0.350589 0.382704,0.721801 0.141742,1.154882c-0.170091,0.422769 -0.63784,0.886785 -1.403249,1.309554l0.113394,0.07218l0.340181,0.185606c0.297659,0.154672 0.694537,0.360901 1.133938,0.556818l1.318203,0.525884c0.184265,0.07218 0.36853,0.123737 0.481924,0.164983l0.184265,0.061869c1.091416,-0.319655 2.239528,-0.525884 3.401815,-0.598064c0.566969,-0.041246 1.133938,-0.051557 1.686733,-0.030934c0.552795,0.010311 1.10559,0.061869 1.64421,0.14436c0.510272,0.082492 0.992196,0.195918 1.47412,0.340278c0.425227,0.14436 0.850454,0.319655 1.233158,0.515572c0.765408,0.381524 1.346552,0.917719 1.601688,1.474537l0.978022,0.030934c0.595318,0.010311 1.3749,0.051557 2.168657,0.020623s1.573339,-0.030934 2.154483,-0.051557l0.963848,-0.061869c0.085045,-0.299032 0.255136,-0.577441 0.510272,-0.814604c0.127568,-0.123737 0.255136,-0.247475 0.411053,-0.350589c0.155917,-0.113426 0.311833,-0.226852 0.481924,-0.329966c0.354356,-0.206229 0.751234,-0.381524 1.176461,-0.515572c0.453575,-0.164983 0.921325,-0.288721 1.417423,-0.371212c0.524446,-0.082492 1.063067,-0.14436 1.601688,-0.185606c0.566969,-0.020623 1.119764,-0.020623 1.686733,0c1.176461,0.051557 2.338748,0.226852 3.444337,0.525884l0.595318,-0.247475c0.425227,-0.164983 0.822105,-0.340278 1.204809,-0.546507s0.793757,-0.402147 1.034719,-0.56713l0.396878,-0.268098c-0.666189,-0.319655 -1.204809,-0.752736 -1.559165,-1.257997c-0.113394,-0.185606 -0.184265,-0.381524 -0.184265,-0.587753c-0.028348,-0.185606 0.042523,-0.381524 0.184265,-0.536195c0.255136,-0.340278 0.793757,-0.587753 1.403249,-0.793982zm-23.614264,-10.548612s1.034719,-2.856271 -3.472686,-6.54777l-0.155917,-0.113426c-4.450708,-3.835859 -3.784519,-9.569024 1.488294,-12.806819c2.253702,-1.392046 5.116896,-2.144781 8.07931,-2.144781l0.283485,0c6.902849,-0.010311 12.501669,4.042088 12.515844,9.063764c0,2.155093 -1.034719,4.238005 -2.948239,5.877526c-0.014174,0.020623 -0.070871,0.061869 -0.155917,0.113426c-3.997132,2.91814 -3.472686,6.54777 -3.472686,6.54777c7.313902,-1.835438 12.232359,-6.815868 12.289056,-12.445919c0.056697,-7.011785 -7.724954,-12.992426 -17.335081,-13.322392l-0.354356,0c-0.141742,0 -0.680363,0.010311 -0.680363,0.010311s-0.538621,-0.010311 -0.680363,-0.010311l-0.354356,0c-9.610127,0.340278 -17.391778,6.310607 -17.349255,13.322392c0.056697,5.640363 4.989328,10.631104 12.30323,12.45623z"
                  />
                </g>
              </g>
              <ellipse id="THIS" class="st20" cx="222.2" cy="154" rx="1.8" ry="1.6" />
            </svg>
            <g ref="highlight" id="highlight" class="highlight">
              <path
                opacity=".19"
                fill="#D5DAE2"
                stroke="#1B1C1E"
                stroke-width="1"
                stroke-miterlimit="10"
                style="padding-right:10px"
                d="M222.3-12v128.7h.1v184.6c0 15.5 12.7 28.1 28.4 28.2 15.7 0 28.3-12.6 28.4-28.2L278-12h-55.7z"
              />
            </g>
            <g ref="effect" id="effect">
              <path
                class="eLine"
                fill="none"
                stroke="#931429"
                stroke-miterlimit="10"
                d="M223.1 65.1h186.1"
              />
              <svg fill="#414751">
                <text
                  id="procName"
                  x="280"
                  y="60"
                  font-family="sans-serif"
                  font-size="25px"
                  fill="orange"
                >CASTING</text>
              </svg>
            </g>
          </svg>
        </div>

        <div class="col-md-4">
          <q-btn
            color="light-blue-10"
            size="lg"
            label="sand casting"
            class="buttons1"
            style="display:none"
            @click="navigateProcess(1)"
          ></q-btn>

          <q-btn
            color="light-blue-10"
            size="lg"
            label="Injection Moulding"
            class="buttons2"
            style="display:none"
            @click="navigateProcess(2)"
          ></q-btn>

          <q-btn
            color="light-blue-10"
            size="lg"
            label="AutoGlass"
            class="buttons3"
            style="display:none"
            @click="navigateProcess(3)"
          ></q-btn>
           <q-btn
            color="light-blue-10"
            size="lg"
            label="Forging"
            class="buttons4"
            style="display:none"
            @click="navigateProcess(4)"
          ></q-btn>
          <q-btn
            color="light-blue-10"
            size="lg"
            label="Stamping"
            class="buttons5"
            style="display:none"
            @click="navigateProcess(5)"
          ></q-btn>
          <q-btn
            color="light-blue-10"
            size="lg"
            label="Plasma Cutting"
            class="buttons6"
            style="display:none"
            @click="navigateProcess(6)"
          ></q-btn>
          <q-btn
            color="light-blue-10"
            size="lg"
            label="Laser Cutting"
            class="buttons7"
            style="display:none"
            @click="navigateProcess(7)"
          ></q-btn>
          <q-btn
            color="light-blue-10"
            size="lg"
            label="Sintering"
            class="buttons8"
            style="display:none"
            @click="navigateProcess(8)"
          ></q-btn>
          <q-btn
            color="light-blue-10"
            size="lg"
            label="HPDC"
            class="buttons9"
            style="display:none"
            @click="navigateProcess(9)"
          ></q-btn>
          <q-btn
            color="light-blue-10"
            size="lg"
            label="LPDC"
            class="buttons10"
            style="display:none"
            @click="navigateProcess(10)"
          ></q-btn>
          <q-btn
            color="light-blue-10"
            size="lg"
            label="Forging Ring"
            class="buttons11"
            style="display:none"
            @click="navigateProcess(11)"
          ></q-btn>
          <q-btn
            color="light-blue-10"
            size="lg"
            label="Forging Shaft"
            class="buttons12"
            style="display:none"
            @click="navigateProcess(12)"
          ></q-btn>
          <!-- <div class="col-md-4 offset-md-4 buttons3" style="display:none">
            <button class="btn-hover color-2 btnChooseProc" id="4">Forging</button>
          </div>
          <div class="col-md-4 offset-md-4 buttons4" style="display:none">
            <button class="btn-hover color-1 btnChooseProc" id="5">Stamping</button>
          </div>
          <div class="col-md-4 offset-md-4 buttons5" style="display:none">
            <button class="btn-hover color-1 btnChooseProc" id="6">Plasma Cutting</button>
          </div>
          <div class="col-md-4 offset-md-4 buttons6" style="display:none">
            <button class="btn-hover color-2 btnChooseProc" id="7">Laser Cutting</button>
          </div>
          <div class="col-md-4 offset-md-4 buttons7" style="display:none">
            <button class="btn-hover color-1 btnChooseProc" id="8">Sintering</button>
          </div>
          <div class="col-md-4 offset-md-4 buttons8" style="display:none">
            <button class="btn-hover color-2 btnChooseProc" id="9">HPDC</button>
          </div>
          <div class="col-md-4 offset-md-4 buttons9" style="display:none">
            <button class="btn-hover color-1 btnChooseProc" id="10">LPDC</button>
          </div>
          <div class="col-md-4 offset-md-4 buttons10" style="display:none">
            <button class="btn-hover color-2 btnChooseProc" id="11">Forging Ring</button>
          </div>
          <div class="col-md-4 offset-md-4 buttons11" style="display:none">
            <button class="btn-hover color-1 btnChooseProc" id="12">Forging Shaft</button>
          </div>-->
        </div>
      </div>
    </q-card-section>

    <q-card-actions align="center">
      <q-btn label="CANCEL" color="primary" v-close-popup />
    </q-card-actions>
  </q-card>
</template>

<script>
import { TimelineLite, Back, Elastic, Expo, TimelineMax, TweenMax } from "gsap";
export default {
  mounted() {
    //const { bubble } = this.$refs
    const { circ } = this.$refs;
  

    //this.rotateInfo();
    //const t2 = new TweenMax();

    const tl = new TimelineMax();

    tl.set(circ, {
      svgOrigin: "222.2, 154",
      x: 15,
      y: 58
    });

    tl.add("likely");
    tl.to(
      circ,
      1,
      {
        rotation: 0
      },
      "likely"
    )
      .to(
        effect,
        0.3,
        {
          y: -10,
          ease: Circ.easeOut
        },
        "likely"
      )
      .to(
        document.getElementsByClassName("icon1"),
        0.3,
        {
          fill: "#0873d1"
        },
        "likely"
      )
      .to(
        document.getElementsByClassName("buttons1"),
        0.5,
        {
          x: -50,
          display: "block",
          ease: Power1.easeOut
        },
        "likely"
      )
      .to(
        document.getElementById("procName").innerHTML="Sand Casting",
        0.5,
        {
          x: -10,
          display: "block",
          ease: Power1.easeOut
        },
        "likely"
      );

    tl.to(
      circ,
      1,
      {
        rotation: -22
      },
      "likely+=1.25"
    )
    .to(
        effect,
        0.3,
        {
          y: 10,
          ease: Circ.easeOut
        },
        "likely+=1.25"
      )
    
    .to(
        effect,
        0.3,
        {
          y: -10,
          ease: Circ.easeOut
        },
        "likely+=2"
      )
        .to(
        document.getElementsByClassName("icon1"),
        0.3,
        {
          fill: "#9d9ea0"
        },
        "likely+=1.25"
      )
          .to(
        document.getElementsByClassName("icon2"),
        0.3,
        {
          fill: "#0873d1"
        },
        "likely+=1.25"
      )
      
    
      .to(
        document.getElementsByClassName("buttons1"),
        0.5,
        {
          x: -50,
          display: "none",
          ease: Power1.easeIn
        },
        "likely+=1.25"
      )
      .to(
        document.getElementsByClassName("buttons2"),
        0.5,
        {
          x: -50,
          display: "block",
          ease: Power1.easeOut
        },
        "likely+=2"
      )
      
    .to(
        document.getElementById("procName").innerHTML="Injection Moulding",
        0.5,
        {
          x: -50,
          display: "block",
          ease: Power1.easeOut
        },
        "likely+=2"
      );

      tl.to(
      circ,
      1,
      {
        rotation: -41
      },
      "likely+=2.50"
    )
    .to(
        effect,
        0.7,
        {
          y: 0,
          ease: Circ.easeOut
        },
        "likely+=1.25"
      )
    
    .to(
        effect,
        0.7,
        {
          y: -10,
          ease: Circ.easeOut
        },
        "likely+=2"
      )
      .to(
        document.getElementsByClassName("icon2"),
        0.7,
        {
          fill: "#9d9ea0"
        },
        "likely+=2"
      )
          .to(
        document.getElementsByClassName("icon3"),
        0.7,
        {
          fill: "#0873d1"
        },
        "likely+=2"
      )
      .to(
        document.getElementsByClassName("buttons2"),
        0.7,
        {
          x: -50,
          display: "none",
          ease: Power1.easeIn
        },
        "likely+=2"
      )
      .to(
        document.getElementsByClassName("buttons3"),
        0.7,
        {
          x: -50,
          display: "block",
          ease: Power1.easeOut
        },
        "likely+=3.25"
      )
      .to(
        document.getElementById("procName").innerHTML="AutoGlass",
        0.7,
        {
          x: -50,
          display: "block",
          ease: Power1.easeOut
        },
        "likely+=3.25"
      );

      tl.to(
      circ,
      1,
      {
        rotation: -62
      },
      "likely+=3.75"
    )
    .to(
        effect,
        0.7,
        {
          y: 0,
          ease: Circ.easeOut
        },
        "likely+=3.25"
      )
    
    .to(
        effect,
        0.7,
        {
          y: -10,
          ease: Circ.easeOut
        },
        "likely+=4"
      )
      .to(
        document.getElementsByClassName("icon3"),
        0.7,
        {
          fill: "#9d9ea0"
        },
        "likely+=4"
      )
          .to(
        document.getElementsByClassName("icon4"),
        0.7,
        {
          fill: "#0873d1"
        },
        "likely+=4"
      )
      .to(
        document.getElementsByClassName("buttons3"),
        0.7,
        {
          x: -50,
          display: "none",
          ease: Power1.easeIn
        },
        "likely+=3.25"
      )
      .to(
        document.getElementsByClassName("buttons4"),
        0.7,
        {
          x: -50,
          display: "block",
          ease: Power1.easeOut
        },
        "likely+=4.50"
      )
      .to(
        document.getElementById("procName").innerHTML="Forging",
        0.7,
        {
          x: -50,
          display: "block",
          ease: Power1.easeOut
        },
        "likely+=4"
      );
      tl.to(
      circ,
      1,
      {
        rotation: -85
      },
      "likely+=5.0"
    )
    .to(
        effect,
        0.9,
        {
          y: 0,
          ease: Circ.easeOut
        },
        "likely+=4"
      )
    
    .to(
        effect,
        0.9,
        {
          y: -10,
          ease: Circ.easeOut
        },
        "likely+=5.25"
      )
      .to(
        document.getElementsByClassName("icon4"),
        0.9,
        {
          fill: "#9d9ea0"
        },
        "likely+=5.25"
      )
          .to(
        document.getElementsByClassName("icon5"),
        0.9,
        {
          fill: "#0873d1"
        },
        "likely+=4.50"
      )
      .to(
        document.getElementsByClassName("buttons4"),
        0.9,
        {
          x: -50,
          display: "none",
          ease: Power1.easeIn
        },
        "likely+=4.50"
      )
      .to(
        document.getElementsByClassName("buttons5"),
        0.9,
        {
          x: -50,
          display: "block",
          ease: Power1.easeOut
        },
        "likely+=5.75"
      )
      .to(
        document.getElementById("procName").innerHTML="Stamping",
        0.9,
        {
          x: -50,
          display: "block",
          ease: Power1.easeOut
        },
        "likely+=5.25"
      );
      tl.to(
      circ,
      1,
      {
        rotation: -103
      },
      "likely+=6.25"
    )
    .to(
        effect,
        0.9,
        {
          y: 0,
          ease: Circ.easeOut
        },
        "likely+=7.25"
      )
    
    .to(
        effect,
        0.9,
        {
          y: -10,
          ease: Circ.easeOut
        },
        "likely+=8.50"
      )
      .to(
        document.getElementsByClassName("icon5"),
        0.9,
        {
          fill: "#9d9ea0"
        },
        "likely+=7.25"
      )
          .to(
        document.getElementsByClassName("icon6"),
        0.9,
        {
          fill: "#0873d1"
        },
        "likely+=7.25"
      )
      .to(
        document.getElementsByClassName("buttons5"),
        0.9,
        {
          x: -50,
          display: "none",
          ease: Power1.easeIn
        },
        "likely+=6.25"
      )
      .to(
        document.getElementsByClassName("buttons6"),
        0.9,
        {
          x: -50,
          display: "block",
          ease: Power1.easeOut
        },
        "likely+=7.25"
      )
      .to(
        document.getElementById("procName").innerHTML="Plasma Cutting",
        0.9,
        {
          x: -50,
          display: "block",
          ease: Power1.easeOut
        },
        "likely+=7.25"
      );
      tl.to(
      circ,
      1,
      {
        rotation: -124
      },
      "likely+=7.50"
    )
    .to(
        effect,
        0.9,
        {
          y: 10,
          ease: Circ.easeOut
        },
        "likely+=7"
      )
    
    .to(
        effect,
        0.9,
        {
          y: -10,
          ease: Circ.easeOut
        },
        "likely+=8"
      )
      .to(
        document.getElementsByClassName("icon6"),
        0.9,
        {
          fill: "#9d9ea0"
        },
        "likely+=8"
      )
          .to(
        document.getElementsByClassName("icon7"),
        0.9,
        {
          fill: "#0873d1"
        },
        "likely+=8"
      )
      .to(
        document.getElementsByClassName("buttons6"),
        0.9,
        {
          x: -50,
          display: "none",
          ease: Power1.easeIn
        },
        "likely+=7.25"
      )
      .to(
        document.getElementsByClassName("buttons7"),
        0.9,
        {
          x: -50,
          display: "block",
          ease: Power1.easeOut
        },
        "likely+=8.50"
      )
      .to(
        document.getElementById("procName").innerHTML="Laser Cutting",
        0.9,
        {
          x: -50,
          display: "block",
          ease: Power1.easeOut
        },
        "likely+=7.25"
      );
      tl.to(
      circ,
      1,
      {
        rotation: -151
      },
      "likely+=8.75"
    )
    .to(
        effect,
        0.9,
        {
          y: 10,
          ease: Circ.easeOut
        },
        "likely+=8.25"
      )
    
    .to(
        effect,
        0.9,
        {
          y: -10,
          ease: Circ.easeOut
        },
        "likely+=9"
      )
      .to(
        document.getElementsByClassName("icon7"),
        0.9,
        {
          fill: "#9d9ea0"
        },
        "likely+=9.25"
      )
          .to(
        document.getElementsByClassName("icon8"),
        0.9,
        {
          fill: "#0873d1"
        },
        "likely+=9.25"
      )
      .to(
        document.getElementsByClassName("buttons7"),
        0.9,
        {
          x: -50,
          display: "none",
          ease: Power1.easeIn
        },
        "likely+=8.50"
      )
      .to(
        document.getElementsByClassName("buttons8"),
        0.9,
        {
          x: -50,
          display: "block",
          ease: Power1.easeOut
        },
        "likely+=9.25"
      )
      .to(
        document.getElementById("procName").innerHTML="Sintering",
        0.9,
        {
          x: -50,
          display: "block",
          ease: Power1.easeOut
        },
        "likely+=7.25"
      );
       tl.to(
      circ,
      1,
      {
        rotation: -177
      },
      "likely+=10.0"
    )
     
    .to(
        effect,
        0.9,
        {
          y: 10,
          ease: Circ.easeOut
        },
        "likely+=9.25"
      )
    
    .to(
        effect,
        0.9,
        {
          y: -10,
          ease: Circ.easeOut
        },
        "likely+=10.50"
      )
      .to(
        document.getElementsByClassName("icon8"),
        0.9,
        {
          fill: "#9d9ea0"
        },
        "likely+=10.50"
      )
          .to(
        document.getElementsByClassName("icon9"),
        0.9,
        {
          fill: "#0873d1"
        },
        "likely+=10.50"
      )
      .to(
        document.getElementsByClassName("buttons8"),
        0.9,
        {
          x: -50,
          display: "none",
          ease: Power1.easeIn
        },
        "likely+=9.25"
      )
      .to(
        document.getElementsByClassName("buttons9"),
        0.9,
        {
          x: -50,
          display: "block",
          ease: Power1.easeOut
        },
        "likely+=10.50"
      )
      .to(
        document.getElementById("procName").innerHTML="HPDC",
        0.9,
        {
          x: -50,
          display: "block",
          ease: Power1.easeOut
        },
        "likely+=7.25"
      );
      tl.to(
      circ,
      1,
      {
        rotation: -199
      },
      "likely+=11.25"
    )
    .to(
        effect,
        0.9,
        {
          y: 10,
          ease: Circ.easeOut
        },
        "likely+=10.75"
      )
    
    .to(
        effect,
        0.9,
        {
          y: -10,
          ease: Circ.easeOut
        },
        "likely+=12"
      )
      .to(
        document.getElementsByClassName("icon9"),
        0.9,
        {
          fill: "#9d9ea0"
        },
        "likely+=12"
      )
          .to(
        document.getElementsByClassName("icon10"),
        0.9,
        {
          fill: "#0873d1"
        },
        "likely+=12"
      )
      .to(
        document.getElementsByClassName("buttons9"),
        0.9,
        {
          x: -50,
          display: "none",
          ease: Power1.easeIn
        },
        "likely+=10.50"
      )
      .to(
        document.getElementsByClassName("buttons10"),
        0.9,
        {
          x: -50,
          display: "block",
          ease: Power1.easeOut
        },
        "likely+=11.75"
      )
      .to(
        document.getElementById("procName").innerHTML="LPDC",
        0.9,
        {
          x: -50,
          display: "block",
          ease: Power1.easeOut
        },
        "likely+=9.25"
      );
      tl.to(
      circ,
      1,
      {
        rotation: -221
      },
      "likely+=12.50"
    )
    .to(
        effect,
        0.9,
        {
          y: 10,
          ease: Circ.easeOut
        },
        "likely+=10.75"
      )
    
    .to(
        effect,
        0.9,
        {
          y: -10,
          ease: Circ.easeOut
        },
        "likely+=12.25"
      )
      .to(
        document.getElementsByClassName("icon10"),
        0.9,
        {
          fill: "#9d9ea0"
        },
        "likely+=13.25"
      )
          .to(
        document.getElementsByClassName("icon12"),
        0.9,
        {
          fill: "#0873d1"
        },
        "likely+=13.25"
      )
      .to(
        document.getElementsByClassName("buttons10"),
        0.9,
        {
          x: -50,
          display: "none",
          ease: Power1.easeIn
        },
        "likely+=11.75"
      )
      .to(
        document.getElementsByClassName("buttons11"),
        0.9,
        {
          x: -50,
          display: "block",
          ease: Power1.easeOut
        },
        "likely+=13.25"
      )
      .to(
        document.getElementById("procName").innerHTML="Forging Ring",
        0.9,
        {
          x: -50,
          display: "block",
          ease: Power1.easeOut
        },
        "likely+=11.25"
      );
       tl.to(
      circ,
      1,
      {
        rotation: -243
      },
      "likely+=13.75"
    )
    .to(
        effect,
        0.9,
        {
          y: 10,
          ease: Circ.easeOut
        },
        "likely+=12.25"
      )
    
    .to(
        effect,
        0.9,
        {
          y: -10,
          ease: Circ.easeOut
        },
        "likely+=13.50"
      )
      .to(
        document.getElementsByClassName("icon12"),
        0.9,
        {
          fill: "#9d9ea0"
        },
        "likely+=14.50"
      )
          .to(
        document.getElementsByClassName("icon13"),
        0.9,
        {
          fill: "#0873d1"
        },
        "likely+=14.50"
      )
      .to(
        document.getElementsByClassName("buttons11"),
        0.9,
        {
          x: -50,
          display: "none",
          ease: Power1.easeIn
        },
        "likely+=13.50"
      )
      .to(
        document.getElementsByClassName("buttons12"),
        0.9,
        {
          x: -50,
          display: "block",
          ease: Power1.easeOut
        },
        "likely+=14.25"
      )
      .to(
        document.getElementById("procName").innerHTML="Forging Shaft",
        0.9,
        {
          x: -50,
          display: "block",
          ease: Power1.easeOut
        },
        "likely+=13.25"
      );
      tl.to(
      circ,
      1,
      {
        rotation: -266
      },
      "likely+=15.0"
    )
    tl.to(
      circ,
      1,
      {
        rotation: -288
      },
      "likely+=16.25"
    )
    tl.to(
      circ,
      1,
      {
        rotation: 0
      },
      "likely+=16.25"
    )
      
  },

  methods: {
    navigateProcess(procId) {
   
      this.$router.push({
        name: "primary-variable",
        query: { procId: procId }
      });

       this.$store.dispatch(
      "processStore/updatedSelectedProcId",
      procId
    );
    },

    rotateInfo() {
      var tl = new TimelineMax();

      //Casting
      tl.add("likely");
      tl.staggerFrom(
        $(".buttons"),
        0.5,
        {
          x: 50,
          //scale: 1.05,
          autoAlpha: 0,
          //transformOrigin: "50% 50%",
          //fill: $blue,
          ease: Power1.easeOut
        },
        0.5
      )
        .to(
          $effect,
          0.3,
          {
            y: -10,
            ease: Circ.easeOut
          },
          "likely"
        )
        .to(
          $eLine,
          0.3,
          {
            stroke: $orange,
            ease: Sine.easeOut
          },
          "likely"
        )
        .fromTo(
          $(".d1"),
          0.3,
          {
            opacity: 0,
            scale: 0.7
          },
          {
            opacity: 1,
            scale: 1,
            ease: Back.easeOut
          },
          "likely"
        )
        .to(
          $m1,
          0.3,
          {
            fill: $green,
            ease: Circ.easeOut
          },
          "likely"
        )
        .to(
          document.getElementsByClassName("icon1"),
          0.3,
          {
            fill: $blue1
          },
          "likely"
        );
      //$("#procName").text("Casting");

      //Moulding
      tl.staggerTo(
        $(".buttons"),
        0.3,
        {
          display: "none",
          //transformOrigin: "50% 100%",
          ease: Back.easeIn
        },
        0.1,
        "likely+=1.25"
      )
        .to(
          $effect,
          0.3,
          {
            y: 0,
            ease: Circ.easeIn
          },
          "likely+=1.25"
        )
        .to(
          $eLine,
          0.3,
          {
            stroke: $red,
            ease: Sine.easeIn
          },
          "likely+=1.25"
        )
        .to(
          $(".d1"),
          0.3,
          {
            opacity: 0,
            scale: 0.7
          },
          "likely+=1.25"
        )
        .to(
          $m1,
          0.3,
          {
            fill: $mReg,
            ease: Circ.easeIn
          },
          "likely+=1.25"
        )
        .to(
          $(".icon1"),
          0.3,
          {
            fill: $reg
          },
          "likely+=1.25"
        );
      //$("#procName").text("Moulding");

      tl.to(
        circ,
        1,
        {
          rotation: -22
        },
        "likely+=1.25"
      );

      tl.to(
        $(".buttons1"),
        0.5,
        {
          x: -50,
          //scale: 1.1,
          //transformOrigin: "50% 100%",

          display: "block",
          ease: Power1.easeOut
        },
        "likely+=2"
      )
        .to(
          $(".icon2"),
          0.3,
          {
            fill: $blue1
          },
          "likely+=2"
        )
        .to(
          $effect,
          0.3,
          {
            y: -18,
            ease: Circ.easeOut
          },
          "likely+=2"
        )
        .to(
          $eLine,
          0.3,
          {
            stroke: $orange,
            ease: Sine.easeOut
          },
          "likely+=2"
        )
        .fromTo(
          $(".d2"),
          0.3,
          {
            opacity: 0,
            scale: 0.7
          },
          {
            opacity: 1,
            scale: 1,
            ease: Back.easeOut
          },
          "likely+=2"
        )
        .to(
          [$m1, $m2],
          0.3,
          {
            fill: $green,
            ease: Circ.easeOut
          },
          "likely+=2"
        );
      //$("#procName").text("Sheet Metal");

      tl.to(
        $(".buttons1"),
        0.3,
        {
          scale: 1,
          display: "none",
          //transformOrigin: "50% 100%",

          ease: Back.easeIn
        },
        "likely+=3.5"
      )

        .to(
          $(".icon2"),
          0.3,
          {
            fill: $reg
          },
          "likely+=3.5"
        )
        .to(
          $effect,
          0.3,
          {
            y: 0,
            ease: Circ.easeIn
          },
          "likely+=3.5"
        )
        .to(
          $eLine,
          0.3,
          {
            stroke: $red,
            ease: Sine.easeIn
          },
          "likely+=3.5"
        )
        .to(
          $(".d2"),
          0.3,
          {
            opacity: 0,
            scale: 0.7
          },
          "likely+=3.5"
        )
        .to(
          [$m1, $m2],
          0.3,
          {
            fill: $mReg,
            ease: Circ.easeIn
          },
          "likely+=3.5"
        );
      tl.to(
        $circ,
        1,
        {
          rotation: -41
        },
        "likely+=3.5"
      );

      tl.to(
        $(".p3"),
        0.3,
        {
          scale: 1.3,
          transformOrigin: "50% 100%",
          fill: $blue,
          ease: Bounce.easeOut
        },
        "likely+=4"
      )
        .to(
          getelementbyClass("buttons2"),
          0.5,
          {
            x: -50,
            //scale: 1.1,
            //transformOrigin: "50% 100%",

            display: "block",
            ease: Power1.easeOut
          },
          "likely+=4"
        )
        .to(
          $effect,
          0.3,
          {
            y: -20,
            ease: Circ.easeOut
          },
          "likely+=4"
        )
        .to(
          $eLine,
          0.3,
          {
            stroke: $orange,
            ease: Sine.easeOut
          },
          "likely+=4"
        )
        .fromTo(
          $(".d3"),
          0.3,
          {
            opacity: 0,
            scale: 0.7
          },
          {
            opacity: 1,
            scale: 1,
            ease: Back.easeOut
          },
          "likely+=4"
        )
        .to(
          [$m1, $m2],
          0.3,
          {
            fill: $green,
            ease: Circ.easeOut
          },
          "likely+=4"
        );

      tl.to(
        $(".p3"),
        0.3,
        {
          scale: 1,
          transformOrigin: "50% 100%",
          fill: $reg,
          ease: Back.easeIn
        },
        "likely+=5.5"
      )
        .to(
          $(".buttons2"),
          0.3,
          {
            scale: 1,
            display: "none",
            //transformOrigin: "50% 100%",

            ease: Back.easeIn
          },
          "likely+=5.5"
        )
        .to(
          $effect,
          0.3,
          {
            y: 0,
            ease: Circ.easeIn
          },
          "likely+=5.5"
        )
        .to(
          $eLine,
          0.3,
          {
            stroke: $red,
            ease: Sine.easeIn
          },
          "likely+=5.5"
        )
        .to(
          $(".d3"),
          0.3,
          {
            opacity: 0,
            scale: 0.7
          },
          "likely+=5.5"
        )
        .to(
          [$m1, $m2],
          0.3,
          {
            fill: $mReg,
            ease: Circ.easeIn
          },
          "likely+=5.5"
        );
      tl.to(
        $circ,
        1,
        {
          rotation: -62
        },
        "likely+=5.5"
      );

      tl.to(
        $(".p4"),
        0.3,
        {
          scale: 1.3,
          transformOrigin: "50% 100%",
          fill: $blue,
          ease: Bounce.easeOut
        },
        "likely+=6"
      )
        .to(
          $(".buttons3"),
          0.5,
          {
            x: -50,
            //scale: 1.1,
            //transformOrigin: "50% 100%",

            display: "block",
            ease: Power1.easeOut
          },
          "likely+=6"
        )

        .to(
          $effect,
          0.3,
          {
            y: -20,
            ease: Circ.easeOut
          },
          "likely+=6"
        )
        .to(
          $eLine,
          0.3,
          {
            stroke: $orange,
            ease: Sine.easeOut
          },
          "likely+=6"
        )
        .fromTo(
          $(".d4"),
          0.3,
          {
            opacity: 0,
            scale: 0.7
          },
          {
            opacity: 1,
            scale: 1,
            ease: Back.easeOut
          },
          "likely+=6"
        )
        .to(
          [$m1, $m2],
          0.3,
          {
            fill: $green,
            ease: Circ.easeOut
          },
          "likely+=6"
        );

      tl.to(
        $(".p4"),
        0.3,
        {
          scale: 1,
          transformOrigin: "50% 100%",
          fill: $reg,
          ease: Back.easeIn
        },
        "likely+=7.5"
      )
        .to(
          $(".buttons3"),
          0.3,
          {
            scale: 1,
            display: "none",
            //transformOrigin: "50% 100%",

            ease: Back.easeIn
          },
          "likely+=7.5"
        )

        .to(
          $effect,
          0.3,
          {
            y: 0,
            ease: Circ.easeIn
          },
          "likely+=7.5"
        )
        .to(
          $eLine,
          0.3,
          {
            stroke: $red,
            ease: Sine.easeIn
          },
          "likely+=7.5"
        )
        .to(
          $(".d4"),
          0.3,
          {
            opacity: 0,
            scale: 0.7
          },
          "likely+=7.5"
        )
        .to(
          [$m1, $m2],
          0.3,
          {
            fill: $mReg,
            ease: Circ.easeIn
          },
          "likely+=7.5"
        );
      tl.to(
        $circ,
        1,
        {
          rotation: -84
        },
        "likely+=7.5"
      );

      tl.to(
        $(".p5"),
        0.3,
        {
          scale: 1.3,
          transformOrigin: "50% 100%",
          fill: $blue,
          ease: Bounce.easeOut
        },
        "likely+=8"
      )
        .to(
          $(".buttons4"),
          0.5,
          {
            x: -50,
            //scale: 1.1,
            //transformOrigin: "50% 100%",

            display: "block",
            ease: Power1.easeOut
          },
          "likely+=8"
        )
        .to(
          $effect,
          0.3,
          {
            y: -6,
            ease: Circ.easeOut
          },
          "likely+=8"
        )
        .fromTo(
          $(".d5"),
          0.3,
          {
            opacity: 0,
            scale: 0.7
          },
          {
            opacity: 1,
            scale: 1,
            ease: Back.easeOut
          },
          "likely+=8"
        )
        .to(
          [$m1, $m2, $m3],
          0.3,
          {
            fill: $green,
            ease: Circ.easeOut
          },
          "likely+=8"
        );

      tl.to(
        $(".p5"),
        0.3,
        {
          scale: 1,
          transformOrigin: "50% 100%",
          fill: $reg,
          ease: Back.easeIn
        },
        "likely+=9.5"
      )
        .to(
          $(".buttons4"),
          0.3,
          {
            scale: 1,
            display: "none",
            //transformOrigin: "50% 100%",

            ease: Back.easeIn
          },
          "likely+=9.5"
        )
        .to(
          $effect,
          0.3,
          {
            y: 0,
            ease: Circ.easeIn
          },
          "likely+=9.5"
        )
        .to(
          $(".d5"),
          0.3,
          {
            opacity: 0,
            scale: 0.7
          },
          "likely+=9.5"
        )
        .to(
          [$m1, $m2, $m3],
          0.3,
          {
            fill: $mReg,
            ease: Circ.easeIn
          },
          "likely+=9.5"
        );
      tl.to(
        $circ,
        1,
        {
          rotation: -103
        },
        "likely+=9.5"
      );

      tl.to(
        $(".p6"),
        0.3,
        {
          scale: 1.3,
          transformOrigin: "50% 100%",
          fill: $blue,
          ease: Bounce.easeOut
        },
        "likely+=10"
      )
        .to(
          $(".buttons5"),
          0.5,
          {
            x: -50,
            //scale: 1.1,
            //transformOrigin: "50% 100%",

            display: "block",
            ease: Power1.easeOut
          },
          "likely+=10"
        )
        .to(
          $effect,
          0.3,
          {
            y: -40,
            ease: Circ.easeOut
          },
          "likely+=10"
        )
        .to(
          $eLine,
          0.3,
          {
            stroke: $yellow,
            ease: Circ.easeOut
          },
          "likely+=10"
        )
        .fromTo(
          $(".d6"),
          0.3,
          {
            opacity: 0,
            scale: 0.7
          },
          {
            opacity: 1,
            scale: 1,
            ease: Back.easeOut
          },
          "likely+=10"
        )
        .to(
          [$m1, $m2],
          0.3,
          {
            fill: $green,
            ease: Circ.easeOut
          },
          "likely+=10"
        );

      tl.to(
        $(".p6"),
        0.3,
        {
          scale: 1,
          transformOrigin: "50% 100%",
          fill: $reg,
          ease: Back.easeIn
        },
        "likely+=11.5"
      )
        .to(
          $(".buttons5"),
          0.3,
          {
            scale: 1,
            display: "none",
            //transformOrigin: "50% 100%",

            ease: Back.easeIn
          },
          "likely+=11.5"
        )
        .to(
          $effect,
          0.3,
          {
            y: 0,
            ease: Circ.easeIn
          },
          "likely+=11.5"
        )
        .to(
          $eLine,
          0.3,
          {
            stroke: $red,
            ease: Sine.easeOut
          },
          "likely+=11.5"
        )
        .to(
          $(".d6"),
          0.3,
          {
            opacity: 0,
            scale: 0.7
          },
          "likely+=11.5"
        )
        .to(
          [$m1, $m2],
          0.3,
          {
            fill: $mReg,
            ease: Circ.easeIn
          },
          "likely+=11.5"
        );
      tl.to(
        $circ,
        1,
        {
          rotation: -124
        },
        "likely+=11.5"
      );

      tl.to(
        $(".p7"),
        0.3,
        {
          scale: 1.3,
          transformOrigin: "50% 100%",
          fill: $blue,
          x: 10,
          y: 10,
          ease: Bounce.easeOut
        },
        "likely+=12"
      )
        .to(
          $(".buttons6"),
          0.5,
          {
            x: -50,
            //scale: 1.1,
            //transformOrigin: "50% 100%",

            display: "block",
            ease: Power1.easeOut
          },
          "likely+=12"
        )

        .to(
          $effect,
          0.3,
          {
            y: -40,
            ease: Circ.easeOut
          },
          "likely+=12"
        )
        .to(
          $eLine,
          0.3,
          {
            stroke: $yellow,
            ease: Circ.easeOut
          },
          "likely+=12"
        )
        .fromTo(
          $(".d7"),
          0.3,
          {
            opacity: 0,
            scale: 0.7
          },
          {
            opacity: 1,
            scale: 1,
            ease: Back.easeOut
          },
          "likely+=12"
        )
        .to(
          [$m1, $m2],
          0.3,
          {
            fill: $green,
            ease: Circ.easeOut
          },
          "likely+=12"
        );

      tl.to(
        $(".p7"),
        0.3,
        {
          scale: 1,
          x: 0,
          y: 0,
          transformOrigin: "50% 100%",
          fill: $reg,
          ease: Back.easeIn
        },
        "likely+=13.5"
      )
        .to(
          $(".buttons6"),
          0.3,
          {
            scale: 1,
            display: "none",
            //transformOrigin: "50% 100%",

            ease: Back.easeIn
          },
          "likely+=13.5"
        )
        .to(
          $effect,
          0.3,
          {
            y: 0,
            ease: Circ.easeIn
          },
          "likely+=13.5"
        )
        .to(
          $eLine,
          0.3,
          {
            stroke: $red,
            ease: Sine.easeOut
          },
          "likely+=13.5"
        )
        .to(
          $(".d7"),
          0.3,
          {
            opacity: 0,
            scale: 0.7
          },
          "likely+=13.5"
        )
        .to(
          [$m1, $m2],
          0.3,
          {
            fill: $mReg,
            ease: Circ.easeIn
          },
          "likely+=13.5"
        );
      tl.to(
        $circ,
        1,
        {
          rotation: -150
        },
        "likely+=13.5"
      );

      tl.to(
        $(".p8"),
        0.3,
        {
          scale: 1.3,
          transformOrigin: "50% 100%",
          fill: $blue,
          x: 10,
          y: 10,
          ease: Bounce.easeOut
        },
        "likely+=14"
      )
        .to(
          $(".buttons7"),
          0.5,
          {
            x: -50,
            //scale: 1.1,
            //transformOrigin: "50% 100%",

            display: "block",
            ease: Power1.easeOut
          },
          "likely+=14"
        )
        .to(
          $effect,
          0.3,
          {
            y: -20,
            ease: Circ.easeOut
          },
          "likely+=14"
        )
        .to(
          $eLine,
          0.3,
          {
            stroke: $orange,
            ease: Circ.easeOut
          },
          "likely+=14"
        )
        .fromTo(
          $(".d8"),
          0.3,
          {
            opacity: 0,
            scale: 0.7
          },
          {
            opacity: 1,
            scale: 1,
            ease: Back.easeOut
          },
          "likely+=14"
        )
        .to(
          [$m1, $m2],
          0.3,
          {
            fill: $green,
            ease: Circ.easeOut
          },
          "likely+=14"
        );

      tl.to(
        $(".p8"),
        0.3,
        {
          scale: 1,
          x: 0,
          y: 0,
          transformOrigin: "50% 100%",
          fill: $reg,
          ease: Back.easeIn
        },
        "likely+=15.5"
      )
        .to(
          $(".buttons7"),
          0.3,
          {
            scale: 1,
            display: "none",
            //transformOrigin: "50% 100%",

            ease: Back.easeIn
          },
          "likely+=15.5"
        )
        .to(
          $effect,
          0.3,
          {
            y: 0,
            ease: Circ.easeIn
          },
          "likely+=15.5"
        )
        .to(
          $eLine,
          0.3,
          {
            stroke: $red,
            ease: Sine.easeOut
          },
          "likely+=15.5"
        )
        .to(
          $(".d8"),
          0.3,
          {
            opacity: 0,
            scale: 0.7
          },
          "likely+=15.5"
        )
        .to(
          [$m1, $m2],
          0.3,
          {
            fill: $mReg,
            ease: Circ.easeIn
          },
          "likely+=15.5"
        );
      tl.to(
        $circ,
        1,
        {
          rotation: -176
        },
        "likely+=15.5"
      );

      tl.to(
        $(".p9"),
        0.3,
        {
          scale: 1.3,
          transformOrigin: "100% 100%",
          fill: $blue,
          x: 5,
          y: 10,
          ease: Bounce.easeOut
        },
        "likely+=16"
      )
        .to(
          $(".buttons8"),
          0.5,
          {
            x: -50,
            //scale: 1.1,
            //transformOrigin: "50% 100%",

            display: "block",
            ease: Power1.easeOut
          },
          "likely+=16"
        )
        .to(
          $effect,
          0.3,
          {
            y: -35,
            ease: Circ.easeOut
          },
          "likely+=16"
        )
        .to(
          $eLine,
          0.3,
          {
            stroke: $yellow,
            ease: Circ.easeOut
          },
          "likely+=16"
        )
        .fromTo(
          $(".d9"),
          0.3,
          {
            opacity: 0,
            scale: 0.7
          },
          {
            opacity: 1,
            scale: 1,
            ease: Back.easeOut
          },
          "likely+=16"
        )
        .to(
          [$m1, $m2],
          0.3,
          {
            fill: $green,
            ease: Circ.easeOut
          },
          "likely+=16"
        );

      tl.to(
        $(".p9"),
        0.3,
        {
          scale: 1,
          x: 0,
          y: 0,
          transformOrigin: "50% 100%",
          fill: $reg,
          ease: Back.easeIn
        },
        "likely+=17.5"
      )
        .to(
          $(".buttons8"),
          0.3,
          {
            scale: 1,
            display: "none",
            //transformOrigin: "50% 100%",

            ease: Back.easeIn
          },
          "likely+=17.5"
        )
        .to(
          $effect,
          0.3,
          {
            y: 0,
            ease: Circ.easeIn
          },
          "likely+=17.5"
        )
        .to(
          $eLine,
          0.3,
          {
            stroke: $red,
            ease: Sine.easeOut
          },
          "likely+=17.5"
        )
        .to(
          $(".d9"),
          0.3,
          {
            opacity: 0,
            scale: 0.7
          },
          "likely+=17.5"
        )
        .to(
          [$m1, $m2],
          0.3,
          {
            fill: $mReg,
            ease: Circ.easeIn
          },
          "likely+=17.5"
        );
      tl.to(
        $circ,
        1,
        {
          rotation: -199
        },
        "likely+=17.5"
      );

      tl.to(
        $(".p10"),
        0.3,
        {
          scale: 1.3,
          transformOrigin: "100% 100%",
          rotation: 4,
          fill: $blue,
          x: 3,
          y: 10,
          ease: Bounce.easeOut
        },
        "likely+=18"
      )
        .to(
          $(".buttons9"),
          0.5,
          {
            x: -50,
            //scale: 1.1,
            //transformOrigin: "50% 100%",

            display: "block",
            ease: Power1.easeOut
          },
          "likely+=18"
        )
        .to(
          $effect,
          0.3,
          {
            y: -6,
            ease: Circ.easeOut
          },
          "likely+=18"
        )
        .fromTo(
          $(".d10"),
          0.3,
          {
            opacity: 0,
            scale: 0.7
          },
          {
            opacity: 1,
            scale: 1,
            ease: Back.easeOut
          },
          "likely+=18"
        )
        .to(
          [$m1, $m2],
          0.3,
          {
            fill: $green,
            ease: Circ.easeOut
          },
          "likely+=18"
        );

      tl.to(
        $(".p10"),
        0.3,
        {
          scale: 1,
          x: 0,
          y: 0,
          transformOrigin: "50% 100%",
          fill: $reg,
          ease: Back.easeIn
        },
        "likely+=19.5"
      )
        .to(
          $(".buttons9"),
          0.3,
          {
            scale: 1,
            display: "none",
            //transformOrigin: "50% 100%",

            ease: Back.easeIn
          },
          "likely+=19.5"
        )
        .to(
          $effect,
          0.3,
          {
            y: 0,
            ease: Circ.easeIn
          },
          "likely+=19.5"
        )
        .to(
          $(".d10"),
          0.3,
          {
            opacity: 0,
            scale: 0.7
          },
          "likely+=19.5"
        )
        .to(
          [$m1, $m2],
          0.3,
          {
            fill: $mReg,
            ease: Circ.easeIn
          },
          "likely+=19.5"
        );
      tl.to(
        $circ,
        1,
        {
          rotation: -220
        },
        "likely+=19.5"
      );

      tl.to(
        $(".p11"),
        0.3,
        {
          scale: 1.3,
          transformOrigin: "100% 100%",
          fill: $blue,
          x: 5,
          y: 10,
          ease: Bounce.easeOut
        },
        "likely+=20"
      )
        .to(
          $(".buttons10"),
          0.5,
          {
            x: -50,
            //scale: 1.1,
            //transformOrigin: "50% 100%",

            display: "block",
            ease: Power1.easeOut
          },
          "likely+=20"
        )
        .to(
          $effect,
          0.3,
          {
            y: -35,
            ease: Circ.easeOut
          },
          "likely+=20"
        )
        .to(
          $eLine,
          0.3,
          {
            stroke: $yellow,
            ease: Circ.easeOut
          },
          "likely+=20"
        )
        .fromTo(
          $(".d11"),
          0.3,
          {
            opacity: 0,
            scale: 0.7
          },
          {
            opacity: 1,
            scale: 1,
            ease: Back.easeOut
          },
          "likely+=20"
        )
        .to(
          $m1,
          0.3,
          {
            fill: $green,
            ease: Circ.easeOut
          },
          "likely+=20"
        );

      tl.to(
        $(".p11"),
        0.3,
        {
          scale: 1,
          x: 0,
          y: 0,
          transformOrigin: "50% 100%",
          fill: $reg,
          ease: Back.easeIn
        },
        "likely+=21.5"
      )
        .to(
          $(".buttons10"),
          0.3,
          {
            scale: 1,
            display: "none",
            //transformOrigin: "50% 100%",

            ease: Back.easeIn
          },
          "likely+=21.5"
        )
        .to(
          $effect,
          0.3,
          {
            y: 0,
            ease: Circ.easeIn
          },
          "likely+=21.5"
        )
        .to(
          $eLine,
          0.3,
          {
            stroke: $red,
            ease: Sine.easeOut
          },
          "likely+=21.5"
        )
        .to(
          $(".d11"),
          0.3,
          {
            opacity: 0,
            scale: 0.7
          },
          "likely+=21.5"
        )
        .to(
          $m1,
          0.3,
          {
            fill: $mReg,
            ease: Circ.easeIn
          },
          "likely+=21.5"
        );
      tl.to(
        $circ,
        1,
        {
          rotation: -243
        },
        "likely+=21.5"
      );

      tl.to(
        $(".p12"),
        0.3,
        {
          scale: 1.3,
          transformOrigin: "100% 100%",
          fill: $blue,
          x: 5,
          y: 10,
          ease: Bounce.easeOut
        },
        "likely+=22"
      )
        .to(
          $(".buttons11"),
          0.5,
          {
            x: -50,
            //scale: 1.1,
            //transformOrigin: "50% 100%",

            display: "block",
            ease: Power1.easeOut
          },
          "likely+=22"
        )
        .to(
          $effect,
          0.3,
          {
            y: -35,
            ease: Circ.easeOut
          },
          "likely+=22"
        )
        .to(
          $eLine,
          0.3,
          {
            stroke: $yellow,
            ease: Circ.easeOut
          },
          "likely+=22"
        )
        .fromTo(
          $(".d12"),
          0.3,
          {
            opacity: 0,
            scale: 0.7
          },
          {
            opacity: 1,
            scale: 1,
            ease: Back.easeOut
          },
          "likely+=22"
        )
        .to(
          [$m1, $m2, $m3],
          0.3,
          {
            fill: $green,
            ease: Circ.easeOut
          },
          "likely+=22"
        );

      tl.to(
        $(".p12"),
        0.3,
        {
          scale: 1,
          x: 0,
          y: 0,
          transformOrigin: "50% 100%",
          fill: $reg,
          ease: Back.easeIn
        },
        "likely+=23.5"
      )
        .to(
          $(".buttons10"),
          0.3,
          {
            scale: 1,
            display: "none",
            //transformOrigin: "50% 100%",

            ease: Back.easeIn
          },
          "likely+=23.5"
        )
        .to(
          $effect,
          0.3,
          {
            y: 0,
            ease: Circ.easeIn
          },
          "likely+=23.5"
        )
        .to(
          $eLine,
          0.3,
          {
            stroke: $red,
            ease: Sine.easeOut
          },
          "likely+=23.5"
        )
        .to(
          $(".d12"),
          0.3,
          {
            opacity: 0,
            scale: 0.7
          },
          "likely+=23.5"
        )
        .to(
          [$m1, $m2, $m3],
          0.3,
          {
            fill: $mReg,
            ease: Circ.easeIn
          },
          "likely+=23.5"
        );
      tl.to(
        $circ,
        1,
        {
          rotation: -265
        },
        "likely+=23.5"
      );

      tl.to(
        $(".p13"),
        0.3,
        {
          scale: 1.3,
          transformOrigin: "100% 100%",
          fill: $blue,
          x: 5,
          y: 10,
          ease: Bounce.easeOut
        },
        "likely+=24"
      )
        .to(
          $effect,
          0.3,
          {
            y: -15,
            ease: Circ.easeOut
          },
          "likely+=24"
        )
        .to(
          $eLine,
          0.3,
          {
            stroke: $orange,
            ease: Circ.easeOut
          },
          "likely+=24"
        )
        .fromTo(
          $(".d13"),
          0.3,
          {
            opacity: 0,
            scale: 0.7
          },
          {
            opacity: 1,
            scale: 1,
            ease: Back.easeOut
          },
          "likely+=24"
        )
        .to(
          [$m1, $m2, $m3],
          0.3,
          {
            fill: $green,
            ease: Circ.easeOut
          },
          "likely+=24"
        );

      tl.to(
        $(".p13"),
        0.3,
        {
          scale: 1,
          x: 0,
          y: 0,
          transformOrigin: "50% 100%",
          fill: $reg,
          ease: Back.easeIn
        },
        "likely+=25.5"
      )
        .to(
          $effect,
          0.3,
          {
            y: 0,
            ease: Circ.easeIn
          },
          "likely+=25.5"
        )
        .to(
          $eLine,
          0.3,
          {
            stroke: $red,
            ease: Sine.easeOut
          },
          "likely+=25.5"
        )
        .to(
          $(".d13"),
          0.3,
          {
            opacity: 0,
            scale: 0.7
          },
          "likely+=25.5"
        )
        .to(
          [$m1, $m2, $m3],
          0.3,
          {
            fill: $mReg,
            ease: Circ.easeIn
          },
          "likely+=25.5"
        );
      tl.to(
        $circ,
        1,
        {
          rotation: -287
        },
        "likely+=25.5"
      );

      tl.to(
        $(".p14"),
        0.3,
        {
          scale: 1.3,
          transformOrigin: "100% 100%",
          fill: $blue,
          x: 5,
          y: 10,
          ease: Bounce.easeOut
        },
        "likely+=26"
      )
        .to(
          $effect,
          0.3,
          {
            y: -20,
            ease: Circ.easeOut
          },
          "likely+=26"
        )
        .to(
          $eLine,
          0.3,
          {
            stroke: $orange,
            ease: Circ.easeOut
          },
          "likely+=26"
        )
        .fromTo(
          $(".d14"),
          0.3,
          {
            opacity: 0,
            scale: 0.7
          },
          {
            opacity: 1,
            scale: 1,
            ease: Back.easeOut
          },
          "likely+=26"
        )
        .to(
          [$m1, $m2],
          0.3,
          {
            fill: $green,
            ease: Circ.easeOut
          },
          "likely+=26"
        );

      tl.timeScale(0.5);

      return tl;
    }
  }
};
</script>

<style lang="css">
.st0 {
  fill: #000b21;
  stroke: #9ca0a5;
  stroke-width: 5;
  stroke-miterlimit: 10;
}

.st1 {
  fill: #344156;
  stroke: #121316;
  stroke-width: 5;
  stroke-miterlimit: 10;
}

.st2 {
  opacity: 0.77;
  fill: none;
  stroke: #2f343f;
  stroke-width: 6;
  stroke-miterlimit: 10;
  stroke-dasharray: 6.0121, 6.0121;
  enable-background: new;
}

.st3 {
  opacity: 0.32;
  fill: #1b1e25;
  stroke: #49535e;
  stroke-width: 2;
  stroke-miterlimit: 10;
  enable-background: new;
}

.st4 {
  fill: #12161e;
  stroke: #3f454f;
  stroke-width: 5;
  stroke-miterlimit: 10;
}

.st5 {
  opacity: 0.7;
  fill: url(#SVGID_1_);
  enable-background: new;
}

.st6 {
  fill: #12161e;
}

.st7 {
  fill: #9d9ea0;
  cursor: pointer;
}

.st8 {
  fill: none;
}

.st9 {
  opacity: 0.74;
  fill: #0466bd;
  stroke: #49535e;
  stroke-miterlimit: 10;
  enable-background: new;
}

.st10 {
  fill: #ff3c00;
}

.st11 {
  opacity: 0.32;
}

.st12 {
  fill: #1b1e25;
  stroke: #49535e;
  stroke-miterlimit: 10;
}

.st13 {
  opacity: 0.42;
  fill: #000510;
  enable-background: new;
}

.st14 {
  fill: #931429;
}

.st15 {
  fill: #253e5b;
}

.st16 {
  opacity: 0.2;
  fill: url(#SVGID_2_);
  enable-background: new;
}

.st17 {
  fill: #2b3647;
}

.st18 {
  opacity: 0.33;
}

.st19 {
  fill: #8797ad;
}

.st20 {
  fill: none;
  stroke: none;
}
</style>