// app global css "app.styl"

// my-sticky-header-column-table 
//   /*
//     specifying max-width so the example can
//     highlight the sticky column on any browser window
//   */
//   /* max height is important */
  q-table__middle 
    height: 600px
  

  q-table__top, .q-table__bottom, tr:first-child th 
    background-color: $primary
    color: white
    font-size: 1rem
  

  td:first-child 
    background-color: $grey-2
    font-size: 1rem
  

  tr:first-child th 
    position: sticky
    top: 0
    opacity: 1; /* opacity is important */
    z-index: 2; /* higher than z-index for td below */
    font-size: 1.0rem
  

  tr:first-child th:first-child 
    z-index: 3 /* highest z-index */
  

  td:first-child 
    z-index: 1
  

  td:first-child, th:first-child 
    position: sticky;
    left: 0;
  

  td:not(:first-child) 
    font-size: 1.5rem;
    text-align: left;
  

  th:not(:first-child) 
    text-align: left;

@font-face {
  font-family: 'TheinhardtPan-Regular'; 
  src: url('../theme/fonts/TheinhsrdtPan/TheinhardtPan-Regular.eot'),
       url('../theme/fonts/TheinhsrdtPan/TheinhardtPan-Regular.eot?#iefix') format('embedded-opentype'), 
       url('../theme/fonts/TheinhsrdtPan/TheinhardtPan-Regular.woff') format('woff');
       
      }

@font-face {
  font-family: 'TheinhardtPan-Light'; 
  src: url('../theme/fonts/TheinhsrdtPan/TheinhardtPan-Light.eot'),
       url('../theme/fonts/TheinhsrdtPan/TheinhardtPan-Light.eot?#iefix') format('embedded-opentype'), 
       url('../theme/fonts/TheinhsrdtPan/TheinhardtPan-Light.woff') format('woff');
       
      }

@font-face {
  font-family: 'TheinhardtPan-Medium'; 
  src: url('../theme/fonts/TheinhsrdtPan/TheinhardtPan-Medium.eot'),
       url('../theme/fonts/TheinhsrdtPan/TheinhardtPan-Medium.eot?#iefix') format('embedded-opentype'), 
       url('../theme/fonts/TheinhsrdtPan/TheinhardtPan-Medium.woff') format('woff');
       
      }

@font-face {
  font-family: 'Bower-Bold'; 
  src: url('../theme/fonts/Bower Bold/Bower-Bold.eot'),
       url('../theme/fonts/Bower Bold/Bower-Bold.eot?#iefix') format('embedded-opentype'), 
       url('../theme/fonts/Bower Bold/Bower-Bold.woff') format('woff');
       
      }


.btnRaceBlueStatic
  background-color: #1f40e6;
  color: #ffffff;
  width: 165px;
  height: 52px;
  border: 1px solid #1f40e6;
  border-radius: 0;
  font-family: TheinhardtPan-Medium;


.btnRaceRippleBlue:hover
  background-color:#ffffff;
  color:  #1f40e6;;
  border-radius: 0;
  font-family: TheinhardtPan-Medium;

.btnRaceRippleBlue
  background-color: #1f40e6;
  color: #ffffff;
  width: 165px;
  height: 52px;
  border: 1px solid #1f40e6;
  border-radius: 0;
  font-family: TheinhardtPan-Medium;

.btnRaceRippleBlue1:hover
  background-color: #1f40e6;
  color: #ffffff;
  border-radius: 0;
  font-family: TheinhardtPan-Medium;

.btnRaceRippleBlue1
  background-color:#ffffff;
  color:  #1f40e6;
  width: 165px;
  height: 52px;
  border: 1px solid #1f40e6;
  border-radius: 0;
  font-family: TheinhardtPan-Medium;
  
  

