<template>
  <div id="q-app" class="doc-container" style="font-family:TheinhardtPan-Regular">
    <router-view  />
  </div>
</template>

<script>


export default {
  name: 'App'
}
</script>

<style>
.macBlueColor{
 background-color: #1f40e6;
 color: #ffffff;
  font-family:TheinhardtPan-Regular;
  

}
.delDashTbl{
   background-color: #ffffff;
    color: #1f40e6;

}
.delDashTbl:hover{
 
 background-color: #1f40e6;
    color: #ffffff;

}
.tblDashBtnDel{
    color: #ffffff;
    background-color: #1f40e6;
    width: 80px;
    height: 25px; 
    border: 1px solid #1f40e6;
    border-radius: 0;
    font-family:TheinhardtPan-Regular
}
.tblDashBtnDel:hover{
    background-color: #ffffff;
 color: #1f40e6;
    width: 80px;
    height: 25px; 
    border: 1px solid #1f40e6;
    border-radius: 0;
    font-family:TheinhardtPan-Regular
}
.tblDashBtnCancl{
    color: #1f40e6;
    background-color: white;
    width: 80px;
    height: 25px; 
    border: 1px solid #1f40e6;
    border-radius: 0;
    font-family:TheinhardtPan-Regular
}
.tblDashBtnCancl:hover{
   color: #ffffff;
    background-color: #1f40e6;
    width: 80px;
    height: 25px; 
    border: 1px solid #1f40e6;
    border-radius: 0;
    font-family:TheinhardtPan-Regular
}
.createProject{
   background-color: #ffffff;
   width: 220px;  
   height: 55px;
    color: #1f40e6;
    border: 1px solid #1f40e6;
    font-family:TheinhardtPan-Medium;
    border-radius: 0;
 
} 
.createProject:hover{
  background-color: #1f40e6;
    color: #ffffff;
    font-family:TheinhardtPan-Medium;
    border-radius: 0;
}
.mfgProfile{
  width:99%;
  background-color: #1f40e6;;
  color: #ffffff;
  border-radius: 0;
  font-family:TheinhardtPan-Regular
  /* border: 1px solid #1f40e6 */
}
/* .mfgProfile:hover{
  width:100%;
   background-color: #1f40e6;
    color: #ffffff;
} */
.marksAsComplete{
  background-color: #ffffff;
    color: #1f40e6;
    height:15px;
    font-weight:400;
    border: 1px solid #1f40e6;
    border-radius: 0;
    font-family:TheinhardtPan-Medium

}
.marksAsComplete:hover{
  background-color: #1f40e6;
    color: #ffffff;
    border-radius: 0;
    font-family:TheinhardtPan-Medium;
}

.uploadPrime{
  background-color: #ffffff;
    color: #1f40e6;
    border: 1px solid #1f40e6;
    border-radius: 0;
    font-family:TheinhardtPan-Medium;
}
.uploadPrime:hover{
  background-color: #1f40e6;
    color: #ffffff;
    border-radius: 0;
    font-family:TheinhardtPan-Medium;
}
.controlPgPrimbtn{
  background-color: #ffffff;
    color: #1f40e6;
    border: 1px solid #1f40e6;
    border-radius: 0;
    font-family:TheinhardtPan-Medium;
}
.controlPgPrimbtn:hover{
   background-color: #1f40e6;
    color: #ffffff;
    border-radius: 0;
    font-family:TheinhardtPan-Medium;
}


.headline {
  font-family: Bower-Bold;
  font-weight: 500;
  font-size: 3.25rem;
  font-style: normal;
  color: #000;
  border-radius: 0;
  width: auto;
}
.headline1 {
  font-family: Bower-Bold ;
  font-weight: 200;
  font-size: 1.25rem;
  font-style: normal;
  border-radius: 0;
  color: #000;
  width: auto;
}
.q-page{ 
background-color: #e5e5e5;
font-family:TheinhardtPan-Regular;
  }
  .btnFill{
     z-index: 3;
    background-color: #1f40e6;
    width: 144px;
    height: 48px; 
    color: #ffffff;
    cursor: pointer;
    border-radius: 0;
    font-family:TheinhardtPan-Medium;
  
  }
   .btnFill:hover{
     z-index: 3;
    color: #1f40e6;
    background-color: white;
    border: 1px solid #1f40e6;
    border-radius: 0;
    font-family:TheinhardtPan-Medium;

  }
  .btnOutline:hover{
    background-color: #1f40e6;
    color: #ffffff;
    border-radius: 0;
    font-family:TheinhardtPan-Medium;
  }
  .btnOutline{
    color: #1f40e6;
    background-color: white;
    width: 144px;
    height: 48px; 
    border: 1px solid #1f40e6;
    border-radius: 0;
    font-family:TheinhardtPan-Medium
  }
  .btnDel{
     background-color: #ffffff;
    color: #1f40e6;
  }
  .btnDel:hover{
    background-color: #1f40e6;
    color: #ffffff;
  }
 
   ::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: #e8e8e8;
   
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
     background-color: #cac9c9;
}
  .btn {
  
  outline: none;
   color: #1f40e6;
  cursor: pointer;
  border-bottom: 3px solid #1f40e6;
  font-family:TheinhardtPan-Light;
}
.btn:hover {
  background-color: #ffffff;
  border-bottom: 3px solid #1f40e6;
   color: #1f40e6;
   font-family:TheinhardtPan-Light;
}



</style>
