<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova || htmlWebpackPlugin.options.ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" href="statics/RaceFlag.png">
    <link rel="icon" type="image/png" sizes="16x16" href="statics/RaceFlag.png">
    <link rel="icon" type="image/png" sizes="32x32" href="statics/RaceFlag.png">
    <link rel="icon" type="image/png" sizes="96x96" href="statics/RaceFlag.png">
    <link rel="icon" type="image/ico" href="statics/RaceFlag.png">

    <!-- <script type="text/javascript" src="//cdn.webix.com/edge/webix.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.webix.com/edge/webix.css"> -->
<!--for using a Webix widget in a Vue app-->
<!-- <script type="text/javascript" src="//cdn.webix.com/libs/vue/webix-ui.js"></script> -->
<!--for using a Vue component in a Webix app-->
<!-- <script type="text/javascript" src="//cdn.webix.com/libs/vue/vue-view.js"></script> -->
<!--for using ready Vue+Webix controls-->
<!-- <script type="text/javascript" 
    src="//cdn.webix.com/libs/vue/webix-controls.js"></script> -->
    <!-- <script lang="javascript" src="PptxGenJS/dist/pptxgen.bundle.js"></script> -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
 
  </head>
  <body>
    <!-- <script>
      document.body.style.zoom="80%" 
    </script> -->
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
