<template>

<q-item>
      <q-item-label class="col-4 q-pt-xs text-subtitle1">{{machinery.name}}</q-item-label>
      <q-input v-model="machinery.value" class="col-3"   type="number" input-class="text-center "  @focus.once="recordVal" @change="addEvent"></q-input>
      <q-item-label class="col-3 q-pt-xs text-subtitle1">{{machinery.uom}} </q-item-label>
</q-item>
 
</template>
<script>
export default {
  props: ['machinery'],


data(){
  return{
OldValue:null,
changed:false

  }
},

methods:{
    addEvent(label) {
      debugger;
      if (
        !(this.OldValue === label.currentTarget._value) &&
        this.OldValue != ""
      ) {
        //this.changedCell = label.currentTarget.name;
        label.currentTarget.parentElement.parentElement.classList.add("bg-yellow-1");

        this.changed =true;
        this.$emit('mfgChanged', this.changed);
      } 
      else if(this.OldValue === label.currentTarget._value){   label.currentTarget.parentElement.parentElement.classList.remove("bg-yellow-1");
      this.changed =false;
            this.$emit('mfgChanged', this.changed);
      }

  
},

  recordVal(event) {
  
      this.OldValue = event.target.value;
    },

},
}
</script>



<style scoped>
</style>