<template>
  <q-layout view="hHh lpR fFf" style="font-family:Bower-Bold;">
    <q-header elevated>
    
      <q-toolbar class="bg-grey-2" style="font-family:Bower-Bold;">
        <q-btn flat dense round @click="leftDrawerOpen = !leftDrawerOpen" aria-label="Menu">
          <q-avatar square size="50px" style="width:150px;height:30px" class="q-ml-lg q-pl-xl">
            <img src="../statics/racelogoNew.png" />
          </q-avatar>
        </q-btn>

        <!-- <q-toolbar-title class="racelogo" style="font-family:TheinhardtPan-Medium">RACE 4.0</q-toolbar-title> -->
<q-space/>
        <appHeader class="absolute-center" style="font-family:TheinhardtPan-Light"/>
        <q-space/>
        <applogOutNt class="absolute-right"/>
      </q-toolbar>

      <div class="banner" style="font-family:TheinhardtPan-Regular;">
        <appQbar />
      </div>
      
    </q-header>

    <q-footer elevated>
      <div class="row no-wrap items-center q-pa-xs rounded-borders">
        <q-img
          class="q-ml-sm q-mt-xs"
          src="./statics/Mck_ScriptMark_RGB_White.svg"
          style="width: 4%; height: 1%"
        ></q-img>

        <q-space />

        <div class="text-caption q-mr-md">
          <q-icon class="cursor-pointer q-pr-md items-center" size="1.4em" name="email"></q-icon>Email Us your feedback
        </div>
      </div>
    </q-footer>

    <q-page-container class="doc-container"  style="font-family:TheinhardtPan-Regular;">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL } from "quasar";

export default {
  components: {
    appHeader: require("components/appHeader.vue").default,
    appQbar: require("components/appQbar.vue").default,
    applogOutNt: require("components/applogOutNotification.vue").default
  },

  data() {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop,

    };
  },
  methods: {
    
  }
};
</script>

<style lang="scss">
.q-footer {
  //color:whitesmoke;
  height: 40px;
}
.racelogo {
  // color:#051b2e;
  color: #051c2c;
  font-family: Bower-Bold;
}
.banner {
  text-decoration-color: floralwhite;

 
}
.q-bar {
  text-justify: auto;
  height: 70px;
}

@media screen and (min-width: 768px) {
}
</style>

